.container { position:relative; max-width:1150px; margin:0 auto; padding:0 }
.container .column, .container .columns { float:left; display:inline; margin-left:10px; margin-right:10px }
.row { margin:0; padding:0 }
.column.alpha, .columns.alpha { margin-left:0 }
.column.omega, .columns.omega { margin-right:0 }
.container .one.column, .container .one.columns { width:40px }
.container .two.columns { width:100px }
.container .three.columns {/* width:160px*/float: right; }
.container .four.columns { width:220px }
.container .five.columns { width:280px }
.container .six.columns { width:340px }
.container .seven.columns { width:400px }
.container .eight.columns { width:460px }
.container .nine.columns { width:520px }
.container .ten.columns { width:580px }
.container .eleven.columns { width:640px }
.container .twelve.columns { width:685px }
.container .thirteen.columns { width:760px }
.container .fourteen.columns { width:820px }
.container .fifteen.columns { width:880px }
.container .sixteen.columns { width:940px }
.container .one-third.column { width:300px }
.container .two-thirds.column { width:620px }
.container .offset-by-one { padding-left:60px }
.container .offset-by-two { padding-left:120px }
.container .offset-by-three { padding-left:180px }
.container .offset-by-four { padding-left:240px }
.container .offset-by-five { padding-left:300px }
.container .offset-by-six { padding-left:360px }
.container .offset-by-seven { padding-left:420px }
.container .offset-by-eight { padding-left:480px }
.container .offset-by-nine { padding-left:540px }
.container .offset-by-ten { padding-left:600px }
.container .offset-by-eleven { padding-left:660px }
.container .offset-by-twelve { padding-left:720px }
.container .offset-by-thirteen { padding-left:780px }
.container .offset-by-fourteen { padding-left:840px }
.container .offset-by-fifteen { padding-left:900px }
@media only screen and (min-width:768px) and (max-width:959px) {
.container { width:768px }
.container .column, .container .columns { margin-left:10px; margin-right:10px }
.column.alpha, .columns.alpha { margin-left:0; margin-right:10px }
.column.omega, .columns.omega { margin-right:0; margin-left:10px }
.alpha.omega { margin-left:0; margin-right:0 }
.container .one.column, .container .one.columns { width:28px }
.container .two.columns { width:76px }
.container .three.columns { width:124px }
.container .four.columns { width:172px }
.container .five.columns { width:220px }
.container .six.columns { width:268px }
.container .seven.columns { width:316px }
.container .eight.columns { width:364px }
.container .nine.columns { width:412px }
.container .ten.columns { width:460px }
.container .eleven.columns { width:508px }
.container .twelve.columns { width:541px }
.container .thirteen.columns { width:604px }
.container .fourteen.columns { width:652px }
.container .fifteen.columns { width:700px }
.container .sixteen.columns { width:748px }
.container .one-third.column { width:236px }
.container .two-thirds.column { width:492px }
.container .offset-by-one { padding-left:48px }
.container .offset-by-two { padding-left:96px }
.container .offset-by-three { padding-left:144px }
.container .offset-by-four { padding-left:192px }
.container .offset-by-five { padding-left:240px }
.container .offset-by-six { padding-left:288px }
.container .offset-by-seven { padding-left:336px }
.container .offset-by-eight { padding-left:384px }
.container .offset-by-nine { padding-left:432px }
.container .offset-by-ten { padding-left:480px }
.container .offset-by-eleven { padding-left:528px }
.container .offset-by-twelve { padding-left:576px }
.container .offset-by-thirteen { padding-left:624px }
.container .offset-by-fourteen { padding-left:672px }
.container .offset-by-fifteen { padding-left:720px }
}
@media only screen and (max-width:767px) {
.container { width:300px }
.container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width:300px }
.container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen { padding-left:0 }
}
@media only screen and (min-width:480px) and (max-width:767px) {
.container { width:420px }
.container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width:420px }
}
.container:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden }
.clearfix:before, .clearfix:after, .row:before, .row:after { content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }
.row:after, .clearfix:after { clear:both }
.row, .clearfix { zoom:1 }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }


/* edited css  */
#ourstrength{
width:100%;
text-align:center;
margin-top: 30px;
}
#ourach{
max-width: 1150px;
margin: 0 auto;
text-align: center;
}
#ourstrength #strengthinner{
width: 17.7%;
float: left;
margin-right: 3.2%;
margin-left: 4%;
text-align: center;

}
#ourach #achinner{
width: 25%;
float: left;
margin-right: 4%; 
margin-left: 4%;
text-align: center;
margin-bottom:30px;

}
#ourstrength #strengthinner h2{
display:block;
padding-bottom:20px;
border-bottom:solid 1px #ccc;
margin-bottom:20px;
margin-top:25px;

}
#ourstrength #strengthinner a{
display: block;
padding: 6px 5px;
background: #FD5000;
color: #FFF;
border-radius: 7px;
margin: 20px 0;

}
.strengthtext{
display:block;
min-height: 90px;	
}
#ourach #achinner h2{
display:block;
padding-bottom:20px;
margin-bottom:20px;
margin-top:25px;

}
#ourach #achinner + #achinner + #achinner, #ourach #achinner{
opacity:0.5;
}

#ourach #achinner + #achinner{
opacity:1;	
	
}
#ourach #achinner img{
width: 39%;
margin-top:50px;
	
}

#parleft, #parright{
width:50%;
float:left;	
text-align:left;
}
#parright ul{
color:#fff;	
}
#parallex2inner{
max-width:1150px;
margin:0 auto;	
text-align:center;
color:#fff;
}
#ourach #achinner .middleach{
width:60%;	
margin-top:5px;
}

.testimonails, .producticons{
display:none;
}
#parallex1{
height: 540px;
width: 169%;
background: #000 url("images/parallex1.jpg") no-repeat center fixed;
clear: both;
background-size: 100% 100%;
float: left;
margin-top: 60px;
margin-bottom: 30px;
margin-left: -35%;

}
#parallex1 a{
color:#fd5000;

}
#parallex2{
height: 540px;
width: 169%;
background: #000;
clear: both;
float: left;
margin-top: 30px;
margin-bottom: 30px;
margin-left: -35%;
background:url("images/parllexbg2.jpg") repeat;
background-size: 100% 100%;

}
#parallex2 h2{
font-size: 32px;
margin:30px;
color:#fff;

}
.parllextext1{
color: #FFF;
font-size: 21px;
display: block;
width: 50%;
line-height: 35px;
margin: 8% auto 0 auto;
} 
.newswrapper{
clear:both;	
}
.parllextext2{
color: #FFF;
font-size: 15px;
display: block;
width: 50%;
margin: 20px auto;

}

body{
overflow-x:hidden;	
}
.bgclr{
background: #F2F2F2;	
}
#ourachwrap{
width: 176%;
margin-left: -37%;
background: #F3F3F3;
clear: both;
margin-top: -30px;
padding-top: 50px;
float: left;
}

#ourstrength #strengthinner a img {
margin-bottom: -11px;
margin-top: -3px;
margin-right: 5px;
}