.flex-container a:active, .work-slide, .flexslider a:active { outline:0 }
.slides, .flex-control-nav, .flex-direction-nav { margin:0; padding:0; list-style:none }
.work-slide, .flexslider { width:98%; margin:7% 0 0; padding:0 }
.flexslider .slides>li, .work-slide .slides>li { display:none }
.flexslider .slides img, .work-slide .slides img { width:100%; display:block; border:8px solid #08344f; display:block; padding:0; height:330px; overflow:hidden }
.flex-pauseplay span { text-transform:capitalize }
.slide2 { width:97%; margin:0 0 30px 3px }
.slides:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0 }
html[xmlns] .slides { display:block }
* html .slides { height:1% }
.no-js .slides>li:first-child { display:block }
.flexslider, .work-slide { position:relative; 5px;
zoom:1 }
.flexslider .slides, .work-slide .slides { zoom:1 }
.flexslider .slides>li, .work-slide .slides>li { background:none repeat scroll 0 0 transparent; line-height:normal; padding:0; position:relative }
.flex-container { zoom:1; position:relative }
.flex-caption { background:0; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
zoom:1 }
.flex-caption { width:96%; padding:2%; position:absolute; left:0; bottom:0; background:rgba(0,0,0,.3); color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,.3); font-size:14px; line-height:18px }
.flex-direction-nav li a { width:41px; height:41px; margin:-13px 0 0; display:block; background:url("images/bg_direction_nav.png") no-repeat 0 0; position:absolute; top:47%; cursor:pointer; text-indent:-9999px; opacity:.8; filter:alpha(opacity=80) }
.flex-direction-nav li a.next { background-position:-41px 0; right:20px }
.flex-direction-nav li a.prev { background-position:0 0; left:20px }
.flex-direction-nav li a.disabled { opacity:.3; filter:alpha(opacity=30); cursor:default }
.flex-direction-nav li a.next:hover, .flex-direction-nav li a.prev:hover { opacity:1; filter:alpha(opacity=100) }
.flex-control-nav { width:100%; position:absolute; bottom:-25px; text-align:center }
.flex-control-nav li { margin:0 0 0 5px; display:inline-block; zoom:1; *display:inline
}
.flex-control-nav li:first-child { margin:0 }
.flex-control-nav li a { width:11px; height:11px; display:block; background:url("images/bg_control_nav.png") no-repeat 0 0; cursor:pointer; text-indent:-9999px }
.flex-control-nav li a:hover { background-position:0 -11px }
.flex-control-nav li a.active { background-position:0 -22px; cursor:default }
