/* #Media Queries



================================================== */



/* Smaller than standard 960 (devices and browsers) */



@media only screen and (max-width: 959px) {}







/* Tablet Portrait size to standard 960 (devices and browsers) */



@media only screen and (min-width: 768px) and (max-width: 959px) {.wid_360{ width:360px !important;}



.mapped {border: 1px solid #CCCCCC;padding: 2px;width: 282px !important;}



.cnt_frm {width: 400px !important;}



}



/* All Mobile Sizes (devices and browser) */



@media only screen and (max-width: 767px) {.container, .wide_wrapper{ width: 100% !important; margin: 0px auto; padding:0; 



-moz-border-radius: 0px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px;

}



}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */



@media only screen and (min-width: 480px) and (max-width: 767px) {



.cnt_frm{ width:400px !important;}



.mapped{ width:270px !important; border:1px solid #ccc !important; padding:2px !important;}



#fade{ position:relative; width:auto !important;}



.wrapper{position:relative !important;}	



.sidebar{ display:none !important;}	



.icon_phone {margin: 0 0 0 8px; padding: 0 0 0 20px; float: left;}



.icon_mail {margin: 0 0 0 8px; padding: 0 0 0 20px; float: left;}



#footer h3 {margin-top: 10px; margin-left:10px;}



#content.test article{width: 89.8% !important;}



.wide_wrapper {margin: 20px 0 !important; padding: 10px; width: 96% !important;}



#content article h1{font-size: 18px;}



.linedot{width: auto !important; margin:0;}



.bottom_wrp{width: auto !important; margin:0;}



.header_contacts{margin: 10px 0 !important;}



.header_contacts #text-4{margin: 0;}



.header_mail{ padding-left: 20px;}



.header_phone{margin: 4px 10px 5px 0;}



.latest_post_sidebar{padding: 15px 8px; left: 0%; margin-bottom: 5px !important; margin-top: 10px !important;}



.wp-paginate a{padding: 4px 7px 6px !important; margin: 0 7px 0 0 !important;}



.wp-paginate .current{padding: 4px 7px 6px !important; margin: 0 7px 0 0 !important;}



.team_wrapper{ width:94% !important;}



.pic img{ width:100% !important;}



#breadcrumbs{ display:none !important;}



.mapped{ border:1px solid #f00;}



/*New DCW RWD Landscape*/

.bgclr{ height:auto !important;}

.main_section{ height:auto !important; background:url("images/background.png") no-repeat scroll center -42px / cover  transparent;}

.slidecontent{ padding:0; width:95% !important;}

.slidecontent p{font-size: 14px;}

.slidecontent h1{font-size: 26px; padding:5px 0 20px;}

a.org_btn span{  font-size: 14px;}

.slideright{ float:left !important;  width: 95% !important;}

.work-slide, .flexslider{ margin: 2% 0 0 !important;    padding: 10px !important;  width: 90% !important;}

.flex-control-nav{ bottom: 0 !important;}

.flexslider .slides img, .work-slide .slides img{ height:240px !important;}

.btnwrp{margin:0 0 0 30% !important;}

.testimonails{ height:auto; max-width: 100%;overflow: hidden;}

.testmonials_bg{ border-top:1px solid #366389;}

.testimonails_bg, h3{ font-size: 26px; padding: 0 0 10px;}

.testmonials_bg p{ padding:0 0 10px 5px;}

.testmonials_bg .btnwrp {margin: 0 0 3% 2% !important;}

.nbs-flexisel-nav-right{ right:-7% !important;}

.testmoright{ float:left !important; margin-left: 10% !important;}

.header_phone{float: left !important;    padding: 0;    text-align: center;    width: 140px !important;}

.wid_135{ width:135px !important;}

.imagerry li{ float:none;}

.imagerry img{ max-height: 35px;}

.imagerry ul{ margin:20px 0 35px 10px;}

.service-box{ width:auto; height:auto;}

.custwid{width:auto !important; margin: 0 0 4% 0;}

.boxwrapper{ height:auto;}

.mp0 {margin: 0 !important;padding: 0 !important; float: none !important;}

.recentnews{-moz-border-radius:0px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px; padding:15px 5px 0px 5px;}

.dcw_addrs{ float:none !important;}

.youtube_ifram{max-width: 80% !important; width: 100% !important;}

.botm_img{ display:none;}

.wid95{ width:95% !important;}

}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */



@media only screen and (max-width: 479px) {



.mapped {border: 1px solid #CCCCCC;padding: 2px;width: 282px !important;}



body { padding: 0;}



#page { margin-top: 0;}



#branding { border-top: none;}



#fade{ position:relative; width:auto !important;}



.wrapper{position:relative !important;}



#footer{overflow: hidden;}



#footer h3 {margin-top: 10px; margin-left:10px;}



.icon_phone {margin: 0 0 0 8px; padding: 0 0 0 20px; float: left;}



.icon_mail {margin: 0 0 0 8px; padding: 0 0 0 20px; float: left;}



#main_section .container_1280x960{ margin:30px 0 50px;}



.widget_nav_menu .menu{display:block ;}



.widget_nav_menu .menu{display:block ;}



#content.test article{width: 85.8% !important;}



#contactform textarea{width: 92%;}



{width: 88.3% !important;}



.connetct {float: none !important;}



.bottom_wrp{width: auto !important; margin:0;}



.linedot{width: auto !important; margin:0;}



.inner_headingh2 > i{font-size: 11px; padding:5px 5px 0 8px;}



#content article h2{font-size: 18px !important;}



#content article h1{font-size: 18px;}



.team_wrapper{ width:94% !important;}



.icon_loc{ width:198px !important;}



.sidebar{ display:none !important;}	



.teamcontent{ padding: 0;}



.bottom_wrp span{ padding: 10px 8px 0 40px; font-size:12px;}



.social-links li{margin: 0 10px 15px 0;}



.wide_wrapper {margin: 20px 0 !important; padding: 10px; width: 93% !important;}



.bor_rad{margin: 0 10px 10px 0;}



.header_contacts{margin: 10px 0 !important;}



.header_contacts #text-4{margin: 0;}



.header_mail{ padding-left: 20px;}



.header_phone{margin: 4px 10px 5px 0;}



.latest_post_sidebar{padding: 15px 8px; left: 0%; margin-bottom: 5px !important; margin-top: 10px !important;}



.newsltr_wrp{ display:none !important;}



.news_label{padding: 3px 0 0 8px;font-size: 11px;}



.newslt_input .corner-input{margin: 6px 0 0 5px; width: 55% !important; padding:7px;}



.subscribe{margin: 6px 0px 5px 0px !important;}



.footer_inside{margin: 10px 15px 5px 0 !important;}



#breadcrumbs{ display:none !important;}



.wp-paginate a{padding: 4px 7px 6px !important; margin: 0 7px 0 0 !important;}



.wp-paginate .current{padding: 4px 7px 6px !important; margin: 0 7px 0 0 !important;}



.wp-paginate{padding: 20px 0 0px 15px !important;}



/*New DCW RWD*/

.bgclr{ height:auto !important;}

.main_section{ height:auto !important; background:url("images/background.png") no-repeat scroll center -42px / cover  transparent;}

.slidecontent{ padding:0; width:95% !important;}

.slidecontent p{font-size: 14px;}

.slidecontent h1{font-size: 26px; padding:5px 0 20px;}

a.org_btn span{  font-size: 14px;}

.slideright{ float:left !important;  width: 95% !important;}

.work-slide, .flexslider{ margin: 2% 0 0 !important;    padding: 10px !important;  width: 90% !important;}

.flex-control-nav{ bottom: 0 !important;}

.flexslider .slides img, .work-slide .slides img{ height:200px !important;}

.btnwrp{margin:0 0 0 20% !important;}

.testimonails{ height:auto; max-width: 100%;overflow: hidden;}

.testmonials_bg{ border-top:1px solid #366389;}

.testimonails_bg, h3{ font-size: 26px; padding: 0 0 10px;}

.testmonials_bg p{ padding:0 0 10px 5px;}

.testmonials_bg .btnwrp {margin: 0 0 3% 2% !important;}

.nbs-flexisel-nav-right{ right:0;}

.testmoright{ float:left !important; margin-left: 10% !important;}

.header_phone{float: left !important;    padding: 0;    text-align: center;    /*width: 145px !important;*/}

.wid_135{ width:135px !important;}

.imagerry li{ float:none;}

.imagerry img{ max-height: 35px;}

.imagerry ul{ margin:20px 0 35px 10px;}

.service-box{ width:auto; height:auto;}

.custwid{width:auto !important; margin: 0 0 4% 0;}

.boxwrapper{ height:auto;}

.mp0 {margin: 0 !important;padding: 0 !important; float: none !important;}

.recentnews{-moz-border-radius:0px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px; }

.dcw_addrs{ float:none !important;}

.youtube_ifram{max-width: 80% !important; width: 100% !important;}

.producticons {background: url("images/icon_pattrenwhit.jpg") repeat-x scroll left bottom #FFFFFF;min-height: 148px;width: 100%;}

}