.canvas-block{
   /* width: 100%;
    min-height: 300px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    background-color:#E7663F;*/
}
.canvas-block canvas{
    left: 0;
}
.block-description{
    padding: 30px 0;
}
.list-group-item-heading > .badge{
    float:right;
}

.dashed-line{
    width: 100%;
    float:left;
    margin: 20px 0;
    border:2px dashed #cccccc;
    height: 2px;
}
.codecanyon{
    width: 180px;
    height: 120px;
    background: url('/images/codacanyon.png') no-repeat 50% 0;
    background-size: 100px!important;
    display: inline-block;
    padding-top: 110px;
    text-align: center;
    color: rgba(10,100,150,1);
    padding-right: 10px;
}
@media (-webkit-min-device-pixel-ratio:2){
    .codecanyon {
        background: url('/images/codacanyon@2x.png') no-repeat 50% 0;
    }
}