/*
body,
html{width:100%}
.body-locked,
.cs-banner,
.hover-overlay{position:relative}
.hsContent,
.video-testmonilas p img,
i.fa.fa-cogs,
i.fa.fa-desktop,
i.fa.fa-home,
i.flaticon-play-button4{vertical-align:middle}
.customNavigation a,
.graphs p{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}
.abt-pgs h3,
.blog-box-inner h2 a,
.header-content-inner h1,
.service-boxes .service-box h2,
.title-head strong{letter-spacing:1px}
.default-text,
body,
html{font-family: 'Work Sans', sans-serif;}
body,
html{-webkit-font-smoothing:antialiased!important;height:100%!important;font-size:16px}

@font-face{font-family:ostrich_sansmedium;src:url(../fonts/ostrichsans-medium-webfont.eot);src:url(../fonts/ostrichsans-medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/ostrichsans-medium-webfont.woff2) format("woff2"), url(../fonts/ostrichsans-medium-webfont.woff) format("woff"), url(../fonts/ostrichsans-medium-webfont.ttf) format("truetype"), url(../fonts/ostrichsans-medium-webfont.svg#ostrich_sansmedium) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Flaticon;src:url(../fonts/flaticon.eot);src:url(../fonts/flaticon.eot#iefix) format("embedded-opentype"), url(../fonts/flaticon.woff) format("woff"), url(../fonts/flaticon.ttf) format("truetype"), url(../fonts/flaticon.svg) format("svg");font-weight:400;font-style:normal}*/
/*
[class*=flaticon-]:after,
[class*=flaticon-]:before,
[class^=flaticon-]:after,
[class^=flaticon-]:before{font-family:Flaticon;font-style:normal}
.title-head{font-size:24px;font-weight:400;font-family:Poppins, sans-serif;color:#ea6637;margin-bottom:20px}
.default-text{color:#353638;font-size:14px;line-height:1.8}
.default-text strong{color:#363637}
.main_content1 ul li:before,
.quote::before,
.tbs .nav-tabs li.active a::after{content:""}
.menu-submenu li a:hover{color:#fff;text-decoration:none}
a:focus{color:#fff;outline:0!important;outline-offset:-2px}
.body-locked{margin-bottom:480px;z-index:9999!important;background-color:#fff;margin-top:-30px}
.gryclr{background-color:#f3f3f3}
.skinnyftr a{color:#e8663f;text-decoration:underline}
.blog-filter a.btn.btn-warning:focus{background-color:#19272f!important}
.mtop60{margin-top:60px}
.ptop60{padding-top:60px}
.mtop30{margin-top:30px}
.ptop30{padding-top:30px}
.mbtm30{margin-bottom:30px}
.mbtm20{margin-bottom:20px}
.mtop20{margin-top:20px}
.pbtm20{padding-top:20px}
*/



/*15-march-2018 css End */

/*@media(min-width: 1400px){
	.arabic_home_baner.homban_carousel11 .col-sm-5.desktop-img img{bottom:-129px !important;}
}
*/

/*@media (min-width:1500px){

	.portfolio-projects ul li{float:left;width:auto}
	.portfolio-box img{margin:0 auto;width:100%}
	.hm-pg-flp .back {right: 60px !important;}
	a.top_phone{margin-right: 45px;}

}*/

/*
@media (min-width:1751px){

	.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 420px;
    max-height: 420px;
}
}*/

/*@media only screen and (min-width:1600px) and (max-width:1750px){

	.get_box{padding-bottom: 8px;}
.cnt_bg{    margin: 0px auto 0px 26%;}
.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 378px;
    max-height: 378px;
}
}*/



/*
@media only screen and (min-width:1450px) and (max-width:1599px){

.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 340px;
    max-height: 340px;
}

}*/



/*@media only screen and (min-width:1400px) and (max-width:1920px){#play{margin-right:300px}
}*/


/*@media only screen and (min-width:1280px) and (max-width:1440px){

	

.cnt_bg{    margin: 0px auto 0px 22%;}


	.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 280px;
    max-height: 280px;
}
	a.top_phone{    margin-right: 5px;}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{    font-size: 14px;}
}*/

/*@media (min-width:1280px){
	a.top_phone{  position: relative;
    right: 10px;  margin-top: 5px !important;}
.back, .hm-pg-flp .front{width: auto;}
.hm-pg-flp .back{    right: 20px;}
#mainNav .navbar-nav>li>a{padding: 10px 15px;}
.hm-pg-flp .back{top: 32px;}
}*/ 


/*@media only screen and (min-width:1200px) and (max-width:1279px){
.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 270px;
    max-height: 270px;
}

}*/
/*@media only screen and (min-width:1200px){
    section.devide{margin-top:35px;margin-bottom: 20px;}
}*/

/*@media only screen and (min-width:1024px) and (max-width:1199px){
.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 435px;
    max-height: 435px;
}

}*/

/*@media only screen and (min-width:1025px) and (max-width:1279px){
a.navbar-brand.page-scroll.scrl-main.dsk-logo{margin-top: 7px;}
.flip-container ul.nav.navbar-nav {margin-left: 75px !important;}
.back, .hm-pg-flp .back, .hm-pg-flp .front{width: auto;}
a.top_phone{
	margin-top: 14px;
 	position: relative;
    right: 7px;
    margin-right: 12px !important;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    padding: 15px 10px;
    font-size: 14px;  
}

.back, .hm-pg-flp .back, .hm-pg-flp .front {
    right: 23px;
}

}*/







/*@media only screen and (min-width:1001px) and (max-width:1499px){}.portfolio-projects ul li{float:left}
}
@media only screen and (min-width:850px) and (max-width:991px){.col-md-6.col-sm-6.sm-bg{float:right;margin-right:-150px!important}
}*/

/*
@media only screen and (min-width:1025px) and (max-width:1169px){

.back,
.hm-pg-flp .back,
.hm-pg-flp .front{right:23px}
.flip-container ul.nav.navbar-nav{margin-right:171px}
.top_nav{margin-right:10px}
a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-left:0}
.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus{padding:15px 12px;font-size:14px}

}*/

/*@media (max-width:1024px){


.sitefooter .col-md-6.col-sm-6 ul.recent-blogs{width: 100%;}
footer .recent-blogs li{padding-left: 10px !important;}
.navbar-header+.flip-container .navbar-collapse.collapse{display:none!important}
.cnt_bg{display: none !important}
.cnt_md_page {
    margin-top: 0;
    font-family: lato;
}
.cnt_hgt {
    height: 14px;
    margin-bottom: 14px !important;
}
.cnt_md_page #-example {
    color: #ccc!important;
    margin-top: 26px;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    background: #eee;
    padding: 55px;
}
.get_box{width: 100%;margin-left: inherit;}
a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-top:12px}
.hm-pg-flp .back,
.hm-pg-flp .front{right:140px!important;top:20px}
p.author{font-size:14px}
.col-lg-3.col-sm-6.no-gutter:nth-child(2n+9){clear:both}

}*/



/*@media (min-width:1025px){
.item.hombanr1 {
    height: 700px;border-bottom: solid 2px #fff;
}

	.back,  
.fullscreen .hm-pg-flp .back,
.menu-flips .front{position:absolute;top:-13px;right:-35px}
.back,
.menu-flips .front{backface-visibility:hidden}
.ecmmorce-iner.clearfix{margin-bottom:3%}
body#page-top iframe{width:100%;height:100%;background:#fff;position:fixed;left:8px}
.fullscreen .modal-content{height:100%;background:#e7663f;min-height:100%;border-radius:0}
#menuModal .modal-dialog{width:100%;padding:0;margin:0}
#caseStudyCarousel .carousel-caption h1{font-family:ostrich_sansmedium, serif;font-size:50px!important;margin-bottom:30px;line-height:50px;text-transform:none;padding-left:0}
.client-icon img{margin:-49px auto;top:-45px;width:auto!important}
.blog-box-inner.ind-blog-page iframe{min-height:370px}
.cs-banner.lings-slider h1{margin-top:100px}
.case-stus .overlay{height:100%;margin-left:0;width:100%}
.featured-box img{width:100%}
.body-locked{margin-bottom:418px}
.inner-left-side{padding-top:130px!important}
.testimonilas .carousel-inner p img{max-height:80px;width:80px}
.hm_pg_cnt h1{font-size:65px!important;font-family:open sans}
.menu-rt{display:none}

}*/

/*@media only screen and (min-width:992px) and (max-width:1024px){

.item.hombanr1 {
    height: 450px;    margin-top: -2px;
}

.get_box{padding: 78px 40px !important;}
	.form-group1.snd p{    text-align: left;width: 100%;
    float: left;}
    .cnt_md_page #-example{padding-bottom: 115px !important;    padding: 40px;}

}*/

/*@media only screen and (min-width:992px) and (max-width:1023px){

.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 435px !important; 
    max-height: 435px !important;
} 

}*/


/*@media only screen and (min-width:768px) and (max-width:1023px){
	.get_box p.office_address{margin-left: 4px;}

	.item.hombanr1 {height: 450px;    margin-top: -2px;}

/*15-march 2018 start
.home.baner_withgooglereview .homban_carousel, .home.baner_withgooglereview .homban_carousel .item{height: 450px !important;}
.home.baner_withgooglereview .home_orangenewbaner{height: 450px !important;}


.no-getter, .portfolio .col-lg-3.col-sm-6.no-gutter {
    padding: 0 2px;
    min-height: 356px;
    max-height: 356px;
} 
	.vtm .item:nth-child(2n+1){clear:left}
.press .item:nth-child(2n+1){clear:left!important}
#posts .item:nth-child(3n+1){clear:none}
.tmp-blog .item:nth-child(2n+1){clear:left}
.case_study h2.subtitle{margin-top:0!important}

}*/

/*
@media only screen and (min-width:768px) and (max-width:1024px){

	.blog-box .blog-box-inner img{min-height:250px}
	.mdl-view-menu .back{top:-13px}
	ol.carousel-indicators.footer-tms{left:70%}
	#ecmrce-blg-slider .visit_site-but{position:inherit}
	.ecmmorce-iner.clearfix{margin-bottom:1%}
	.menu__item{padding-left:20px}
	.hsContainer p,
	p.hm-main-dng,
	p.sub-desc-full{text-align:left}
	.main-tbs{margin-bottom:30px}
	.hm_pg_cnt h1{margin-top:40px}
	.hm_pg_cnt span{margin-top:20px;display:block;text-align:center}
	.achievements-block .achieve-box hr{width:auto!important}
	.press-awards{margin-right:10px}
	.video-testmonilas .container{margin:0}
	.testimonilas .carousel-inner p img{max-height:100px;margin-bottom:0xp!important}
	.gpr-bare-bones .carousel-inner p{overflow:hidden}
	#fade-quote-carousel .carousel-indicators,
	#social-hub .carousel-indicators{bottom:-60px}
	.hm-video,
	.modal-dialog.hm-video .modal-content,
	.videoWrapper{height:100%}
	.videoWrapper iframe{position:static!important;width:100%;height:100%}
	.hm-video{margin:0!important}
	.close.btn.btn-link,
	.menu-rt{margin-right:0}
	.hm-video .modal-body{padding:0;height:100%}
	body#page-top iframe{width:100%;height:300px;background:#fff;position:static;left:8px}
	ol.carousel-indicators.footer-tms li{margin-bottom:-30px}
	.container.abs-container ul,
	.menu__link{font-size:14px}
	.banner-content2 h1{margin-top:-10px}
	.banner-content2 h1 span{font-size:36px}
	#caseStudyCarousel .carousel-caption{top:-10%!important}
	.container.abs-container p{font-size:14px!important}
	#caseStudyCarousel .carousel-control.left,
	#caseStudyCarousel .carousel-control.right,
	.right.carousel-control.nxtr{z-index:999}
	#caseStudyCarousel .carousel-caption h1{font-family:ostrich_sansmedium, serif;font-size:30px!important}
	#menuModal{padding-right:0!important}
	.back,
	.menu-flips .front{backface-visibility:hidden!important;position:absolute;top:-13px}
	.m-main-menu{padding:0 0 7px 20px}
	.expands .row.left_side_icons{width:70%}
	.cs-banner{margin-top:105px}
	.banner-content h1{font-size:36px!important}
	.cs-banner.lings-slider h1{margin-top:70px}
	.testimonial .icomoon-icon-play-2{top:16%;left:50%}
	#accordion-ecom .panel-body,
	.accord-cust .panel-body{font-size:15px;line-height:26px}
	#accordion-ecom *,
	.accord-cust * span{font-size:16px}
	.ecmmorce-iner h3,
	.ecmrce-accordians h3,
	.emcre-cnt h3{font-size:40px}
	.ecmmorce-iner p{font-size:14px;line-height:25px}
	.mbl-main-navigation .menu-flips{text-align:right;width:26%!important}
	.case-stus .overlay{height:100%;width:100%;margin-left:0}
	#play{background-size:80%!important;margin-top:4%;margin-right:34px}
	#video-testimonial-generic .carousel-indicators,
	.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-left,
	.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-right{display:none}
	.test2sub .btn.btn-primary{float:none}
	.video-links-menu .videos-hover-color{background-color:transparent;left:0;width:100%;top:0}
	.quote{line-height:21px!important}
	.ind-blog-4 .blog-box{margin-top:25px}
	#portfolio-dis p,
	.blog-box-inner,
	.qa-blog-box-inner,
	.quote,
	.team_blogs .caption h4{font-size:14px}
	.blog-filter a{font-size:12px!important;margin:0 3px 10px!important}
	.team_blogs .caption>p{font-size:12px;min-height:80px}
	.back,
	.menu-flips .front{right:40px!important;margin-top:0}
	.front{right:75px}
	.tlbg .tbs{margin:0 auto 0 10%}
	.tlbg{background:#333;width:50%;padding-top:45px}
	.left-clm .clearfix.col-md-12.txt{display:inline-flex}
	.tbs .nav-tabs>li>a{padding:7px 12px}
	.hm_pg_cnt p span{margin:15px 7% 0 auto;text-align:center}
	.hm_pg_cnt h1{font-size:35px!important;font-family:open sans}
	.tbs ul.nav.nav-tabs li a{font-size:14px;margin-left:10px}
	.fullscreen .modal-dialog{width:100%;margin:0;border-radius:0;height:100%}
	.fullscreen .modal-content{background:#e7663f;border-radius:0;height:100%}
	.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v,
	.portfolio-box img,
	.v1 a img{width:100%}
	.dcw-home-videos a.vt_play2.btn.btn-default.dropdown-toggle{display:block}
	.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v img{display:inline-block;margin:0 auto;width:100%}
	.process-line{top:438px}
	#video-testimonial-generic .carousel-control.right{right:0}
	.row.port-lft-page a h3{font-size:12px}
	.tab-content.home-tab-content h3{font-size:30px;font-weight:700}
	.tab-content.home-tab-content p{font-size:15px}
	.portfolio-projects ul li{width:auto;float:left}
	a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-left:31px}
	.inner-left-side{padding-top:100px!important}
	.left_side_icons .col-lg-2{width:100px}
	#portfolio-dis h3{margin-bottom:5px}
	.body-locked{margin-bottom:620px}
	.btm-line{margin-bottom:0}
	.home-tabs .nav-pills>li+li{margin-left:-3px}
	.main-video img{max-height:100%}
	.appear-animation a span,
	.port-lft-page .col-lg-6 a span{float:left;margin-right:2px;font-size:13px}
	.form-group.snd p{font-size:20px}
	.homepage_contact .form-group label{left:-15px}
	.homepage_contact button.close.btn.btn-link{margin-left:13px}
	.portfolio_inner .pfi_header .pfi_left,
	.portfolio_inner .pfi_header .pfi_right,
	.portfolio_inner .pfi_header .pfi_right .item,
	.portfolio_inner .pfi_header .pfi_right .item .item-img{height:300px!important}
	.portfolio_inner{padding-top:110px!important}
	.portfolio_inner .pfi_header .pfi_right img{max-height:280px}
	.portfolio_inner .pfi_header .pfi_left .slider_content{font-size:12px!important;top:55%!important}
	.portfolio_inner .pfi_header .pfi_left .slider_content .more{margin-bottom:0!important;font-size:18px!important}
}*/

/*@media (max-width:767px){


.item.hombanr1 {height: 200px;    margin-top: -2px;}
.home.baner_withgooglereview .homban_carousel, .home.baner_withgooglereview .homban_carousel .item{height: 300px !important;}
.home.baner_withgooglereview .home_orangenewbaner{height: 300px !important;margin-top: -2px;}
.olark-launch-button{    bottom: 85px !important;}
footer .reserve-policy{padding-bottom: 15px;}
.sticky_footermsg{font-size: 16px;}
.sticky_footermsg a{font-size: 18px;}

.cnt_page h2 span {
    font-size: 20px !important;
    font-weight: 600;
}

.cnt_page h2{    padding: 0px 15px;}



	.cnt_md_page #-example{margin-bottom: 15px;padding: 15px;}
	.cnt_hgt{display: none;}
	.cnt_page h2{    margin: 60px 0 34px 0;}
	.cnt_md_page .col-md-6.col-sm-12.col-xs-12 {
    padding: 0;
}
	.get_box p i{text-indent: -45px;}
	.get_box p:last-child{    margin-left: 0px;}
	.cnt_page h2{font-size: 20px;}
	.get_box p{   text-align: left !important; margin-left: 45px !important;margin-bottom: 15px !important;}
	.get_box p.office_address{margin-left: 4px !important}
.get_box{padding:20px !important;min-height: auto !important;}
.form-group1.snd p{width: 100% !important; font-size: 14px;    text-align: left;}

h1 .sub,i.clsee{font-weight:400}
#play,
.inner-left-side #click,
.inner-left-side.sidebar.affix-top1>a,
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-left,
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-right{display:none}
.video-testimonials .vide_category{margin-top:0;padding-top:0}
.portfolio_inner .pfi_header{display:block!important}
.portfolio_inner .pfi_header .pfi_left,
.portfolio_inner .pfi_header .pfi_right{width:100%;display:block}
.what-we-did{text-align:left}
.btn-visit{float:left}
.title-head.text-right{text-align:left!important;margin-top:30px}
.videoWrapper iframe{position:static!important;width:100%}
.hm-video .gray-modal{padding:0!important}
.menu-rt{margin-top:10px}
p.hm-main-dng{font-size:18px}
.hm_pg_cnt h1{margin-bottom:1px;text-shadow:none}
.video-overlay-colors{background-color:none!important}
.careers,
.events{padding-top:35px}
.video-links-menu{margin:-15px}
.close.btn.btn-link:focus{border:0!important}
.menu__list ul{margin:0 0 15px}
.menu__title{padding:5px 0}
.menu__item.lst-li{margin-top:-36px}
i.clsee{color:#fff;font-size:24px;font-style:normal;margin-left:3px;padding:6px 0;z-index:992;vertical-align:middle}
.testimonial .icomoon-icon-play-2{position:absolute;top:35%;z-index:99;color:#e7663f;font-size:50px}
.vt-hdng{font-family:ostrich_sansmedium;font-size:40px;margin-left:0;text-align:center}
.map{margin-top:15px}
div#container-blog ol{padding-bottom:24px}
.content-headings .col-md-4.col-sm-4.col-xs-12,
.feature-posts .blog-box{margin-top:5px}
.btn:focus,
.sb-btn btn:active:focus{border:3px solid #f78260;color:#000}
.container.ft-map-links ul li:nth-child(3) span{display:block}
.testimonilas .carousel-inner p img{max-height:78px!important;margin-bottom:0}
.gpr-bare-bones .carousel-inner p{max-height:80px;overflow:hidden}
.f-work .carousel-inner p{font-size:12px;overflow:hidden}
#ecmrce-blg-slider .visit_site-but{bottom:-20px;position:inherit}
#ecmrce-blg-slider .visit_site-but a{font-size:13px}
.menu__list{padding:0 20px!important}
.hme-cion-mobile{cursor:pointer;width:10%;font-size:25px;margin-bottom:0;margin-left:20px;padding-bottom:0;padding-top:0}
.inner-left-side>p{max-height:100%;overflow:visible}
.portfolio_inner h3{font-size:18px!important}
.port-lft-page i.fa.fa-angle-left:nth-child(2){display:none}
.port-lft-page i.fa.fa-angle-right:nth-child(2){display:block}
.process-steps .text-justify{text-align:left}
.abt-text-algn .col-md-6.col-sm-6.text-left,
.header-content-inner .container>p,
.hm_pg_cnt h1{text-align:center}
.alter-steps .fright{float:right;margin-top:0!important}
section.light-gray-wraper.bg-light-orange.process-steps .mtop40{margin-top:-30px}
#accordion-ecom .panel-body,
.accord-cust .panel-body{font-size:14px;line-height:26px}
.ecmmorce-iner p{margin-bottom:10px}
#accordion-ecom .ttl,
.accord-cust .ttl{font-size:15px}
.place-holder p{margin-top:10px}
.case-txt>a,
.emcre-cnt p,
.home-tabs ul li a{font-size:14px}
.navbar-default.affix{background-color:#19272f}
.portfolio-projects ul li,
.video-testmonilas span{width:auto}
.home-tabs ul li.active,
ul.social-network.social-circle{border-bottom:none!important}
.home-tabs .nav-pills>li.active>a,
.nav-pills>li.active{color:#999!important}
.home-tabs .nav-pills>li.emc.active{background-image:url(../img/home-Ecommerce.png)!important;background-position:center center;background-repeat:no-repeat;color:#999!important}
#social-hub .juicer-feed li.feed-item{max-height:250px!important}
.masthead__menu .menu__item{width:50%;float:left}
.case-stus .sub-desc,
.single-post-comments textarea{width:100%}
.skinnyftr{font-size:12px;padding:5px 5px 7px}
.tlbg{margin:0}
.img-responsive.mobile-header-img.hidden-lg.hidden-sm.hidden-md{padding-top:70px}
.pattern-overlay{padding-bottom:6.25%!important}
.banner-content2 h1 span,
.cs-banner .banner-content h1{font-size:30px!important}
.abs-container h1,
.main_content1 ul{padding-left:0}
#caseStudyCarousel .carousel-control.left,
#caseStudyCarousel .carousel-control.right{z-index:999}
#caseStudyCarousel .carousel-caption h1{font-size:30px;line-height:31px;font-family:ostrich_sansmedium}
.container.abs-container{background:#f3f3f3}
#caseStudyCarousel .item.active:nth-child(1) p,
#caseStudyCarousel .item:first-child .carousel-caption,
#caseStudyCarousel .item:first-child h1{color:#333}
.cs-banner .banner-content{position:inherit}
.case-txt{line-height:28px}
.pattern-overlay iframe{display:none!important}
.main-tbs{margin-bottom:20px}
#portfolio-dis p,
.ecmmorce-iner p,
.menu__link,
.team_blogs .caption h4{font-size:14px}
.expands .row.left_side_icons{width:100%!important}
.cs-banner>img{margin-top:98px}
#caseStudyCarousel .item:first-child .carousel-caption,
#caseStudyCarousel .item:first-child p{margin-left:0!important}
#caseStudyCarousel .carousel-caption,
.banner-content2{position:relative}
#play,
.close.btn.btn-link{margin-right:0}
.hm-pg-flp,
.navbar-toggle.collapsed,
.navbar-toggle.collapsed.bs-1-menu{display:none}
.gpr-bare-bones .vl{padding:6px 20px;top:2px}
.faq-group.row ul{padding-left:15px}
.case-stus .overlay{height:100%;margin-left:0;width:100%}
#play{margin-top:0;position:absolute;right:60px;background-size:60%!important}
.hm_pg_cnt span{margin-left:3px;font-size:14px;border:1px solid #fff;padding:6px 15px}
.header-content-inner>.container{padding-left:0}
.mbl-logo.navbar-brand>img{width:160px;margin-top:10px}
.footer-contact{margin-top:0xp}
.container.f-work blockquote,
.video-links-menu .vt_play3{padding:0}
.video-links-menu a.vt_play.btn.btn-default.dropdown-toggle{padding:0;position:relative;margin-bottom:15px}
.video-links-menu .vt_play2{padding:0 0 15px}
.video-links-menu .videos-hover-color{background-color:transparent;width:100%;position:absolute;height:100%!important;top:0;left:0}
#portfolio-dis h3,
.hdings_cmrcr,
.hw-wrks h2,
.pos-rel h3{font-size:40px}
#video-testimonial-generic .item img,
.port-banner img{width:100%}
#video-testimonial-generic .carousel-indicators{left:0;margin-left:0}
#video-testimonial-generic .carousel-caption{top:0;left:0}
.work .header-content-inner{top:87px}
.testimonial .icomoon-icon-play-2{left:40%}
.quote::before{left:0!important;padding:0}
#video-testimonial-generic .carousel-control.right{rigt:0!important}
.testimonial .carousel-caption{position:inherit!important}
#ecmrce-blg-slider .carousel-control.left,
#ecmrce-blg-slider .carousel-control.right{top:-140px!important}
.ecmrce-accordians h3,
.emcre-cnt h3,
.kb h2{font-size:30px}
.port-banner img{min-height:180px}
body#page-top .hm-video iframe{height:auto;margin-top:55px;width:100%}
.home-tabs hr,
.modal-dialog.hm-video{margin:0}
#ecmrce-blg-slider{padding:10px 0 20px}
.ecmmorce-iner h3{font-size:30px;margin-bottom:10px;line-height:normal}
.ecmmorce-iner.clearfix{margin-top:65px}
.full-white-wraper .col-xs-6,
.light-gray-wraper .col-xs-6{width:100%}
.menu-rt{margin-right:10px}
.blog-filter a{border-radius:0;margin:0 3px 10px!important}
.container.kb-blog img{margin:0 auto}
.header-content-inner h1{letter-spacing:normal!important;font-size:23px!important}
.back,
.front{right:80px!important}
.portfolio-filter-view .navbar-nav .open .dropdown-menu{position:absolute;background:#fff}
#portfolio-dis .carousel-control{width:10%;bottom:420px!important}
.achieve-box hr,
.btn.btn-warning.col-sm-12.cpl-xs-12,
.col-lg-6.col-sm-12.col-xs-12.main-video.dcw-home-videos.v1 a img,
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v,
.dcw-home-videos img{width:100%}
.awrds .clearfix.col-md-12.txt{display:inline-flex}
.tlbg .tbs .nav-tabs>li>a{font-size:15px;padding:5px 4px}
.home-tabs .nav-pills>li+li,
.tbs ul.nav.nav-tabs li a{margin-left:5px}
.cnt-hdng.sm-bg1{background:#222;padding:10px;margin-top:77px}
.click-video.col-md-5.col-md-5.col-xs-6.text-right,
.desktop-tabs,
.portfolio-box-caption .project-name br,
.tab-content.home-tab-content,
span.blue-txt{display:none}
.hm_pg_cnt p span{margin:0;float:inherit}
.gpr-bare-bones blockquote{border:0}
#social-hub .j-stack .text,
.revws{padding-left:0}
.bg-primary .container-fluid,
a.navbar-brand.page-scroll.mbl-logo{padding:0}
.tab-content.home-tab-content{margin-top:0}
.tab-content.home-tab-content h3{font-size:35px}
.ft-submit{margin-left:0}
.stay-cnt{margin-left:-15px!important}
.test2sub .btn.btn-primary{float:inherit}
section#brand{padding-top:30px;padding-bottom:20px}
.container.f-work h2{margin-bottom:10px;font-size:35px}
.testimonilas{margin-top:0;padding-bottom:0}
section.press-awards .row{margin-left:0;margin-right:0}
.body-locked{margin-bottom:0}
.total-footer{position:inherit}
.project-category.text-faded h2 a{font-size:25px}
.project-category.text-faded a{font-size:12px}
.gpr-bare-bones .carousel-indicators{bottom:0!important;margin-left:5px;left:110px}
a.vt_play.btn.btn-default.dropdown-toggle.see_how_bt{float:none!important;text-align:center;width:100%;max-width:60%;margin:0 auto;padding:0}
.hm_pg_cnt h1,
h1 .sub{font-size:30px!important}
.hm_pg_cnt h1{padding-left:15px;width:100%}
.btn.btn-primary.btn-xl.page-scroll{margin-top:0;padding:8px 35px;font-size:16px}
.fullscreen .modal-dialog{width:100%;margin:0;border-radius:0}
.fullscreen .modal-content{background:#e7663f;border-radius:0}
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v img{display:inline-block;margin:0 auto;width:100%}
.achieve-box a:hover,
ul.work-nav li a{color:#f78260;text-decoration:none}
.inner-right-side{padding-top:25px}
.left_side_icons .col-lg-2{width:100px!important}
.inner-left-side{margin-top:60px!important}
.sidebar{position:static}
#portfolio-dis h3,
.portfolio_inner h3{margin-bottom:5px}
.portfolio-box img{width:auto}
.portfolio-bnr{height:300px}
.achieve-box h3{font-size:24px}
.m-main-menu{margin-top:0;padding-left:0}
button.btn.btn-default.btn-lg.menu-rt{font-size:0;margin-top:-50px}
.ft-submit .input-group .form-control{width:75%}
.sb-btn{width:25%}
.filter-nav.navbar-nav>li>a{font-size:15px}
.dropdown-menu.fliter-drp{position:absolute!important;background-color:#fff!important;margin-top:3px!important}
.seemore p{padding:15px 40px}
.client-icon img{left:0;position:inherit;top:0}
.portfolio-bnr .header-content{top:50%}
.btn.btn-primary.btn-xl.page-scroll.mbl-seehow,
.vt_play.btn.btn-default.dropdown-toggle{margin-top:15px}
#hm-video{width:100%!important;height:auto}
.home-header{height:auto!important}
.portfolio-projects ul li{float:left}
.menu__item,
.test-sub{float:none;width:100%}
.btm-line,
header .header-content .header-content-inner p{margin-bottom:0}
.owl-theme .owl-controls .owl-buttons .owl-next{right:-20px;top:33%}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:-20px;top:33%}
.test-sub{margin-top:20px}
.menu.masthead__menu.dropdown-menu.mbl-main-navigation{background-color:rgba(54, 59, 62, .9)!important;position:static;margin:-8px 0 0}
.menu.masthead__menu.dropdown-menu{border-radius:0}
.menu__list{margin:0 auto;max-width:100%}
.menu__item{border-bottom:0 none;padding:0}
.mbl-rts{text-align:left}
.footer-contact h2{font-size:26px}
ul.social-network.social-circle{padding-bottom:13px}
.row.contact-mb{border-bottom:3px solid #ccc;margin-bottom:0}
.navbar-collapse.collapse.in .mbl-main-navigation{display:block}
.dsk-logo{display:none}
.mbl-navs{background-color:rgba(23, 21, 28, .56)}
a.vt_play2.btn.btn-default.dropdown-toggle p{width:250px;padding:5px 15px;font-size:14px}
.inner-banner-content{margin:14% 0 0!important;text-align:center}
.achievements-block h2{font-family:ostrich_sansmedium;font-size:50px;color:#e7663f;margin:.3em 0}
ul.work-nav li{margin:0}
ul.work-nav li a{color:#333;padding:5px 8px;border:1px solid #ccc;font-family:'open sans', Arial, sans-serif;font-size:12px;background:#fff}
.appear-animation a span,
.port-lft-page .col-lg-6 a span{float:left;margin-right:2px;font-size:13px}
.appear-animation a i.fa.fa-angle-left,
.appear-animation a i.fa.fa-angle-right,
.port-lft-page .col-lg-6 a i.fa.fa-angle-left,
.port-lft-page .col-lg-6 a i.fa.fa-angle-right{font-size:32px}
.port-lft-page a i{font-weight:100;vertical-align:middle;margin-top:6px}
.post-tags .label{font-size:63%;padding:5px}
.feature-posts{padding:0}
.main-nav-bar{padding-bottom:8px}
#carousel-example-generic .controllers span{color:#f05f40;font-size:50px;text-shadow:none}
.tbs{padding:0}
.wp-paginate a{padding:4px!important}




}*/


/*@media (max-width:400px){
	.pp-up-logo .img-responsive{margin-top:-10px}
.video-links-menu .videos-hover-color{height:70px}
.header-content-inner.hm_pg_cnt .container{width:260px}
}*/

/*@media(max-width: 768px){
	.team_blogs .caption h4{background: linear-gradient(142deg, #FF8B36 0%, #D45252 100%) !important;}
}*/
/*@media (min-width:768px){

.olark-launch-button{    bottom: 65px !important;}


.cnt_page h2 span {    font-size: 30px;    font-weight: 600;}
	.mbl-logo,
.mobile-tabs,
a.menu__title.hidden-md.hidden-sm.hme-cion-mobile{display:none}
div#container-blog ol{padding-bottom:24px}
.btn:focus,
.sb-btn btn:active:focus{border:3px solid #f78260;color:#000;background: #e87b2d !important;}
.container.f-work .carousel-inner{max-height:280px}
.video-links-menu:hover i{color:#e7663f!important}
.home-tabs ul li.active{margin-bottom:-3px;border-bottom:3px solid #f78260!important}
.single-post-comments h3{font-size:18px;font-weight:700}
ul.nav.navbar-nav.filter-nav .dropdown-menu-right{left:0}
.footer-contact{margin-top:100px}
.quote::before{left:-14px}
#video-testimonial-generic .carousel-control.right{right:-100px}
.controllers{top:50%;position:absolute}
#carousel-example-generic{position:relative}
#carousel-example-generic .carousel-caption{left:0;padding-bottom:30px;position:relative;right:20%;text-align:left}
header{background:#fff;padding-bottom:2px}
.btm-line{padding-left:0;padding-bottom:15px}
.mc4wp-response p{width:100%;position:absolute;z-index:9;bottom:-50px}
/*nav.opacity-inner{background:rgba(0, 0, 0, .35);}
nav.opacity-inner{background-color: #19272f;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:14px}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:21px}
.navbar-default{border-color:rgba(255, 255, 255, .3);background-color:#fff;}
.navbar-default.arabicnav{background-color:#1B1B1B !important;}
.navbar.arabicnav{min-height: 80px !important}
.arabicnav ul.navbar-nav{margin-top: 20px;float:right;margin-right: 25px;}
.navbar-default .navbar-header .navbar-brand{color:rgba(255, 255, 255, .7)}
.navbar-default .nav>li>a:focus:hover,
.navbar-default .nav>li>a:hover,
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover{color:#fff}
/*.navbar-default.affix{border-color:rgba(34, 34, 34, .05);background-color:#19272f;border-bottom:3px solid #e8663f!important}
.navbar-default.affix .navbar-header .navbar-brand{font-size:14px;color:#f05f40}
.navbar-default.affix .navbar-header .navbar-brand:focus,
.navbar-default.affix .navbar-header .navbar-brand:hover{color:#eb3812}
.navbar-default.affix .nav>li>a:focus:hover,
.navbar-default.affix .nav>li>a:hover{color:#f05f40}
header .header-content{position:absolute;top:320px;padding:0 50px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
header .header-content .header-content-inner{margin-right:auto;margin-left:auto;max-width:1000px}
header .header-content .header-content-inner p{margin-right:auto;margin-left:auto;max-width:80%;font-size:30px;color:#fff;font-family:Poppins, sans-serif}
}
*/

/*@media (min-width:992px){
	.thank-you .position-cnt h2{margin-top:20%}
.main_content2 .main_data{position:absolute;top:-365px;left:15%}
.sm-bg1.sidebar{position:absolute}
.position-cnt{min-width:375px}
.service-box{margin:20px auto 0}
.hdings_cmrcr{margin-top:60px}
}*/

/*
@media (min-width:1200px){
div#vt_modal .modal-dialog.hm-video .modal-body.gray-modal{padding:0;height:100%}
div#vt_modal .modal-dialog.hm-video{margin:0;height:100%}
.modal-body.gray-modal .videoWrapper{position:relative;height:100%;overflow:hidden}
.modal-dialog.hm-video .modal-content{height:100%}
.modal-body.gray-modal .videoWrapper iframe{width:100%!important;height:100%}
section#portfolio .container-fluid{padding:0}
.press-awards .row{margin:0}
section.press-awards img.img-responsive{width:100%}
.col-sm-12.no-pad .col-sm-4 a.vt_play.btn.btn-default.dropdown-toggle{font-size:24px;margin-left:15px;margin-right:15px;font-family:Poppins, sans-serif;text-transform:none;font-weight:300;border:1px solid #fff;border-radius:0;padding:5px 40px;background:0 0!important;color:#fff}
.row.port-lft-page a h3{font-size:15px;font-family:'open sans';margin:3px;line-height:22px;font-weight:100}
.row.port-lft-page i.fa.fa-angle-left h3,
.row.port-lft-page i.fa.fa-angle-left:before{float:left;color:#666}
.row.port-lft-page i.fa.fa-angle-right h3,
.row.port-lft-page i.fa.fa-angle-right:before{float:right;color:#666}
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-left,
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6>i.fa.fa-angle-right{display:none}
.place-holder p span a i.fa.fa-long-arrow-right,
.visit_site-but .btn.btn-default i.fa.fa-long-arrow-right{position:relative;left:0;vertical-align:middle;color:#e7663f;-webkit-transition:left .2s linear;-moz-transition:left .2s linear;-o-transition:left .2s linear;transition:left .2s linear}

}*/

/*.place-holder p span a:hover i.fa.fa-long-arrow-right,
.visit_site-but .btn.btn-default:hover i.fa.fa-long-arrow-right{left:10px;-webkit-transition:left .2s linear;-moz-transition:left .2s linear;-o-transition:left .2s linear;transition:left .2s linear}
.portfolio-filter-view .project-name ul li{margin-left:5px;float:left!important}
.fullscreen{padding:0!important}
.fullscreen .modal-dialog{margin:0;width:100%;height:100%;min-height:100%;padding:0;color:#333}
.fullscreen .modal-content{height:100%;min-height:100%;border-radius:0;color:#333;background:#e7663f;overflow:auto}
.fullscreen .modal-body ul{padding:100px 0 0}
.fullscreen .modal-body li{padding:10px 0}
.fullscreen .modal-body a{color:#333;font-size:300%}*/
/*
@media (max-width:480px){
	.portfolio_inner .pfi_header .pfi_left{height:400px!important}
.portfolio_inner{padding-top:94px}
.portfolio_inner .pfi_header .pfi_left .slider_content{padding:0 20px; font-size: 14px; top: 56%;}
.portfolio_inner .pfi_header .pfi_right,
.portfolio_inner .pfi_header .pfi_right .item,
.portfolio_inner .pfi_header .pfi_right .item .item-img{height:250px!important}
.portfolio_inner .pfi_header .pfi_right img{max-height:250px}
.fullscreen .modal-body ul{padding:30px 0 0;overflow:auto}
.fullscreen .modal-body li{padding:4px 0}
.fullscreen .modal-body a{color:#333;font-size:200%;text-transform:uppercase;font-weight:700}
.triangleup:before{border-width:160px!important;margin-left:-160px!important}
.triangleup{min-height:145px!important;margin-top:15px!important}
.triangleup span{line-height:1.2!important;font-size:22px!important}
.beaver{right:0}
.triangleup a{font-size:14px!important;padding-top:75px!important}
.info{min-height:auto!important}
.resmtop{margin:0!important}
.portfolio-box>a{pointer-events:none!important}
}
*/
/*h1 .sub{font-size:34px;font-weight:400}
.divide{margin-bottom:5%;margin-top:2%;padding-bottom:5%}
.inner-banner-content{margin:3% 0 0;text-align:center}
ol.breadcrumb{background:0 0;font-size:36px;padding-left:0}
.team_page{margin-top:15px}
.portfolio-projects .col-lg-3.col-sm-6:nth-child(4n+5){clear:both}
.dropdown-menu li a:hover{color:#e7663f}
.carousel-caption{padding-top:0!important}
.carousel-indicators{bottom:-40px!important;left:30%}
.navbar-header{display:inline-table}
.vline{width:3px;height:60px;background:#e7663f;margin:0 auto}
.subtitle{font-family:Poppins, sans-serif;color:#f63;font-weight:lighter;text-align:center;text-transform:uppercase;font-size:48px}
.subtitle span{font-weight:700}
.aboutxt{font-family:'Open Sans', sans-serif;font-weight:200;line-height:1.4em;color:#222;font-size:1.1em}
.sub_caption,
.sub_subtitle{font-family:Poppins, sans-serif;text-transform:uppercase;text-align:center}
.innovativetxt,
.triangle-up p,
.triangleup a{font-family:'Open Sans', sans-serif}
.sub_subtitle{font-size:1.6em}
#accordion-ecom .panel-title a[aria-expanded=true] .ttl,
#accordion-ecom .ttl:hover,
.accord-cust .ttl:hover,
.orngtxt{color:#e7663f}
.sub_caption{font-size:1.4em}
.triangleup .sub_subtitle,
.triangleup a,
.triangleup span,
.triangleup span b{text-transform:capitalize}
.icons,
.icons2,
.icons3{margin:20px auto;display:block}
.icons3{width:320px;height:320px}
.digonal{margin:110px auto 0}
.innovativetxt{font-size:1em}
.innovativetxt a:hover{color:#23527d}
.triangle-up{background:url(../images/triangle.png) center top no-repeat;padding:15% 25%;color:#fff;margin-top:-50px;height:350px}
.triangle-up p,
.triangleup a{font-size:26px;font-weight:700}
.greytxt{color:#b3b3b3}
.greytxt:hover{color:#f78260}
.carousel-indicators li{background:#b3b3b3}
@-ms-keyframes icons{0%,
to{-ms-transform:rotate(3deg)}
50%{-ms-transform:rotate(-3deg)}
}
@-moz-keyframes icons{0%,
to{-moz-transform:rotate(3deg)}
50%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes icons{0%,
to{-webkit-transform:rotate(3deg)}
50%{-webkit-transform:rotate(-3deg)}
}
@keyframes icons{0%,
to{transform:rotate(3deg)}
50%{transform:rotate(-3deg)}
}
.icons:hover,
.taxonomy-images-the-terms li:hover{-ms-animation:icons .3s 2;-moz-animation:icons .3s 2;-webkit-animation:icons .3s 2;animation:icons .3s 2;cursor:pointer}
@-ms-keyframes taxonomy-images-the-terms li{0%,
to{-ms-transform:rotate(3deg)}
50%{-ms-transform:rotate(-3deg)}
}
@-moz-keyframes taxonomy-images-the-terms li{0%,
to{-moz-transform:rotate(3deg)}
50%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes taxonomy-images-the-terms li{0%,
to{-webkit-transform:rotate(3deg)}
50%{-webkit-transform:rotate(-3deg)}
}
@keyframes taxonomy-images-the-terms li{0%,
to{transform:rotate(3deg)}
50%{transform:rotate(-3deg)}
}
.taxonomy-images-the-terms li:hover{cursor:default}
.triangleup{padding:20px 40px;color:#fff;text-align:center;max-width:590px;margin:-30px auto 0;min-height:240px}
.triangleup a{color:#fff;display:block;font-size:22px;position:absolute;top:0;padding:135px 0 33px;width:100%;left:2px}
.triangleup .sub_subtitle{z-index:999;margin:0 auto;display:block}
.triangleup span{position:relative;font-size:36px;font-family:ostrich_sansmedium;font-weight:400}
.blog_title,
.res_subtitle,
.triangleup span b{font-family:Poppins, sans-serif}
.triangleup:after,
.triangleup:before{bottom:0;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.triangleup:before{border-color:transparent transparent #e7663f;border-width:260px;margin-left:-260px}
.resmtop{margin-top:-60px}
.res_subtitle{text-align:center;text-transform:uppercase;font-size:1.4em}
.res-testmonilas{background:0 0!important;margin:0 0 30px}
.blog_title{text-align:left;/*text-transform:capitalize;font-size:1.1em;margin:0 0 .5em;display:block}
.quote-service{font-family:'Open Sans', sans-serif;font-size:1em;color:#000;text-shadow:none;line-height:1.4em}
.carousel-caption_top{margin:22px 0 0}
#accordion-ecom .ttl,
.accord-cust .ttl{color:#333;display:inline-block;font-family:Poppins, serif;line-height:24px;margin-left:7px;text-transform:none}
#accordion-ecom .panel-heading,
.accord-cust .panel-heading{border-bottom:none}
.panel-default{border-bottom:1px solid #e5e5e5!important}
#accordion-ecom .panel-body,
.accord-cust .panel-body{color:#333;font-size:16px;line-height:26px;padding-left:50px;padding-right:0;padding-top:0}
#accordion-ecom a[aria-expanded=true]>i.fa-caret-right{color:#e7663f!important;transform:rotate(90deg);width:34px!important;margin-top:-5px!important;left:-10px}
.gpr-bare-bones .vl:hover{background-color:#e7663f;color:#fff!important;font-weight:700}
.resfaq{margin:.8em 0}
.featured{margin:0}
.service_test{margin-top:200px!important}
#video-testimonial-generic .item .testi_thumb{position:relative;width:100%;height:100%;float:left;margin-bottom:40px;margin-top:20px}
#video-testimonial-generic .item .testi_thumb a{position:absolute;width:100%;transition:all .3s ease-in-out;height:100%;left:0;right:0;top:0;bottom:0;background:0 0}
#video-testimonial-generic .item .testi_thumb:hover a{background-color:rgba(255, 102, 51, .8)}
#video-testimonial-generic .carousel-control.left{left:-100px}
#video-testimonial-generic .carousel-caption{left:3%;padding-bottom:30px;right:0!important;top:0;text-align:left}
.innovativetxt img{width:100%;overflow:hidden;margin:0 auto;display:block}
.blog_date{font-size:79%;font-weight:700;margin-top:10px}
.test1,
.test2{width:320px;height:320px;margin:10px auto}
.test1{background:url(../images/ourservices_fedev.png) left top no-repeat}
.test2{background:url(../images/ourservices_fedev-grey.png) left top no-repeat}
.amd-banner-content{top:30%;left:10%;position:absolute;right:0}
.amd-banner-content h1{display:inline-block;float:left;font-family:ostrich_sansmedium, serif;font-size:50px!important;font-weight:lighter;text-transform:none;text-align:center}
.amd-banner-content h1 strong{color:#eeae19}
.amd-bluetxt{color:#012469!important;font-weight:700;margin:1em 0}
.blacktxt{color:#000!important}
#caseStudyCarousel .carousel-indicators{left:50%}
.graphs .graphpercent span{color:#012469;display:inline-block;margin:0 10px 0 0}
#caseStudyCarousel .carousel-control.left,
#caseStudyCarousel .carousel-control.right{background-color:rgba(0, 0, 0, .6)!important;margin-top:13%;outline:0}
.amd-graph{padding:40px}
.graphs>div img{display:inline;text-align:center;width:320px}
.amd-graph p{margin-bottom:0;margin-top:0}
.amd-graph .graphpercent{margin:0;padding:0;line-height:24px}
.results-img img{width:380px;display:inline}
.pos-rel.clearfix{margin-top:-60px;padding-top:50px}
.client-icon{margin-bottom:20px}

*/
/*@media (max-width:767px){
	.aboutxt,
.triangleup a,
.triangleup p{font-family:'Open Sans', sans-serif}
.blog_title,
.res_subtitle{font-family:Poppins, sans-serif}
.blog_title,
.res_subtitle,
.subtitle,
.triangleup{text-align:center}
#video-testimonial-generic .carousel-control.right,
.beaver{right:0}
.aboutxt{line-height:1.5em;color:#222;font-size:1em}
.digonal{margin:10px auto 0}
.triangleup{padding:20px 40px;color:#fff;position:relative;max-width:350px;margin:0 auto;z-index:45}
.triangleup a{color:#fff;display:block;font-size:14px;top:0;padding:160px 0 33px;width:100%;left:2px;font-weight:700;position:absolute}
.triangleup p,
.triangleup span{font-size:18px}
.triangleup:before{border-color:transparent transparent #e7663f;border-width:160px;margin-left:-160px}
.triangleup p{position:relative;z-index:9999;font-weight:400;margin-top:-30px}
.resmtop{margin-top:10px}
.subtitle{text-transform:uppercase;font-size:1.8em}
.blog_title{text-transform:capitalize;font-size:1.3em;margin:1.5em 0}
#accordion-ecom .panel-body,
.accord-cust .panel-body{color:#333;font-size:13px;line-height:26px;padding-left:50px;padding-right:0;padding-top:0}
.quote-service{font-size:15px;color:#000;text-shadow:none;line-height:1.4em}
.res_subtitle{text-transform:uppercase;font-size:1em}
.carousel-caption_top{margin-top:10px}
#video-testimonial-generic .item img{margin-bottom:10px}
.amd-bluetxt{color:#012469!important;font-weight:700;margin:1em 0 .3em;padding:10px 0!important}
#caseStudyCarousel .carousel-caption p{font-size:14px;line-height:24px}
.carousel-caption h1{padding:15px 0}
.featured-box .hover-overlay{margin:0 0 14% -80px}
.case-txt>a:hover{font-size:14px;line-height:18px}
.case-txt{margin:5% auto 0;line-height:18px}
.graphs>div img{margin-bottom:20px}
.beaver{position:absolute;bottom:0;width:90px;display:inline-block;z-index:999}
}*/

/*@media (max-width:375px){
	#video-testimonial-generic .carousel-control.left{right:-60px;left:0}
#video-testimonial-generic .carousel-control{top:245px!important}
.connect_with .service_icons p{line-height:345px!important}
.subtitle{font-size:32px!important}
#video-testimonial-generic .carousel-control.right{margin-right:0}
.service_test,
section.devide{margin-top:0!important}
.innovativetxt img{width:inherit!important;max-width:100%;height:inherit!important}
.service_test{font-size:40px}
#video-testimonial-generic .carousel-caption{padding:0 30px;left:0}
.amd-banner-content{top:45%;left:10%;position:absolute;right:0}
.amd-banner-content h1{display:inline-block;float:left;font-family:ostrich_sansmedium, serif;font-size:25px!important;font-weight:lighter;text-transform:none;text-align:center}
#caseStudyCarousel .carousel-caption h1{font-size:30px!important}
#caseStudyCarousel .carousel-control.left,
#caseStudyCarousel .carousel-control.right{margin-top:13%}
.fa-5x{font-size:1.5em}
.main_content1 ul li:before{top:18%}

}*/


/*@media (max-width:321px){.connect_with .service_icons p{line-height:290px!important}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{height:270px!important}
}*/
/*@media only screen and (min-device-width:410px) and (max-device-width:767px){
	.amd-banner-content{top:45%;left:10%;position:absolute;right:0}
.amd-banner-content h1{display:inline-block;float:left;font-family:ostrich_sansmedium, serif;font-size:35px!important;font-weight:lighter;text-transform:none;text-align:center}
#caseStudyCarousel .carousel-caption h1{font-size:30px!important}
#caseStudyCarousel .carousel-control.left,
#caseStudyCarousel .carousel-control.right{margin-top:20%}
.fa-5x{font-size:3em}
#video-testimonial-generic .carousel-control.left{right:-60px;left:0;top:280px}
#video-testimonial-generic .carousel-control.right{top:280px;margin-right:0}
.service_test{margin-top:280px!important;font-size:40px}
#video-testimonial-generic .carousel-caption{padding:0 35px;left:0}
}*/


/*@media only screen and (min-width:768px) and (max-width:990px){

	.amd-banner-content{top:35%;left:0;position:absolute;right:0}
.connect_with .flag{height:200px!important}
.connect_with .flag img{top:25px!important;left:43%!important}
.press_awards .table tr td img{max-width:130px!important}
#caseStudyCarousel .carousel-caption h1{font-family:ostrich_sansmedium, serif;font-size:30px!important;margin:1.5em 0 0;padding:0}
.fa-5x{font-size:1.8em}
#caseStudyCarousel .carousel-caption p{font-size:14px;line-height:24px;padding:0;margin:5px}
.amd-banner-content h1{font-size:35px!important}
ul.work-nav li{margin:0}
ul.work-nav li a{color:#333;text-decoration:none;padding:5px 8px;border:1px solid #ccc;font-family:'open sans', Arial, sans-serif;font-size:12px;background:#fff}
.case-txt{font-size:16px;line-height:1.5}
.case-txt>a{font-size:14px}
.featured-box .hover-overlay{margin:0 0 14% -80px}
.beaver{position:absolute;bottom:0;right:0;width:90px;display:inline-block;z-index:999}
.col-lg-3.col-sm-6.no-gutter:nth-child(2n+9){clear:both}
.digonal{margin:10px auto 0!important}
.aboutxt{line-height:1.5em;color:#222;font-size:1em}
.triangleup:before{border-color:transparent transparent #e7663f;border-width:190px;margin-left:-190px}
.aboutxt,
.triangleup a,
.triangleup p{font-family:'Open Sans', sans-serif}
.triangleup p{z-index:9999;margin-top:-40px;position:relative;font-size:18px;font-weight:400}
.triangleup span{font-size:22px}
.resmtop{margin-top:10px}
.triangleup{padding:20px 40px;color:#fff;position:relative;text-align:center;max-width:350px;margin:0 auto;z-index:45}
.triangleup a{color:#fff;display:block;font-size:16px;font-weight:700;position:absolute;top:0;padding:150px 0 33px;width:100%;left:2px}
#video-testimonial-generic .carousel-control.right{right:-15px}
#video-testimonial-generic .carousel-caption{padding:0 50px 0 0;left:0!important}
.service_test{margin-top:200px!important;font-size:30px}
.quote-service{font-size:1em;text-align:justify}
#video-testimonial-generic .carousel-control.left{left:-50px}
}*/

/*@media only screen and (min-width:1024px) and (max-width:1169px){

	.amd-banner-content{top:15%;left:0;position:absolute;right:0}
#caseStudyCarousel .carousel-caption h1{font-family:ostrich_sansmedium, serif;font-size:30px!important;margin:2.2em 0 0;padding:0}
.fa-5x{font-size:1.8em}
#caseStudyCarousel .carousel-caption p{font-size:14px;line-height:24px}
.amd-banner-content h1{font-size:35px!important}
.beaver{position:absolute;bottom:0;right:10%;width:90px;display:inline-block;z-index:999}

}*/

/*.ft-submit .emma-form-row.emma-cf{width:77%!important}
.ft-submit .emma-form-row.emma-cf input{padding-left:10px;padding-right:10px}
.emma-wrap{display:flex;display:-webkit-flex;flex-direction:column-reverse;-webkit-flex-direction:column-reverse;width:100%}
.ft-submit .emma-form-row-last{width:22%!important}
.ft-submit .emma-form-row-last #emma-form-submit{height:60px;border:3px solid #fff}
.ft-submit .emma-form-row-last #emma-form-submit:hover{border-color:#f78260}
#emma-subscription-form{display:block!important;width:100%}
.ft-submit .input-group{width:100%!important}*/
/*
.arabic_home_baner .desktop-img{position: relative;height:415px;}

@media (min-width: 1367px){
.arabic_home_baner .item.hombanr1 {
    height: 500px !important;
}
}*/
/*
@media (min-width: 1600px){

	.img_glry .col-md-6:first-child{padding-top: 18px;}
	.homban_carousel11 .col-sm-5.desktop-img img {
    margin-top: 130px;
}

}*/

/*@media (min-width: 1024px){
.arabic_home_baner.homban_carousel11 .col-sm-5.desktop-img img{
	width: 100%;
    position: absolute;
    left: 0;
    bottom: -40px;
    vertical-align: baseline;
}	
}*/