/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 @font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrichsans-medium-webfont.eot');
    src: url('../fonts/ostrichsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-medium-webfont.woff') format('woff'),
         url('../fonts/ostrichsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/ostrichsans-medium-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:'open sans',Arial,sans-serif;
}

hr {
    min-width: 100%;
    border-color: #cccccc;
    border-width: 3px;
    margin-left: -15px !important;
    margin-right: -15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #fff;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 3px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
a:focus {
    outline: medium none !important;
    outline-offset: -2px;
}
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: none;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}



header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: ostrich_sansmedium;
	font-size: 60pt !important;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 180px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}



.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}



.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
   background: #19272f;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}



.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

/*.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}*/

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}
.footer{background:#dbdbdb; padding-Top: 20PX;font-family: 'Josefin slab', sans-serif;}
.footer p{ font-size:18px;}
.btn-xl {
    padding: 15px 30px;
}
.footer-contact h2 {
    color: #666;    margin-bottom: 20px;
    font-size: 30px;font-family: 'ostrich_sansmedium';
}
ul.nav.navbar-nav.navbar-right li .glyphicon.glyphicon-menu-hamburger {
    border: 2px solid #FFF;
    padding: 11px;
    border-radius: 50%;
    margin-left: 15px;    color: white;
}
::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}



.main-nav-bar{padding-bottom: 3%;}
.header-content-inner a {
    font-size: 24px;    margin-left: 15px; margin-right: 15px;
    font-family: Josefin sans;
    text-transform: none;
    font-weight: 300;   border: 1px solid #fff;
    border-radius: 0px;
    padding: 5px 40px;
}
.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.container1{max-width:1340px; margin:0 auto;}
/*-----------home page tab start section-------------------------------*/
.home-tabs ul li a {font-size: 18px;font-family: open sans;color: #999;}
.tab-content.home-tab-content h3{color: #666666;    font-family: 'ostrich_sansmedium';font-size: 50px;margin-bottom: 35px;}
.tab-content.home-tab-content p {color: #666666;font-family: open sans;font-size: 16px;}
.home-tabs .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {color: #f78260;background: none;}
.home-tabs .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li a:hover {color: #f78260;    background: none;}
p.more {color: #f78260 !important;}
.hme-right-cnt {}
.tab-content.home-tab-content {margin-top: 60px;}
.home-tabs .nav.nav-pills > li {display: inline-block;float: none;}
.home-tabs .nav.nav-pills {text-align: center;}
.home-tabs .nav.nav-pills > li span {display: block;}
.home-tabs .nav.nav-pills > li span i {font-size: 40px;margin-bottom: 10%;}
span.res{background-image: url(../img/res-icon.png);}
.home-tabs span.res {background-image: url(../img/res-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;display: inline-block;margin: 0 auto;}
.home-tabs ul li.active>a .res:hover {background-image: url(../img/res-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li+li {margin-left: 29px;}
.home-tabs span.w-ap {background-image: url(../img/web-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;text-align: center;
display: inline-block;margin: 0 auto;}
.home-tabs span.m-ap {background-image: url(../img/mb-app-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;text-align: center;
display: inline-block;margin: 0 auto;}
.container.f-work h2 {font-size: 50px;font-family: 'ostrich_sansmedium';color: #666666; margin-bottom:30px;}
.home-tabs .nav-pills>li.active>a .res{background-image: url(../img/res-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li.active>a .w-ap{background-image: url(../img/web-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li.active>a .m-ap{background-image: url(../img/mb-app-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
/*-----------home page tab End section-------------------------------*/





/*-----------menu page  start section-------------------------------*/
.menu.masthead__menu.dropdown-menu{  -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out;
    position: absolute;
    top: 108px;
    /* left: 0; */
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(54, 59, 62, 0.97) !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}
.open .menu.masthead__menu.dropdown-menu {
    display: block;
	  -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out;
}
ul.nav.navbar-nav.navbar-right li {
    display: block;
    position: static;
	top:13%;
	  -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out;

}
.main-nav-bar.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background:none !important;}

.menu__list, .menu__list ul {
    list-style-type: none;  -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out;
    margin: 0;
    padding-left: 0;
}
.menu__item {
    border-bottom: 0;
    width: 20%;
    float: left;
    padding: 0;
}
.menu__link {
    font-size: 15px;
}
.menu {
    background: #363b3e;
    width: 100%;
}
.menu__list {
    padding: 20px 0;
    max-width: 800px;
    margin: 0 auto;
}
.menu__link {
    display: block;
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    line-height: 1.8;
}
.menu__title {
    font-size: 16px;
    cursor: default; color:#fff;
}
.menu__title {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/*-----------menu page  end section-------------------------------*/

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 3px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
.socials a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:14px auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:30%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:33px;
	text-align: center;
}
ul.social-network.social-circle {
    border-bottom: 3px solid #ccc;
    padding-bottom: 33px;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.test-sub {
 
    
    margin-top: 0px;
}
.carousel.slide {
    position: static;
}
.test2sub {
    font-size: 37px !important;
    text-transform: none !important;
}
.test2sub .btn.btn-primary {
    border: 1px solid #cccccc;
    border-radius: 0;
    color: #000000 !important;
    font-family: "Josefin slab",sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: none;
	padding: 6px 40px
}
.socials a {
 background-color: #666666;   
}
.row.contact-mb {
    border-bottom: 3px solid #ccc;
    margin-bottom: 60px;
}
.footer-contact {margin-top: 100px;
    color: #666;
background-color: #ededed;
	-webkit-box-shadow: inset 0 0 57px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 57px rgba(0,0,0,.1);
	box-shadow: inset 0 0 57px rgba(0,0,0,.1);
}
.footer-contact p{
  font-size:18px; font-family:'Josefin slab', sans-serif;
}
section#brand {  background: #f3f3f3;    padding-top: 60px;
}
#fade-quote-carousel .carousel-indicators, #social-hub .carousel-indicators {
  bottom: -20px;
}
#social-hub blockquote{border-left:none !important;}
.main-tbs {
    margin-bottom: 100px;
}
.carousel-inner p{color:#333333; font-family:open sans; font-weight:100;}
#fade-quote-carousel .carousel-indicators > li , #social-hub .carousel-indicators > li {
  background-color: #ccc;
  border: none;
  width:20px;
  height:20px;
}
.carousel-indicators .active{  background-color: #f78260 !important;}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.test2sub .btn.btn-primary:hover {
    border:1px solid #ee4b28;
    color: #ffffff !important;
}

.dcw-home-videos {
    padding: 0px;}
	.dcw-home-videos .col-lg-6.col-sm-6.col-xs-12 {
    padding: 0px;
}
.carousel-caption h1{color:#000; padding:15px;}
.owl-carousel .owl-item {
    float: left;
	
}
.testimonilas {
    margin-top: 75px;
}

.press-awards .row {
    margin-left: -20px !important;margin-right: 0px;
}
.press-awards {
    max-width: 1340px;    padding: 0px;
    margin: 0 auto;
}
.dcw-works{max-width:1340px; margin:0 auto;}
.ft-submit input {
	font-family: 'Josefin slab', sans-serif;
    height: 60px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 20px;border: none;
}
.ft-submit button { font-family:'Josefin slab', sans-serif;
    padding: 16px 25px;
    border-radius: 0px;
    background: none;
    border: 3px solid #fff;
    margin-left: 8px !important; margin-right:-15px;
}
.menu__item {
    border-bottom: 0;
    width: 20%;
    float: left;
    padding: 0;
}

.ft-submit {
    border-bottom: 3px solid #cccccc;
    padding-bottom: 16px;
    padding-left: 0;
}
.home-tabs ul li.active{margin-bottom: -79px;  border-bottom: 3px solid #f78260 !important;}
.home-tabs hr {
    margin-top: 0;
}
.home-tabs{margin-top:50px;}
#owl-demo .item{

  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;display:none;
}
.owl-pagination{display:none;}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media only screen and (min-width:768px) and (max-width: 1024px)  {
.home-tabs .nav-pills > li + li {
    margin-left: -3px;
}
.main-video img {
    max-height: 100%;
    min-height: 236px;
}
}
@media(max-width:767px) {
header .header-content .header-content-inner p{   margin-bottom: 0;}
.test-sub {
    width: 100%;
    float: none;
	margin-top: 20px;

}
.menu.masthead__menu.dropdown-menu.mbl-main-navigation {background-color:#rgba(54, 59, 62, 0.90) !important;
    position: static; margin:-8px 0 0;
}
.mbl-navs a.dropdown-toggle{display:none;}
.menu.masthead__menu.dropdown-menu{border-radius:0px;}
.menu__list {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}
.menu__item {
    border-bottom: 0 none;
    float: none;
    padding: 0;
    width: 100%;
}

.btn.btn-primary.btn-xl.page-scroll.mbl-seehow{ margin-top: 15px;}
.home-tabs .nav-pills > li + li {
    margin-left: 5px;
}
.mbl-rts{text-align:left;}
.footer-contact h2{font-size:28px;}
ul.social-network.social-circle {
    border-bottom: 3px solid #cccccc;
    padding-bottom: 13px;
}
.row.contact-mb {
    border-bottom: 3px solid #cccccc;
    margin-bottom: 00px;
}
.navbar-collapse.collapse.in .mbl-main-navigation{display:block}
.dsk-logo{display:none;}
a.navbar-brand.page-scroll.mbl-logo {
    padding: 0px;
}
.mbl-navs {
    background-color: rgba(23, 21, 28, 0.56);
}
}

@media(min-width:768px) {
.mbl-logo{display:none;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
.navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
background-color: #222222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 30px;    color: #fff;
		font-family: 'Josefin slab', sans-serif;
    }
}
@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
	
	
}
@media(min-width:1200px) {
.main-video img{height:399px;}
	
	
}
