@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{font-family: 'Work Sans', sans-serif;font-size: 14px;}
#mainNav.affix{background-color:#fff;box-shadow: 0 0 7px 1px rgba(0,0,0,0.7);}
.navbar-default .nav>li>a:focus{font-size:14px;font-weight:300;color:#1B1B1B;text-transform:uppercase}
.navbar-default .nav>li>a{font-size:14px;font-weight:400;color:#1B1B1B;text-transform:uppercase}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:hover {    color: #1B1B1B!important;}
header{background-image:url(../images/mainbg.jpg);background-repeat:no-repeat;background-size:cover;background-position:center;min-height:70px;width:100%;padding-top:60px;box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, .5);padding-bottom:20px}
ul.nav.navbar-nav.main_nav_bar {margin-top: 15px;}






.project_div {
	padding: 71px 0px;
	float: left;
	width: 100%;
	display: inline-block;
}

.project_div h4.work_hdng {
	font-size: 18px;
	margin: 0px;
	text-align: center;
	padding-bottom: 15px;
	color: #1B1B1B;
	padding-bottom:10px;
}

.project_div h3.mid_dcm {
	margin: 0px;
	font-size: 32px;
	text-align: center;
	padding-bottom: 32px;
	color: #1B1B1B;font-weight: normal;
}

.img_div img {
	width: 100%;
}

.img_div {
	border: 1px solid #ddd;
	background: #ffffff;
	transition: ease-in-out all 0.4s;
}

.img_div:hover {
box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.row.photo_gallery h4 {
	margin: 0px;
	text-transform: uppercase;
	color: #1B1B1B;
	padding-bottom: 5px;
	font-size: 14px;
}

.photo_des p {
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 12px;
}

.photo_des {
	padding: 30px 13px 15px;
	color: #1B1B1B;
	text-align: left;
}

.photo_des.plumbing h4 {
	line-height: 20px;
	padding-bottom: 0px;
}

.photo_des.plumbing {
	padding: 10px 13px 15px;
}

.pg_dcm_main {
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.plus_button {
	position: absolute;
	right: 21px;
	bottom: 76px;
}
.plus_button svg{font-size:14px;-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;}

.plus_button a {
	font-size: 24px;
	height: 50px;
	width: 50px;
	background: #FF6633;
	border: 1px solid #FF6633;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	color: #fff !important;
	display: inline-block;
	text-decoration: none !important;
	transition: ease-in-out all 0.4s;
}

.plus_button a:hover {
	box-shadow: 0 0 12px #000000;
}
.plus_button a:hover svg{
	 transition-duration: 0.5s;
	-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-o-transform:rotate(180deg);}


/*service css start here*/

.services_main {
	background: linear-gradient(142deg, #FF8B36 9%, #ca3636 100%);
	display: block;
	float: left;
	width: 100%;
}

.service_title p {
	font-size: 18px;
	text-align: center;
	font-family: "Work Sans";
	color: #FFFFFF;
	margin-bottom: 0px;
	padding-bottom: 16px;
}

.service_title h3 {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	text-align: center;
	padding-bottom: 240px;
}

.row_service .sub_service1 {
	padding: 21px 17px 22px;
	background: #fff;
	text-align: center;
	position: relative;
	transition: ease-in-out all 0.3s;
	border: 1px solid #eee;
}

.row_service .sub_service1:hover {
	box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.sub_service .img_service_dv img {
	height: 90%;
}

.sub_service .img_service_dv a {
	height: 124px;
	width: 124px;
	border: 1px solid #EBEBEB;

	background-color: #EBEBEB;
	line-height: 124px;
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	text-decoration: none !important;
}

.sub_service .content_service h4 {
	margin: 0px;
	color: #FF6633;
	font-family: "Work Sans";    font-weight: normal;
	font-size: 18px;
	padding: 30px 0px 17px 0px;
}

.sub_service .content_service p {
	margin-bottom: 0px;
	color: #1B1B1B;
	font-size: 14px;
	line-height: 24px;
	min-height: 120px;
	font-family: 'Varela Round', sans-serif;
}

.row_service {
	float: left;
	width: 100%;
	padding-bottom: 100px;
	margin-top: -204px;
	display: block;
	top: 130px;
}
.right_arrow {
    position: absolute;
    text-align: center;
    left: 42%;
    bottom: -25px;
    z-index: 1;
}
.right_arrow a {
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    width: 50px;
    background-color: #FF6633;
    display: block;
    line-height: 50px;
    color: #fff !important;
    border-radius: 100%;
    margin: 0 auto;
    transition: ease-in-out all 0.3s;
}
.sub_service.sub_emty {
    background: none;
    border: none;text-align: left;
}
.sub_service.sub_emty h4 {
    color: #fff;
    font-size: 18px;
}

.sub_service.sub_emty p {
    color: #fff;
    font-size: 34px;
    line-height: 45px;
    font-family: work sans;
}
.sticky_footermsg{display: none;}

.sub_service.sub_emty h4 {
    padding-top: 0px;
}
.sub_service.sub_emty {
    margin-top: 0px;
    padding-top: 0;
}
.sub_service.sub_emty .right_arrow {
    display: none;
}
/*service css end here*/








/*testimonial start here */


/*.device_div {
	float: left;
	width: 100%;
	display: inline-block;
	background: url("../images/Testimonial Background.png");

}*/

.mobile_img img {
	width: 100%;
}

.testimonial_dv h5 {
	font-family: "Work Sans";
	font-size: 18px;
	margin: 0px;
	margin-bottom: 15px;
}

.testimonial_dv h4 {
	font-size: 34px;
	font-family: "Work Sans";
	margin: 0PX;
	margin-bottom: 28px;
}

.testimonial_dv h3 {
	color: #1B1B1B;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 17px !important;
	margin: 0px;
}

.testimonial_dv p {
	color: #1B1B1B;
	font-family: "Varela Round";
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 46px;
}
ul.magento_erp {
	display: inline-block;
	margin-bottom: 37px;    padding-left: 0px;
}

ul.magento_erp li {
	list-style-type: none;
	display: inline-block;
	color: #4E4E4E;
}

ul.magento_erp li span {
	padding: 0px 4px;
}

ul.magento_erp li.icon {
	margin-right: 3px;
}

.button_call a {
	text-decoration: none !important;
	text-align: center;
	color: #1B1B1B !important;
	font-family: "Work Sans";
	font-size: 14px;
	padding: 8px 25px;
	border: 2px solid #4E4E4E;
	background-color: #FFFFFF;
	display: block;
	width: 171px;
	transition: ease-in-out all 0.5s;
	text-transform: uppercase;
}

.button_call a:hover {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.testimonial_dv {
	padding-left: 80px;
	margin: 92px 0px;
}

/*testimonial End here */




/*solutions start here css*/
.lappy_img img {
	width: 100%;
}

.lappy_img {
	margin-top: 80px !important;
}

.indus_creative {
	padding: 48px 0;
	float: left;
	width: 100%;
	background-color: #F6F6F6;
}
.indus_creative .row{margin:0;}

.digital_design_main .design_tittle h4 {
	margin: 0px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;
	padding-bottom: 15px;
}

.digital_design_main .design_tittle h3 {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	margin-bottom: 45px;
}

.design_content .media-left img {
	/*height: 35px;*/
	position: absolute;
	left: 17px;
	transform: translateY(-50%);
	top: 50%;
}

.design_content .media-left a {
	height: 70px;
	width: 70px;
	display: block;
	text-align: center;
	margin: 0 auto;
	position: relative;
/*	background: linear-gradient(142deg, #FF8B36 0%, #D45252 100%);*/
	border-radius: 100%;
	margin-right: 30px;
}

.design_content .media-left {
	padding-right: 0px !important;
}

.design_content .media-body h4 {
	color: #FF6633;
	font-family: "Work Sans";
	font-size: 18px;
}

.design_content .media-heading {
	margin-bottom: 0px;
	padding-bottom: 12px;
}

.design_content .media-body p {
	color: #1B1B1B;
	font-size: 14px;
	margin-bottom: 0px;
}

.design_content {
	margin-bottom: 30px;
}

.design_content.none_wala {
	margin-bottom: 0px;
}


/*solutions End here css*/


/*awards start here*/

.carousel_main {
	float: left;
	width: 100%;
	padding: 40px 0px 70px 0px;
	text-align: center;
}

.carousel_title h4 {
	margin: 0px;
	margin-bottom: 17px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;
}

.carousel_title h3 {
	margin: 0px;
	margin-bottom: 50px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 32px;
}
.owl-carousel1.owl-theme.carousal_one .item.col-md-2 {
    max-width: 190px;
}
/*awards End here*/




/*blog css start here*/

.blog_dcm {
    background: url(../img/blog_bg.jpg);
    float: left;
    width: 100%;
    display: inline-block;
    padding-top:30px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog_dcm .blog_title {
	text-align: center;
}

.blog_dcm .blog_title h3 {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;    font-weight: normal;
	margin: 0px;
	padding-bottom: 16px;
}

.blog_dcm .blog_title h2.blog {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	padding-bottom: 30px;
}

.column_blog {
	padding: 56px 40px 40px;
	border: 1px solid #A7A7A7;
	min-height: 340px;
	transition: ease-in-out all 0.3s;
}

.column_blog p {
	margin-bottom: 0px;
	font-family: "Work Sans";
	font-size: 11px;
	font-weight: 600;
	color: #1B1B1B;
	padding-bottom: 18px;
}

.column_blog h4 {
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 300;
	color: #1B1B1B;
	margin: 0px;
	min-height: 187px;
	text-transform: capitalize;
	line-height: 34px;
}

.column_blog a {
	text-transform: capitalize;
	text-decoration: underline;
	font-size: 16px;
	color: #4E4E4E !important;
}

.column_blog#homeblog1:hover p,
.column_blog#homeblog1:hover h4,
.column_blog#homeblog1:hover a {
	color: #fff !important;
}

.column_blog#homeblog2:hover p,
.column_blog#homeblog2:hover h4,
.column_blog#homeblog2:hover a {
	color: #fff !important;
}

.column_blog#homeblog3:hover p,
.column_blog#homeblog3:hover h4,
.column_blog#homeblog3:hover a {
	color: #fff !important;
}

.column_blog#homeblog4:hover p,
.column_blog#homeblog4:hover h4,
.column_blog#homeblog4:hover a {
	color: #fff !important;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-prev {
	font-size: 0px;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-prev:after {
	position: absolute;
	content: '\f053';
	font-family: FontAwesome;
	font-size: 30px;
	left: -15px;
	transform: translateY(-50%);
	top: 50%;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-next {
	font-size: 0px;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-next:before {
	position: absolute;
	content: '\f054';
	font-family: FontAwesome;
	font-size: 30px;
	right: -15px;
	transform: translateY(-50%);
	top: 50%;
}

.column_blog#homeblog1 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #FF6633;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog1:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #FF6633;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog1:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}
.right_arrow:hover:after{
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


.column_blog#homeblog2 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #338EFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog2:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #338EFF;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog2:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


/*second end*/

.column_blog#homeblog3{
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #1CBBB4;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog3:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #1CBBB4;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog3:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


/*third end*/

.column_blog#homeblog4 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #CC44D5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog4:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #CC44D5;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog4:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}

/*blog css end here*/




/*about us css*/
.abt_us_cnt {
    background: #2d2d2d;    color: #fff;
}
.about_us_sections .col-md-6.col-sm-6 {
    padding: 0px;
}
.about_us_sections .col-md-6.col-sm-6 {
    padding: 0px;
}
.abt_us_cnt {
    background: #000;
    color: #fff;
    height: 488px;
    padding: 125px 30px;
}
.about_us_sections h4 {
    font-size: 32px;
}
.about_us_sections h2 {
    margin-top: 0px;
    font-size: 18px;
}
/*about us end css*/



/*news letter*/
.email_templates {
	padding: 60px 0;
	float: left;
	width: 100%;
	display: inline-block;
}

.signup_templates_title {
	display: block;
	margin: 0 auto;
	width: 865px;
}

.signup_templates_title p {
	margin-bottom: 0px;
	font-size: 18px;
	color: #1B1B1B;
	text-align: center;
	padding-bottom: 17px;
}

.signup_templates_title h3 {
	margin: 0px;
	font-size: 32px;
	color: #1B1B1B;
	text-align: center;
}

.email_block input[type="email"] {
	width: 78%;
	margin-right: 10px;
	padding: 17px 10px;
	border: none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 18px;
	float: left;
}

.email_block input[type="email"]:focus {
	outline: none;
	box-shadow: none;
}

.email_block input[type="email"]::placeholder {
	color: #A7A7A7;
}

.email_block button {
	width: 129px;
	display: block;
	font-size: 14px;
	padding: 17px 10px;
	background-color: #1B1B1B;
	border: 1px solid #1B1B1B;
	color: #fff !important;
	text-transform: uppercase;
}

.email_block button:focus {
	outline: none;
	box-shadow: none;
}

.email_block {
	margin-top: 75px;
}

/*news letter End here*/





/*footer css start here*/


.footer_dcw {
	background-color: #1B1B1B;
	float: left;
	width: 100%;
	display: inline-block;
	color: #EBEBEB;
	font-family: "Work Sans";
}

.footer_dcw .footer_sub_one p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 0px;
	opacity: 0.5;
	font-weight: normal;
}

.contact_dcw h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 5px;
	position: relative;
	text-transform: uppercase;
	margin-left: 30px;
	opacity: 0.5;    line-height: normal;
    border: none;
}
.flipper ul li:nth-child(2) {
    border: 2px solid #000;
    padding: 6px 10px;
    transition: 0.3s all;
    cursor: pointer;
}
.flipper ul li {
    display: inline-block;
    padding-left: 10px;
    margin-top: 15px;
}
.contact_dcw p {
	margin-bottom: 0px;
	font-size: 16px;
	line-height: 20px;
	margin-left: 30px;
	opacity: 0.5;
}
footer{padding: 0px !important;}
.contact_dcw i {
	position: absolute;
	font-size: 26px;
	color: #EBEBEB;
	top: 0;
	opacity: 0.5;
	left: 0;
}

.footer_sub_two .col-md-4.col-sm-4.col-xs-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.row.row_footer {
	padding: 40px 0px 28px 0px;
}

.row.row_footer_base {
	border-top: 1px solid #4E4E4E;
}

.row.row_footer_base .privacy_content p {
	font-size: 16px;
	opacity: 0.5;
	margin-bottom: 0px;
	color: #EBEBEB;
}

.row.row_footer_base {
	padding: 20px 0px;
}

.footer_socila_icons {
	display: inline-block;
	float: right;
}

.footer_socila_icons ul {
	display: inline-block;
	margin-bottom: 0px;
}

.footer_socila_icons ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 12px;
}

.footer_socila_icons ul li a {
	text-decoration: none !important;
	color: #EBEBEB;
	opacity: 0.5;
	font-size: 18px;
	display: block;
}


/*footer css end here*/

/*Prasad style 13rd april */
.affix .flipper ul li:nth-child(2){border:2px solid #e87b2d;transition: 0.3s all;color:#fff; background:#e87b2d }
.affix .flipper ul li:nth-child(2):hover{border:2px solid #000;color:#fff;transition: 0.3s;} 
.affix .scrl-main img, .affix-top .scrl{display: block !important;}	
.home_orangenewbaner1{
	cursor: url(../images/Arrows.png), auto;
}
.down-arrow{position: absolute;bottom: 50px;}
.home_orangenewbaner1 .banner-list-item{text-align: left;margin-top: 55px;}
.home_orangenewbaner1 .banner-list-item ul{margin:0;padding:0;}
.home_orangenewbaner1 .banner-list-item ul li {list-style-type: none;display: inline-block;}
.home_orangenewbaner1 .banner-list-item ul li a {color:#1B1B1B !important;font-family: Varela Round;font-size: 24px;border-right: 2px solid #1B1B1B;padding:0px 20px;}

#carousel-example-generic .carousel-control{background: 0px;}
.project_div .pg_dcm_main .photo_des{min-height: 102px;}
.project_div .pg_dcm_main img{height:288px;}
.testimonial_section.device_div{
	float: left;
	width: 100%;
	display: inline-block;
	background: url("../images/Testimonial Background.png");
	background-repeat: no-repeat;
	margin-bottom: 95px;
	background-size: cover;
}
.row_footer{width:100%;}
.row_footer_base{width:100%;}
.abt_us_cnt a{border: 1px solid #fff;padding: 12px;color: #fff;margin-top: 0px;}
.abt_us_cnt p{margin-bottom: 70px !important}

.row_service .sub_service.sub_emty:hover{box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important}
.glyphicon.glyphicon-chevron-left{opacity: 0;}
.glyphicon.glyphicon-chevron-right{opacity: 0;}
.carousel-inner:hover .glyphicon.glyphicon-chevron-left {opacity: 1;}
.carousel-inner:hover .glyphicon.glyphicon-chevron-right{opacity: 1}
.blog_dcm h2{margin-top: 0px;margin-bottom: 15px;}
.blog_dcm .right_arrow a:hover{box-shadow: 0 0 6px #000000;}
.emma-wrap{position: relative;}
#emma-subscription-form{width:70% !important;}
.flipper ul li:first-child{padding-right: 20px;}
#emma-subscription-form #emma-email{border:0px;box-shadow:none;border-bottom: 1px solid #000;border-radius: 0px;margin-left: 50px;}
#emma-form-submit{position: absolute;
    right: 75px;
    top: -8px;
    padding: 11px;
    border-radius: 0px;
}
.about_us_sections.row{margin:0;}
#myModal{background: rgba(0.0.0.0.7) !important}
.about_us_sections .abt_us_cnt button{font-size:14px;color:#fff;background: #000;border-radius: 0px;border:1px solid #fff;}
.about_us_sections .abt_us_cnt button:focus{background: #000 !important;border-radius: 0px !important;border:1px solid #fff !important;}
.modal-header{border-bottom: 0px solid transparent !important}
.modal-dialog{width:100%;height:100%;margin-top:0;}
.modal-content{background: transparent;}
.modal-header .close{color:orange;font-size: 30px;opacity: 1;}
.content_service h4{color:#FF6633;}
/*.testimonial_section .container-fluid{padding-left:0;padding-right: 0;}*/

/*main service style*/
.service-sub-navigation{background: #EBEBEB;box-shadow: 0 0 12px 10px rgba(0.0.0.0.7);margin-top: 65px;}
.service-sub-navigation ul{margin:0;padding:0;text-align: center;}
.service-sub-navigation ul li{display: inline-block;list-style-type: none;padding:10px;padding-left: 30px;}
.service-sub-navigation ul li a{color:#1B1B1B;font-family: Work Sans;font-size: 14px;font-weight:noraml;}
.service-sub-navigation ul li a:hover{text-decoration: none;}


/*main-service-banner style*/
.main-service-banner .col-sm-5{padding-right: 20px;}
.main-service-banner .col-sm-5 img{width:100%;margin-top: 20px;}
.main-service-banner{background: linear-gradient(142deg, #FF8B36 15%, #c72929 100%);padding-top: 20px;padding-bottom: 150px;}
.main-service-banner h1{font-size: 65px;color: #fff;font-family: Work Sans;font-weight: 200;}
.main-service-banner p{font-size: 24px;color:#fff;font-family: Varela Round;padding-left: 5px;}
.main-service-banner .help{margin-top: 25px;margin-bottom: 55px;}
.content-section h3{font-family: Work Sans;color:#FF6633;font-size:34px;}
.content-section p{font-family: Varela Round;color:#1B1B1B;font-size:18px;margin-top: 15px;}
/*service-navigation-content*/
.service-navigation-content{margin-bottom: 165px;}
.service-navigation-content .container{padding-left:35px;}
.service-navigation-content .col-sm-4{background-color: #EBEBEB;margin-top:-125px;width:31.6%;margin-right: 22px; box-shadow: 0 1px 2px rgba(0,0,0,0.25);padding:10px;}
.service-navigation-content .col-sm-4 .content-section{background: #FFFFFF;padding:30px;padding-top:15px;box-shadow: 0 0 4px rgba(0,0,0,0.25)}
.service-content-footer{padding:26px;}
.service-content-footer h4{color:#FF6633 !important;margin-bottom:20px;font-family: Work Sans !important;font-size:18px !important;}
.service-content-footer{font-family: Varela Round;color: #1B1B1B;font-size: 16px;}
.service-content-footer svg{font-size:11px;}
.service-content-footer .col-sm-12{margin-bottom: 10px;}
/*Lets work style*/
.work-together{background-image:url(../images/LetsworkBanner.jpg);padding-top:25px;padding-bottom: 25px;background-size: cover;background-repeat: no-repeat;}
.work-together .sub-container{width:1087px; margin:0 auto;}
.work-together .col-sm-8 h1{font-size:65px !important;color:#FFFFFF;font-family: Work Sans;font-weight: 200;}
.work-together .col-sm-8 p{font-family: Varela Round;color:#FFFFFF;font-size:18px; }
.work-together .col-sm-8 .touch a{margin-top: 20px;font-family: Varela Round;color:#FFFFFF;font-size:18px;text-decoration: underline;}
.work-together .col-sm-4 img{margin-top: -110px;}
footer .privacy_content sup{font-size: 10px;top:-0.6rem;}
.progressCounter{height: 60px;
    width: 60px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    position: fixed;
    bottom:100px;
    border: 4px solid #EA6E30;
    z-index: 3;
    right: 25px;
    text-align: center;
    line-height: 52px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.7)
}


/*home page responsive*/

@media(max-width: 1365px){
	.flipper{position: absolute;right:-56px;}
	.navbar-header{width:225px;}
	a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-left: 15px !important;}
}

@media(min-width: 1280px){
	#mainNav .navbar-nav>li>a{padding:10px 13px !important;}
}

@media(max-width: 1280px){
	.sub_service1 .content_service{min-height: 200px;}
	.abt_us_cnt{height: 418px;padding: 60px 30px;}
	.column_blog{min-height: 380px;}
}

@media(max-width: 1159px){
	.project_div .pg_dcm_main img{height:180px;}
	.project_div .pg_dcm_main .photo_des{min-height: 125px;}
	.plus_button{bottom:98px;}
	a.navbar-brand.page-scroll.scrl-main.dsk-logo{margin-top: 5px !important;}
	
	.flipper ul li:nth-child(2){padding:4px 3px;font-size: 11px;}
	.flipper ul li{margin-top: 22px;}
	.sub_service1 .content_service{min-height:250px;}
	.column_blog{min-height:340px;padding:37px 24px 10px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1025px){
	.navbar-default .nav>li>a {padding:15px 6px !important;} 
}

@media(min-width: 1025px){
	.item.hombanr1{height: 100% !important;}
}
@media(max-width:1024px){
	header{padding-top: 0;}
	.topcallreq_sec{background: transparent !important;}
	.topcallreq_sec .top_call a.top_phone{background: none !important;color:#fff;padding-left: 0 !important;}
	 a.top{color:#fff;}
	 .topcallreq_sec .top_rq{
	 	background-color:#fff !important;
	 	border:1px solid #000;
	 	border-radius: 0px !important; 
	 }

	 .blue-txt-btn a{color:#000 !important;font-weight: normal !important;}
	 .navbar .container{width:100%; padding:0;}
	  .menu-rt {width: 42px !important;
    height: 42px;
    text-align: center !important;
    background: #FF6630 !important;
    border-radius: 50%;
    margin-right: 12px !important;
    margin-top: 5px !important;
}
    .navbar{background: #fff !important}
    .topcallreq_sec{background:#e68353 !important}
    a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-top: 5px !important;}
}