@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{font-family: 'Work Sans', sans-serif;font-size: 14px;}
#mainNav.affix{background-color:#fff;box-shadow: 0 0 7px 1px rgba(0,0,0,0.7);}
.navbar-default .nav>li>a:focus{font-size:14px;font-weight:300;color:#1B1B1B;text-transform:uppercase}
.navbar-default .nav>li>a{font-size:14px;font-weight:400;color:#1B1B1B;text-transform:uppercase}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:hover {    color: #1B1B1B!important;}
header{background-image:url(../images/mainbg.jpg);background-repeat:no-repeat;background-size:cover;background-position:center;min-height:70px;width:100%;padding-top:60px;box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, .5);padding-bottom:20px}
ul.nav.navbar-nav.main_nav_bar {margin-top: 15px;}
.service-sub-menu ul li:hover a{color: #FF6633 !important}

.home header{z-index: 4;}


.project_div {
	padding: 71px 0px;
	float: left;
	width: 100%;
	display: inline-block;background: #ebebeb;
}

.project_div h4.work_hdng {
	font-size: 18px;
	margin: 0px;
	text-align: center;
	padding-bottom: 15px;
	color: #1B1B1B;
	padding-bottom:10px;
}

.project_div h3.mid_dcm {
	margin: 0px;
	font-size: 32px;
	text-align: center;
	padding-bottom: 32px;
	color: #1B1B1B;font-weight: normal;
}

.img_div img {
	width: 100%;
}

.img_div {
	/*border: 1px solid #ddd;*/
	background: #ffffff;
	transition: ease-in-out all 0.4s;
}

.img_div:hover {
box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.row.photo_gallery h4 {
	margin: 0px;
	text-transform: uppercase;
	color: #1B1B1B;
	padding-bottom: 5px;
	font-size: 14px;
}

.photo_des p {
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 12px;
}

.photo_des {
	padding: 30px 13px 15px;
	color: #1B1B1B;
	text-align: left;
}

.photo_des.plumbing h4 {
	line-height: 20px;
	padding-bottom: 0px;
}

.photo_des.plumbing {
	padding: 10px 13px 15px;
}

.pg_dcm_main {
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.plus_button {
	position: absolute;
	right: 25px;
	bottom: 80px;
}
.plus_button svg{font-size:14px;-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;}

.plus_button a {
	font-size: 24px;
	height: 50px;
	width: 50px;
	background: #FF6633;
	border: 1px solid #FF6633;
	line-height: 44px;
	text-align: center;
	border-radius: 100%;
	color: #fff !important;
	display: inline-block;
	text-decoration: none !important;
	transition: ease-in-out all 0.4s;
}

.plus_button a:hover, .right_arrow a:hover {
	box-shadow:0 2px 6px rgba(0,0,0,0.5);
}


.plus_button .svg-inline--fa.fa-w-14{width: .775em !important;}
.plus_button a:hover svg{
	 transition-duration: 0.5s;
	-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-o-transform:rotate(180deg);}


/*service css start here*/

.services_main {
	background: linear-gradient(142deg, #FF8B36 9%, #ca3636 100%);
	display: block;
	float: left;
	width: 100%;
}

.service_title p {
	font-size: 18px;
	text-align: center;
	font-family: "Work Sans";
	color: #FFFFFF;
	margin-bottom: 0px;
	padding-bottom: 16px;
}

.service_title h3 {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	text-align: center;
	padding-bottom: 240px;
}

.row_service .sub_service1 {
	padding: 21px 17px 22px;
	background: #fff;
	text-align: center;
	position: relative;
	transition: ease-in-out all 0.3s;
	border: 1px solid #eee;min-height: 348px;
}
.row_service .content_service p{font-family: 'Varela Round', sans-serif;}
.row_service .sub_service1:hover {
	box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.25);
}
.row_service .sub_service1:hover .right_arrow a{box-shadow:0 2px 6px rgba(0,0,0,0.5);}
.sub_service .img_service_dv img {
	height: 90%;
}

.sub_service .img_service_dv a {
	height: 124px;
	width: 124px;
	border: 1px solid #EBEBEB;

	background-color: #EBEBEB;
	line-height: 124px;
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	text-decoration: none !important;
}

.sub_service .content_service h4 {
	margin: 0px;
	color: #FF6633;
	font-family: "Work Sans";    font-weight: normal;
	font-size: 18px;
	padding: 30px 0px 17px 0px;
}

.sub_service .content_service p {
	margin-bottom: 0px;
	color: #1B1B1B;
	font-size: 14px;
	line-height: 24px;
	min-height: 120px;
	font-family: 'Varela Round', sans-serif;
}

.row_service {
	float: left;
	width: 100%;
	padding-bottom: 100px;
	margin-top: -210px;
	display: block;
	top: 130px;
}
.right_arrow {
    position: absolute;
    text-align: center;
    left: 42%;
    bottom: -25px;
    z-index: 1;
}
.right_arrow a {
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    width: 50px;
    background-color: #FF6633;
    display: block;
    line-height: 50px;
    color: #fff !important;
    border-radius: 100%;
    margin: 0 auto;
    transition: ease-in-out all 0.3s;
}
.blog_dcm .right_arrow{bottom: -9px;}
.sub_service.sub_emty {
    background: none;
    border: none;text-align: left;
}
.sub_service.sub_emty h4 {
    color: #fff;
    font-size: 18px;
}

.sub_service.sub_emty p {
    color: #fff;
    font-size: 34px;
    line-height: 45px;
    font-family: work sans;
}
.sticky_footermsg{display: none;}

.sub_service.sub_emty h4 {
    padding-top: 0px;
}
.sub_service.sub_emty {
    margin-top: 0px;
    padding-top: 0;
}
.sub_service.sub_emty .right_arrow {
    display: none;
}
/*service css end here*/








/*testimonial start here */


/*.device_div {
	float: left;
	width: 100%;
	display: inline-block;
	background: url("../images/Testimonial Background.png");

}*/

.mobile_img img {
	width: 100%;
}

.testimonial_dv h5 {
	font-family: "Work Sans";
	font-size: 18px;
	margin: 0px;
	margin-bottom: 15px;
}

.testimonial_dv h4 {
	font-size: 34px;
	font-family: "Work Sans";
	margin: 0PX;
	margin-bottom: 28px;
}

.testimonial_dv h3 {
	color: #1B1B1B;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 17px !important;
	margin: 0px;
}

.testimonial_dv p {
	color: #1B1B1B;
	font-family: "Varela Round" !important;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 46px;
}
ul.magento_erp {
	display: inline-block;
	margin-bottom: 37px;    padding-left: 0px;
}

ul.magento_erp li {
	list-style-type: none;
	display: inline-block;
	color: #4E4E4E;
}

ul.magento_erp li span {
	padding: 0px 4px;
}

ul.magento_erp li.icon {
	margin-right: 3px;
}

.button_call a {
	text-decoration: none !important;
	text-align: center;
	color: #1B1B1B !important;
	font-family: "Work Sans";
	font-size: 14px;
	padding: 8px 25px;
	border: 2px solid #4E4E4E;
	background-color: #FFFFFF;
	display: block;
	width: 171px;
	transition: ease-in-out all 0.5s;
	text-transform: uppercase;box-shadow: 0 3px 6px 1px rgba(0,0,0,0.25);
}

.button_call a:hover {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.testimonial_dv {
	padding-left: 50px;
	margin: 92px 0px;
}

/*testimonial End here */




/*solutions start here css*/
.lappy_img img {
	width: 100%;
}

.lappy_img {
	margin-top: 60px !important;
}

.indus_creative {
	padding: 48px 0;
	float: left;
	width: 100%;
	background-color: #F6F6F6;
}
.indus_creative .row{margin:0;}

.digital_design_main .design_tittle h4 {
	margin: 0px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;
	padding-bottom: 15px;
}

.digital_design_main .design_tittle h3 {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	margin-bottom: 45px;
}

.design_content .media-left img {
	/*height: 35px;*/
	position: absolute;
	left: 17px;
	transform: translateY(-50%);
	top: 28%;
}

.design_content .media-left a {
	height: 70px;
	width: 70px;
	display: block;
	text-align: center;
	margin: 0 auto;
	position: relative;
/*	background: linear-gradient(142deg, #FF8B36 0%, #D45252 100%);*/
	border-radius: 100%;
	margin-right: 30px;
}

.design_content .media-left {
	padding-right: 0px !important;
}

.design_content .media-body h4 {
	color: #FF6633;
	font-family: "Work Sans";
	font-size: 18px;
}

.design_content .media-heading {
	margin-bottom: 0px;
	padding-bottom: 12px;
}

.design_content .media-body p {
	color: #1B1B1B;
	font-size: 14px;
	margin-bottom: 0px;
}

.design_content {
	margin-bottom: 30px;
}

.design_content.none_wala {
	margin-bottom: 0px;
}


/*solutions End here css*/


/*awards start here*/

.carousel_main {
	float: left;
	width: 100%;
	padding: 40px 0px 70px 0px;
	text-align: center;
}

.carousel_title h4 {
	margin: 0px;
	margin-bottom: 17px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;
}

.carousel_title h3 {
	margin: 0px;
	margin-bottom: 50px;
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 32px;
}
.owl-carousel1.owl-theme.carousal_one .item.col-md-2 {
    max-width: 190px;
}
/*awards End here*/




/*blog css start here*/

.blog_dcm {
    background: url(../img/blog_bg.jpg);
    float: left;
    width: 100%;
    display: inline-block;
    padding-top:30px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;overflow: hidden;background-position: center;
}

.blog_dcm .blog_title {
	text-align: center;
}

.blog_dcm .blog_title h3 {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 18px;    font-weight: normal;
	margin: 0px;
	padding-bottom: 16px;
}

.blog_dcm .blog_title h2.blog {
	color: #1B1B1B;
	font-family: "Work Sans";
	font-size: 34px;
	margin: 0px;
	padding-bottom: 30px;
}

.column_blog {
	padding: 56px 40px 40px;
	border: 1px solid #A7A7A7;
	min-height: 340px;
	transition: ease-in-out all 0.3s;
}

.column_blog p {
	margin-bottom: 0px;
	font-family: "Work Sans";
	font-size: 11px;
	font-weight: 600;
	color: #1B1B1B;
	padding-bottom: 18px;
}

.column_blog h4 {
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 300;
	color: #1B1B1B;
	margin: 0px;
	min-height: 187px;
	text-transform: capitalize;
	line-height: 34px;
}

.column_blog a {
	text-transform: capitalize;
	text-decoration: underline;
	font-size: 16px;
	color: #4E4E4E !important;
}

.column_blog#homeblog1:hover p,
.column_blog#homeblog1:hover h4,
.column_blog#homeblog1:hover a {
	color: #fff !important;
}

.column_blog#homeblog2:hover p,
.column_blog#homeblog2:hover h4,
.column_blog#homeblog2:hover a {
	color: #fff !important;
}

.column_blog#homeblog3:hover p,
.column_blog#homeblog3:hover h4,
.column_blog#homeblog3:hover a {
	color: #fff !important;
}

.column_blog#homeblog4:hover p,
.column_blog#homeblog4:hover h4,
.column_blog#homeblog4:hover a {
	color: #fff !important;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-prev {
	font-size: 0px;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-prev:after {
	position: absolute;
	content: '\f053';
	font-family: FontAwesome;
	font-size: 30px;
	left: -15px;
	transform: translateY(-50%);
	top: 50%;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-next {
	font-size: 0px;
}

.owl-carousel.owl-theme.blog.owl-loaded.owl-drag .owl-nav .owl-next:before {
	position: absolute;
	content: '\f054';
	font-family: FontAwesome;
	font-size: 30px;
	right: -15px;
	transform: translateY(-50%);
	top: 50%;
}

.column_blog#homeblog1 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #FF6633;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog1:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #FF6633;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog1:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}
.right_arrow:hover:after{
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


.column_blog#homeblog2 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #338EFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog2:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #338EFF;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog2:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


/*second end*/

.column_blog#homeblog3{
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #1CBBB4;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog3:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #1CBBB4;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog3:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}


/*third end*/

.column_blog#homeblog4 {
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: ease-in-out all 0.6s;
	z-index: 1;
	border-top: 3px solid #CC44D5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.column_blog#homeblog4:after {
	content: '';
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #CC44D5;
	top: -100%;
	position: absolute;
	display: block;
	transition: ease-in-out all 0.6s;
	z-index: -1;
}

.column_blog#homeblog4:hover:after {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	top: 0;
}

/*blog css end here*/




/*about us css*/
.abt_us_cnt {
    background: #2d2d2d;    color: #fff;
}
.about_us_sections .col-md-6.col-sm-6 {
    padding: 0px;
}
.about_us_sections .col-md-6.col-sm-6 {
    padding: 0px;
}
.abt_us_cnt {
    background: #000;
    color: #fff;
    height: 488px;
    padding: 125px 30px;
}
.about_us_sections h4 {
    font-size: 32px;
}
.about_us_sections h2 {
    margin-top: 0px;
    font-size: 18px;
}
/*about us end css*/



/*news letter*/
.email_templates {
	padding: 60px 0;
	float: left;
	width: 100%;
	display: inline-block;
}

.signup_templates_title {
	display: block;
	margin: 0 auto;
	/*width: 865px;*/
	max-width: 865px;
}

.signup_templates_title p {
	margin-bottom: 0px;
	font-size: 18px;
	color: #1B1B1B;
	text-align: center;
	padding-bottom: 7px;
}

.signup_templates_title h3 {
	margin: 0px;
	font-size: 32px;
	color: #1B1B1B;
	text-align: center;
}

.email_block input[type="email"] {
	width: 78%;
	margin-right: 10px;
	padding: 17px 10px;
	border: none;
	border-bottom: 1px solid #A7A7A7;
	font-size: 18px;
	float: left;
}

.email_block input[type="email"]:focus {
	outline: none;
	box-shadow: none;
}

.email_block input[type="email"]::placeholder {
	color: #A7A7A7;
}

.email_block button {
	width: 129px;
	display: block;
	font-size: 14px;
	padding: 17px 10px;
	background-color: #1B1B1B;
	border: 1px solid #1B1B1B;
	color: #fff !important;
	text-transform: uppercase;
}

.email_block button:focus {
	outline: none;
	box-shadow: none;
}

.email_block {
	margin-top: 75px;
}

/*news letter End here*/





/*footer css start here*/


.footer_dcw {
	background-color: #1B1B1B;
	float: left;
	width: 100%;
	display: inline-block;
	color: #EBEBEB;
	font-family: "Work Sans";
}

.footer_dcw .footer_sub_one p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 0px;
	opacity: 0.5;
	font-weight: normal;
}

.contact_dcw h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 5px;
	position: relative;
	text-transform: uppercase;
	margin-left: 30px;
	opacity: 0.5;    line-height: normal;
    border: none;
}
.flipper ul li:nth-child(2) {
    /*border: 2px solid #000;*/
    	border: 2px solid #000;
    padding: 6px 10px;
    transition: 0.3s all;
    cursor: pointer;color: #000;
}
.flipper ul li {
    display: inline-block;
    padding-left: 10px;
    margin-top: 15px;
}
.contact_dcw p {
	margin-bottom: 0px;
	font-size: 16px;
	line-height: 20px;
	margin-left: 30px;
	opacity: 0.5;
}
footer{padding: 0px !important;}
.contact_dcw i {
	position: absolute;
	font-size: 26px;
	color: #EBEBEB;
	top: 0;
	opacity: 0.5;
	left: 0;
}

.footer_sub_two .col-md-4.col-sm-4.col-xs-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.row.row_footer {
	padding: 40px 0px 28px 0px;
}

.row.row_footer_base {
	border-top: 1px solid #4E4E4E;
}

.row.row_footer_base .privacy_content p {
	font-size: 16px;
	opacity: 0.5;
	margin-bottom: 0px;
	color: #EBEBEB;
}

.row.row_footer_base {
	padding: 20px 0px;
}

.footer_socila_icons {
	display: inline-block;
	float: right;
}

.footer_socila_icons ul {
	display: inline-block;
	margin-bottom: 0px;
}

.footer_socila_icons ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 12px;
}

.footer_socila_icons ul li a {
	text-decoration: none !important;
	color: #EBEBEB;
	opacity: 0.5;
	font-size: 18px;
	display: block;
}


/*footer css end here*/

/*Prasad style 13rd april */
.affix .flipper ul li:nth-child(2){border:2px solid #e87b2d;transition: 0.3s all;color:#fff; background:#e87b2d; }
.affix .flipper ul li:nth-child(2):hover{border:2px solid #FF6633;color:#fff;transition: 0.3s;color: #FF6633;} 
.affix .scrl-main img, .affix-top .scrl{display: block !important;}	
.home_orangenewbaner1{
	cursor: url(../images/Arrows.png), auto;
}
.down-arrow{position: absolute;bottom: 50px;}
.home_orangenewbaner1 .banner-list-item{text-align: left;margin-top: 55px;}
.home_orangenewbaner1 .banner-list-item ul{margin:0;padding:0;}
.home_orangenewbaner1 .banner-list-item ul li {list-style-type: none;display: inline-block;}
.home_orangenewbaner1 .banner-list-item ul li a {color:#1B1B1B !important;font-family: Varela Round;font-size: 24px;border-right: 2px solid #1B1B1B;padding:0px 20px;}

#carousel-example-generic .carousel-control{background: 0px;}
.project_div .pg_dcm_main .photo_des{min-height: 102px;}
.project_div .pg_dcm_main img{height:288px;}
.testimonial_section.device_div{
	float: left;
	width: 100%;
	display: inline-block;
	background: url("../images/Testimonial Background.png");
	background-repeat: no-repeat;
	margin-bottom: 95px;
	background-size: cover;
}
.row_footer{width:100%;}
.row_footer_base{width:100%;}
.abt_us_cnt a{border: 1px solid #fff;padding: 12px;color: #fff;margin-top: 0px;}
.abt_us_cnt p{margin-bottom: 70px !important}

.row_service .sub_service.sub_emty:hover{box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important}
.glyphicon.glyphicon-chevron-left{opacity: 0;}
.glyphicon.glyphicon-chevron-right{opacity: 0;}
.carousel-inner:hover .glyphicon.glyphicon-chevron-left {opacity: 1;}
.carousel-inner:hover .glyphicon.glyphicon-chevron-right{opacity: 1}
.blog_dcm h2{margin-top: 0px;margin-bottom: 15px;}
.blog_dcm .right_arrow a:hover{box-shadow: 0 2px 6px #000000;}
.emma-wrap{position: relative;}
#emma-subscription-form{width:70% !important;}
.flipper ul li:first-child{padding-right: 20px;}
#emma-subscription-form #emma-email{border:0px;box-shadow:none;border-bottom: 1px solid #000;border-radius: 0px;margin-left: 50px;}
#emma-form-submit{position: absolute;
    right: 75px;
    top: -8px;
    padding: 11px;
    border-radius: 0px;
}
.about_us_sections.row{margin:0;}
#myModal{background: rgba(0.0.0.0.7) !important}
.about_us_sections .abt_us_cnt button{font-size:14px;color:#fff;background: #000;border-radius: 0px;border:1px solid #fff;}
.about_us_sections .abt_us_cnt button:focus{background: #000 !important;border-radius: 0px !important;border:1px solid #fff !important;}
.modal-header{border-bottom: 0px solid transparent !important}
.modal-dialog{width:100%;height:100%;margin-top:0;}
.modal-content{background: transparent;}
.modal-header .close{color:orange;font-size: 30px;opacity: 1;}
.content_service h4{color:#FF6633;}
/*.testimonial_section .container-fluid{padding-left:0;padding-right: 0;}*/

/*main service style*/
.service-sub-navigation{background: #EBEBEB;box-shadow: 0 0 12px 10px rgba(0.0.0.0.7);margin-top: 65px;}
.service-sub-navigation ul{margin:0;padding:0;text-align: center;}
.service-sub-navigation ul li{display: inline-block;list-style-type: none;padding:10px;padding-left: 30px;}
.service-sub-navigation ul li a{color:#1B1B1B;font-family: Work Sans;font-size: 14px;font-weight:noraml;}
.service-sub-navigation ul li a:hover{text-decoration: none;}


/*main-service-banner style*/
.main-service-banner .col-sm-5{padding-right: 20px;}
.main-service-banner .col-sm-5 img{width:100%;margin-top: 20px;}
.main-service-banner{background: linear-gradient(142deg, #FF8B36 15%, #c72929 100%);padding-top: 30px;padding-bottom: 180px;}
.main-service-banner h1{font-size: 65px;color: #fff;font-family: Work Sans;font-weight: 200;margin-bottom: 40px;}
.main-service-banner p{font-size: 24px;color:#fff;font-family: Varela Round;padding-left: 5px;font-weight: normal; line-height: 30px;}
.main-service-banner .help{margin-top: 25px;margin-bottom: 5px;}
.content-section h3{font-family: Work Sans;color:#FF6633;font-size:34px;}
.content-section p{font-family: Varela Round;color:#1B1B1B;font-size:18px;margin-top: 15px;}
/*service-navigation-content*/
/*.fluid_body .max-container, .fluid_body .col-sm-12, .fluid_body .col-sm-5{padding: 0 !important;}
.fluid_body .col-sm-7{padding-left: 150px;}*/
.service-navigation-content{margin-bottom: 165px;}
.service-navigation-content .container{padding-left:35px;}
.service-navigation-content .col-sm-4{background-color: #EBEBEB;margin-top:-125px;width:31.6%;margin-right: 22px; box-shadow: 0 1px 2px rgba(0,0,0,0.25);padding:10px;}
.service-navigation-content .col-sm-4 .content-section{background: #FFFFFF;padding:30px;padding-top:15px;box-shadow: 0 0 4px rgba(0,0,0,0.25)}
.service-content-footer{padding:26px;}
.service-content-footer h4{color:#FF6633 !important;margin-bottom:20px;font-family: Work Sans !important;font-size:18px !important;}
.service-content-footer{font-family: Varela Round;color: #1B1B1B;font-size: 16px;}
.service-content-footer svg{font-size:11px;}
.service-content-footer .col-sm-12{margin-bottom: 10px;}
/*Lets work style*/
.work-together{background-image:url(../images/LetsworkBanner.jpg);padding-top:25px;padding-bottom: 25px;background-size: cover;background-repeat: no-repeat;}
.work-together .sub-container{max-width:1150px; margin:0 auto;}
.work-together .col-sm-8 h1{font-size:65px !important;color:#FFFFFF;font-family: Work Sans;font-weight: 200;}
.work-together .col-sm-8 p{font-family: Varela Round;color:#FFFFFF;font-size:18px; }
.work-together .col-sm-8 .touch a{margin-top: 20px;font-family: Varela Round;color:#FFFFFF;font-size:18px;text-decoration: underline;}
.work-together .col-sm-4 img{margin-top: -78px;margin-right: 14px; width: 100%;}
.work-together .sub-container .col-sm-8{padding: 0;}
.work-together .sub-container .work-together-content{padding: 0 10px;}
footer .privacy_content sup{font-size: 10px;top:-0.6rem;}
.progressCounter{height: 60px; width: 60px; background: #fff; color: #000; border-radius: 50%; position: fixed; bottom:100px; border: 4px solid #EA6E30; /*z-index: 3;*/ z-index: 1; right: 25px; text-align: center; line-height: 52px;
    /*box-shadow: 0 0 9px 1px rgba(0,0,0,0.7)*/
}
.row.photo_gallery {overflow: hidden;margin: 0;}
.owl-carousel_gal .owl-item, .owl-carousel_work .owl-item{float: left;padding: 15px;}
.owl-carousel_work .owl-item{padding: 15px 13px;}
.owl-carousel_work .owl-item{position: relative;}
.photo_gallery .owl-nav, .owl-carousel_work .owl-nav{display: none}
.about_us_sections.row .containers{position: relative;display:flex;-webkit-display:flex;-moz-display:flex;-ms-display:flex;-o-display:flex;}
.about_us_sections.row .media-object{height:100%;    object-fit: cover;}

.about_us_sections.row .abt_us_cnt{height:100%;}
.about_us_sections.row .mob_img{height: auto; object-fit: cover;}
.about_us_sections.row .mob_img img{width: 100%}

.row.row_footer_base .privacy_content p{ color: #EBEBEB; float: left; border-right: solid 2px #EBEBEB; opacity: 0.5; margin-bottom: 0px;line-height: normal;margin-top: 5px; color: #EBEBEB;font-size: 16px; padding-right: 15px;margin: 0;}
.privacy_content ul{padding-left:5px; float: left;}
.privacy_content ul li{float: left;line-height: normal;}
.privacy_content ul li a{    border-right: solid 2px #EBEBEB; opacity: 0.5; margin-bottom: 0px; color: #EBEBEB; padding: 0 15px; line-height: normal; font-size: 16px;}


/*---------Portfolio--------*/
.portfolio-filter-view ul.work-nav{text-align: left;}
.portfolio-filter-view ul.work-nav li a{padding-left: 35px; padding: 15px 15px; border: 0;color: #8a8a8a;position: relative;}
.portfolio-filter-view ul.work-nav li a:before{content: 'x'; font-size: 12px; color: #000; opacity: 0; visibility: hidden; border: solid 1px #000; padding: 0; width: 15px; height: 16px; display: block; position: absolute; left: -5px; line-height: 13px;
    margin-top: 3px;}
.portfolio-filter-view ul.work-nav li a#all{background: none; color: #000; padding: 8px 29px; border: solid 2px #000; margin-bottom: 25px;}
.portfolio-filter-view ul.work-nav li a#all:before{content: ''; opacity: 0; visibility: hidden;}
.portfolio-filter-view ul.work-nav li a.active,
.portfolio-filter-view ul.work-nav li a.ac,
.portfolio-filter-view ul.work-nav li a:hover,
.portfolio-filter-view ul.work-nav>li>a:focus, 
.portfolio-filter-view ul.work-nav>li>a:hover{background: none;border:0;color: #000;}

.portfolio-filter-view ul.work-nav>li>a:hover:before, .portfolio-filter-view ul.work-nav>li>a.ac:before{opacity: 1; visibility: visible;}
.filtertags .dropdown-menu-right{left: 0}
.filtertags .dropdown-menu{min-width: 200px;}
/*home page responsive*/
.design_tittle{display: block;}
.mob_hide .design_tittle{display: none;}








@media(max-width: 1365px){
	.flipper{position: absolute;right:-56px;}
	.navbar-header{width:225px;}
	a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-left: 15px !important;}
}

@media(min-width: 1280px){
	#mainNav .navbar-nav>li>a{padding:10px 13px !important;}
}

@media(max-width: 1280px){
	.sub_service1 .content_service{min-height: 200px;}
	.abt_us_cnt{height: 418px;padding: 60px 30px;}
	.column_blog{min-height: 380px;}
}

@media(max-width: 1159px){
	.project_div .pg_dcm_main img{/*height:180px;*/height:auto;}
	.project_div .pg_dcm_main .photo_des{min-height: 125px;}
	.plus_button{bottom:98px;}
	a.navbar-brand.page-scroll.scrl-main.dsk-logo{margin-top: 5px !important;}
	
	.flipper ul li:nth-child(2){padding:4px 3px;font-size: 11px;}
	.flipper ul li{margin-top: 22px;}
	.sub_service1 .content_service{min-height:250px;}
	.column_blog{min-height:340px;padding:37px 24px 10px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1025px){
	.navbar-default .nav>li>a {padding:15px 6px !important;} 
}

@media(min-width: 1025px){
	.item.hombanr1{height: 100% !important;margin-top: 4px;}
	#mainNav{box-shadow: 0 0 7px 1px rgba(0,0,0,0.7);}
	
}

@media only screen and (max-width:1199px){

.service-navigation-content .col-md-4:last-child{margin-right: 0;}
/**-------Services-------------*/
 .service-navigation-content .container{padding-left: 0;padding-right: 0;}
.service-navigation-content .col-sm-4{margin-right:15px;}    
.service-navigation-content .col-sm-4 .content-section{padding: 15px 10px;}
.main-service-banner h1{font-size: 40px !important}
.main-service-banner p{font-size: 18px; line-height: 24px;}
.content-section h3 {font-size: 18px; line-height: 26px; }
.content-section p {font-size: 12px; line-height: 18px; }
.service-content-footer{padding: 23px 5px;}
.service-content-footer h4{font-size: 10px; line-height: 16px;}
.service-content-footer .p0{font-size: 10px; line-height: 10px;}
.service-content-footer .p0 .svg-inline--fa.fa-w-16 {width: auto; font-size: 8px; }

.work-together .sub-container{width: 100%;}

.work-together .col-sm-4 img{width: 220px; height: 220px;margin: -72px auto 0; text-align: center; display: block;}
.work-together .col-sm-8 h1 {font-size: 40px !important; font-weight: 300;}
.work-together .col-sm-8 p {font-size: 12px; line-height: 18px;}
.banner .banner-left{padding-bottom: 20px;}
.banner .banner-left h1{font-size: 40px !important}
.banner .banner-left p{font-size: 18px;}


}
@media(max-width:1024px) and (min-width:768px){
	.project_div{padding: 51px 0px}
	.homban_carousel11{height: 550px !important}
	.row_service{padding-bottom: 50px;}
	.testimonial_dv{margin: 40px 0 25px;}
	.testimonial_dv p, ul.magento_erp{margin-bottom:15px;}
	.carousel-control .glyphicon-chevron-left{left: 30px !important;}
	.carousel-control .glyphicon-chevron-right{right: 30px !important;}
	#emma-form-submit{right: 25px;}
	.mob_hide .design_tittle{display: block;}
	.lappy_img {margin-top: 30px !important; }
}

@media(max-width:1024px){
	header{padding-top: 0;}
	.topcallreq_sec{background: transparent !important;}
	.topcallreq_sec .top_call a.top_phone{background: none !important;color:#7c7a7a;padding-left: 0 !important;}
	 a.top{color:#fff;}
	 .topcallreq_sec .top_rq{background-color:#fff !important; border:2px solid #000; border-radius: 0px !important; }
	 .blue-txt-btn a{color:#000 !important;font-weight: normal !important;}
	 .navbar .container{width:100%; padding:0;}
	  .menu-rt {width: 42px !important; height: 42px; text-align: center !important; background: #FF6630 !important; border-radius: 50%;
    margin-right: 12px !important; margin-top: 5px !important; }
    .navbar{background: #fff !important}
    /*.topcallreq_sec{background:#e68353 !important}*/
    a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-top: 10px !important;width: 100%;margin-left: 30px;}

     .menu-rt .line_1, .menu-rt .line_2{width: 50%; height: 3px; background: #fff; position: absolute; top: 0; left: 0; margin: 0 auto; text-align: center; display: inline-block; left: 0; right: 0; transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
		.menu-rt .line_1{top: 16px;}
		.menu-rt .line_2{top: 23px;}
		.active .menu-rt .line_1 {top: 19px; transform: rotate(52deg);-webkit-transform: rotate(52deg);-moz-transform: rotate(52deg);-ms-transform: rotate(52deg);-o-transform: rotate(52deg); }
		.active .menu-rt .line_2 {top: 19px; transform: rotate(-49deg);-webkit-transform: rotate(-49deg);-moz-transform: rotate(-49deg);-ms-transform: rotate(-49deg);-o-transform: rotate(-49deg); }

    /*---------14-05-2018----------*/

    #mainNav{background: #fff !important; display: block;box-shadow: 0 0 7px 1px rgba(0,0,0,0.7);}
    .topcallreq_sec{width: auto;display: inline-block; float: right;}
    .navbar-default .menu-rt{position: absolute; left: 10px;top: 10px;}
    .navbar-default .menu-rt{box-shadow: 0 2px 6px #ddd;}
    /*----Header---*/
    .navbar-header{width: 50%;}
    .navbar-brand>img{margin:0 auto;}
    .topcallreq_sec {padding: 15px 15px !important; }
    .topcallreq_sec .top_call a.top_phone{	color: #1B1B1B;	font-family: "Work Sans" !important;	font-size: 14px; padding-right: 15px;	line-height: 38px !important;}
    .topcallreq_sec .top_rq{padding: 8px 22px !important;width: auto !important;}
    /*----Home Bannewre------*/
    .baner_withgooglereview{margin-top: 72px;text-align: center;z-index: 1}
    .item.hombanr1{height: 100% !important}
    .suprchrge_head{display: inline-block;}
    .home.baner_withgooglereview h1{font-size: 40px !important;padding: 100px 15px 0 !important;	font-weight: 300;	line-height: 48px;	text-align: center !important;}
    .home_orangenewbaner1 .banner-list-item ul li a {	font-size: 20px;	line-height: 30px;}

    /*----Banner Bottom----*/
    .project_div h3.mid_dcm{max-width: 600px; margin:0 auto; font-size: 30px;line-height: 36px;}
    .row_service{font-size: 0;}
    .row_service .col-sm-6 {display: inline-block; float: none; margin-bottom: 50px; }
    .sub_service.sub_emty, .row_service{text-align: center;}
    .sub_service.sub_emty p{font-size: 30px;}

    /*------.testimonial--------*/
    .testimonial_dv{padding-left: 0;}
    #carousel-example-generic, #carousel-example-generic .carousel-inner, #carousel-example-generic .carousel-inner, #carousel-example-generic .carousel-inner>.active{height: 100% !important;}
    .cm_ht{height: auto !important }
    #carousel-example-generic .carousel-inner>.active{display: flex !important;-webkit-display: flex !important;-moz-display: flex !important;-ms-display: flex !important;-o-display: flex !important;}
    .mobile_img{display: block; height: 100% !important; position: relative;}
    .mobile_img img{display: block;height: auto; position: absolute;top: 50%; transform: translateY(-50%);}
    .testimonial_dv h4{font-size: 30px; letter-spacing: 1px;}
    .testimonial_section.device_div{margin-bottom: 0;}

    /*-----*/
    .main-body .purpose-content h1, .beautiful-content h1, .graph .graph-title h1{font-size: 24px !important; line-height: 36px;}
    .main-body .purpose-content p, .beautiful-content p, .graph .graph-title p{font-size: 12px; line-height: 18px;}
    .main-body .purpose-content-list ul li, .beautiful-content-list ul li, .graph .graph-content-list ul li{font-size: 12px !important; line-height: 30px;}
    .main-body .purpose-content-list ul li::before, .beautiful-content-list ul li:before, .graph .graph-content-list ul li:before{top: 0;}
    .design_tittle{display: none;}
}
.fluid_body .max-container, .fluid_body .col-sm-12, .fluid_body .col-sm-5{padding: 0 !important;}
/*---Min-991------*/
@media only screen and (min-width: 991px){
	.about_us_sections.row .mob_content{width: 52%}
	.about_us_sections.row .mob_img{width: 50%}
	.work-together .col-sm-4{width: 31.6%;}
	.fluid_body .max-container, .fluid_body .col-sm-12, .fluid_body .col-sm-5{padding: 0 !important;}
	.fluid_body .col-sm-7{padding-left: 150px;}
	.fluid_body  .charts_left .col-sm-7{padding-left: 50px;}
}

/*---Max-992------*/
@media only screen and (max-width: 992px){
	.about_us_sections.row .containers{display: block;}
	.main-body .purpose {margin-top: 0 !important; }
	.digital_design_main{width: 100%; margin:0 auto;}
	.design_tittle{text-align: center;}
	.digital_design_main .design_tittle h3{margin-bottom: 0;}
	.design_main{width: 100%; margin:0 auto; text-align: center;}
	.row_sub_indus .col-md-6{width: 100%;}
	.design_view{margin: 25px 0; width: 100%;}
	.about_us_sections .container, .about_us_sections .mob_content, .about_us_sections .mob_img, .about_us_sections .mob_img img{width: 100%; height: 100%; padding:0; position: relative;z-index: 1;object-fit: cover;}
	.about_us_sections .mob_img:before {content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.75); z-index: 999;}
	.about_us_sections .mob_content{position: absolute;top: 0; width: 100%; height: 100%;text-align: center;}
	.about_us_sections .abt_us_cnt{ background: none;  position: absolute; top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);ms-transform: translateY(-50%);-o-transform: translateY(-50%);}
	.about_us_sections.row .abt_us_cnt{height:auto}
	.about_us_sections.row .containers{display: inline-block;width: 100%}
	.about_us_sections.row .mob_img, .about_us_sections.row .mob_content{width: 100%}
	.abt_us_cnt p {font-size: 16px; margin-bottom: 30px !important }
	.abt_us_cnt h4{font-size: 30px;}
	/*------*/
	.row.row_footer_base .privacy_content p{font-size: 12px;}
	.row_footer_base .col-md-6{width: 70%;}
	.row_footer_base .col-md-6 + .col-md-6{width: 30%;}
	.svg-inline--fa.fa-w-9 {width: 0.3625em; }
	.svg-inline--fa.fa-w-14 {width: .775em; }
	.svg-inline--fa.fa-w-16 {width: 0.9em; }

	/*--Service--*/
	.row.row_footer .col-sm-6, .row.row_footer .col-sm-6 + .col-sm-6{width: 100%; margin-top: 25px;margin-bottom: 25px;}
	.graph > .col-sm-12{padding: 0}
	.feedback-section .col-sm-5{width: 15%;}
	.feedback-section .col-sm-5 .logo{width: 89px !important; float: right !important; margin-right: 0 !important;}
	.feedback-section .col-sm-7{width: 85%;}
	.feedback-section .feedback-text{padding-right: 0;}
	.wordpress-text{padding-top: 45px !important;}
	.store-space h4{font-size: 13px;line-height: 22px;}
	.store-space p{font-size: 10px;}
	.success-btn{width: 160px !important; padding: 8px !important; bottom: -15px !important; left: 0; right: 0; margin: 0 auto;}
	.main-service-banner{padding-bottom: 150px;}
	.service-navigation-content {margin-bottom: 130px; }
	.main-service-banner .container, .main-service-banner .col-sm-12{padding: 0;}
	.work-together{padding-top: 0; padding-bottom: 0;}
	
	.feedback-section .feedback-text{padding-right: 0; padding-left: 40px;}
	.feedback-text .quote{top: 5px; left: 0;}
	.store-space .sub-container h3{margin-top: 15px; float: left; width: 100%;}
	.store-space .container, .store-space .sub-container .col-sm-12{padding-left:  0 !important; padding-right: 0 !important; }

	}
	@media only screen and (max-width:992px) and (min-width:768px){
		.work-together .col-sm-8 .touch a{font-size: 10px;}
		.work-together .col-sm-4 img{width: 180px; height: 180px;float: right;}
		.banner .pull-right{padding: 0;}
		.main-body .purpose-content-text{margin-top: 20px;}
		.banner .col-sm-12, .banner .container{padding: 0}
		.banner .banner-left p {font-size: 18px; }
		.main-body .purpose-content h1{font-size: 24px !important;line-height: normal;}
		.privacy_content ul li.cpy{display: none !important}
	}

	/*-------767------*/
	@media only screen and (max-width:767px){
		.navbar-header{padding-top: 14px; padding-bottom: 14px;}
		.work-together .col-sm-8 .touch a{font-size: 18px;}
		.topcallreq_sec {padding: 5px 15px !important;width: 100%;background: #ee6434 !important }
		.topcallreq_sec .top_call a.top_phone{color: #fff !important;}
		.navbar-header{width: 100%;}
		.mbl-logo.navbar-brand>img {width: 100% !important; margin-top: 5px; padding: 0 15px; height: auto; }
		.navbar-default .menu-rt{right: 10px;left: auto; top: 65px;}
		.signup_templates_title h3{line-height: 36px; font-size: 30px; line-height: 44px; font-weight: normal;}
		.project_div .pg_dcm_main img{object-fit: cover;}

		#carousel-example-generic .carousel-inner>.active{display: block !important; }
		.cm_ht{width: 100%;}
		.mobile_img img{position: static;transform:none; padding: 50px 50px 0;}
		.testimonial_dv{margin: 50px 0;}
		#carousel-example-generic .col-xs-6{width: 100% !important}
		.row.row_footer .col-xs-6{width: 100%; margin: 0 0 30px;}
		.row.row_footer, .row.row_footer_base{margin: 0;}
		/*----Service---*/
		.service-navigation-content .col-sm-4{width: 45.6%;min-height: 516px; float: left;}
		.service-content-footer .p0{font-size: 14px; line-height: 25px;}
		.service-content-footer .servic_list{width: 50%; float: left;}
		.service-content-footer .p0 .svg-inline--fa.fa-w-16{font-size: 10px; padding-right: 5px;}
		.content-section h3{font-size: 17px;}
		.service-content-footer .col-sm-12 {margin-bottom: 0; }
		.service-navigation-content .col-sm-4:last-child{margin-right: 0; margin-top: 25px; margin-bottom: 0; }
		.work-together{text-align: center;}
		.work-together .col-sm-8 h1{font-size: 36px !important;}
		.work-together .col-sm-8 p{font-size: 16px;line-height: 20px;}
		.work-together .col-sm-8 p.touch{margin-bottom: 30px;}
		.content-section h3 {font-size: 30px; }
		.content-section p {font-size: 16px; line-height: 24px; }

		/*.main-body .second-highlight{width: 100%; float: left;}*/
		.main-body .purpose-content h3, .beautiful h3, .graph .graph-title h3, .graph .graph-para h3{	font-size: 16px !important;line-height: 30px; text-align: center;}
		.main-body .purpose-content h1, .beautiful-content h1, .graph .graph-title h1{	font-size: 24px !important;line-height: 30px;text-align: center;}
		.main-body .purpose-content p, .beautiful-content p, .graph .graph-title p{	font-size: 18px !important;line-height: 24px;text-align: center;}
		
		.purpose-content, .beautiful, .graph-para{margin-bottom: 50px;}
		
		.purpose-content-text, .purpose-content-list, .beautiful-content-text, .beautiful-content-list, .graph-content-text, .graph-content-list
		{padding-left: 0 !important;}
		.main-body .purpose-content-list ul li, .beautiful-content-list ul li, .graph .graph-content-list ul li{font-size: 16px !important; line-height: 30px;}
		.beautiful-content-list ul li::before{left: auto;}
		.purpose-content-logo, .beautiful-content-logo, .graph-content-logo { position: static !important; display: inline-block; top: 0; left: 0%; text-align: center !important; margin: 0 auto 20px !important; display: block !important; }
		.store-space-shadow{margin-bottom: 30px;}
		.store-space p {font-size: 14px; line-height: 24px; }

		.testimonial_dv h4, .testimonial_dv h5{text-align: center;}
		ul.magento_erp{display: block;text-align: center;}
		.button_call a{margin:0 auto;}

		/*----Fotter---*/
		.sitefooter{padding: 0;}
		.row.row_footer{padding:40px 0 0; margin: 0;}
		.row.row_footer .col-xs-6, .row.row_footer_base .col-xs-6, .footer_sub_two .col-md-4.col-sm-4.col-xs-4{width: 100%; margin: 25px 0 !important; padding: 0;margin: 0 auto;
		text-align: center;}
		.footer_socila_icons ul{padding: 0; margin: 0;}
		.row.row_footer_base{margin: 0;}
		.contact_dcw i{ top: -30px;   left: 0; right: 0; margin: 0 auto;} 
		.row.row_footer_base .privacy_content p{width: 100%; text-align: center;}
		.footer_socila_icons{display: block; float: none; text-align: center; margin: 0 auto;} 
		.contact_dcw h4{margin-left: 0}


		.row.row_footer_base .privacy_content p {font-size: 16px; border-right: 0; padding-bottom: 20px; }
		.row.row_footer_base .privacy_content p{border-right: none}
		
		.privacy_content{max-width: 250px; margin: 0 auto;}
.privacy_content ul {text-align: center; float: none; margin: 0 auto; width: auto; max-width: 243px; }
.privacy_content ul li {float: left;padding:  0 10px; }
.privacy_content ul li a { }
.privacy_content ul li.privacy_li a{padding-left: 0;padding-right: 35px;}
.privacy_content ul li.last_ a{border-right: 0; padding-right: 0; padding-left: 12px;}
.privacy_content ul li.cpy{display: none !important}
.feedback-section .col-sm-12{padding-top: 30px;}
    .feedback-section .col-sm-5, .feedback-section .col-sm-7{width: 100%;float: left; text-align: center;}
    .feedback-section .col-sm-5 .logo {width: 150px !important;float: none !important; margin: 0 auto 25px; text-align: center; display: inline-block;}
    .feedback-text .quote{position: static !important;width: 100%; display: block;text-align: left;}
    .feedback-section .feedback-text{padding-right: 0 !important;}



	}


/*-------560------*/
	@media only screen and (max-width:560px){
		/*------service-------*/
	.service-navigation-content .col-sm-4{width: 100%;min-height: auto; float: left;margin-top: 20px;margin-bottom: 20px;}
    .service-navigation-content .col-sm-4:first-child{margin-top: -125px;}
    .store-space .sub-container .col-sm-12 {padding-bottom: 0; }
    .sub-container .col-sm-4 img{  margin: 0px auto 0; text-align: center; display: block;}
    
    .service-navigation-content {margin-bottom: 160px; }
    .work-together .col-sm-4 img{margin: -105px auto 0 !important;}
	}
	/*-------480------*/
	@media only screen and (max-width:480px){
		.service-sub-menu{margin-top: 132px !important;}
		.service-sub-menu ul li{    padding-top: 6px; padding-bottom: 4px}
		.service-sub-menu ul li a{    font-size: 14px; line-height: 34px; font-weight: normal;}
		/*------banner-------*/
.home_orangenewbaner1 .banner-list-item{margin-top: 35px;}
.home_orangenewbaner1 .banner-list-item{width: 100%; margin: 0 auto; text-align: center; line-height: 45px;}
.owl-carousel_gal .owl-item, .owl-carousel_work .owl-item{padding: 15px 5px;}

.banner{text-align: center;}
.banner .col-sm-12, .banner .col-xs-12{padding: 0;}
.topcallreq_sec .top_rq{padding: 6px !important;    font-size: 12px; margin-top: 3px;}
.about_us_sections.row{margin: 30px 0; }
.about_us_sections h2{margin-bottom: 20px;}
.abt_us_cnt h4{line-height: 36px;}
.about_us_sections.row .abt_us_cnt {height: auto; padding-left: 15px; padding-right: 15px; }
.about_us_sections .abt_us_cnt button{padding: 15px;background: transparent;}
.signup_templates_title p{max-width: 320px; line-height: 24px;margin: 0 auto}
.signup_templates_title h3{line-height: 36px !important}
.email_block{margin-top: 40px;}
.email_templates{padding: 30px 0;}
.row.row_footer{padding: 10px 0;}
.contact_dcw p{    max-width: 220px; margin: 0 auto;}
.service-navigation-content .col-sm-4 .content-section{padding: 15px 25px}
.work-together .col-sm-8 h1 {font-size: 34px !important; }
/*------About-------*/

.about_us_sections.row .mob_img{height: 544px;}
.about_us_sections .abt_us_cnt{top: 0; transform: none}
#emma-subscription-form{width: 100% !important;  margin: 0 auto}

#emma-subscription-form #emma-email{margin-left: 0; font-size: 21px; padding-bottom: 17px;}
#emma-form-submit{position: static; margin: 15px auto; display: block;}
.banner .banner-left h1{font-size: 36px !important}
.main-service-banner{padding-bottom: 140px;text-align: center;}
.service_title h3{padding-bottom: 350px; padding-top: 60px;}
.row_service{margin-top: -380px;}
.last_service_row{margin-top: 50px;}
.row_service .col-sm-6{padding: 0 25px;}
.sub_service1 .content_service {min-height: auto; }
.content_service h4 {padding: 15px 0; }

ul.magento_erp li{font-size: 14px;}
.design_content .media-left{display: block;}
.design_content .media-left a{margin: 10px auto}
.design_content .media-body{    text-align: center; width: 100%;}
.mob_hide{display: none}
.design_tittle{display: block;}
.lappy_img {margin-top: 20px !important; margin-bottom: 30px;}
.digital_design_main .design_tittle h3{font-size: 30px; line-height: 36px;margin-bottom: 30px;}
.row.row_footer_base .col-xs-6{margin:10px 0 !important}
.pg_dcm_main{box-shadow: none}
.owl-carousel_work .owl-item.active .pg_dcm_main{box-shadow: 0 1px 2px rgba(0,0,0,0.55);}
.right_arrow a{box-shadow: 0 2px 6px rgba(0,0,0,0.5);}
.fluid_body .max-container, .fluid_body .col-sm-12, .fluid_body .col-sm-5{padding: 0 5px !important}
.charts_left .imag img{margin-bottom: 50px;}
.main-body .purpose h3{text-align: center;}
.main-body .purpose-content p, .beautiful-content p, .graph .graph-title p{text-align: left;}


.purpose-content{margin-bottom: 0;}

}
footer{background-color: #1B1B1B;}
.bg_wht{background: #fff !important}