/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{box-sizing:border-box;}
body{margin:0;background:#fff}*/

/*
.service-sub-menu{background-color:#EBEBEB;box-shadow:0px 7px 9px -3px rgba(0,0,0,0.5);position:fixed;width:100%;z-index:9;}
.service-sub-menu ul{text-align:center;margin:0;}
.service-sub-menu ul li{list-style-type:none;display:inline-block;padding-top:9px;padding-bottom:9px;}
.service-sub-menu ul li a{color:#1B1B1B !important;padding-right:25px;font-size:14px;}
.service-sub-menu.industries_submenu ul li a{text-transform:uppercase !important;}
.service-sub-menu ul li a.active{color:#FF6633 !important;}
.fa-circle{font-size:8px !important;margin-bottom:3px;display:none !important;}
.service-sub-menu.text-navigation{margin-top:60px !important;position:relative;box-shadow:0px 7px 9px -3px rgba(0,0,0,0.5);background:#EBEBEB;}
.banner{background:linear-gradient(142deg, #FF8B36 9%, #bd2a2a 100%);color:#fff;}
.banner .banner-left{padding-top:20px;padding-bottom:95px;}
.banner .banner-left h1{font-size:65px !important;font-family:Work Sans !important;font-weight:300;}
.banner .banner-left p{font-size:24px;margin-top:25px;font-family:Varela Round;line-height:30px;}
.banner-right{padding-top:45px;}
.banner-right img{width:100%;}
.store-space.carousel_main{margin-top:-90px;}
.project_div.services{padding:30px 0px;margin-bottom:30px;}
.mobile-service-title{display:none;}
.mobile-service-subtitle{display:none;}
.main-body{padding-top:10px;clear:both;margin-top:60px;}
.imag img{width:100%;}
.main-body .purpose-content-text p{font-size:18px !important;line-height:32px;}
.main-body .purpose-content-text p a:hover{color:#f05f40 !important;}
.main-body .purpose h3{color:#1B1B1B;font-size:18px;font-weight:normal;font-family:Work Sans;text-transform:uppercase;margin-bottom:40px;}
.main-body .purpose-content{margin-top:30px;}
.main-body .purpose-content h1{color:#1B1B1B;font-size:34px !important;font-family:Work Sans;font-weight:normal;}
.main-body .purpose-content-text{font-size:18px;color:#1B1B1B;font-family:Varela Round;padding-left:115px;margin-top:35px;position:relative;}
.main-body .purpose-content-list{padding-left:110px;}
.main-body .purpose-content-list ul{padding-left:20px;line-height:40px;list-style:none;margin-top:20px;}
.main-body .purpose-content-list ul li{color:#FF6633;font-family:Work Sans;position:relative;font-size:18px;padding-left:15px;}
.main-body .purpose-content-list ul li::before{content:"• ";color:#000;position:absolute;font-size:35px;left:-15px;}
.beautiful h3{color:#1B1B1B;font-size:18px;font-family:Work Sans;font-weight:normal;}
.beautiful-content{margin-top:30px;}
.beautiful-content h1{color:#1B1B1B;font-size:34px !important;font-family:Work Sans;font-weight:normal;}
.beautiful-content-text{font-size:18px;color:#1B1B1B;font-family:Varela Round;padding-left:115px;position:relative;margin-top:35px;}
.beautiful-content-text ul li{list-style-type:disc !important;}
.purpose-content-text ul{list-style:none;padding:0;margin:0;margin-bottom:15px;}
.purpose-content-text ul li{padding-left:1em;text-indent:-.7em;color:#1B1B1B;}
.purpose-content-text ul li::before{content:"• ";color:#000;padding-right:5px;}
.beautiful-content-list{padding-left:110px;}
.beautiful-content-list ul{padding-left:20px;line-height:40px;list-style:none;margin-top:20px;}
.beautiful-content-list ul li{color:#FF6633;font-family:Work Sans;position:relative;font-size:18px;}
.beautiful-content-list ul li::before{content:"• ";color:#000;position:absolute;font-size:35px;left:-25px;}
.main-body .second-highlight{margin-top:70px;padding-bottom:20px;}
.beautiful-content-logo{position:absolute;display:inline-block;top:0;left:0%;}
.purpose-content-logo{position:absolute;display:inline-block;top:0;left:0%;}
.related-work{background-color:#EBEBEB;}
.related-work .col-sm-12{padding-top:10px;}
.related-work .container{padding-top:15px;padding-bottom:50px;}
.eCOMMERCE-title{text-align:center;font-family:Work Sans;font-size:18px;color:#1B1B1B;font-weight:normal;}
.eCOMMERCE-subtitle{color:#1B1B1B;font-family:Work Sans;font-weight:normal;font-size:34px !important;text-align:center;margin-top:0px;}
.bg-white img{width:100%;}
.bg-white p{color:#1B1B1B;font-family:Work Sans;font-size:14px;margin-top:0;margin-bottom:0;}
.samsung-parts-content, .bride-parts-content, .plumbing-parts-content, .child-parts-content{padding:20px 10px;min-height:100px;}
.cross{display:inline-block;width:50px;height:50px;background:#FF6633;border-radius:50%;text-align:center;color:#fff;line-height:46px;position:absolute;bottom:80px;right:20px;box-shadow:0 0 6px rgba(0,0,0,0.8);}
.samsung-parts, .bride-parts, .plumbing-parts, .child-parts{transition:all 0.3s}
.bride-parts:hover, .samsung-parts:hover, .plumbing-parts:hover, .child-parts:hover{box-shadow:0px 6px 17px rgba(0,0,0,0.3);}
.related-work a.cross:hover{color:#fff;}
.graph{padding-top:75px;}
.graph-para{margin-top:35px;padding-left:50px;}
.graph .graph-para h3{color:#1B1B1B;font-size:18px;font-family:Work Sans;font-weight:normal;}
.graph .graph-title h1{color:#1B1B1B;font-size:34px !important;font-family:Work Sans;font-weight:normal;}
.graph-content-list{padding-left:110px;}
.graph .graph-content-text{font-size:18px;color:#1B1B1B;font-family:Varela Round;padding-left:115px;margin-top:35px;position:relative;}
.graph .graph-content-list ul{padding-left:20px;line-height:40px;list-style:none;margin-top:20px;}
.graph .graph-content-list ul li{color:#FF6633;font-family:Work Sans;position:relative;font-size:18px;padding-left:15px;}
.graph .graph-content-list ul li::before{content:"• ";color:#000;position:absolute;font-size:35px;left:-15px;}
.graph-content-logo{position:absolute;display:inline-block;top:0;left:0%;}
.feedback-section .col-sm-5 .logo{width:140px;float:none;margin:0 auto;margin-right:188px;}
.feedback-section .col-sm-12{padding-top:95px}
.feedback-section .feedback-text{padding-top:30px;padding-right:95px;margin-left:-120px;}
.feedback-section .feedback-text p{font-size:18px;color:#737171;font-family:Varela Round;}
.reviewer-name{font-size:14px !important;text-align:left;}
.feedback-text{position:relative;}
.feedback-text .quote{font-size:35px;position:absolute;top:1px;left:-25px;color:#d6d2d2;z-index:-1;padding:0;}
.store-space{margin-top:20px;}
.store-space .container{padding-bottom:20px;}
.store-space .sub-container{max-width:950px;margin:0 auto;}
.store-space .sub-container .col-sm-12{padding-bottom:45px;}
.store-space-shadow{box-shadow:0px 1.8px 2px rgba(0,0,0,0.7);padding:20px;transition:0.3s all;}
.magento h4{color:#FF6633;text-align:center;font-size:18px;font-family:Work Sans}
.magento-text{color:#1B1B1B;font-size:14px;font-family:Varela Round;padding-top:20px;}
.magento-text p{text-align:center;}
.store-space-shadow img{width:100%;height:90px;}
.wordpress h4{color:#FF6633;text-align:center;font-size:18px;font-family:Work Sans}
.wordpress-text{color:#1B1B1B;font-size:14px;font-family:Varela Round;padding-top:9px;}
.wordpress-text p{text-align:center;}
.shopify h4{color:#FF6633;text-align:center;font-size:18px;font-family:Work Sans}
.shopify-text{color:#1B1B1B;font-size:14px;font-family:Varela Round;padding-top:36px;}
.shopify-text p{text-align:center;}
.store-space .sub-container h3{color:#1B1B1B;font-weight:normal;font-size:18px;font-family:Work Sans;text-transform:uppercase;}
.store-space .sub-container h1{color:#1B1B1B;font-weight:normal;font-size:34px !important;font-family:Work Sans;margin-top:0;margin-bottom:50px;}
.success-btn{background:#FF6633;box-shadow:0 2px 6px rgba(0,0,0,0.5);transition:0.3s all;opacity:0;padding:13px;border-radius:29px;text-align:center;color:#fff;position:absolute;width:240px;bottom:-20px;cursor:pointer;}
.store-space-shadow:hover{box-shadow:0px 3px 12px rgba(0,0,0,0.7)}
.store-space-shadow:hover .success-btn{display:block;transition:0.3s all;opacity:1;}
.success-btn a{color:#fff;}
#position:nth-of-type(2n) .imag{float:right;}
.max-container #position{padding-bottom:100px;}
.about .max-container #position{padding-bottom:30px;}
.about-culture .max-container #position{padding-bottom:40px;}
*/




/*@media(min-width:1366px)
{
.container{max-width:1360px !important;width:100%;}
.store-space-shadow{height:410px;}
}*/
/*@media(max-width:1366px){
	.banner .banner-left h1{font-size:60px !important;}
.banner .banner-left p{font-size:20px;}
}*/

/*@media(max-width:1500px){
	.testimonial_dv{padding-left:30px;margin:45px 0px;}
.testimonial_section.device_div{height:610px;}
}*/
/*@media(max-width:1365px){
	.samsung-parts-content, .bride-parts-content, .plumbing-parts-content, .child-parts-content{min-height:120px;}
.cross{bottom:102px;}
}*/
/*@media(max-width:1280px){
	.banner .banner-left h1{font-size:54px !important}
.banner .banner-left p{font-size:18px !important;margin-top:15px !important;}
.service-sub-menu.text-navigation{margin-top:52px !important;}
.service-navigation-content .col-sm-4{margin-right:16px;}
.graph .col-sm-5 img{width:100%;}
}*/

/*@media(max-width:1199px){
	.mobile_img{width:100%;}
.testimonial_dv{padding-left:0;padding-right:0;margin:100px 0px;}
.testimonial_section.device_div{height:565px;margin-bottom:5px;}
.slick-slider{height:auto;}
}*/
/*@media(max-width:992px){
	.main-body .purpose h3{margin:0}
.graph-para{padding-left:0;}
.graph .graph-title h1{font-size:24px !important}
.graph .col-sm-7{padding:0;}
.graph-content-logo{width:60px;height:60px;}
.graph-content-logo img{width:100%;height:100%;}
.graph .graph-content-text{padding-left:80px;}
.feedback-text .quote{left:10px;}
.feedback-section .feedback-text{padding-right:0;padding-left:50px;}
}*/


/*@media(min-width:1025px){
	.img_middle.imag img{position:absolute;top:50%;transform:translateY(-47%);width:95% !important;}
.img_middle.imag.industries_site img{position:relative;width:100% !important;transform:translateY(0%);}
.img_middle.imag.indust_food img{position:relative;width:100% !important;transform:translateY(0%);}
}*/

/*@media(max-width:1024px){
	.service-sub-menu.text-navigation{margin-top:72px !important}
.banner .banner-left h1{font-size:46px !important;}
.banner .banner-left p{font-size:20px;}
.main-body .purpose-content h1{font-size:28px;}
.main-body .purpose-content{margin-top:15px;}
.main-body .purpose-content-text{font-size:16px;}
.main-body .purpose-content-list ul li{font-size:16px;}
.beautiful-content h1{font-size:28px;}
.beautiful-content-text{font-size:16px;}
.beautiful-content-list ul li{font-size:16px;}
.eCOMMERCE-subtitle{font-size:28px;}
.cross{width:40px;height:40px;line-height:42px;bottom:101px;right:14px;}
.graph .graph-title h1{font-size:28px;}
.graph .graph-content-text{font-size:16px;}
.graph .graph-content-list ul li{font-size:16px;}
.feedback-section .feedback-text p{font-size:16px;}
.store-space .sub-container h1{font-size:30px !important;}
.success-btn{opacity:1;}
.service-navigation-content{margin-left:18px !important;}
}*/

/*
@media only screen and (max-width:992px) and (min-width:768px){
.home.baner_withgooglereview h1{font-size:40px !important;line-height:48px;padding:0px 15px 0 !important;margin-top:20px;}
.main-body .purpose-content-text, .beautiful-content, .graph .graph-content-text{margin-top:20px;}
.banner .col-sm-12, .banner .container{padding:0}
.banner .banner-left p{font-size:18px;}
.sub_service1 .content_service{min-height:153px;}
.content_service h4{margin:30px 0 15px;}
.design_view .design_content{max-width:700px;margin:30px auto 30px;}
.indus_creative{padding:48px 0 0;}
.abt_us_cnt p{line-height:36px;}
.about_us_sections h2{margin-top:0px;font-size:18px;line-height:30px;margin-bottom:17px;}
.abt_us_cnt h4{font-size:30px;line-height:34px;margin-bottom:35px;}
.about_us_sections .abt_us_cnt button{padding:15px 16px;background:none;border:solid 2px #fff;}
.main-body .purpose-content h1, .beautiful-content h1{font-size:24px !important;line-height:normal;}
.main-body .second-highlight{margin-top:30px;margin-bottom:30px;}
.graph-para{margin-top:0;}
.graph .graph-para h3{margin:0;}
.graph .container, .graph .col-sm-12{padding:0;}
.graph .graph-title h1{font-size:23px !important;margin:5px 0;}
.graph-content-list{padding-left:75px;}
.graph .graph-content-list ul{margin-top:10px;}
.graph .graph-title p{margin-bottom:0 !important}
.graph-para{margin-bottom:50px;}
.feedback-section{margin:50px 0;float:left;max-width:auto;margin:62px auto;display:block;}
.feedback-section .feedback-text{padding-right:0;padding-top:10px;padding-left:170px;padding-right:75px;}
.graph .col-sm-5 .logo img{margin-left:35px;}
.feedback-text .quote{left:170px;top:-15px;}
.feedback-text .svg-inline--fa.fa-w-16{color:#eceaea;}
.reviewer-name{text-align:left;}
.store-space{margin-top:160px;}
.store-space-shadow .success-btn a{font-size:12px;}
.store-space-shadow{min-height:305px;box-shadow:0px 1.8px 2px rgba(0,0,0,0.3);}
.signup_templates_title h3{font-size:35px;line-height:40px;font-weight:400;}
#emma-subscription-form #emma-email{font-size:18px;}
.service-navigation-content .col-sm-4 .content-section{padding:15px;}
.content-section p{margin-bottom:0;}
.main-service-banner h1{margin-bottom:15px;}
.service-navigation-content{margin-bottom:15px;margin-left:7px !important;}
.work-together .col-sm-4 img{margin:-30px auto 0;}
.content-section h3{padding:0;margin:0;}
.row.row_footer{padding:0px 0px 28px 0px;}
.footer_dcw .footer_sub_one p{text-align:center;}
.privacy_content ul li a{font-size:12px;}
.row.row_footer_base .privacy_content p{font-size:12px;margin:4px 0;}
}*/
/*@media screen and (max-width:767px){

	.service-sub-menu.text-navigation{margin-top:136px !important}
.mobile-service-title{display:block;font-size:18px;text-align:center;margin-top:0;text-transform:uppercase;font-weight:normal;}
.mobile-service-subtitle{display:block;font-size:29px !important;font-weight:normal;text-align:center;margin-bottom:30px;}
.desktop-service-title{display:none;}
.desktop-service-subtitle{display:none;}
.main-body .purpose-content{margin-top:-20px;}
.feedback-section .col-sm-12{padding-top:0;}
.reviewer-name{font-size:16px !important;text-align:right;}
section{height:auto !important;}
.graph .img-responive{width:100%;}
.feedback-section .feedback-text{margin-left:0;}
}*/
/*@media screen and (max-width:480px){
	.banner .banner-left h1{font-size:36px !important;}
.feedback-section .feedback-text{padding-left:0;}
.feedback-text .quote{position:absolute !important;top:-2px;left:8px;}
.main-body .second-highlight{margin-top:20px;}
.main-body .purpose-content h1, .beautiful-content h1{font-size:29px !important;}
.beautiful-content-list ul{padding:0 14px;}
.main-body .purpose-content-list ul li, .beautiful-content-list ul li{padding-left:0;}
.main-body .purpose-content-list ul li::before, .beautiful-content-list ul li::before{left:-20px;}
.service-content-footer{padding:23px 26px;}
.service-navigation-content{margin-left:0 !important;}
.service-sub-menu ul li{padding-top:3px;padding-bottom:0px;}
.feedback-section .col-sm-5 .logo{margin-top:30px;}
.imag img{margin-bottom:25px;}
}*/
/*@media screen and (max-width:380px){.feedback-text .quote{top:-5px;left:38px;width:50px;}
}*/
/*.p0{padding:0;}
.red{color:#821d1d;}
.bg-white{background:#fff}
.relative{position:relative}*/