.dcw_counts .h_services .box,
.dcw_counts h1,
header .h_services .box,
header h1 {
    text-align: center;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out
}

body {
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: antialiased!important;
    -o-font-smoothing: antialiased!important
}

.navbar-default {
    border: none
}

header .google-adwords {
    background-color: rgba(247, 247, 247, .6);
    padding: 0 4% 41px;
    margin-top: 30px
}

header .google-adwords h1 {
    font-size: 60px!important;
    float: left;
    clear: both;
    width: 100%;
    padding: 20px 0!important
}

header .google-adwords form {
    clear: both
}

header .google-adwords h1 small {
    display: block;
    font-size: 47px;
    color: #fff;
    font-weight: 700
}

header .google-adwords input {
    height: 45px
}

header .google-adwords label.error {
    position: absolute;
    color: #f63;
    left: 0;
    padding-left: 10px;
    top: 53px;
    font-size: 12px
}

header .google-adwords input.btn {
    background: #f63!important;
    color: #fff!important;
    padding: 18px 50px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 1!important;
    height: auto!important
}

header .google-adwords input.btn:hover {
    background: #f63!important
}

header .google-adwords input,
header .google-adwords textarea {
    background: #f2f2f2!important;
    resize: none;
    color: #585858!important;
    border: none;
    border-radius: 0;
    padding: 12px
}

header .google-adwords .col-sm-12,
header .google-adwords .col-sm-6 {
    padding: 10px!important
}

.dcw_counts,
header {
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70px;
    width: 100%;
    padding-top: 100px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
    padding-bottom: 20px
}

.dcw_counts .load,
header .load {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.dcw_counts h1,
header h1 {
    font-size: 72px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    padding: 40px 14%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: .5s ease-out
}

@media (max-width:37.5em) {
    .dcw_counts h1,
    header h1 {
        font-size: 30px;
        padding: 0
    }
}

.dcw_counts .h_services,
header .h_services {
    width: 100%;
    padding: 80px 0
}

.dcw_counts .h_services .box,
header .h_services .box {
    width: 100%;
    float: left;
    min-height: 100px;
    color: #fff;
    padding: 10px 10px 30px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 102, 51, 0);
    background-position: -80% 0;
    background-size: auto 100%!important;
    transition: .5s ease-out
}

.dcw_counts .h_services .box:hover,
header .h_services .box:hover {
    background: url(../images/patern-bg2.png) rgba(255, 102, 51, .9);
    background-position: 0 0;
    background-repeat: no-repeat
}

.dcw_counts .h_services .box img,
header .h_services .box img {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    border: 1.5px solid #fff;
    padding: 9px;
    border-radius: 10px
}

.dcw_counts .h_services .box h4,
header .h_services .box h4 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px
}

.dcw_counts .h_services .box p,
header .h_services .box p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.8;
    min-height: 130px!important
}

.dcw_counts .count h4,
.header-group h4,
.header-group p {
    font-family: Poppins, sans-serif;
    text-align: center
}

.our-result .result-text h4,
.our-result .result-text p,
.our-result .text-right,
.ourcustomer .box p {
    font-family: 'Open Sans', sans-serif
}

.dcw_counts .h_services .box a,
header .h_services .box a {
    color: #fff
}

.dcw_counts .h_services .box a.btn,
header .h_services .box a.btn {
    color: #fff;
    font-size: 14px;
    border: thin solid transparent;
    background-color: rgba(44, 45, 47, .33);
    border-radius: 100px;
    font-weight: 400;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-top: 10px
}

.dcw_counts .h_services .box a.btn:hover,
header .h_services .box a.btn:hover {
    text-decoration: none;
    background-color: rgba(44, 45, 47, .9)
}

.dcw_counts .h_services .box a.btn:active,
.dcw_counts .h_services .box a.btn:focus,
header .h_services .box a.btn:active,
header .h_services .box a.btn:focus {
    background-color: rgba(44, 45, 47, .33)!important;
    color: #fff!important
}

@media (max-width:37.5em) {
    .dcw_counts .h_services,
    header .h_services {
        padding: 0
    }
    header .google-adwords h1 {
        font-size: 30px!important;
        float: left;
        width: 100%
    }
    header .google-adwords h1 small {
        font-size: 26px!important
    }
    header .google-adwords label.error {
        display: block;
        width: 100%;
        text-align: center
    }
    header .google-adwords input.btn {
        font-size: 14px!important
    }
}

.o_line,
.vline {
    width: 180px;
    height: 80px;
    background-image: url(../images/orange_row.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent!important;
    margin: 20px auto 0;
    display: block;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.line {
    border-bottom: 1px solid #8c9397;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 170px!important
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.header-group {
    margin-bottom: 40px
}

.header-group h4 {
    color: #f63;
    font-size: 48px;
    font-weight: 300!important
}

.header-group h4 span {
    font-weight: 600
}

@media (max-width:37.5em) {
    .header-group h4 {
        font-size: 40px
    }
}

.header-group p {
    font-size: 14px;
    color: #666;
    line-height: 2
}

.da-thumbs {
    list-style: none;
    width: 100%;
    position: relative;
    padding: 0
}

.da-thumbs .portfolio-box {
    float: left;
    background: #fff;
    position: relative;
    overflow: hidden
}

.da-thumbs .portfolio-box a,
.da-thumbs .portfolio-box a img {
    display: block;
    position: relative
}

.da-thumbs .portfolio-box a {
    overflow: hidden
}

.da-thumbs .portfolio-box .portfolio-box-caption {
    position: absolute;
    width: 100%;
    height: 100%
}

#portfolio .line {
    top: 173px
}

@-ms-keyframes icons {
    0%,
    100% {
        -ms-transform: rotate(3deg)
    }
    50% {
        -ms-transform: rotate(-3deg)
    }
}

@-moz-keyframes icons {
    0%,
    100% {
        -moz-transform: rotate(3deg)
    }
    50% {
        -moz-transform: rotate(-3deg)
    }
}

@-webkit-keyframes icons {
    0%,
    100% {
        -webkit-transform: rotate(3deg)
    }
    50% {
        -webkit-transform: rotate(-3deg)
    }
}

@keyframes icons {
    0%,
    100% {
        transform: rotate(3deg)
    }
    50% {
        transform: rotate(-3deg)
    }
}

.dcw_counts {
    padding: 30px 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8)!important
}

.dcw_counts .count {
    color: #fff;
    margin: 20px 0
}

.dcw_counts .count img {
    max-height: 38px;
    display: inline-block;
    margin-top: -10px
}

.dcw_counts .count h4 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0
}

.dcw_counts .count h4 .numb {
    min-width: 65px
}

.dcw_counts .count h5 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center
}

.dcw_counts .col-md-3:nth-child(3) .numb {
    min-width: 100px
}

.carousel.slide {
    position: relative!important
}

.carousel.slide .carousel-control {
    top: 0!important
}

.our-result {
    margin: 0 0 40px
}

.our-result .carousel {
    margin: 40px 0;
    display: block
}

.our-result .item {
    padding: 0 30px
}

@media (max-width:37.5em) {
    .our-result .item {
        padding: 0
    }
}

.our-result .carousel-control.left,
.our-result .carousel-control.right {
    background: 0 0!important
}

.our-result .carousel-control {
    color: #f63;
    text-shadow: none;
    width: auto
}

.our-result .result-text p,
.our-result .text-right {
    color: #333
}

.our-result .result-text {
    padding-right: 80px
}

@media (max-width:37.5em) {
    .our-result .result-text {
        padding-right: 0
    }
}

.our-result .result-text h4 {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    padding-right: 30px;
    line-height: 1.3;
    margin-bottom: 20px
}

.ourcustomer .box p.text-right,
.ourcustomer .box span {
    font-weight: 500
}

.our-result .result-text p {
    font-size: 16px
}

.our-result .text-right {
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0
}

.our-result .text-right img {
    float: right;
    margin-left: 15px;
    width: 75px
}

.our-result img {
    display: block;
    margin: 0 auto
}

.press_awards {
    padding: 10px 0;
    background-color: #666;
    min-height: 50px
}

.press_awards .o_line {
    background-color: #fff
}

.press_awards P,
.press_awards h4 {
    color: #fff
}

.press_awards .table tr:first-child td {
    border-top: none
}

.press_awards .table tr:last-child td {
    border-bottom: none
}

.press_awards .table tr td {
    vertical-align: middle;
    text-align: center;
    border: thin solid #777;
    height: 200px
}

.press_awards .table tr td img {
    opacity: .5;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px;
    filter: invert(100%) grayscale(100%) brightness(0);
    -webkit-filter: invert(100%) grayscale(100%) brightness(0);
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out
}

.press_awards .table tr td:hover img {
    filter: invert(0) grayscale(0);
    -webkit-filter: invert(0) grayscale(0);
    opacity: 1
}

.press_awards .table tr td:first-child {
    border-left: none
}

.press_awards .table tr td:last-child {
    border-right: none
}

@media (max-width:37.5em) {
    .press_awards .table tr,
    .press_awards .table tr td {
        display: block;
        float: left;
        width: 100%
    }
    .press_awards .table tr td {
        border: none;
        padding: 15px
    }
}

.ourcustomer .row {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center
}

.ourcustomer .col-sm-4 {
    padding: 0
}

.ourcustomer .box {
    float: left;
    width: 100%;
    min-height: 250px;
    padding: 45px;
    background-image: url(../images/curlybrac.png);
    background-size: 100% 100%;
    background-repeat: no-repeat
}

@media (max-width:37.5em) {
    .ourcustomer .row {
        display: block!important;
        margin: 0!important
    }
    .ourcustomer .box {
        padding: 10px 45px
    }
}

.ourcustomer .box img {
    width: 130px;
    display: inline;
    margin-top: -6px;
    margin-right: 10px
}

.ourcustomer .box p {
    font-size: 15px;
    color: #333
}

.ourcustomer .google-icon {
    display: block;
    max-width: 150px;
    margin: 20px auto
}

.video_gallery {
    padding: 10px 0;
    background-color: #666;
    min-height: 50px
}

.video_gallery .o_line {
    background-color: #fff
}

.video_gallery P,
.video_gallery h4 {
    color: #fff
}

.video_gallery .item {
    padding: 0 120px
}

@media (max-width:37.5em) {
    .video_gallery .item {
        padding: 0
    }
}

.video_gallery .item .video-thumb {
    padding: 5px;
    overflow: hidden;
    position: relative
}

.video_gallery .item .video-thumb:first-child {
    padding-bottom: 0
}

.video_gallery .item .video-thumb:first-child .video_overlay {
    margin-bottom: 0;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out
}

.video_gallery .item .video-thumb:hover .video_overlay {
    opacity: 1
}

.video_gallery .item .video-thumb .video_overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 102, 51, .8);
    margin: 5px;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out
}

.video_gallery .item .video-thumb .video_overlay .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px
}

.video_gallery .item .video-thumb .video_overlay .overlay-text h5 {
    color: #fff;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 1.8
}

.video_gallery .item .video-thumb .video_overlay .overlay-text p {
    font-size: 12px;
    font-family: Poppins, sans-serif;
    margin: 0
}

.video_gallery .item img {
    width: 100%
}

.video_gallery .carousel-control {
    text-shadow: none;
    width: auto;
    color: #fff
}

.video_gallery .view-all {
    display: block;
    text-align: center;
    margin: 20px 0
}

.video_gallery .view-all .btn-default {
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    background-color: #f63;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 7px 20px;
    height: 39px;
    width: 143px;
    font-size: 18px
}

.video_gallery .view-all .btn-default:hover {
    color: #f63;
    background-color: #fff
}

.video_gallery .view-all .btn-default:active,
.video_gallery .view-all .btn-default:focus {
    color: #fff!important;
    background-color: #f63!important
}

.connect_with .digonal {
    margin: 250px auto 0
}

.connect_with .innovativetxt {
    font-family: Poppins, sans-serif;
    font-size: 1em a
}

.connect_with .service_icons .btn,
.connect_with .service_icons p {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center
}

.connect_with .flag {
    position: relative;
    display: block;
    height: 150px;
    float: left;
    width: 100%
}

.connect_with .flag img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 45%;
    z-index: 1
}

.connect_with .service_icons {
    text-align: center;
    position: relative
}

@media (max-width:37.5em) {
    .connect_with .digonal {
        margin: 0 auto
    }
    .connect_with .flag {
        display: none
    }
    .connect_with .service_icons {
        margin: 50px auto
    }
}

.connect_with .service_icons img,
.img_hover_color {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    display: inline;
    margin: 10px 0;
    max-height: 360px
}

.connect_with .service_icons p {
    position: absolute;
    font-weight: 700;
    color: #fff;
    display: block;
    opacity: 0;
    z-index: 9;
    line-height: 360px;
    width: 100%
}

.connect_with .service_icons p i {
    font-weight: lighter;
    font-style: normal
}

.connect_with .service_icons p:hover {
    opacity: 1
}

.connect_with .service_icons p:hover+img,
.img_hover_color:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0)
}

.connect_with .service_icons span {
    float: left;
    width: 100%
}

.connect_with .service_icons span img {
    position: relative
}

.connect_with .service_icons .btn {
    display: inline-block;
    line-height: 70px;
    width: 219px;
    padding: 0;
    height: 70px;
    margin-top: 20px;
    text-transform: capitalize;
    border: thin solid #f63;
    color: #f63;
    font-weight: 400
}

.connect_with .service_icons .btn:hover {
    background: #f63;
    color: #fff
}

.connect_with .service_icons .btn:active,
.connect_with .service_icons .btn:focus {
    border: thin solid #f63!important;
    color: #f63!important
}

.connect_with .triangleup {
    padding: 20px 40px;
    color: #fff;
    position: relative;
    text-align: center;
    max-width: 590px;
    margin: -30px auto 0;
    min-height: 240px
}

.connect_with .triangleup a {
    color: #fff;
    display: block;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 115px 0 33px;
    width: 100%;
    left: 2px;
    text-transform: capitalize
}

@media (max-width:37.5em) {
    .connect_with .triangleup a {
        padding-top: 160px;
        font-size: 18px
    }
}

.connect_with .triangleup a:active,
.connect_with .triangleup a:focus,
.connect_with .triangleup a:hover {
    text-decoration: none
}

.connect_with .triangleup .sub_subtitle {
    z-index: 1!important;
    margin: 0 auto;
    text-transform: capitalize;
    display: block
}

.connect_with .triangleup span {
    position: relative;
    font-size: 36px;
    font-family: Poppins, sans-serif!important;
    font-weight: 400;
    text-transform: capitalize
}

.connect_with .triangleup span b,
footer h4 {
    font-family: Poppins, sans-serif
}

.connect_with .triangleup span b {
    text-transform: capitalize
}

.connect_with .triangleup:after,
.connect_with .triangleup:before {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.connect_with .triangleup:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #E7663F;
    border-width: 260px;
    margin-left: -260px
}

@media (max-width:37.5em) {
    .connect_with .triangleup:before {
        border-width: 160px;
        margin-left: -160px
    }
}

footer {
    background-color: #333;
    min-height: 100px;
    width: 100%;
    padding: 15px 0
}

footer h4 {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    clear: both;
    display: block;
    border-bottom: solid thin #efefef;
    line-height: 3;
    margin: 25px 0;
    text-transform: uppercase
}

footer .quick-links a,
footer address {
    font-family: Poppins, sans-serif;
    font-weight: 500
}

footer .quick-links {
    padding: 0;
    margin: 0
}

footer .quick-links a {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
    text-decoration: underline
}

footer address {
    color: #fff;
    font-size: 12px;
    margin: 20px 0;
    line-height: 1.8
}

footer .social-icons {
    display: inline-block;
    clear: both
}

footer .social-icons a {
    background: rgba(255, 255, 255, .05);
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    text-align: center
}

footer .social-icons a i {
    color: #999;
    font-size: 20px;
    line-height: 32px
}

footer .social-icons a.s_facebook:hover i,
footer .social-icons a.s_google-plus:hover i,
footer .social-icons a.s_instagram:hover i,
footer .social-icons a.s_linkedin:hover i,
footer .social-icons a.s_twitter:hover i,
footer .social-icons a.s_youtube:hover i {
    color: #fff
}

footer .social-icons a.s_facebook:hover {
    background: #3b5998
}

footer .social-icons a.s_twitter:hover {
    background: #00aced
}

footer .social-icons a.s_google-plus:hover {
    background: #dd4b39
}

footer .social-icons a.s_linkedin:hover {
    background: #007bb6
}

footer .social-icons a.s_youtube:hover {
    background: #b00
}

footer .social-icons a.s_instagram:hover {
    background: #bc2a8d
}

footer .recent-blogs {
    padding: 0;
    margin: 0
}

footer .recent-blogs li {
    padding: 10px 0 10px 40px;
    position: relative;
    border-top: solid thin transparent;
    border-bottom: solid thin transparent;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}

footer .recent-blogs li:before {
    content: "\f138";
    position: absolute;
    left: 8px;
    top: 15px;
    font: normal normal normal 18px/1 FontAwesome;
    color: #999
}

footer .recent-blogs li:hover {
    background-color: rgba(0, 0, 0, .3);
    border-top: solid thin rgba(225, 225, 225, .3);
    border-bottom: solid thin rgba(225, 225, 225, .3)
}

footer .recent-blogs li:hover a,
footer .recent-blogs li:hover a strong {
    color: #fff!important
}

footer .recent-blogs li:hover:before {
    color: #fff
}

footer .recent-blogs li a {
    color: #999;
    font-size: 12px;
    text-decoration: none
}

footer .recent-blogs li a strong {
    font-size: 10px;
    line-height: 3
}

footer .twitter-words {
    padding: 0;
    margin: 0
}

footer .twitter-words li {
    padding: 10px 0 10px 40px;
    position: relative;
    border-top: solid thin transparent;
    border-bottom: solid thin transparent;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}

footer .twitter-words li:before {
    content: "\f138";
    position: absolute;
    left: 8px;
    top: 15px;
    font: normal normal normal 18px/1 FontAwesome;
    color: #999
}

.tmp-blog .post-details .post-meta,
.tmp-blog .post-details h2 a,
footer .link-inline,
footer .newsletter .lettercontent p {
    font-family: Poppins, sans-serif
}

footer .twitter-words li:hover {
    background-color: rgba(0, 0, 0, .3);
    border-top: solid thin rgba(225, 225, 225, .3);
    border-bottom: solid thin rgba(225, 225, 225, .3)
}

footer .twitter-words li:hover div {
    color: #fff
}

footer .twitter-words li:hover a,
footer .twitter-words li:hover a strong {
    color: #fff!important
}

footer .twitter-words li:hover:before {
    color: #fff
}

footer .twitter-words li a,
footer .twitter-words li div {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    font-style: normal!important
}

footer .twitter-words li a strong,
footer .twitter-words li div strong {
    font-size: 10px;
    line-height: 3
}

footer .newsletter {
    width: 100%;
    float: left;
    border: 7px solid rgba(255, 255, 255, .06);
    min-height: 100px
}

footer .newsletter .lettercontent {
    padding: 20px
}

footer .newsletter .lettercontent p {
    font-size: 11px;
    color: #999;
    text-align: center
}

footer .newsletter .lettercontent .form-control {
    width: 100%;
    background: 0 0;
    border: 3px solid rgba(255, 255, 255, .06);
    padding: 0 5px;
    height: 45px;
    margin: 10px 0;
    border-radius: 0;
    color: #fff
}

footer .newsletter .lettercontent .form-control:active,
footer .newsletter .lettercontent .form-control:focus,
footer .newsletter .lettercontent .form-control:hover {
    box-shadow: none;
    outline: 0
}

footer .newsletter .lettercontent .btn {
    margin: 10px 0 0;
    background-color: #f63;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    border: none;
    width: 100%;
    padding: 12px 0;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

footer .newsletter .lettercontent .btn:hover {
    background-color: #fff!important;
    color: #f63!important
}

footer .newsletter .lettercontent .btn:active,
footer .newsletter .lettercontent .btn:focus {
    background-color: #f63!important;
    color: #fff!important
}

footer .link-inline,
footer .link-inline a {
    font-size: 10px;
    color: #999;
    text-decoration: none
}

.tmp-blog .post-details .post-meta,
footer .reserve-policy {
    font-size: 12px;
    color: #999
}

footer .link-inline {
    text-transform: uppercase;
    text-align: center;
    line-height: 3
}

footer .link-inline a:hover {
    color: #fff
}

footer .reserve-policy {
    text-align: center;
    line-height: 3
}

.tmp-blog .vline {
    margin: 0 auto 40px!important
}

.tmp-blog .subtitle {
    margin: 10px auto 20px;
    text-transform: inherit!important
}

.tmp-blog .blog-img {
    margin: 0 auto;
    text-align: center;
    min-height: 220px;
    max-width: 300px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    border: thin solid #ccc
}

.blog_sidebar .blog_video_gallery ul li .video_img img,
.blog_sidebar .related_posts ul li .video_img img {
    max-width: 100%
}

.tmp-blog .blog-img img {
    display: inline;
    padding-bottom: 15px
}

#posts .item {
    margin-bottom: 20px
}

.tmp-blog .post-details .post-meta a {
    color: #999
}

.tmp-blog .post-details .post-meta a:hover {
    color: #f05f40
}

.tmp-blog .post-details {
    padding: 0 0 10px
}

.tmp-blog .post-details h2 {
    margin: 10px 0 20px
}

.tmp-blog .post-details h2 a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #333
}

.tmp-blog .post-details h2 a:hover {
    color: #f05f40
}

.tmp-blog .post-details .info {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: "Open Sans", sans-serif
}

.tmp-blog .wp-paginate {
    text-align: center
}

.tmp-blog .wp-paginate a,
.tmp-blog .wp-paginate span {
    border: none;
    font-weight: 700;
    color: #333!important;
    padding: 4px 11px
}

.tmp-blog .wp-paginate span {
    background-color: #fdfdfd
}

.tmp-blog .wp-paginate .current {
    display: inline-block
}

.blog_sidebar {
    position: relative
}

.blog_sidebar .sidebar_header {
    position: relative;
    width: 100%;
    margin: 30px 0
}

.blog_sidebar .sidebar_header h4 {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    color: #333;
    position: relative;
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding-right: 10px
}

.back_article,
.back_article:active,
.back_article:focus,
.back_article:hover {
    color: #E7663F
}

.blog_sidebar .sidebar_header hr {
    position: absolute;
    width: 50%;
    background-color: #ccc;
    content: '';
    right: 0;
    bottom: 9px;
    border-width: 2px;
    margin: 0;
    z-index: -1
}

footer.comment-meta {
    background: 0 0
}

.blog_sidebar span.screen-reader-text {
    display: none
}

.blog_sidebar #search-2 {
    display: block;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 0;
    border: thin solid #ccc;
    position: relative
}

.back_article {
    font-weight: 700;
    margin: 50px 0;
    display: block
}

.blog_sidebar #search-2:before {
    position: absolute;
    right: 0;
    width: 40px;
    height: 38px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    line-height: 2.4;
    color: #777
}

.blog_sidebar #search-2 label {
    margin: 0;
    line-height: 1;
    width: 100%
}

.blog_sidebar #search-2 label input {
    line-height: 2.5;
    width: 100%;
    padding-right: 40px
}

.blog_sidebar #search-2 .search-submit {
    position: absolute;
    right: 0;
    width: 40px;
    line-height: 2.7;
    top: 0;
    font-size: 0;
    height: 38px;
    padding: 0
}

.blog_sidebar #search-2 input {
    background: 0 0;
    border: none;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding-left: 10px
}

.blog_sidebar #tags-list {
    padding: 0;
    margin: 0 0 30px
}

.blog_sidebar #tags-list li {
    padding: 0;
    margin: 0;
    border-bottom: solid thin #eaeaea
}

.blog_sidebar #tags-list li:last-child {
    border: none
}

.blog_sidebar #tags-list li a {
    line-height: normal;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #333;
    display: block;
    width: 100%;
    position: relative;
    margin: 10px 0;
    padding-left: 20px
}

.blog_sidebar #tags-list li a:before {
    content: "\e258";
    left: 0;
    font-family: 'Glyphicons Halflings';
    margin-right: 15px;
    font-size: 11px;
    color: #f26101;
    position: absolute;
    top: 6px
}

.blog_sidebar #tags-list li a:hover {
    color: #f26101
}

.blog_sidebar .blog_video_gallery ul {
    margin: 0;
    padding: 0
}

.blog_sidebar .blog_video_gallery ul li {
    margin: 0;
    clear: both;
    padding: 15px 0;
    font-size: 13px;
    line-height: 1.4;
    display: block;
    width: 100%;
    color: #333;
    font-family: "Open Sans", sans-serif
}

.blog_sidebar .blog_video_gallery ul li span {
    color: #333;
    display: block;
    margin-top: 10px
}

.blog_sidebar .blog_video_gallery ul li span.flaticon-play-button4 {
    margin-top: 0
}

.blog_sidebar .blog_video_gallery ul li:hover {
    color: #f26101
}

.blog_sidebar .blog_video_gallery ul li:first-child {
    padding-top: 0
}

.blog_sidebar .blog_video_gallery ul li .video_img {
    float: left;
    width: 100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px
}

.blog_sidebar .blog_video_gallery ul li .video_img a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(242, 97, 1, .8);
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    opacity: 0;
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s
}

.blog_sidebar .blog_video_gallery ul li .video_img:hover a,
.services_page_new section .services_capabilities .video-thumb:hover .video_overlay {
    opacity: 1
}

.blog_sidebar .blog_video_gallery ul li .video_img a span {
    color: #fff;
    font-size: 35px
}

.blog_sidebar .blog_video_gallery ul li p {
    float: left;
    padding: 0 10px
}

.blog_sidebar .blog_video_gallery .btn {
    background-color: #f26101;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    border: thin solid #f26101
}

.blog_sidebar .blog_video_gallery .btn:active,
.blog_sidebar .blog_video_gallery .btn:focus,
.blog_sidebar .blog_video_gallery .btn:hover {
    color: #f26101!important;
    background-color: #fff!important;
    border: thin solid #f26101!important
}

.blog_sidebar .social_icons {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    width: 100%;
    margin: 0 0 30px;
    padding: 0
}

.blog_sidebar .social_icons li {
    margin: 0;
    padding: 0;
    display: inherit
}

.blog_sidebar .social_icons a {
    border: thin solid #999;
    font-size: 22px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center
}

.blog_sidebar .social_icons a.facebook,
.blog_sidebar .social_icons a.facebook:hover {
    color: #3b5998!important
}

.blog_sidebar .social_icons a.twitter,
.blog_sidebar .social_icons a.twitter:hover {
    color: #00aced!important
}

.blog_sidebar .social_icons a.pinterest,
.blog_sidebar .social_icons a.pinterest:hover {
    color: #cb2027!important
}

.blog_sidebar .social_icons a.google-plus,
.blog_sidebar .social_icons a.google-plus:hover {
    color: #dd4b39!important
}

.blog_sidebar .social_icons a.instagram,
.blog_sidebar .social_icons a.instagram:hover {
    color: #fb3958!important
}

.blog_sidebar .social_icons a.linkedin,
.blog_sidebar .social_icons a.linkedin:hover {
    color: #007bb6
}

.post_social_share span {
    float: right;
    line-height: 32px;
    margin-right: 10px;
    font-family: Poppins, sans-serif
}

.post_social_share a img {
    display: none!important
}

.post_social_share a {
    width: 32px;
    height: 32px;
    position: relative
}

.post_social_share a:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    border-radius: 3px;
    content: ""
}

.post_social_share a:after {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px
}

.blog_sidebar .related_posts ul li,
.blog_sidebar .related_posts ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #333
}

.synved-social-provider-facebook:after {
    content: "\f09a"
}

.synved-social-provider-twitter:after {
    content: "\f099"
}

.synved-social-provider-google_plus:after {
    content: "\f0d5"
}

.synved-social-provider-linkedin:after {
    content: "\f0e1"
}

.synved-social-provider-mail:after {
    content: "\f003"
}

.widget_synved_social_share {
    display: inline-block;
    float: right
}

.instagram_gallery .rigrid_front_grid,
.instagram_gallery .rigrid_front_grid li,
.instagram_gallery .rigrid_front_grid ul {
    margin: 0;
    padding: 0
}

.instagram_gallery .rigrid_front_grid li,
.instagram_gallery .rigrid_front_grid li .wpinsta_featured_image {
    width: 85px!important;
    background-color: #fff;
    height: 85px!important
}

.instagram_gallery .rigrid_front_grid li a {
    padding: 5px
}

.blog_sidebar .related_posts ul {
    margin: 0;
    padding: 0
}

.blog_sidebar .related_posts ul li {
    margin: 0;
    padding: 15px 0;
    line-height: 1.4;
    display: block;
    width: 100%;
    clear: both;
    float: left
}

.blog_sidebar .related_posts ul li span {
    color: #333;
    display: block;
    margin-top: 10px
}

.blog_sidebar .related_posts ul li a:hover,
.blog_sidebar .related_posts ul li:hover {
    color: #f26101
}

.blog_sidebar .related_posts ul li:first-child {
    padding-top: 0
}

.blog_sidebar .related_posts ul li .video_img {
    float: left;
    width: 100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px
}

.blog_sidebar .related_posts ul li .video_img a span {
    color: #fff;
    font-size: 35px
}

.blog_sidebar .related_posts ul li p {
    float: left;
    padding: 0 10px
}

.blog_sidebar .related_posts .btn {
    background-color: #f26101;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase
}

.blog_sidebar .related_posts .btn:active,
.blog_sidebar .related_posts .btn:focus,
.blog_sidebar .related_posts .btn:hover {
    background-color: #f26101!important;
    color: #fff!important
}

.blog-box-new {
    padding-right: 30px
}

.blog-box-new h2 {
    font-size: 30px;
    font-family: Poppins, sans-serif;
    color: #333;
    margin-top: 0
}

.blog-box-new .single_blogimg {
    margin: 10px 0 15px
}

.blog-box-new .single_blogimg,
.blog-box-new .single_blogimg img {
    width: 100%;
    display: block
}

.blog-box-new .blog_meta_data,
.blog-box-new .blog_meta_data a,
.kb-single .blog_meta_data,
.kb-single .blog_meta_data a {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #999
}

.blog-box-new p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #333;
    line-height: 1.7
}

.blog-box-new h3,
.blog-box-new h4,
.blog-box-new h5,
.blog-box-new h6 {
    color: #f26101;
    font-family: Poppins, 'Helvetica Neue', Arial, sans-serif
}

.blog-box-new p img {
    width: 100%
}

.blog-box-new hr {
    margin: 20px 0;
    border-width: 1px
}

.blog-box-new p em {
    font-style: normal
}

.blog-box-new .post_social_share .social_icons {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0
}

.blog-box-new .post_social_share .social_icons li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.blog-box-new .post_social_share .social_icons li:last-child {
    margin-right: 0
}

.blog-box-new .post_social_share .social_icons a {
    border: thin solid #eee;
    font-size: 14px;
    width: 32px;
    border-radius: 3px;
    background-color: #eee;
    color: #333;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center
}

.blog-box-new .comment-respond .comment-form-comment,
.blog-box-new .comment-respond .comment-form-comment label {
    width: 100%;
    display: block
}

.blog-box-new .post_social_share .social_icons p {
    line-height: 32px;
    margin: 0;
    font-size: 18px;
    font-family: Poppins, sans-serif
}

.blog-box-new .post_social_share .social_icons a.facebook,
.blog-box-new .post_social_share .social_icons a.facebook:hover {
    color: #3b5998!important
}

.blog-box-new .post_social_share .social_icons a.twitter,
.blog-box-new .post_social_share .social_icons a.twitter:hover {
    color: #00aced!important
}

.blog-box-new .post_social_share .social_icons a.pinterest,
.blog-box-new .post_social_share .social_icons a.pinterest:hover {
    color: #cb2027!important
}

.blog-box-new .post_social_share .social_icons a.google-plus,
.blog-box-new .post_social_share .social_icons a.google-plus:hover {
    color: #dd4b39!important
}

.blog-box-new .comment-respond .comment-notes {
    display: none
}

.blog-box-new .comment-respond .comment-reply-title {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600
}

.blog-box-new .comment-respond input,
.blog-box-new .comment-respond textarea {
    border-radius: 0!important
}

.blog-box-new .comment-respond label {
    font-size: 16px;
    display: block
}

.blog-box-new .comment-respond .comment-form-comment #comment {
    width: 100%;
    resize: none;
    padding: 10px
}

.blog-box-new .comment-respond .comment-form-author,
.blog-box-new .comment-respond .comment-form-email,
.blog-box-new .comment-respond .comment-form-url {
    width: 33.33%!important;
    float: left
}

.blog-box-new .comment-respond input {
    padding: 5px 10px
}

.blog-box-new .comment-respond .comment-form-author input,
.blog-box-new .comment-respond .comment-form-email input {
    width: 90%
}

.blog-box-new .comment-respond .comment-form-url input {
    width: 100%
}

.blog-box-new .comment-respond .form-submit {
    clear: both
}

.blog-box-new .comment-respond .form-submit .submit {
    font-weight: 700!important;
    border-radius: 5px!important
}

@media(max-width:767px) {
    .blog-box-new {
        padding: 0
    }
    .sticky_footermsg {
        padding: 4px 10px;
        line-height: 16px!important;
        font-size: 14px!important
    }
}

@media only screen and (min-width:767px) and (max-width:1024px) {
    .blog_sidebar .blog_video_gallery ul li .video_img,
    .blog_sidebar .related_posts ul li .video_img {
        width: 100%
    }
    .instagram_gallery .rigrid_front_grid li,
    .instagram_gallery .rigrid_front_grid li .wpinsta_featured_image {
        width: 75px!important;
        height: 75px!important
    }
    .blog_sidebar .social_icons a {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 18px
    }
}

@media (max-width:480px) {
    .blog-box-new .comment-respond .comment-form-author,
    .blog-box-new .comment-respond .comment-form-email,
    .blog-box-new .comment-respond .comment-form-url {
        width: 100%!important;
        display: block
    }
    .blog-box-new .comment-respond .comment-form-author input,
    .blog-box-new .comment-respond .comment-form-email input,
    .blog-box-new .comment-respond .comment-form-url input {
        width: 100%
    }
    .services_page_new .service_view_page {
        margin-top: -30px!important
    }
    .services_page_new .service_view_page,
    .services_page_new .service_view_page .services_head {
        display: block!important;
        width: 100%!important;
        float: left
    }
    .services_page_new .service_view_page .services_head.left-bar {
        padding-top: 50px
    }
    .services_page_new section .services_capabilities {
        padding: 30px 15px!important
    }
    .services_page_new section .services_list>div {
        margin-left: 0!important;
        padding-left: 40px
    }
    .services_page_new .light-gray-wraper .col-sm-4 {
        text-align: left!important
    }
    .services_page_new .light-gray-wraper .col-sm-4>div {
        display: block;
        padding-left: 45px
    }
}

@media(min-width:1442px) {
    .container {
        width: 1361px
    }
}

.search_results .subtitle {
    text-transform: capitalize!important;
    font-weight: 400
}

.search_results .subtitle small {
    font-weight: 400!important;
    text-transform: capitalize!important;
    font-size: 24px;
    color: #333
}

.services_page_new .client-icon {
    margin-bottom: 0
}

.services_page_new section {
    padding: 0
}

.services_page_new .service_view_page {
    background-color: #15444f;
    display: table;
    display: -webkit-table;
    display: -moz-table;
    display: -o-table;
    display: -ms-table;
    float: left
}

.services_page_new .service_view_page .services_head {
    min-height: 300px;
    position: relative;
    text-align: left;
    display: table-cell;
    -webkit-display: table-cell;
    -moz-display: table-cell;
    -o-display: table-cell;
    -ms-display: table-cell;
    width: 50%;
    vertical-align: top
}

.services_page_new .service_view_page .services_head.right-bar {
    background-color: #25515c
}

.services_page_new .service_view_page .services_head.left-bar:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .12) 45%, rgba(0, 0, 0, .26) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, .12)), color-stop(100%, rgba(0, 0, 0, .26)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .12) 45%, rgba(0, 0, 0, .26) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .12) 45%, rgba(0, 0, 0, .26) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .12) 45%, rgba(0, 0, 0, .26) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .12) 45%, rgba(0, 0, 0, .26) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1)
}

.services_page_new .service_view_page .header-group {
    margin-bottom: 23px
}

.services_page_new .service_view_page .header-group h4 {
    font-size: 48px!important;
    text-align: left
}

.services_page_new section .services_capabilities {
    padding: 60px 40px 60px 60px;
    color: #fff;
    font-family: "Open Sans", sans-serif
}

.services_page_new section .services_capabilities p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em
}

.services_page_new section .services_capabilities .video-thumb {
    position: relative;
    margin-top: 40px;
    max-width: 612px
}

.services_page_new section .services_capabilities .video-thumb:first-child .video_overlay {
    margin-bottom: 0;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out
}

.services_page_new section .services_capabilities .video-thumb .video_overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 102, 51, .8);
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out
}

.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px
}

.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text h5 {
    color: #fff;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 1.8
}

.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text p {
    font-size: 12px;
    font-family: Poppins, sans-serif;
    margin: 0
}

.services_page_new section .services_capabilities .video-thumb img {
    width: 100%
}

.services_page_new section .services_capabilities .video-thumb i {
    position: absolute;
    left: 50%!important;
    right: inherit!important;
    width: auto!important;
    top: 50%!important;
    transform: translate(-50%, -50%)!important;
    -webkit-transform: translate(-50%, -50%)!important;
    -moz-transform: translate(-50%, -50%)!important;
    -o-transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important
}

.services_page_new section .services_list {
    padding: 50px 0 30px 20px;
    color: #bdc9cc;
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px
}

.services_page_new section .services_list>div {
    float: left;
    margin-left: 75px
}

.services_page_new section .services_list h5 img {
    max-width: 30px;
    padding: 3px;
    position: absolute;
    left: -40px;
    top: 0;
    border: thin solid #fff;
    border-radius: 5px
}

.services_page_new section .services_list h5 {
    position: relative;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase
}

.services_page_new section .services_list h5 a {
    color: #fff
}

.services_page_new section .services_list h5 a:hover {
    color: #f05f40
}

.services_page_new section .services_list ul li {
    color: #bdc9cc;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: disc;
    list-style-position: inherit;
    line-height: 24px
}

.services_page_new .light-gray-wraper ul,
.services_page_new section .services_list ul {
    margin-bottom: 27px;
    padding: 0;
    list-style-position: inside
}

.services_page_new .light-gray-wraper {
    background-color: #e1e1e1;
    clear: both;
    padding-bottom: 15px
}

.services_page_new .light-gray-wraper .col-sm-4 {
    text-align: center
}

.services_page_new .light-gray-wraper .col-sm-4>div {
    display: inline-block;
    text-align: left
}

.services_page_new .light-gray-wraper .header-group h4 {
    font-size: 48px
}

.services_page_new .light-gray-wraper .vline {
    height: 40px;
    margin: 20px auto 30px
}

.services_page_new .light-gray-wraper h5 {
    position: relative;
    color: #15444f;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase
}

.services_page_new .light-gray-wraper h5 a {
    color: #15444f
}

.services_page_new .light-gray-wraper h5 a:focus,
.services_page_new .light-gray-wraper h5 a:hover {
    color: #f05f40
}

.services_page_new .light-gray-wraper ul li {
    color: #15444f;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: disc;
    line-height: 24px
}

.services_page_new .light-gray-wraper h5 img {
    max-width: 30px;
    padding: 3px;
    position: absolute;
    left: -40px;
    top: 0;
    border: thin solid #f63;
    border-radius: 5px
}

.socialm-management {
    padding: 0!important
}

.socialm-management .triangleup a {
    padding: 100px 0 0
}

.copyrit-content-strategy h2.subtitle,
.logo-and-brand h2.subtitle,
.socialm-management h2.subtitle {
    text-transform: none
}

.subt_txttrm,
.subtitle {
    text-transform: capitalize
}

.subtitle span.smalletxt,
.subtitle span.smalletxtb {
    text-transform: lowercase
}

.subtitle span.smalletxt {
    font-weight: 200
}

.copyrit-content-strategy .orngtxt,
.logo-and-brand .orngtxt,
.socialm-management .orngtxt {
    font-family: Poppins, sans-serif
}

.kb-banner img {
    min-height: 249px
}

.kb-sec a.blog-but {
    display: none
}

.kb-sec .info {
    min-height: auto;
    line-height: 20px;
    color: #333;
    font-family: "Open Sans", sans-serif
}

.kb-sec .qa-blog-box-inner h2,
.kb-single .blog-box-inner h3,
.kb-single .blog-box-inner.ind-blog-page h2,
.res_subtitle,
.sub_subtitle {
    font-family: Poppins, sans-serif
}

.kb-sec a.qa-faq-anchor {
    color: #333
}

.kb-sec a.qa-faq-anchor:focus,
.kb-sec a.qa-faq-anchor:hover {
    color: #f05f40
}

.kb-sec .qa-blog-box-inner h2 {
    line-height: 30px;
    font-weight: 400;
    font-size: 24px
}

.kb-single {
    background: 0 0
}

.kb-single .blog-box-inner.ind-blog-page h2 {
    font-size: 30px;
    color: #333;
    margin-top: 0
}

.kb-single .blog-box-inner.ind-blog-page .info p,
.kb-single .blog-box-inner.ind-blog-page .info ul li {
    font-size: 18px
}

.kb-single .blog-box-inner h3 {
    color: #f05f40
}

.kb-sec .kb-img {
    border: 1px solid #ccc
}

.kb-sec .vline {
    height: 30px;
    margin-bottom: 30px
}

.res_subtitle,
.sub_subtitle {
    font-size: 1.4em
}

img.icons {
    max-width: 75px
}

.service_icons2h img.orange-img,
.service_icons2h:hover img.grey-img {
    display: none!important
}

.service_icons2h:hover img.orange-img {
    display: block!important
}

.triangleup a {
    font-weight: 500
}

.triangleup span,
.triangleup span b {
    font-family: Poppins, sans-serif!important;
    font-weight: 500!important;
    letter-spacing: -1px
}

.case_study .vcs_link,
.ppinsfnt,
.sticky_footermsg {
    font-family: Poppins, sans-serif
}

.work-triangle .triangleup span,
.work-triangle .triangleup span b {
    font-size: 28px
}

.sticky_footermsg {
    position: fixed;
    background: #E7663F;
    width: 100%;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    z-index: 999
}

a[title="Real Time Web Analytics"] {
    margin-bottom: 40px!important;
    display: inline-block
}

.cs-tophead {
    margin-bottom: 30px
}

.case_study .csban_thmbaner {
    min-height: 400px;
    background-size: cover!important
}

.case_study .csthmimg {
    padding: 40px 0 0
}

.case_study h2.subtitle {
    color: #fff;
    text-align: left;
    margin: 50px 0 20px
}

.case_study .vcs_link {
    background-color: #e96637;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #e96637;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    margin: 40px 0 30px
}

.case_study .vcs_link:hover {
    background: #fff;
    border: 1px solid #e96637;
    color: #e96637
}

.csdetailinfo_contain .row {
    padding: 60px 50px
}

.case_study .cstxtinfo {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px
}

.case_study .csdtailinfo,
.cssinglepage_thmbaner .csdtailinfo {
    color: #272626;
    font-family: "Open Sans", sans-serif
}

.case_study .csdtailinfo li,
.cssinglepage_thmbaner .csdtailinfo li {
    margin-bottom: 20px;
    position: relative
}

.case_study .csdtailinfo li:before,
.cssinglepage_thmbaner .csdtailinfo li:before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background: #e96637;
    position: absolute;
    left: -36px;
    top: 50%;
    margin-top: -8px;
    -ms-transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg)
}

.case_study .cswwd_points {
    text-align: right;
    color: #999;
    font-family: Poppins, sans-serif;
    text-transform: uppercase
}

.case_study .cswwd_points li {
    margin-bottom: 20px
}

.case_study .cswwd_points li:first-child {
    margin-bottom: 30px;
    color: #e96637;
    font-size: 24px
}

.case_study:nth-child(even) .csban_thmbaner .col-sm-7 {
    float: right
}

.cspage .triangleup a {
    padding: 100px 0 0
}

.cssingle_content .row {
    margin-bottom: 60px
}

.cssinglepage_thmbaner {
    min-height: 400px;
    background-size: cover!important;
    padding: 40px 0
}

.cssinglepage_thmbaner .csdtailinfo {
    color: #fff;
    font-weight: 400;
    padding-top: 30px
}

.cssinglepage_thmbaner .csdtailinfo li {
    margin-bottom: 10px
}

.cssinglepage_thmbaner .csdtailinfo li:before {
    background: #fff
}

.cssingle_content img.icons {
    margin-top: 50px
}

ul.listdisc {
    padding-left: 30px
}

ul.listdisc li {
    list-style-type: disc!important;
    color: #fff;
    padding: 0 0 10px 10px
}

#menuModal .menu,
#menuModal .modal-content,
#menuModal .modal-header {
    background: #333
}

#menuModal .video-links-menu {
    clear: both;
    margin: 28% 0 0
}

#menuModal .menu {
    padding-bottom: 20px
}

.ourcustomer .box {
    margin: 0
}

.dcw_counts .count h4 .numb {
    display: inline
}

.pos-rel.clearfix {
    margin-top: -68px;
    padding-top: 50px
}

.team_page .carousel-indicators {
    left: 50%
}

.blog-box-new figure {
    width: 100%!important
}

.blog-box-new figure figcaption {
    margin: 20px 0 30px
}

.press .item.col-md-4.col-sm-6 .blog-box .blog-box-inner .col-xs-12 {
    margin-top: 10px
}

.client-icon.press-icon {
    margin-bottom: 0
}

.press .blog-box .blog-box-inner .info {
    padding-top: 10px
}

.press .blog-box .blog-box-inner h2 {
    height: 68px;
    overflow: hidden
}

.press .item .blog-box .blog-box-inner .press-img {
    height: 200px;
    overflow: hidden;
    position: relative
}

.press .item .blog-box .blog-box-inner .press-img img {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    margin: auto;
    min-height: auto
}

section.light-gray-wraper.divide.faqspge {
    margin-top: -68px;
    padding-top: 120px!important;
    padding-bottom: 30px;
    margin-bottom: 0
}

.video-singlepage .back_article {
    margin: 30px 0;
    padding: 0 15px
}

.triangleup a {
    top: auto;
    bottom: 30px;
    padding-bottom: 0
}

.hme-cion-mobile {
    display: none
}

.affix .scrl-main img {
    display: block
}

#menuModal .video-links-menu .videos-hover-color i.flaticon-play-button4,
div.work img {
    display: none
}

header .google-adwords .snd .call_btn input.btn,
header .google-adwords .snd .start_btn input.btn {
    padding: 18px 15px;
    min-width: 270px
}

header .google-adwords .snd .call_btn,
header .google-adwords .snd .start_btn {
    width: 50%
}

section.team_blogs,
section.team_page {
    width: 100%;
    float: left
}

header .google-adwords .snd .call_btn {
    float: right;
    text-align: left;
    padding-left: 10px
}

header .google-adwords .snd .start_btn {
    float: left;
    text-align: right;
    padding-right: 10px
}

header .google-adwords .snd .call_btn input,
header .google-adwords .snd .call_btn input:focus,
header .google-adwords .snd .call_btn input:hover {
    background: 0 0!important;
    color: #f63!important;
    cursor: text
}

.wp-paginate .current,
.wp-paginate a {
    color: #333!important;
    border: 0!important;
    font-weight: 700
}

header .h_services.adword-services .box h4 {
    font-size: 16px
}

#menuModal .video-links-menu .videos-hover-color {
    background: url(../images/play-btn.png) center no-repeat;
    height: 100%
}

.blog_ecommerce,
div.work {
    height: 249px
}

section.light-gray-wraper.tlbg {
    margin-top: -20px
}

section.light-gray-wraper.tlbg .col-md-6.col-sm-6.sm-bg {
    padding-top: 38px
}

section.team_page {
    margin-top: -22px
}

.wp-paginate a {
    padding: 4px 11px!important
}

.wp-paginate .current {
    background: 0 0!important
}

.blog_meta_data.row {
    margin-bottom: 20px
}

.triangleup.blog_traingle {
    margin-top: 50px
}

div.work {
    background: url(../images/featured_image.jpg) center no-repeat;
    background-size:cover;
}

.kb-sec .qa-blog-box-inner .col-sm-8 h2 {
    margin-top: 0
}

.video-testimonials .video_img a span {
    font-family: Flaticon;
    font-size: 46px
}

.video-testimonials .video_img a span.icomoon-icon-play-2:before {
    content: "\e000"
}

.kb-sec .divide {
    margin: 0!important
}

.kb-sec {
    margin-bottom: 50px
}

.kb-sec .qa-blog-box-inner {
    padding: 0 0 10px
}

section.ptop60.kb-sec {
    padding-top: 43px
}

.kb-sec .post-meta,
.kb-sec .post-meta a {
    font-size: 12px;
    font-family: Poppins, sans-serif;
    color: #999;
    margin-bottom: 10px
}

.sm-bg .cnr .map img {
    height: 75px;
    width: auto
}

.sm-bg .cnr .col-sm-6 {
    margin-bottom: 20px;
    min-height: 220px
}

.sm-bg .cnr .contact-us li {
    margin-bottom: 0
}

.get-directions:focus {
    color: #f05f40
}

ul.nav.navbar-nav li ul,
ul.nav.navbar-nav li ul li ul {
    display: none!important
}

ul.nav.navbar-nav li ul li:hover>ul,
ul.nav.navbar-nav li:hover>ul {
    display: block!important
}

ul.nav.navbar-nav li ul.sub-menu li ul.sub-menu {
    background: rgba(25, 37, 49, .8)
}

ul.nav.navbar-nav li ul li ul {
    margin: -42px 0 0 206px
}

ul.nav.navbar-nav li ul li {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

ul.nav.navbar-nav li ul li:last-child {
    border-bottom: 0
}

ul.nav.navbar-nav li ul li ul li a {
    line-height: normal!important;
    white-space: normal;
    padding: 11px 20px 12px!important
}

ul.nav.navbar-nav li ul li.menu-item-has-children:after {
    font-family: FontAwesome;
    content: "\f054";
    position: absolute;
    color: #cdcdcd;
    font-size: 8px;
    display: inline;
    speak: none;
    cursor: pointer;
    right: 9px;
    top: 16px
}

#container-blog .blog-box-new a {
    word-break: break-all
}

.process-line {
    top: 430px
}

section.light-gray-wraper.divide.faq_cms {
    margin-top: 80px
}

.comment-respond h3#reply-title:before {
    display: block;
    content: "";
    clear: both;
    float: none
}

.awrds .row {
    margin: 0
}

.subtitle.ecom_title {
    margin-bottom: 46px
}

.ecomm_videos .carousel-caption {
    position: static;
    margin-top: 12px
}

.ecomm_videos_title {
    margin-top: 0;
    font-size: 24px;
    display: block;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.carousel-inner.testimonial .video-testimonials .video_img a{
	opacity: 1;
	background: transparent;
}
.carousel-inner.testimonial .video-testimonials .video_img:hover a{
	opacity: 1;
	background-color: rgba(231,102,63,.5);
}
.videotesti_container{
	position: relative;
	min-height:170px;
}
#video-testimonial-generic .videotesti_container .carousel-control{
	margin-top: -70px;
	width: auto;
	top: 50% !important;
	bottom: auto;
}
#video-testimonial-generic .videotesti_container .video-testimonials .video_img{
	margin-bottom: 0;
}

#video-testimonial-generic .videotesti_container  .service_test{
	margin-top: 0 !important;
}
#video-testimonial-generic .carousel-control.left{
	left: -50px;
}
#video-testimonial-generic .carousel-control.right{
	right: -50px;
}

.blog_block h2.subtitle{
	margin-bottom: 30px;
}

.service_icons img.icons3{
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}
.service_icons img.icons3:hover{
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
section.ecmrce-accordians{
	margin-bottom: 30px;
}

@media(min-width:1025px) {
    .team_blogs .profile-box-mobiletab {
        display: none!important
    }
    .team_blogs .profile-box {
        display: block!important
    }
    .topcallreq_sec {
        display: none
    }
}

@media(max-width:1024px) {
    .press_awards .table tr td img {
        filter: invert(0) grayscale(0);
        -webkit-filter: invert(0) grayscale(0);
        opacity: 1
    }
    .connect_with .flag {
        height: 100px!important
    }
    .connect_with .flag img {
        display: none
    }
    section.devide {
        margin-top: 10px
    }
    .pos-rel.clearfix {
        margin-top: -82px;
        padding-top: 72px
    }
    .video-div .videos-hover-color {
        height: 96%;
        width: 95%
    }
    .kb-single .vline,
    .video-singlepage .vline {
        height: 20px
    }
    .services_page_new .service_view_page {
        margin-top: -27px
    }
    .services_page_new section .services_capabilities .video-thumb .video_overlay {
        opacity: 1;
        background-color: rgba(255, 102, 51, .5)
    }
    .services_page_new section .services_capabilities .video-thumb .video_overlay .videos-hover-color {
        background: 0 0
    }
    .video_gallery .item .video-thumb .video_overlay {
        opacity: 1;
        background-color: rgba(255, 102, 51, .5)
    }
    .video_gallery .item .video-thumb .video_overlay .videos-hover-color {
        background: 0 0
    }
    .portfolio_inner .pfi_header .pfi_right img {
        max-height: 350px;
        padding-top: 20px
    }
    .portfolio_inner_content {
        padding: 30px 0 50px;
        float: left;
        width: 100%
    }
    .tmp-blog .post-details .info {
        min-height: auto
    }
    .tmp-blog .blog-img img {
        padding-bottom: 0
    }
    section.divider.ptop60 {
        padding-top: 30px
    }
    .blog_ecommerce .header-content-inner {
        top: 110px
    }
    .ecommerce .header-content-inner h1 {
        padding-top: 110px!important
    }
    .video-testimonials .video_img {
        margin-bottom: 20px
    }
    .video-testimonials .video_img a {
        opacity: 1;
        background-color: rgba(231, 102, 63, .5)
    }
    .client-icon.press-icon img {
        margin: -50px auto;
        top: -45px
    }
    section.divider.ptop60.pressreleases-dcw {
        padding-top: 70px
    }
    section.light-gray-wraper.divide.faqspge {
        margin-top: -82px;
        padding-top: 80px!important
    }
    .kb-banner .header-content-inner h1 {
        font-size: 26px!important;
        margin-top: -20px
    }
    .press .item {
        margin-bottom: 0!important
    }
    .kb-single {
        padding-top: 30px
    }
    .our-result .text-right {
        text-align: left;
        line-height: normal
    }
    .our-result .text-right img {
        width: auto;
        max-width: 100px;
        max-height: 50px
    }
    .ourcustomer .box span {
        display: block;
        margin-top: 6px
    }
    .ourcustomer .box img {
        margin-right: 0
    }
    .ourcustomer .box p.text-center~p {
        height: 170px;
        margin-bottom: 0;
        text-align: center
    }
    header .google-adwords h1 small {
        font-size: 40px
    }
    header .google-adwords textarea.form-control.cmnts {
        height: 140px
    }
    header .google-adwords div.snd {
        padding: 0 10px
    }
    header .google-adwords div.snd input.btn {
        width: 100%
    }
    .h_services.adword-services .col-sm-6.col-md-3 {
        margin-top: 10px
    }
    .h_services.adword-services .box {
        padding-bottom: 0
    }
    .h_services.adword-services .box img {
        margin: 10px auto
    }
    section.light-gray-wraper.tlbg .col-md-6.col-sm-6.cnt-hdng.sm-bg1 .mtop60 {
        margin-top: 30px
    }
    section.light-gray-wraper.tlbg .col-md-6.col-sm-6.sm-bg {
        padding-top: 0
    }
    section.team_page {
        margin-top: -50px
    }
    .client-icon.team-top-icon img {
        top: -16px;
        position: inherit
    }
    .click-video.text-left a.pp-up-logo img {
        max-width: 250px;
        margin-top: -6px;
        margin-bottom: 4px
    }
    i.clsee {
        font-size: 20px;
        padding-left: 0
    }
    .team_blogs .profile-box-mobiletab {
        display: block!important
    }
    .team_blogs .profile-box {
        display: none!important
    }
    .team_blogs .caption h4 {
        background: #F78260
    }
    .header-content .header-content-inner {
        height: 249px;
        display: table;
        top: auto!important;
        width: 100%
    }
    .header-content .header-content-inner h1 {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 30px 15px 0
    }
    .blogs-bnr h1 {
        padding-top: 30px!important
    }
    .accord-cust a:hover>i.fa-arrow-right {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        top: -2px;
        left: -10px
    }
    .accord-cust a.accordion-toggle.collapsed:hover>i.fa-arrow-right {
        transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        top: 0;
        left: 0
    }
    .accord-cust a.accordion-toggle.collapsed:hover>i.fa-arrow-right:before {
        color: #19272F!important
    }
    .blog_sidebar .blog_video_gallery ul li .video_img a {
        opacity: 1;
        background-color: rgba(242, 97, 1, .5)
    }
    .topcallreq_sec {
        background: #e1e1e1;
        padding: 4px 15px
    }
    .topcallreq_sec .top_call {
        float: left
    }
    .topcallreq_sec .top_call a.top_phone {
        float: none;
        background: url(../images/phone-call_100x100.png) no-repeat;
        background-size: 26px;
        margin-top: 1px;
        padding-left: 30px;
        line-height: 26px;
        font-family:'Poppins', sans-serif;
        font-weight: 600;
    }
    .topcallreq_sec .top_call a.top_phone:focus, .topcallreq_sec .top_call a.top_phone:hover{
    	    color: #e8663f;
    }
    .topcallreq_sec .top_rq {
        float: right;
        background-color: #e8663f;
        padding: 3px 9px;
        border-radius: 3px;
        width: 155px;
        text-align: center
    }
    #mainNav .flipper {
        display: none
    }
    .da-thumbs .portfolio-box a {
        z-index: 999;
        pointer-events: initial!important
    }
    .menu__list .menu__submenu>li {
        position: relative
    }
    .menu__list .menu__submenu>li .accordin_sbmenu {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        z-index: 9;
        top: 5px;
        color: #E7663F;
        font-weight: 700;
        font-size: 22px
    }
    .menu__list .menu__submenu>li ul.sub-menu {
        padding: 10px;
        margin-bottom: 0;
        font-size: 13px;
        background: #292929
    }
    .menu__list .menu__submenu>li ul.sub-menu li a {
        color: #fff;
        display: block;
        margin-bottom: 10px;
        line-height: 14px
    }
    .menu__list .menu__submenu>li ul.sub-menu li:last-child a {
        margin-bottom: 0
    }
    section.light-gray-wraper.divide.faq_cms {
        margin-top: 60px
    }
    .olark-attention-grabber.olark-init.olark-slide, .olark-image-modal-container.olark-hidden{
        display: none;
    }
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    .press .item .blog-box .blog-box-inner .col-xs-6.col-md-12.col-lg-6 {
        width: 50%;
        font-size: 12px
    }
    .press .item.col-md-4.col-sm-6 .blog-box .blog-box-inner .col-xs-12 {
        height: 22px;
        overflow: hidden
    }
    ul.work-nav li {
        margin: 4px 4px 10px
    }
    .video_gallery .item .col-sm-4.dcw-home-videos .video-thumb .video_overlay .overlay-text {
        bottom: auto;
        top: 0
    }
    a.navbar-brand.page-scroll.scrl-main.dsk-logo {
        padding-left: 0
    }
    .sm-bg .cnr .contact-us li {
        font-size: 14px
    }
    #video-testimonial-generic .carousel-indicators{
    	display: block;
    }
}

@media(min-width:992px) {
    .triangleup.video_traingle {
        margin-top: 30px
    }
}

@media(max-width:992px) {
    .process-line,
    .process-line-2,
    .team_page .carousel,
    .video-testimonials .vide_category .item.testimonails-video:nth-child(3) {
        display: none
    }
    .sitefooter .col-md-3.col-sm-6 {
        min-height: 330px
    }
    .our-result .result-text p {
        font-size: 14px
    }
    .kb-sec {
        margin-bottom: 0
    }
    section.team_blogs {
        margin-top: 30px
    }
    header .google-adwords .snd .call_btn,
    header .google-adwords .snd .start_btn {
        width: 100%;
        padding: 0
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        top: 165px
    }
    .triangleup:before {
        border-width: 190px;
        margin-left: -190px
    }
    .triangleup a {
        font-size: 16px
    }
    .triangleup span {
        font-size: 22px
    }
    .triangleup.video_traingle:before {
        border-width: 230px;
        margin-left: -230px
    }

    #video-testimonial-generic .videotesti_container{
    	padding: 0 30px;
    	min-height: 180px;
    }
    #video-testimonial-generic .carousel-control.left, #video-testimonial-generic .carousel-control.right{
    	font-size: 50px;
    }
    #video-testimonial-generic .carousel-control.left{
    	left: 0;
    }
    #video-testimonial-generic .carousel-control.right{
    	right: 0px;
    }
    #video-testimonial-generic .videotesti_container .carousel-control{
    	 margin-top: -58px;
    }
    #video-testimonial-generic .carousel-caption{
    	padding-right: 0;
    }
}

@media (min-width:768px) and (max-width:992px) {
    header h1 {
        padding: 0 14% 20px;
        margin-top: 0
    }
    header .h_services {
        padding: 0 0 10px
    }
    header .h_services .box p {
        min-height: 100px!important;
        margin-bottom: 0
    }
    .our-result .result-text {
        padding-right: 0
    }
    .video_gallery .item {
        padding: 0 20px
    }
    .video-div .videos-hover-color {
        height: 94.5%;
        width: 93.3%
    }
    .process-line-2 {
        bottom: 60px;
        right: 20px
    }
    .header-content-inner h1 {
        font-size: 32px!important
    }
    .header-content-inner.partner-head h1 {
        font-size: 26px!important
    }
    .services_page_new .light-gray-wraper h5 {
        max-width: 160px;
        line-height: normal
    }
    .services_page_new .light-gray-wraper ul {
        list-style-position: initial
    }
    ul.work-nav li a {
        font-size: 12px;
        padding: 5px 4px
    }
    .portfolio_inner_footer a {
        font-size: 12px
    }
    .video-testimonials .blog-box {
        min-height: 500px
    }
    .blog_sidebar #tags-list li a {
        font-size: 14px
    }
    .bg-orange.process-steps .midstrong strong:nth-child(1):before {
        content: "";
        display: block
    }
    .case_study h2.subtitle {
        font-size: 32px
    }
    .case_study .vcs_link {
        width: 200px;
        text-align: center;
        margin: 0 auto 20px;
        display: block
    }
    .case_study .csban_thmbaner {
        min-height: auto
    }
    .csdetailinfo_contain .row {
        padding: 30px 0
    }
    .tmp-blog .blog-img {
        min-height: auto;
        max-width: auto
    }
    .blog_sidebar .social_icons a {
        width: 40px;
        height: 40px;
        line-height: 40px
    }
    .sm-bg .cnr .contact-us li {
        font-size: 12px
    }
    .triangleup.blog_traingle {
        min-height: 200px;
        padding-top: 0;
        margin-top: 20px
    }
    .sm-bg .col-md-12.cnr {
        padding: 0
    }
    .sm-bg .cnr .col-sm-6 {
        padding-right: 0
    }
}

@media (max-width:767px) {
    .case_study h2.subtitle {
        margin: 10px 0 20px
    }
    .case_study .vcs_link {
        width: 200px;
        margin: 0 auto 30px;
        display: block
    }
    .csdetailinfo_contain .row {
        padding: 10px
    }
    .case_study .csdtailinfo {
        margin-top: 20px
    }
    .case_study .csdtailinfo li {
        margin-bottom: 20px
    }
    .case_study .cswwd_points {
        margin-top: 30px;
        padding: 0!important;
        text-align: left
    }
    .case_study .cswwd_points li,
    .case_study .cswwd_points li:first-child {
        margin-bottom: 10px
    }
    .cspage .triangleup a {
        padding: 50px 0 0!important
    }
    .cssingle_content img.icons {
        margin-top: 20px;
        margin-bottom: 30px
    }
    .cssingle_content .row {
        margin-bottom: 0
    }
    .video-div .videos-hover-color {
        width: 94%
    }
    ul.work-nav li a {
        font-size: 14px
    }
    .portfolio_inner .pfi_header .pfi_right,
    .portfolio_inner .pfi_header .pfi_right .item,
    .portfolio_inner .pfi_header .pfi_right .item .item-img {
        height: 300px!important
    }
    .client-icon.press-icon img {
        margin: -6px auto -110px;
        top: -45px
    }
    .press .item.col-md-4.col-sm-6 .blog-box .blog-box-inner .col-xs-6.col-md-12.col-lg-6 {
        width: 50%
    }
    .press .blog-box .blog-box-inner h2 {
        height: auto;
        overflow: visible;
        margin-top: 4px
    }
    .press .item .blog-box .blog-box-inner .press-img {
        height: auto;
        overflow: visible;
        position: relative
    }
    .press .item .blog-box .blog-box-inner .press-img img {
        position: static;
        margin: auto;
        min-height: auto
    }
    .press .item .blog-box .blog-box-inner .info {
        padding-bottom: 10px
    }
    .press .item.col-md-4.col-sm-6 .blog-box .blog-box-inner .col-xs-12 span {
        margin-bottom: 6px
    }
    .kb-banner .header-content-inner h1 {
        font-size: 24px!important;
        margin-top: 20px
    }
    .humble .digonal {
        margin: 10px auto 0!important
    }
    .mbl-logo.navbar-brand>img {
        width: 210px
    }
    header .h_services .box p {
        min-height: auto!important
    }
    .ourcustomer .box,
    .sm-bg .cnr .col-sm-6,
    .team_blogs .caption>p,
    .team_blogs .thumbnail .caption,
    .video-testimonials .blog-box {
        min-height: auto
    }
    .our-result .item .col-md-5.col-sm-6 img {
        padding-top: 30px!important
    }
    .our-result .carousel {
        margin: 0
    }
    .press_awards .table tr:first-child td:nth-child(1),
    .press_awards .table tr:first-child td:nth-child(2) {
        border-top: 0!important
    }
    .press_awards .table tr td {
        float: left;
        width: 50%;
        height: 100px;
        padding: 10px;
        position: relative;
        border: 1px solid #777!important;
        border-left: 0!important;
        border-bottom: 0!important
    }
    .press_awards .table tr td:nth-child(even) {
        border-right: 0!important
    }
    .press_awards .table tr td img {
        max-width: 80%;
        max-height: 100%;
        padding: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto
    }
    header .google-adwords {
        margin-top: 0;
        padding-bottom: 20px
    }
    header .google-adwords h1 {
        font-size: 36px!important
    }
    header .google-adwords h1 small {
        font-size: 24px!important
    }
    .h_services.adword-services {
        margin-top: 10px
    }
    .featured_block .header-group {
        padding: 0 15px
    }
    .our-result .header-group {
        margin-bottom: 0
    }
    .our-result .text-right {
        font-size: 12px
    }
    .ourcustomer .box {
        padding: 30px 45px
    }
    .ourcustomer .box p.text-center {
        margin-bottom: 10px
    }
    .ourcustomer .box p.text-center~p {
        height: auto
    }
    .video_gallery .item .col-sm-4.dcw-home-videos .video-thumb:nth-child(1) {
        margin-bottom: 5px!important
    }
    header .google-adwords .snd .call_btn input.btn,
    header .google-adwords .snd .start_btn input.btn {
        padding: 18px 15px;
        min-width: 100%!important;
        width: 100%!important;
        margin-top: 10px
    }
    header .google-adwords .col-sm-12,
    header .google-adwords .col-sm-6 {
        padding-bottom: 20px!important
    }
    header .google-adwords label.error {
        text-align: right;
        padding: 4px 10px 0 0;
        right: 0;
        left: auto
    }
    .how-we-work .col-md-10.col-md-push-2,
    .how-we-work .col-md-11,
    section.light-gray-wraper.tlbg .container {
        padding: 0
    }
    .how-we-work h2.sub_caption {
        font-size: 14px
    }
    .bg-orange.process-steps .midstrong strong {
        display: block
    }
    section.light-gray-wraper.tlbg {
        margin-top: -22px
    }
    section.light-gray-wraper.tlbg .cnt-hdng.sm-bg1 {
        margin-top: 0;
        padding: 60px 15px 15px
    }
    section.light-gray-wraper.tlbg .sm-bg .tbs .nav-tabs {
        min-width: 254px;
        margin: 16px auto 20px;
        display: table
    }
    .team_blogs .caption>p,
    section.light-gray-wraper.tlbg .sm-bg .cnr {
        margin-bottom: 30px
    }
    .client-icon.team-top-icon img {
        top: -30px;
        position: inherit
    }
    .team_blogs .caption h4 {
        margin-bottom: 10px
    }
    .awrds.mtop40 {
        margin-top: 10px
    }
    .tbscnt .tab-content>.active p {
        margin-bottom: 0
    }
    .click-video.text-left a.pp-up-logo img {
        max-width: 220px;
        margin-top: -22px
    }
    .video-links-menu .col-sm-4 {
        padding: 0
    }
    .tmp-blog .blog-img {
        min-height: auto;
        max-width: 100%
    }
    .press .blog-box hr {
        display: none
    }
    .press .blog-box {
        border-bottom: 1px solid #ccc
    }
    .press .item:last-child .blog-box {
        border-bottom: 0
    }
    .blog_meta_data .col-sm-6.text-right,
    .video-singlepage .blog-box-new .col-sm-6.text-right {
        text-align: left;
        margin-top: 10px
    }
    .pos-rel h3,
    section.light-gray-wraper.tlbg .col-md-6.col-sm-6.sm-bg .tab-content.tbscnt .tab-pane>p {
        text-align: center
    }
    .menu-rt {
        margin-right: 0;
        margin-top: 15px
    }
    .menu-rt span.fa.fa-bars {
        padding: 7px 8px 6px
    }
    .kb-sec .qa-blog-box-inner .col-sm-8 h2 {
        margin-top: 20px
    }
    .kb-sec .item {
        margin-bottom: 0!important
    }
    .tmp-blog .post-details {
        padding-top: 10px
    }
    section.team_blogs {
        margin-top: 10px
    }
    ul.work-nav li {
        display: block;
        max-width: 250px;
        margin: auto auto 10px
    }
    .our-result .carousel-control .glyphicon-chevron-left,
    .our-result .carousel-control .glyphicon-chevron-right {
        top: 300px
    }
    .light-gray-wraper .v-center .mbt20 a img {
        margin: auto
    }
    .process-steps .hdings_cmrcr {
        margin-bottom: 30px
    }
    #video-testimonial-generic .carousel-control.left{
    	left: 10px !important;
    	right: auto !important;
    }
     #video-testimonial-generic .carousel-control.right{
    	right: 10px !important;
    	left: auto !important;
    }
    #video-testimonial-generic .carousel-caption{
    	padding: 0 !important;
    	height: 105px;
    	overflow: hidden;
    }
    .video-testimonials .video_img{
    	height: 180px;
    	overflow: hidden;
    }
    .subtitle.ecom_title{
    	margin-bottom: 20px;
    }
}


@media (max-width:600px) {
    .video_gallery .item .dcw-home-videos .video-thumb .video_overlay .overlay-text h5 {
        margin-left: 10px
    }
}

@media (max-width:480px) {
    .triangleup {
        min-height: 145px!important;
        margin-top: 30px!important
    }
    .triangleup span {
        font-size: 20px!important
    }
    .portfolio_inner .pfi_header .pfi_right,
    .portfolio_inner .pfi_header .pfi_right .item,
    .portfolio_inner .pfi_header .pfi_right .item .item-img {
        height: 340px!important
    }
    .dcw_counts .count h4 {
        font-size: 30px
    }
    .dcw_counts .count img {
        max-height: 26px
    }
    .wp-paginate a {
        padding: 4px 6px!important
    }
    .comment-respond h3#reply-title:before {
        padding-top: 10px
    }
}

@media (max-width:320px) {
    .video-div .videos-hover-color {
        width: 92%
    }
    .press .item.col-md-4.col-sm-6 .blog-box .blog-box-inner .col-xs-6.col-md-12.col-lg-6 {
        font-size: 12px
    }
    .mbl-logo.navbar-brand>img {
        width: 172px
    }
    section.light-gray-wraper.tlbg .sm-bg1 span {
        font-size: 15px
    }
    section.light-gray-wraper.tlbg .cnt-hdng.sm-bg1 p {
        font-size: 13px
    }
    .click-video.text-left a.pp-up-logo img {
        max-width: 200px;
        margin-top: -22px
    }
    header .google-adwords h1 {
        font-size: 29px!important
    }
    header .google-adwords h1 small {
        font-size: 19px!important
    }
    .post_social_share span {
        font-size: 13px
    }
}