body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
}
.navbar-default {
    border: none;
}
header .google-adwords {
    background-color: rgba(247, 247, 247, 0.6);
    padding: 0 4% 41px;
    margin-top: 30px;
}
header .google-adwords h1 {
    font-size: 60px !important;
    float: left;
    clear: both;
    width: 100%;
    padding: 20px 0 20px !important;
}
header .google-adwords form {
    clear: both;
}
header .google-adwords h1 small {
    display: block;
    font-size: 47px;
    color: #fff;
    font-weight: bold;
}
header .google-adwords input {
    height: 45px;
}
header .google-adwords label.error {
    position: absolute;
    color: #ff6633;
    left: 0;
    padding-left: 10px;
    top: 53px;
    font-size: 12px;
}
header .google-adwords input.btn {
    background: #ff6633 !important;
    color: #fff !important;
    padding: 18px 50px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 1 !important;
    height: auto !important;
}
header .google-adwords input.btn:hover {
    background: #ff6633 !important;
}
header .google-adwords input,
header .google-adwords textarea {
    background: #f2f2f2 !important;
    resize: none;
    color: #585858 !important;
    border: none;
    border-radius: 0;
    padding: 12px;
}
header .google-adwords .col-sm-6,
header .google-adwords .col-sm-12 {
    padding: 10px !important;
}
header,
.dcw_counts {
    background-image: url("../images/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70px;
    width: 100%;
    padding-top: 100px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}
header .load,
.dcw_counts .load {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
header h1,
.dcw_counts h1 {
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    padding: 40px 14%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
@media (max-width: 37.5em) {
    header h1,
    .dcw_counts h1 {
        font-size: 30px;
        padding: 0;
    }
}
header .h_services,
.dcw_counts .h_services {
    width: 100%;
    padding: 80px 0;
}
header .h_services .box,
.dcw_counts .h_services .box {
    width: 100%;
    float: left;
    min-height: 100px;
    text-align: center;
    color: #fff;
    padding: 10px 10px 30px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 102, 51, 0);
    background-position: -80% 0;
    background-size: auto 100% !important;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
header .h_services .box:hover,
.dcw_counts .h_services .box:hover {
    background: rgba(255, 102, 51, 0.9) url("../images/patern-bg2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
header .h_services .box img,
.dcw_counts .h_services .box img {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    border: solid 1.5px #fff;
    padding: 9px;
    border-radius: 10px;
}
header .h_services .box h4,
.dcw_counts .h_services .box h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}
header .h_services .box p,
.dcw_counts .h_services .box p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.8;
    min-height: 130px !important;
}
header .h_services .box a,
.dcw_counts .h_services .box a {
    color: #fff;
}
header .h_services .box a.btn,
.dcw_counts .h_services .box a.btn {
    color: #fff;
    font-size: 14px;
    border: solid thin transparent;
    background-color: rgba(44, 45, 47, 0.33);
    border-radius: 100px;
    font-weight: normal;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-top: 10px;
}
header .h_services .box a.btn:hover,
.dcw_counts .h_services .box a.btn:hover {
    text-decoration: none;
    background-color: rgba(44, 45, 47, 0.9);
}
header .h_services .box a.btn:active,
.dcw_counts .h_services .box a.btn:active,
header .h_services .box a.btn:focus,
.dcw_counts .h_services .box a.btn:focus {
    background-color: rgba(44, 45, 47, 0.33) !important;
    color: #fff !important;
}
@media (max-width: 37.5em) {
    header .h_services,
    .dcw_counts .h_services {
        padding: 0;
    }
    header .google-adwords h1 {
        font-size: 30px !important;
        float: left;
        width: 100%;
    }
    header .google-adwords h1 small {
        font-size: 26px !important;
    }
    header .google-adwords label.error {
        display: block;
        width: 100%;
        text-align: center;
    }
    header .google-adwords input.btn {
        font-size: 14px !important;
    }
}
.o_line,
.vline {
    width: 180px;
    height: 80px;
    background-image: url(../images/orange_row.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    margin: 20px auto 0;
    display: block;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.line {
    border-bottom: 1px solid #8c9397;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 170px !important;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.header-group {
    margin-bottom: 40px;
}
.header-group h4 {
    color: #ff6633;
    text-align: center;
    font-size: 48px;
    font-weight: 300 !important;
    font-family: "Poppins", sans-serif;
}
.header-group h4 span {
    font-weight: 600;
}
@media (max-width: 37.5em) {
    .header-group h4 {
        font-size: 40px;
    }
}
.header-group p {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 2;
}
.da-thumbs {
    list-style: none;
    width: 100%;
    position: relative;
    padding: 0;
}
.da-thumbs .portfolio-box {
    float: left;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.da-thumbs .portfolio-box a,
.da-thumbs .portfolio-box a img {
    display: block;
    position: relative;
}
.da-thumbs .portfolio-box a {
    overflow: hidden;
}
.da-thumbs .portfolio-box .portfolio-box-caption {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .da-thumbs li a div span {
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
} */
/* .featured_block{
  padding: 0;

  .dcw-works {
      margin: 0 auto;

      ul {
        list-style: none;
        padding: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        text-align: center;
        zoom: 1;

        li{
          padding-left: 5px;
          list-style-type: none;
          margin: 0 10px 10px 0;
          float: left;
          padding: 0;
          background-color: #19272F;

          &:hover{
            ms-animation: icons .3s 2;
            -moz-animation: icons .3s 2;
            -webkit-animation: icons .3s 2;
            animation: icons .3s 2;
            cursor: default;
          }
        }
    }

      .portfolio-box {
        display: block;
        position: relative;
      
      &:hover .portfolio-box-caption{
        opacity:1;
      }

      .portfolio-box-caption {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #fff;
          opacity: 0;
          background: #19272f;
          -webkit-transition: all .6s ease-in-out;
          -moz-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;

        .portfolio-box-caption-content {
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 0;
            height: 320px;
        }

        .project-category{
          min-height: 110px;

          h2{
            a{
              font-size: 40px;
              font-family: $primery-font;
              text-decoration: none;
                text-transform: none;
                color: #fff;
            }
          }
          a{
            font-family: $secoundry-font;
              font-size: 15px;
              font-weight: 300;
              text-decoration: none;
              text-transform: none;
              color: #fff;
          }
        }

        .project-name {
            font-size: 21px;
            padding: 0 15px;
          font-family: $secoundry-font;
          margin: 0 auto;
          width: 273px;

          .taxonomy-images-the-terms{
              &:before, &:after{
                clear: both;
                content: "\0020";
                display: block;
                height: 0;
                visibility: hidden;
              }
            }

            p{
              border: 1px solid;
              display: inline-block;
              font-family: $primery-font;
              font-size: 18px;
              padding: 5px 22px;
              margin-bottom: 20px;
              line-height: 1.5;
              text-decoration: none;

              a{
                text-decoration: none;
                color: #fff;
              }

              &:hover a{
                color: $primery-color;
              }

              &:hover{
                border: 1px solid $primery-color;
                color: $primery-color !important;
              }
            }

            img {
              margin: 0;
              padding: 0;
              width: 66px;
              height: 66px;
              float: left;
          }
        }
      } 
    }
  }

  .taxonomy-images-the-terms{ 
    li{
      &:hover {
          //@include animation('icon 3s 2');
          cursor: default
      }
    }
  }
} */

#portfolio .line {
    top: 173px;
}
@-ms-keyframes icons {
    0% {
        -ms-transform: rotate(3deg);
    }
    50% {
        -ms-transform: rotate(-3deg);
    }
    100% {
        -ms-transform: rotate(3deg);
    }
}
@-moz-keyframes icons {
    0% {
        -moz-transform: rotate(3deg);
    }
    50% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(3deg);
    }
}
@-webkit-keyframes icons {
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}
@keyframes icons {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.dcw_counts {
    padding: 30px 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8) !important;
}
.dcw_counts .count {
    color: #fff;
    margin: 20px 0;
}
.dcw_counts .count img {
    max-height: 38px;
    display: inline-block;
    margin-top: -10px;
}
.dcw_counts .count h4 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}
.dcw_counts .count h4 .numb {
    min-width: 65px;
    display: inline-block;
}
.dcw_counts .count h5 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}
.dcw_counts .col-md-3:nth-child(3) .numb {
    min-width: 100px;
}
.carousel.slide {
    position: relative !important;
}
.carousel.slide .carousel-control {
    top: 0 !important;
}
.our-result {
    margin: 0 0 40px;
}
.our-result .carousel {
    margin: 40px 0;
    display: block;
}
.our-result .item {
    padding: 0 30px;
}
@media (max-width: 37.5em) {
    .our-result .item {
        padding: 0;
    }
}
.our-result .carousel-control.left,
.our-result .carousel-control.right {
    background: none !important;
}
.our-result .carousel-control {
    color: #ff6633;
    text-shadow: none;
    width: auto;
}
.our-result .result-text {
    padding-right: 80px;
}
@media (max-width: 37.5em) {
    .our-result .result-text {
        padding-right: 0;
    }
}
.our-result .result-text h4 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    padding-right: 30px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.our-result .result-text p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #333;
}
.our-result .text-right {
    line-height: 50px;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}
.our-result .text-right img {
    float: right;
    margin-left: 15px;
    width: 75px;
}
.our-result img {
    display: block;
    margin: 0 auto;
}
.press_awards {
    padding: 10px 0;
    background-color: #666666;
    min-height: 50px;
}
.press_awards .o_line {
    background-color: #fff;
}
.press_awards h4,
.press_awards P {
    color: #fff;
}
.press_awards .table tr:first-child td {
    border-top: none;
}
.press_awards .table tr:last-child td {
    border-bottom: none;
}
@media (max-width: 37.5em) {
    .press_awards .table tr {
        display: block;
        float: left;
        width: 100%;
    }
}
.press_awards .table tr td {
    vertical-align: middle;
    text-align: center;
    border: solid thin #777;
    height: 200px;
}
.press_awards .table tr td img {
    opacity: 0.5;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px;
    filter: invert(100%) grayscale(100%) brightness(0);
    -webkit-filter: invert(100%) grayscale(100%) brightness(0);
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.press_awards .table tr td:hover img {
    filter: invert(0) grayscale(0);
    -webkit-filter: invert(0) grayscale(0);
    opacity: 1;
}
.press_awards .table tr td:first-child {
    border-left: none;
}
.press_awards .table tr td:last-child {
    border-right: none;
}
@media (max-width: 37.5em) {
    .press_awards .table tr td {
        display: block;
        float: left;
        width: 100%;
        border: none;
        padding: 15px;
    }
}
.ourcustomer .row {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
}
@media (max-width: 37.5em) {
    .ourcustomer .row {
        display: block !important;
        margin: 0 !important;
    }
}
.ourcustomer .col-sm-4 {
    padding: 0;
}
.ourcustomer .box {
    float: left;
    width: 100%;
    margin: 10px;
    min-height: 250px;
    padding: 45px;
    background-image: url(../images/curlybrac.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media (max-width: 37.5em) {
    .ourcustomer .box {
        padding: 10px 45px;
    }
}
.ourcustomer .box img {
    width: 130px;
    display: inline;
    margin-top: -6px;
    margin-right: 10px;
}
.ourcustomer .box span {
    font-weight: bold;
}
.ourcustomer .box p {
    font-size: 16px;
    color: #333;
    font-family: "Raleway", sans-serif;
}
.ourcustomer .box p.text-right {
    font-weight: bold;
}
.ourcustomer .google-icon {
    display: block;
    max-width: 150px;
    margin: 20px auto;
}
.video_gallery {
    padding: 10px 0;
    background-color: #666666;
    min-height: 50px;
}
.video_gallery .o_line {
    background-color: #fff;
}
.video_gallery h4,
.video_gallery P {
    color: #fff;
}
.video_gallery .item {
    padding: 0 120px;
}
@media (max-width: 37.5em) {
    .video_gallery .item {
        padding: 0;
    }
}
.video_gallery .item .video-thumb {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.video_gallery .item .video-thumb:first-child {
    padding-bottom: 0;
}
.video_gallery .item .video-thumb:first-child .video_overlay {
    margin-bottom: 0;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.video_gallery .item .video-thumb:hover .video_overlay {
    opacity: 1;
}
.video_gallery .item .video-thumb .video_overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 102, 51, 0.8);
    margin: 5px;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.video_gallery .item .video-thumb .video_overlay .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.video_gallery .item .video-thumb .video_overlay .overlay-text h5 {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 1.8;
}
.video_gallery .item .video-thumb .video_overlay .overlay-text p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.video_gallery .item img {
    width: 100%;
}
.video_gallery .carousel-control {
    text-shadow: none;
    width: auto;
    color: #fff;
}
.video_gallery .view-all {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.video_gallery .view-all .btn-default {
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    background-color: #ff6633;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 7px 20px;
    height: 39px;
    width: 143px;
    font-size: 18px;
}
.video_gallery .view-all .btn-default:hover {
    color: #ff6633;
    background-color: #fff;
}
.video_gallery .view-all .btn-default:active,
.video_gallery .view-all .btn-default:focus {
    color: #fff !important;
    background-color: #ff6633 !important;
}
.connect_with .digonal {
    margin: 250px auto 0;
}
@media (max-width: 37.5em) {
    .connect_with .digonal {
        margin: 0 auto;
    }
}
.connect_with .innovativetxt {
    font-family: "Poppins", sans-serif;
    font-size: 1em a;
}
.connect_with .flag {
    position: relative;
    display: block;
    height: 150px;
    float: left;
    width: 100%;
}
.connect_with .flag img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 45%;
    z-index: 1;
}
@media (max-width: 37.5em) {
    .connect_with .flag {
        display: none;
    }
}
.connect_with .service_icons {
    text-align: center;
    position: relative;
}
@media (max-width: 37.5em) {
    .connect_with .service_icons {
        margin: 50px auto;
    }
}
.connect_with .service_icons img,
.img_hover_color {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    display: inline;
    margin: 10px 0;
    max-height: 360px;
}
.connect_with .service_icons p {
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 30px;
    opacity: 0;
    text-align: center;
    z-index: 9;
    line-height: 360px;
    width: 100%;
}
.connect_with .service_icons p i {
    font-weight: lighter;
    font-style: normal;
}
.connect_with .service_icons p:hover {
    opacity: 1;
}
.connect_with .service_icons p:hover + img,
.img_hover_color:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
.connect_with .service_icons span {
    float: left;
    width: 100%;
}
.connect_with .service_icons span img {
    position: relative;
}
.connect_with .service_icons .btn {
    display: inline-block;
    line-height: 70px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    width: 219px;
    padding: 0;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    border: solid thin #ff6633;
    color: #ff6633;
    font-weight: normal;
}
.connect_with .service_icons .btn:hover {
    background: #ff6633;
    color: #fff;
}
.connect_with .service_icons .btn:focus,
.connect_with .service_icons .btn:active {
    border: solid thin #ff6633 !important;
    color: #ff6633 !important;
}
.connect_with .triangleup {
    padding: 20px 40px;
    color: #fff;
    position: relative;
    text-align: center;
    max-width: 590px;
    margin: -30px auto 0;
    min-height: 240px;
}
.connect_with .triangleup a {
    color: #fff;
    display: block;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 115px 0 33px;
    width: 100%;
    left: 2px;
    text-transform: capitalize;
}
@media (max-width: 37.5em) {
    .connect_with .triangleup a {
        padding-top: 160px;
        font-size: 18px;
    }
}
.connect_with .triangleup a:hover,
.connect_with .triangleup a:active,
.connect_with .triangleup a:focus {
    text-decoration: none;
}
.connect_with .triangleup .sub_subtitle {
    z-index: 1 !important;
    margin: 0 auto;
    text-transform: capitalize;
    display: block;
}
.connect_with .triangleup span {
    position: relative;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.connect_with .triangleup span b {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.connect_with .triangleup:before,
.connect_with .triangleup:after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.connect_with .triangleup:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #E7663F;
    border-width: 260px;
    margin-left: -260px;
}
@media (max-width: 37.5em) {
    .connect_with .triangleup:before {
        border-width: 160px;
        margin-left: -160px;
    }
}
footer {
    background-color: #333333;
    min-height: 100px;
    width: 100%;
    padding: 15px 0;
}
footer h4 {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
    clear: both;
    display: block;
    border-bottom: solid thin #efefef;
    line-height: 3;
    margin: 25px 0;
    text-transform: uppercase;
}
footer .quick-links {
    padding: 0;
    margin: 0;
}
footer .quick-links a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #999;
    line-height: 1.6;
    text-decoration: underline;
    font-weight: 500;
}
footer address {
    color: #fff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin: 20px 0;
    font-weight: 500;
    line-height: 1.8;
}
footer .social-icons {
    display: inline-block;
    clear: both;
}
footer .social-icons a {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    text-align: center;
}
footer .social-icons a i {
    color: #999;
    font-size: 20px;
    line-height: 32px;
}
footer .social-icons a.s_facebook:hover {
    background: #3b5998;
}
footer .social-icons a.s_facebook:hover i {
    color: #fff;
}
footer .social-icons a.s_twitter:hover {
    background: #00aced;
}
footer .social-icons a.s_twitter:hover i {
    color: #fff;
}
footer .social-icons a.s_google-plus:hover {
    background: #dd4b39;
}
footer .social-icons a.s_google-plus:hover i {
    color: #fff;
}
footer .social-icons a.s_linkedin:hover {
    background: #007bb6;
}
footer .social-icons a.s_linkedin:hover i {
    color: #fff;
}
footer .social-icons a.s_youtube:hover {
    background: #bb0000;
}
footer .social-icons a.s_youtube:hover i {
    color: #fff;
}
footer .social-icons a.s_instagram:hover {
    background: #bc2a8d;
}
footer .social-icons a.s_instagram:hover i {
    color: #fff;
}
footer .recent-blogs {
    padding: 0;
    margin: 0;
}
footer .recent-blogs li {
    padding-left: 40px;
    padding: 10px 0 10px 40px;
    position: relative;
    border-top: solid thin transparent;
    border-bottom: solid thin transparent;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
footer .recent-blogs li:before {
    content: "\f138";
    position: absolute;
    left: 8px;
    top: 15px;
    font: normal normal normal 18px/1 FontAwesome;
    color: #999;
}
footer .recent-blogs li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: solid thin rgba(225, 225, 225, 0.3);
    border-bottom: solid thin rgba(225, 225, 225, 0.3);
}
footer .recent-blogs li:hover a {
    color: #fff !important;
}
footer .recent-blogs li:hover a strong {
    color: #fff !important;
}
footer .recent-blogs li:hover:before {
    color: #fff;
}
footer .recent-blogs li a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
footer .recent-blogs li a strong {
    font-size: 10px;
    line-height: 3;
}
footer .twitter-words {
    padding: 0;
    margin: 0;
}
footer .twitter-words li {
    padding-left: 40px;
    padding: 10px 0 10px 40px;
    position: relative;
    border-top: solid thin transparent;
    border-bottom: solid thin transparent;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
footer .twitter-words li:before {
    content: "\f138";
    position: absolute;
    left: 8px;
    top: 15px;
    font: normal normal normal 18px/1 FontAwesome;
    color: #999;
}
footer .twitter-words li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: solid thin rgba(225, 225, 225, 0.3);
    border-bottom: solid thin rgba(225, 225, 225, 0.3);
}
footer .twitter-words li:hover div {
    color: #fff;
}
footer .twitter-words li:hover a {
    color: #fff !important;
}
footer .twitter-words li:hover a strong {
    color: #fff !important;
}
footer .twitter-words li:hover:before {
    color: #fff;
}
footer .twitter-words li a,
footer .twitter-words li div {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    font-style: normal !important;
}
footer .twitter-words li a strong,
footer .twitter-words li div strong {
    font-size: 10px;
    line-height: 3;
}
footer .newsletter {
    width: 100%;
    float: left;
    border: 7px solid rgba(255, 255, 255, 0.06);
    min-height: 100px;
}
footer .newsletter .lettercontent {
    padding: 20px;
}
footer .newsletter .lettercontent p {
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: #999;
    text-align: center;
}
footer .newsletter .lettercontent .form-control {
    width: 100%;
    background: none;
    border: solid 3px rgba(255, 255, 255, 0.06);
    padding: 0 5px;
    height: 45px;
    margin: 10px 0;
    border-radius: 0;
    color: #fff;
}
footer .newsletter .lettercontent .form-control:focus,
footer .newsletter .lettercontent .form-control:active,
footer .newsletter .lettercontent .form-control:hover {
    box-shadow: none;
    outline: none;
}
footer .newsletter .lettercontent .btn {
    margin: 10px 0 0;
    background-color: #ff6633;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    border: none;
    width: 100%;
    padding: 12px 0;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
footer .newsletter .lettercontent .btn:hover {
    background-color: #fff !important;
    color: #ff6633 !important;
}
footer .newsletter .lettercontent .btn:active,
footer .newsletter .lettercontent .btn:focus {
    background-color: #ff6633 !important;
    color: #fff !important;
}
footer .link-inline {
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
footer .link-inline a {
    font-size: 10px;
    color: #999;
    text-decoration: none;
}
footer .link-inline a:hover {
    color: #fff;
}
footer .reserve-policy {
    text-align: center;
    line-height: 3;
    font-size: 12px;
    color: #999;
}
/* tmp-blog */

.tmp-blog .vline {
    margin: 0 auto !important;
}
.tmp-blog .subtitle {
    margin: 10px auto 20px;
    text-transform: inherit !important;
}
.tmp-blog .blog-img {
    display: block;
    margin: 0 auto;
    text-align: center;
    min-height: 220px;
    display: flexbox;
    max-width: 300px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    border: solid thin #ccc;
}
.tmp-blog .blog-img img {
    display: inline;
    padding-bottom: 15px;
}
#posts .item {
    margin-bottom: 20px;
}
.tmp-blog .post-details .post-meta {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #999;
}
.tmp-blog .post-details .post-meta a {
    color: #999;
}
.tmp-blog .post-details .post-meta a:hover {
    color: #f05f40;
}
.tmp-blog .post-details {
    padding: 10px 0;
}
.tmp-blog .post-details h2 {
    margin: 20px 0;
}
.tmp-blog .post-details h2 a {
    font-size: 24px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #333333;
}
.tmp-blog .post-details h2 a:hover {
    color: #f05f40;
}
.tmp-blog .post-details .info {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: "Open Sans", sans-serif;
}
.tmp-blog .wp-paginate {
    text-align: center;
}
.tmp-blog .wp-paginate a,
.tmp-blog .wp-paginate span {
    border: none;
    font-weight: bold;
    color: #333 !important;
    padding: 4px 11px;
}
.tmp-blog .wp-paginate span {
    background-color: #fdfdfd;
}
.tmp-blog .wp-paginate .current {
    display: inline-block;
}
/* blog_sidebar */

.blog_sidebar {
    position: relative;
}
.blog_sidebar .sidebar_header {
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.blog_sidebar .sidebar_header h4 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    position: relative;
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}
.blog_sidebar .sidebar_header hr {
    position: absolute;
    width: 50%;
    background-color: #ccc;
    content: '';
    right: 0;
    bottom: 9px;
    border-width: 2px;
    margin: 0;
    z-index: -1;
}
footer.comment-meta {
    background: none;
}
/* search bar */

.blog_sidebar span.screen-reader-text {
    display: none;
}
.blog_sidebar #search-2 {
    display: block;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 0;
    border: solid thin #ccc;
    position: relative;
}
.back_article {
    font-weight: bold;
    color: #E7663F;
    margin: 50px 0;
    display: block;
}
.back_article:hover,
.back_article:focus,
.back_article:active {
    color: #E7663F;
}
.blog_sidebar #search-2:before {
    position: absolute;
    right: 0;
    width: 40px;
    height: 38px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    line-height: 2.4;
    color: #777;
}
.blog_sidebar #search-2 label {
    margin: 0;
    line-height: 1;
    width: 100%;
}
.blog_sidebar #search-2 label input {
    line-height: 2.5;
    width: 100%;
    padding-right: 40px;
}
.blog_sidebar #search-2 .search-submit {
    position: absolute;
    right: 0;
    width: 40px;
    line-height: 2.7;
    top: 0;
    font-size: 0;
    height: 38px;
    padding: 0;
}
.blog_sidebar #search-2 input {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}
/* tags */

.blog_sidebar #tags-list {
    padding: 0;
    margin: 0 0 30px;
}
.blog_sidebar #tags-list li {
    padding: 0;
    margin: 0;
    border-bottom: solid thin #eaeaea;
}
.blog_sidebar #tags-list li:last-child {
    border: none;
}
.blog_sidebar #tags-list li a {
    line-height: 3;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    position: relative;
}
.blog_sidebar #tags-list li a:before {
    content: "\e258";
    left: 0;
    font-family: 'Glyphicons Halflings';
    margin-right: 15px;
    font-size: 11px;
    color: #f26101;
}
.blog_sidebar #tags-list li a:hover {
    color: #f26101;
}
/* Video gallery */

.blog_sidebar .blog_video_gallery ul {
    margin: 0;
    padding: 0;
}
.blog_sidebar .blog_video_gallery ul li {
    margin: 0;
    clear: both;
    padding: 15px 0;
    font-size: 13px;
    line-height: 1.4;
    display: block;
    width: 100%;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}
.blog_sidebar .blog_video_gallery ul li span {
    color: #333;
    display: block;
    margin-top: 10px;
}
.blog_sidebar .blog_video_gallery ul li:hover {
    color: #f26101;
}
.blog_sidebar .blog_video_gallery ul li:first-child {
    padding-top: 0;
}
.blog_sidebar .blog_video_gallery ul li .video_img {
    float: left;
    width: 100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.blog_sidebar .blog_video_gallery ul li .video_img img {
    max-width: 100%;
}
.blog_sidebar .blog_video_gallery ul li .video_img a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(242, 97, 1, 0.8);
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
}
.blog_sidebar .blog_video_gallery ul li .video_img:hover a {
    opacity: 1;
}
.blog_sidebar .blog_video_gallery ul li .video_img a span {
    color: #fff;
    font-size: 35px;
}
.blog_sidebar .blog_video_gallery ul li p {
    float: left;
    padding: 0 10px;
}
.blog_sidebar .blog_video_gallery .btn {
    background-color: #f26101;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    border: solid thin #f26101;
}
.blog_sidebar .blog_video_gallery .btn:active,
.blog_sidebar .blog_video_gallery .btn:focus,
.blog_sidebar .blog_video_gallery .btn:hover {
    color: #f26101 !important;
    background-color: #fff !important;
    border: solid thin #f26101 !important;
}
.blog_sidebar .social_icons {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.blog_sidebar .social_icons li {
    margin: 0;
    padding: 0;
    display: inherit;
}
.blog_sidebar .social_icons a {
    border: solid thin #999;
    font-size: 22px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.blog_sidebar .social_icons a.facebook,
.blog_sidebar .social_icons a.facebook:hover {
    color: #3b5998 !important;
}
.blog_sidebar .social_icons a.twitter,
.blog_sidebar .social_icons a.twitter:hover {
    color: #00aced !important;
}
.blog_sidebar .social_icons a.pinterest,
.blog_sidebar .social_icons a.pinterest:hover {
    color: #cb2027 !important;
}
.blog_sidebar .social_icons a.google-plus,
.blog_sidebar .social_icons a.google-plus:hover {
    color: #dd4b39 !important;
}
.blog_sidebar .social_icons a.instagram,
.blog_sidebar .social_icons a.instagram:hover {
    color: #fb3958 !important;
}
.blog_sidebar .social_icons a.linkedin,
.blog_sidebar .social_icons a.linkedin:hover {
    color: #007bb6;
}
.post_social_share span {
    float: right;
    line-height: 32px;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
}
.post_social_share a img {
    display: none !important;
}
.post_social_share a {
    width: 32px;
    height: 32px;
    position: relative;
}
.post_social_share a:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    border-radius: 3px;
    content: "";
}
.post_social_share a:after {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px;
}
.synved-social-provider-facebook:after {
    content: "\f09a";
}
.synved-social-provider-twitter:after {
    content: "\f099";
}
.synved-social-provider-google_plus:after {
    content: "\f0d5";
}
.synved-social-provider-linkedin:after {
    content: "\f0e1";
}
.synved-social-provider-mail:after {
    content: "\f003";
}
.widget_synved_social_share {
    display: inline-block;
    float: right;
}
/* instagram_gallery */

.instagram_gallery .rigrid_front_grid,
.instagram_gallery .rigrid_front_grid ul,
.instagram_gallery .rigrid_front_grid li {
    margin: 0;
    padding: 0;
}
.instagram_gallery .rigrid_front_grid li .wpinsta_featured_image,
.instagram_gallery .rigrid_front_grid li {
    width: 85px !important;
    background-color: #fff;
    height: 85px !important;
}
.instagram_gallery .rigrid_front_grid li a {
    padding: 5px;
}
/* Related Posts */

.blog_sidebar .related_posts ul {
    margin: 0;
    padding: 0;
}
.blog_sidebar .related_posts ul li {
    margin: 0;
    padding: 15px 0;
    font-size: 13px;
    line-height: 1.4;
    display: block;
    width: 100%;
    color: #333333;
    clear: both;
    font-family: "Open Sans", sans-serif;
    float: left;
}
.blog_sidebar .related_posts ul li a {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
.blog_sidebar .related_posts ul li span {
    color: #333;
    display: block;
    margin-top: 10px;
}
.blog_sidebar .related_posts ul li:hover,
.blog_sidebar .related_posts ul li a:hover {
    color: #f26101;
}
.blog_sidebar .related_posts ul li:first-child {
    padding-top: 0;
}
.blog_sidebar .related_posts ul li .video_img {
    float: left;
    width: 100px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.blog_sidebar .related_posts ul li .video_img img {
    max-width: 100%;
}
.blog_sidebar .related_posts ul li .video_img a span {
    color: #fff;
    font-size: 35px;
}
.blog_sidebar .related_posts ul li p {
    float: left;
    padding: 0 10px;
}
.blog_sidebar .related_posts .btn {
    background-color: #f26101;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
}
.blog_sidebar .related_posts .btn:active,
.blog_sidebar .related_posts .btn:focus,
.blog_sidebar .related_posts .btn:hover {
    background-color: #f26101 !important;
    color: #fff !important;
}
/* blog innerpage */

.blog-box-new {
    padding-right: 30px;
}
.blog-box-new h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    margin-top: 0;
}
.blog-box-new .single_blogimg {
    margin: 10px 0 15px;
}
.blog-box-new .single_blogimg img,
.blog-box-new .single_blogimg {
    width: 100%;
    display: block;
}
.blog-box-new .blog_meta_data,
.blog-box-new .blog_meta_data a {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #999999;
}
.blog-box-new p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    line-height: 1.7;
}
.blog-box-new h6,
.blog-box-new h5,
.blog-box-new h4,
.blog-box-new h3 {
    color: #f26101;
}
.blog-box-new p img {
    width: 100%;
}
.blog-box-new hr {
    margin: 20px 0;
    border-width: 1px;
}
.blog-box-new p em {
    font-style: normal;
}
.blog-box-new .post_social_share .social_icons {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}
.blog-box-new .post_social_share .social_icons li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.blog-box-new .post_social_share .social_icons li:last-child {
    margin-right: 0;
}
.blog-box-new .post_social_share .social_icons a {
    border: solid thin #eee;
    font-size: 14px;
    width: 32px;
    border-radius: 3px;
    background-color: #eee;
    color: #333;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
}
.blog-box-new .post_social_share .social_icons p {
    line-height: 32px;
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.blog-box-new .post_social_share .social_icons a.facebook,
.blog-box-new .post_social_share .social_icons a.facebook:hover {
    color: #3b5998 !important;
}
.blog-box-new .post_social_share .social_icons a.twitter,
.blog-box-new .post_social_share .social_icons a.twitter:hover {
    color: #00aced !important;
}
.blog-box-new .post_social_share .social_icons a.pinterest,
.blog-box-new .post_social_share .social_icons a.pinterest:hover {
    color: #cb2027 !important;
}
.blog-box-new .post_social_share .social_icons a.google-plus,
.blog-box-new .post_social_share .social_icons a.google-plus:hover {
    color: #dd4b39 !important;
}
/* comment box */

.blog-box-new .comment-respond .comment-notes {
    display: none;
}
.blog-box-new .comment-respond .comment-reply-title {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}
.blog-box-new .comment-respond .comment-form-comment {
    width: 100%;
    display: block;
}
.blog-box-new .comment-respond input,
.blog-box-new .comment-respond textarea {
    border-radius: 0 !important;
}
.blog-box-new .comment-respond label {
    font-size: 16px;
    display: block;
}
.blog-box-new .comment-respond .comment-form-comment label {
    display: block;
    width: 100%;
}
.blog-box-new .comment-respond .comment-form-comment #comment {
    width: 100%;
    resize: none;
    padding: 10px;
}
.blog-box-new .comment-respond .comment-form-author,
.blog-box-new .comment-respond .comment-form-email,
.blog-box-new .comment-respond .comment-form-url {
    width: 33.33% !important;
    float: left;
}
.blog-box-new .comment-respond input {
    padding: 5px 10px;
}
.blog-box-new .comment-respond .comment-form-author input,
.blog-box-new .comment-respond .comment-form-email input {
    width: 90%;
}
.blog-box-new .comment-respond .comment-form-url input {
    width: 100%;
}
.blog-box-new .comment-respond .form-submit {
    clear: both;
}
.blog-box-new .comment-respond .form-submit .submit {
    font-weight: bold !important;
    border-radius: 5px !important;
}
@media(max-width:767px) {
    .blog-box-new {
        padding: 0;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .blog_sidebar .blog_video_gallery ul li .video_img,
    .blog_sidebar .related_posts ul li .video_img {
        width: 100%;
    }
    .instagram_gallery .rigrid_front_grid li .wpinsta_featured_image,
    .instagram_gallery .rigrid_front_grid li {
        width: 75px !important;
        height: 75px !important;
    }
    .blog_sidebar .social_icons a {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .blog-box-new .comment-respond .comment-form-author,
    .blog-box-new .comment-respond .comment-form-email,
    .blog-box-new .comment-respond .comment-form-url {
        width: 100% !important;
        display: block;
    }
    .blog-box-new .comment-respond .comment-form-author input,
    .blog-box-new .comment-respond .comment-form-email input,
    .blog-box-new .comment-respond .comment-form-url input {
        width: 100%;
    }

    .services_page_new .service_view_page{
      margin-top: -30px !important;
    }

    .services_page_new .service_view_page,
    .services_page_new .service_view_page .services_head{
      display: block !important;
      width: 100% !important;
      float: left;
    }

    .services_page_new .service_view_page .services_head.left-bar{
      padding-top: 50px;
    }

    .services_page_new section .services_capabilities{
      padding: 30px 15px !important;
    }

    .services_page_new section .services_list>div{
      margin-left: 0 !important; 
      padding-left: 40px;
    }

    .services_page_new .light-gray-wraper .col-sm-4{
      text-align: left !important;
    }

    .services_page_new .light-gray-wraper .col-sm-4>div{
      display: block;
      padding-left: 45px;
    }
}
@media(min-width:1442px) {
    .container {
        width: 1361px;
    }
    .slider_container {
        //max-width: 1361px;
        //display: block;
        //margin: 0 auto;
    }
}
.search_results .subtitle {
    text-transform: capitalize !important;
    font-weight: 400;
}
.search_results .subtitle small {
    font-weight: normal !important;
    text-transform: capitalize !important;
    font-size: 24px;
    color: #333;
}
/* portfolio inner page */


/* Services page */
.services_page_new .client-icon{
  margin-bottom: 0;
}

.services_page_new section{
  padding: 0;
}

.services_page_new .service_view_page{
  background-color: #15444f;
  display: table;
  display: -webkit-table;
  display: -moz-table;
  display: -o-table;
  display: -ms-table;
  float: left;
}

.services_page_new .service_view_page .services_head{
  min-height: 300px;
  position: relative;
  text-align: left;
  display: table-cell;
  -webkit-display: table-cell;
  -moz-display: table-cell;
  -o-display: table-cell;
  -ms-display: table-cell;
  width: 50%;
  vertical-align: top;
}

.services_page_new .service_view_page .services_head.right-bar{
  background-color: #25515c;
}

.services_page_new .service_view_page .services_head.left-bar:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 45%, rgba(0,0,0,0.26) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(45%, rgba(0,0,0,0.12)), color-stop(100%, rgba(0,0,0,0.26)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 45%, rgba(0,0,0,0.26) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 45%, rgba(0,0,0,0.26) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 45%, rgba(0,0,0,0.26) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 45%, rgba(0,0,0,0.26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.services_page_new .service_view_page .header-group{
  margin-bottom: 23px;
}

.services_page_new .service_view_page .header-group h4{
  font-size: 24px !important;
  text-align: left;
}

.services_page_new section .services_capabilities{
  padding: 60px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.services_page_new section .services_capabilities p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.services_page_new section .services_capabilities .video-thumb{
  position: relative;
  margin-top: 40px;
}

.services_page_new section .services_capabilities .video-thumb:first-child .video_overlay {
    margin-bottom: 0;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.services_page_new section .services_capabilities .video-thumb:hover .video_overlay {
    opacity: 1;
}
.services_page_new section .services_capabilities .video-thumb .video_overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 102, 51, 0.8);
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text h5 {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 1.8;
}
.services_page_new section .services_capabilities .video-thumb .video_overlay .overlay-text p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.services_page_new section .services_capabilities .video-thumb img {
    width: 100%;
}

.services_page_new section .services_capabilities .video-thumb i{
  position: absolute;
  left: 50% !important;
  right: inherit !important;
  width: auto !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
}

.services_page_new section .services_list{
  padding: 50px 0 30px 20px;
  color: #bdc9cc;
  float: left;
  width: 100%;
  margin: 0;
  font-size: 12px;
}

.services_page_new section .services_list>div{
  float: left;
  margin-left: 75px;
}

.services_page_new section .services_list h5 img{
  max-width: 30px;
  padding: 3px;
  position: absolute;
  left: -40px;
  top: 0;
  border: solid thin #fff;
  border-radius: 5px;
}

.services_page_new section .services_list h5{
  position: relative;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;

}

.services_page_new section .services_list ul li{
  color: #bdc9cc;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  list-style-type: disc;
  line-height: 24px;
}

.services_page_new section .services_list ul,
.services_page_new .light-gray-wraper ul{
  margin-bottom: 27px;
  padding: 0;
  list-style-position: inside;
  list-style-type: 
}

.services_page_new .light-gray-wraper{
  background-color: #e1e1e1;
  clear: both;
}

.services_page_new .light-gray-wraper .col-sm-4{
  text-align: center;
}

.services_page_new .light-gray-wraper .col-sm-4>div{
  display: inline-block;
  text-align: left;
}

.services_page_new .light-gray-wraper .header-group h4{
  font-size: 30px;
}

.services_page_new .light-gray-wraper .vline{
  height: 40px;
  margin: 20px auto 30px;
}

.services_page_new .light-gray-wraper h5{
  position: relative;
  color: #15444f;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;

}

.services_page_new .light-gray-wraper ul li{
  color: #15444f;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  list-style-type: disc;
  line-height: 24px;
}

.services_page_new .light-gray-wraper h5 img{
  max-width: 30px;
  padding: 3px;
  position: absolute;
  left: -40px;
  top: 0;
  border: solid thin #ff6633;
  border-radius: 5px;
}