#chart_1{
	width: 120%; 
	height: 300px; 
	margin: 0 auto;
	position:relative;
	left:-20%;
}

#chart_1 .highcharts-axis-labels,#chart_1 .highcharts-title,#chart_1 .highcharts-subtitle,#chart_1 .highcharts-legend-item,#chart_1 .highcharts-axis{
	display:none;
}
#chart_1 .highcharts-grid{
	opacity:0;
}
#chart_1 .highcharts-background{
	fill:#3dcdcd !important;
}
#chart_1 .highcharts-markers path{
	stroke:#FFFFFF !important;
}
#chart_1 .highcharts-series path{
	stroke:#FFFFFF !important;
	stroke-width:2px;
}
s#chart_1 .highcharts-tracker path{
	fill:#FFFFFF !important;
}
.highcharts-series rect{
	fill:#FFFFFF !important;
}
.highcharts-tracker rect{
	fill:#FFFFFF !important;
}

#chart_2{
	width: 100%;
	height: 300px;
	margin: 0 auto;
}
#chart_2 .highcharts-axis-labels,#chart_2 .highcharts-title,#chart_2 .highcharts-subtitle,#chart_2 .highcharts-legend-item,#chart_2 .highcharts-axis{
	display:none;
}
#chart_2 .highcharts-grid,#chart_2 .highcharts-grid path{
	opacity:0;
}
#chart_2 .highcharts-background{
	fill:#3dcdcd !important;
}
#chart_2 .highcharts-markers path{
	stroke:#FFFFFF !important;
}
#chart_2 .highcharts-series path{
	stroke:#FFFFFF !important;
	stroke-width:4px;
}
#chart_2 .highcharts-tracker path{
	fill:#FFFFFF !important;
	stroke-width:8px;
}