@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700);
html {
	font-family:'PT Sans', sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	font-family:'PT Sans', sans-serif;
	font-size:16px;
	line-height:1.42857143;
	color:#333333;
	background-color:#f3f3f3;
}

code, kbd, pre, samp {
	font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:'Unica One', sans-serif, cursive;
	font-weight:400;
	line-height:1.1;
	color:inherit;
	text-transform:uppercase;
}
h1 {
	font-size:46px;
	color:#fff;
}
.port-title {
	color:#003865;
	font-size:42px;
	margin:40px 0 20px;
}
h2 {
	color:#003865;
	font-size:40px;
	margin:40px 0 20px;
}
blockquote {
	text-align:left;
	border-left-color:#fd5000;
}
p {
	margin:0 0 15px;
}
.white-txt {
	color:#fff;
}
.blue-txt {
	color:#053c68;
}
.orange-txt, .f-letter h3:first-letter {
	color:#fd5000;
}
.col-md-3.map-plce.col-sm-5 {
    float: right;
}

@media (min-width: 768px) and (max-width: 980px) {


.secondary-nav .nav > li > a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #fff;
    font-size: 12px !important;
    margin: 13px 6px 0 !important;
   padding: 6px 0px !important;
    text-transform: uppercase;
}
	/*.team-membs li {
		height:auto !important;min-height:620px;
	}
	.og-expander.team-info-parent.show {
	height:auto !important;
	}*/
}

@media (min-width: 981px) and (max-width: 1280px) {

.secondary-nav .nav > li > a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #fff;
    font-size: 15px !important;
    margin: 13px 7px 0 !important;
   padding: 6px 0px !important;
    text-transform: uppercase;
}

}




@media (min-width: 768px) {
.sm-bg {
    margin-right: -42px;
    float: right;
}
.container {
width:750px;
}
}
@media (min-width:768px) and (max-width : 1024px){
	.process-steps .mtop40 {
    	margin-top: 0 !important;
	}
}
@media (min-width: 992px) {
.container {
width:970px;
}
}
@media (max-width:767px){
	.desc-sub .text-left{
		text-align:center;
		margin-bottom:20px; 
	}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object{max-width:100%;}
}
@media (min-width: 1200px) {
.container {
width:1030px;
}
#container-blog {
width:1170px;
}
}
.ptop0 {
	padding-top:0 !important;
}
.pbot30 {
	padding-bottom:30px !important;
}
.mrg-auto {
	margin:auto;
}
.mtop5 {
	margin-top:5px;
}
.mtop10 {
	margin-top:10px;
}
.mtop15 {
	margin-top:10px;
}
.mtop20 {
	margin-top:20px;
}
.mtop30 {
	margin-top:30px;
}
.mtop40 {
	margin-top:40px;
}
.mtop50 {
	margin-top:50px;
}
.mtop90 {
	margin-top:90px;
}
.mbt5 {
	margin-bottom:5px;
}
.mbt10 {
	margin-bottom:10px;
}
.mbt15 {
	margin-bottom:10px;
}
.mbt20 {
	margin-bottom:20px;
}
.mbt30 {
	margin-bottom:30px;
}
.mbt40 {
	margin-bottom:40px;
}
.mbt50 {
	margin-bottom:50px;
}
a {
	color:#fd5000;
	text-decoration:none;
	transition:all 0.5s ease 0s;
}
a:hover, a:focus {
	color:#053c68;
	text-decoration:underline;
	text-decoration:none;
}
a:focus {
	outline:0;
	outline:0;
	outline-offset:0;
}
.btn-warning {
	background-color:#FD5000;
	border-color:#FD5000;
	color:#FFFFFF;
}
.btn-warning span {
	color:#fff;
}
.bt-icon span {
	font-size:20px;
	position:absolute;
	left:5px;
	top:5px;
}
.bt-icon {
	padding-left:40px;
	position:relative;
}
hr {
	border-color:#999999;
}
.breadcrumb {
	background:transparent;
	color:#fff;
	border-radius:0px;
	margin-top:20px;
	margin-bottom:0;
	padding:8px 0;
	font-size:13px;
}
.breadcrumb strong {
	font-weight:normal;
}
.breadcrumb a {
	color:#6e8ca6;
}
.btn, .btn:active, .btn.active {
	box-shadow:none;
	border:none;
}
.modal {
	z-index:9999;/*top:20%;*/
}
.top-bg {
	background:#f7f7f7;
	border-bottom:1px solid #9f9f9f;
}
.page-id-521 .top-bg {
	/*border-bottom:0;*/
}
#nav.affix {
	position:fixed;
	top:0;
	z-index:9999;
	opacity:1;
}
#nav.affix .img-responsive {
	max-width:80%;
}
#nav {
	width:100%;
	position:static;
}
#secondnav.affix {
	position:fixed;
	top:89px;
	z-index:9999;
	opacity:1;
	background:none repeat scroll 0 0 #262626;
}
#secondnav.affix .img-responsive {
	max-width:80%;
}
#secondnav, #secondnav1 {
	background: #262626 !important;
	width:100%;
	position:static;
}
.logo {
	display:block;
	margin:10px 0;
}
.logo-small {
	display:block;
	margin:10px 0;
}
.top-link {
	color:#053C68;
	font-size:16px;
	font-weight:700;
	margin:10px 0 0 0;
	text-align:right;
}
.top-link span {
	margin-right:5px;
}
.top-link span i {
	border:1px solid #666;
	border-radius:20px;
	display:inline-block;
	height:26px;
	line-height:26px;
	margin-right:2px;
	text-align:center;
	width:26px;
}
.main-nav {
	margin:10px 0;
}
.main-nav .navbar-nav>.open>a, .main-nav .navbar-nav>.open>a:hover, .main-nav .navbar-nav>.open>a:focus, .main-nav .navbar-nav>.active>a, .main-nav .navbar-nav>.active>a:hover, .main-nav .navbar-nav>.active>a:focus {
	color:#003865;
}
.main-nav .nav>li>a {
	color:#666666;
	display:block;
	font-size:17px;
	padding:10px 10px;
	position:relative;
	text-transform:uppercase;
}
.main-nav .nav>li>a:hover, .main-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	color:#003865;
}
.main-nav .nav>li:last-child a {
	padding-right:0;
}
.main-nav .navbar-collapse {
	max-height:none;
}
.main-carousel {
	background:#051f37;
}
.main-carousel .item.active>img {
	margin:0 auto;
}
.main-carousel .carousel-control.left, .main-carousel .carousel-control.right {
	background:none;
}
.main-carousel img {
	margin:50px 0;
}
.heading {
	color:#003865;
	font-size:46px;
	line-height:52px;
	margin:80px 0 40px;
}
.heading em {
	color:#fd5000;
	text-transform:uppercase;
	display:block;
}
.main-carousel .descr {
	color:#000000;
	font-size:18px;
	line-height:26px;
	margin-bottom:20px;
	overflow:hidden;
}
.main-carousel .btn-warning {
	font-size:16px;
	margin-bottom:40px;
}
.main-carousel .btn-warning span {
	margin-right:5px;
}
.main-carousel .carousel-indicators>li {
	background:#3D69AB;
	border:medium none;
	height:12px;
	width:12px;
	margin:2px;
}
.main-carousel .carousel-indicators .active {
	background:#FD5000;
	margin:2px;
}
.main-carousel .btn-warning span {
	margin-right:5px;
	position:relative;
	top:-2px;
	transform:rotate(-40deg);
	-moz-transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
}
.full-white-wraper {
	background:#fff;
}
.light-gray-wraper {
	background:#f3f3f3;
}
.divide {
	margin-bottom:5%;
	margin-top:5%;
}
.divider {
	margin-bottom:2%;
	margin-top:2%;
}
.divide h2:first-child {
	margin-top:0;
}
.sub-desc {
	font-size:16px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	line-height:26px;
}
.sub-desc-full {
	font-size:16px;
	width:96%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	line-height:26px;
}
.our-approachdesc {
	display:block;
	line-height:26px;
	margin:2% auto 3%;
	color:#666666;
}
.str-box {
	padding:20px;
	margin-top:20px;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.str-box .descript {
	height:120px;
	margin-bottom:20px;
	overflow:hidden;
}
.services .str-box .descript {
	height:90px;
}
.str-box:hover {
	background:#e9e9e9;
}
.str-box:hover h3 {
	color:#fd5000;
}
.hsContainer {
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.hsContainer h2 {
	color:#fff;
}
.homeSlide h2 {
	font-family:'PT Sans Narrow', sans-serif;
	font-size:26px;
	color:#fff;
	text-transform:none;
	line-height:36px;
}
.homeSlide h2 span {
	text-transform:uppercase;
}
.hsContainer .sub-desc {
	width:100%;
}
.hsContainer hr {
	border-color:#fff;
	width:50%;
	margin-bottom:50px;
}
.hsContent {
	color:#EBEBEB;
	padding:5% 0;
	text-align:center;
	vertical-align:middle;
}
.bcg {
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	width:100%;
}
.homeSlide .bcg {
	background-image:url('../images/parallax-1.jpg');
}
.sevicesSlide .bcg {
	background-image:url('../images/service-parallax.jpg');
}
.companySlide .bcg {
	background-image:url('../images/companyparallax.jpg');
}
/*.ecommerceSlide .bcg {
	background-image:url('../images/Ecommerce-parallax.jpg');
}*/
.ecommerceSlide .bcg {
	background-image:url('../images/ecommerce-parallax.jpg');
}
.responsiveSlide .bcg {
	background-image:url('../images/responsive-parallax.jpg');
}
.webdevSlide .bcg {
	/*background-image:url('../images/Web-Dev-parallax.jpg');*/
	background-image:url('../images/webdevelopment-parallax.jpg');
}
.webappSlide .bcg {
	/*background-image:url('../images/Web-App-parallax.jpg');*/
	background-image:url('../images/webapp-parallax.jpg');
}
.respSlide .bcg {
	background-image:url('../images/Responsive-parallax.jpg');
}
.seoSlide .bcg {
	background-image:url('../images/Seo-Sem-parallax.jpg');
}
.moblieSlide .bcg {
	background-image:url('../images/Mobile-parallax.jpg');
}
.portfolioSlide .bcg {
	background-image:url('../images/service-parallax.jpg');
}
.magentoSlide .bcg {
	background-image:url('../images/Magento-parallax.jpg');
}
.achieve-box hr {
	width:75%;
}
.achieve-box>img {
	margin:20px auto 0 auto;
}
.achieve-box>a>img {
	margin-top:100px;
}
.achieve-box>a>img {
	margin:20px auto 0;
}
.achieve-box .big {
	margin-top:20px;
}
.achieve-box>ul {
	padding-left:0;
}
.achieve-box {
	padding:0 20px;
}
.achieve-box ul li {
	list-style-position:inside;
}
.achieve-box:hover span {
	color:#fd5000;
}
.our-work {
	background:url('../images/gray-bg.jpg') repeat;
	color:#fff;
}
#myWork {
	margin-bottom:40px;
}
.our-work h2 {
	color:#fff;
	text-align:center;
}
.our-work .sub-desc {
	width:90%;
	text-align:center;
	margin:20px auto 50px auto;
}
.mac {
	background:url(../images/mac.png) no-repeat;
	background-size:100%;
	min-height:380px;
	width:100%;
}
.mac span {
	left:16%;
	overflow:hidden;
	position:absolute;
	top:5%;
	width:69.2%;
}
.our-work h3 {
	color:#b3b3b3;
	font-size:28px;
}
.txt-shadow {
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.35);
}
.our-work .h4 {
	font-size:32px;
	color:#fd5000;
	font-family:'PT Sans', sans-serif;
}
.our-work hr {
	margin:20px 0;
}
.our-work h5 {
	font-size:25px;
	color:#fd5000;
	font-family:'PT Sans', sans-serif;
}
.our-work ul {
	color:#b3b3b3;
	padding:0;
	list-style:none;
	margin-top:25px;
}
.key-points i {
	background:#FD8300;
	border-radius:20px;
	color:#FFFFFF;
	display:inline-block;
	font-style:normal;
	height:20px;
	left:0;
	position:absolute;
	text-align:center;
	width:20px;
}
.key-points>li {
	margin:13px 0;
	padding-left:30px;
	position:relative;
}
.h2-lines {
	color:#333333;
	font-size:24px;
	background:url(../images/lines-bg.png) repeat-x 0 10px;
	min-height:11px;
}
.h2-lines span {
	background:#f3f3f3;
	padding-right:15px;
	display:inline-block;
}
.logos-video h3 {
	font-size:18px;
	color:#666666;
	font-family:'PT Sans', sans-serif;
	line-height:20px;
	margin-bottom:0;
	margin-top:135px;
}
.logos-video h3 span {
	display:block;
	color:#fd5000;
	font-weight:600;
	font-size:15px;
}
.logos-video .hvideo, .testimonails-video .hvideo  {
	left:50%;
	margin-left:-17px;
	margin-top:-17px;
	position:absolute;
	top:50%;
}
.logos-video .hvideo:hover span, .testimonails-video .hvideo:hover span {
	color:#fff;
}
.logos-video .hvideo span, .testimonails-video .hvideo span {
	color:#CC181E;
	display:block;
	font-size:38px;
}
.recent-news, .recent-news .row a {
	color:#666666;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.recent-news .row a:hover {
	color:#fb5000;
}
.recent-news a.view {
	background:#F3F3F3;
	font-family:'Unica One', cursive;
	font-size:18px;
	padding-left:10px;
	position:absolute;
	right:15px;
	top:3px;
}
.date {
	font-family:'Unica One', cursive;
	font-size:22px;
	color:#fb5000;
	line-height:27px;
	text-transform:uppercase;
}
.date span {
	font-size:32px;
	display:block;
}
.inner-header {
	background:#0c3f6a;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2Y2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjRiNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c3f6a), color-stop(100%, #1b4b72));
	background:-webkit-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-o-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-ms-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:linear-gradient(to bottom, #0c3f6a 0%, #1b4b72 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c3f6a', endColorstr='#1b4b72', GradientType=0);
}
.inner-header p {
	color:#6e8ca6;
	font-size:18px;
}
.inner-header .col-md-12>span {
	bottom:0;
	color:#0A3760;
	font-size:14em;
	max-height:240px;
	overflow:hidden;
	position:absolute;
	right:15%;
	z-index:0;
}
.inner-header h1 {
	margin:20px 0 20px;
	position:relative;
	z-index:2;
}
.inner-header p {
	color:#6E8CA6;
	font-size:18px;
	margin-bottom:0;
	padding-bottom:40px;
	position:relative;
	z-index:2;
}
.inner-header a:hover {
	color:#fff;
}
.inner-header ul {
	color:#317fbf;
	margin-bottom:20px;
}
.inner-header ul li span {
	color:#fff;
}
.inner-header ul li span[class*="icomoon-"] {
margin-right:8px;
margin-bottom:5px;
color:#fd5000;
}
.inner-header ul li.clearfix {
	list-style:none;
}
.secondary-nav {
	/*margin-top:10px;*/
	margin-bottom:0;
}
.secondary-nav .navbar-nav>.open>a, .secondary-nav .navbar-nav>.open>a:hover, .secondary-nav .navbar-nav>.open>a:focus, .secondary-nav .navbar-nav>.active>a, .secondary-nav .navbar-nav>.active>a:hover, .secondary-nav .navbar-nav>.active>a:focus {
	background-color:transparent;
	color:#fff;
	border-bottom:2px solid #fd5000;
}
.company .secondary-nav .navbar-nav>.open>a, .company .secondary-nav .navbar-nav>.open>a:hover, .company .secondary-nav .navbar-nav>.open>a:focus, .company .secondary-nav .navbar-nav>.active>a, .company .secondary-nav .navbar-nav>.active>a:hover, .company .secondary-nav .navbar-nav>.active>a:focus {
	background-color:transparent;
	color:#fff;
	border-bottom:4px solid #FF2F68;
}
.work .secondary-nav .navbar-nav>.open>a, .work .secondary-nav .navbar-nav>.open>a:hover, .work .secondary-nav .navbar-nav>.open>a:focus, .work .secondary-nav .navbar-nav>.active>a, .work .secondary-nav .navbar-nav>.active>a:hover, .work .secondary-nav .navbar-nav>.active>a:focus {
	background-color:transparent;
	color:#fff;
	border-bottom:4px solid #f3b009;
}
.services .secondary-nav .navbar-nav>.open>a, .services .secondary-nav .navbar-nav>.open>a:hover, .services .secondary-nav .navbar-nav>.open>a:focus, .services .secondary-nav .navbar-nav>.active>a, .services .secondary-nav .navbar-nav>.active>a:hover, .services .secondary-nav .navbar-nav>.active>a:focus {
	background-color:transparent;
	color:#fff;
	border-bottom:4px solid #16c4c2;
}
.secondary-nav .nav>li>a {
	border-radius:0;
	color:#fff;
	margin: 10px 10px 0;
    padding: 8px 0;
	font-size:16px;
	border-bottom:2px solid rgba(0, 0, 0, 0);
	text-transform:uppercase;
}
.secondary-nav .nav>li>a:hover, .secondary-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	border-bottom:2px solid #fd5000;
	color:#fff;
}
.company .secondary-nav .nav>li>a:hover, .company .secondary-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	border-bottom:4px solid #FF2F68;
	color:#fff;
}
.work .secondary-nav .nav>li>a:hover, .work .secondary-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	border-bottom:4px solid #f3b009;
	color:#fff;
}
.services .secondary-nav .nav>li>a:hover, .services .secondary-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	border-bottom:4px solid #16c4c2;
	color:#fff;
}
.secondary-nav .nav>li:last-child a {
	padding-right:0;
}
.secondary-nav .navbar-collapse {
	max-height:none;
}
.featured-work h3 {
	line-height:30px;
	margin-bottom:20px;
	padding-left:85px;
	position:relative;
	text-transform:uppercase;
}
.featured-work h3 span {
	background:#EE3528;
	border:4px solid #F3F3F3;
	border-radius:100%;
	box-shadow:0 0 2px #898989;
	color:#FFFFFF;
	font-size:30px;
	height:66px;
	left:0;
	line-height:60px;
	position:absolute;
	text-align:center;
	width:66px;
}
.sevicesSlide .sub-desc {
	width:70%;
}
.white-box {
	background:#FFFFFF;
}
.white-box-top {
	padding:12px 20px;
}
.white-box-top h3 {
	font-family:'PT Sans', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#003865;
	margin:0;
	text-align:left;
	padding:0;
	height:70px;
}
.white-box-top .row {
	margin-bottom:5px;
}
.portfolio {
	margin-top:20px;
}
.portfolio>[class*="col-"] {
margin-bottom:30px;
}
.portfolio .white-box {
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
}
.portfolio .white-box:hover {
	box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	transform:scale(1.02, 1.02);
	-o-transform:scale(1.02, 1.02);
	-moz-transform:scale(1.02, 1.02);
	-webkit-transform:scale(1.02, 1.02);
}
.portfolio .white-box:hover h3 {
	color:#fd5000;
}
.portfolio .white-box:hover img {
	opacity:0.9;
}
.testimonial>[class*="col-"] {
margin-bottom:30px;
}
.testimonial a {
	position:absolute;
	left:15px;
	right:15px;
	top:0;
	bottom:0;
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
	display:block;
}
.testimonial a:hover {
	background:rgba(0, 0, 0, 0.3);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
}
.testimonial a span {
	left:50%;
	margin-left:-24px;
	margin-top:-26px;
	position:absolute;
	top:50%;
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
	color:#fff;
	display:block;
	font-size:38px;
}
.testimonial a:hover span {
	color:#fd5000;
	transform:scale(1.5, 1.5) rotate(360deg);
	-o-transform:scale(1.5, 1.5) rotate(360deg);
	-moz-transform:scale(1.5, 1.5) rotate(360deg);
	-webkit-transform:scale(1.5, 1.5) rotate(360deg);
}
.team-box {
}
.team-box .team-breif {
	bottom:0;
	left:15px;
	position:absolute;
	right:15px;
	top:0;
	z-index:9;
	background:rgba(10, 62, 105, 0.5);
	color:#fff;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.team-box h4 {
	bottom:0;
	font-size:20px;
	left:30px;

	position:absolute;
	text-transform:uppercase;
}
.team-box h4 span {
	display:block;
}
.team-box:hover .team-breif {
	background:none;
}
.team-info-parent {
	display:none;
	margin-bottom:30px;
}
.team-info {
	background:#FFFFFF;
	padding:25px;
}
.team-info h5 {
	color:#003865;
	font-size:20px;
	margin:0 0 20px;
	text-transform:uppercase;
}
.team-info p {
	margin-bottom:20px;
}
.team-membs:first-of-type {
	margin-top:50px;
}
.team-membs .col-sm-4 {
	margin-bottom:30px;
}
.team-membs .col-sm-4>span {
	bottom:-85px;
	color:#FFFFFF;
	font-size:80px;
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	z-index:9;
	display:none;
}
.team-membs .team-box img {
	width:100%;
}
.close {
	position:relative;
	z-index:11;
}
.videoWrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;
}
.videoWrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.modal-body .close {
	background:#000000;
	border:2px solid #CCCCCC;
	border-radius:100%;
	color:#FFFFFF;
	height:30px;
	opacity:1;
	overflow:hidden;
	position:relative;
	right:-29px;
	text-shadow:none;
	top:-29px;
	width:30px;
}
.modal-body .close:hover {
	opacity:1;
	color:#FFF;
}
.modal.in .modal-dialog {
	transform:translate(0px, 30%);
}
.filter {
	text-align:center;
}
.clients-box {
	border:2px solid #c2c2c2;
	border-radius:5px;
	background:#c2c2c2;
	text-align:left;
	padding-bottom:4px;
	margin-bottom:30px;
}
.clients-in-box {
	height:220px;
	overflow:hidden;
	background:#fff;
	position:relative;
}
.clients-box>span {
	color:#FFFFFF;
	font-size:25px;
	line-height:10px;
	margin-left:3px;
}
.overlay {
	background:rgba(0, 0, 0, 0.8);
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	text-align:center;
	color:#fff;
	opacity:0;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.overlay h6 {
	font-size:16px;
}
.hover-overlay {
	left:50%;
	margin:20% 0 14% -80px;
	position:relative;
	width:160px;
}
.hover-overlay a {
	color:#fff;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
	transition:all 0.3s ease-in-out 0s;
}
.hover-overlay a:hover {
	color:#FD5000;
}
.hover-overlay a i {
	float:left;
	font-size:70px;
	position:relative;
	left:-150%;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.hover-overlay a span {
	border-left:1px solid #FFFFFF;
	display:-webkit-box;
	font-size:16px;
	line-height:normal;
	margin-top:10px;
	padding-left:10px;
	float:right;
	word-wrap:break-word;
	width:78px;
	text-transform:uppercase;
	text-align:left;
	height:50px;
	position:relative;
	right:-150%;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.clients-box:hover .overlay, .featured-box:hover .overlay {
	opacity:1;
}
.clients-box:hover .hover-overlay a i, .featured-box:hover .hover-overlay a i {
	left:0;
}
.clients-box:hover .hover-overlay a span, .featured-box:hover .hover-overlay a span {
	right:0;
}
.clients-in-box img {
	width:100%;
}
.hpartner-logos [class*="col-"] {
max-height:70px;
min-height:70px;
}
.featured-box {
	overflow:hidden;
	position:relative;
	background:#fff;
	box-shadow:4px 4px 0 #c2c2c2;
}
.featured-box .row {
	margin-bottom:5px;
}
.featured-box .hover-overlay {
	margin:10% 0 14% -80px;
}
.case-txt {
	font-size:22px;
	line-height:36px;
	margin:14% auto 0;
	width:90%;
}
.case-txt a {
	color:#fff;
}
body div.fixed {
	background:#f3f3f3;
	border-bottom:1px solid #9f9f9f;
	position:fixed;
	top:-118px;
	z-index:9999;
	width:100%;
	-webkit-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	z-index:9999;
	opacity:0;
	min-height:48px;
}
body div.fixed.sticky {
	opacity:1;
	top:0;
	-webkit-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
}
body div.fixed .menu-global-nav-container {
	margin:17px 0 15px;
}
.sticky .img-responsive {
	max-width:80%;
}
.fixed.hide-for-phone .main-nav {
	margin:-5px 0 15px;
}
.web-awards {
	background:url(../images/webawards.png) no-repeat;
	border:none;
}
.carousel-control.right {
	background-image:none;
}
.carousel-control.left {
	background-image:none;
}
.port-inner-header {
	background:url('../images/gray-bg.jpg') repeat;
	color:#fff;
	text-align:center;
	position:relative;
	min-height:500px;
}
.port-inner-header .img-responsive {
	margin:0 auto;
}
.port-inner-points {
	margin:20px 0;
}
.port-inner-points .fa-stop {
	color:#fd5000;
	position:absolute;
	top:4px;
}
.port-inner-points .col-md-6 {
	margin-bottom:10px;
}
.port-inner-points .col-md-6 p {
	padding-left:20px;
}
#map_canvas {
	width:100%;
	height:500px;
}
.blog-box {
	background:#FFFFFF;
	-webkit-box-shadow:4px 4px 0px #c2c2c2;
	-moz-box-shadow:4px 4px 0px #c2c2c2;
	box-shadow:4px 4px 0px #c2c2c2;
}
.blog-box hr {
	margin-bottom:-8px;
	margin-top:5px;
}
.blog-box:hover hr {
	border-color:#fd5000
}
.blog-box:hover h2 a {
	color:#fd5000;
}
.blog-box:hover .blog-but {
	background:#fd5000;
}
.qa-blog-box-inner [class*="col-"], .blog-box-inner [class*="col-"] {
margin-bottom:10px;
font-family:'PT Sans', sans-serif;
}
.blog-box-inner h2, .blog-box-inner h2 a, .blog-box-inner .h2, .blog-box-inner .h2 a, .qa-blog-box-inner h2, .qa-blog-box-inner h2 a, .qa-blog-box-inner .h2, .qa-blog-box-inner .h2 a {
	font-size:25px;
	color:#666;
	margin-bottom:10px;
	margin-top:20px;
}
.blog-box-inner .h2, .qa-blog-box-inner .h2 {
	border-top:1px solid #999;
	margin:15px 0;
	padding:15px 0 0;
}
.blog-box-inner .row .col-xs-4, .qa-blog-box-inner .row .col-xs-4 {
	font-size:14px;
}
.blog-box-inner, .qa-blog-box-inner {
	padding:15px 15px 25px 15px;
	color:#333333;
}
.ind-blog-page {
	padding:30px;
}
.ind-blog-page h2, .ind-blog-page .info p:nth-child(1) {
color:#333333;
margin:20px 0 10px 0;
}
.blog-filter {
	text-align:center;
	margin-bottom:20px;
}
.blog-filter a {
	margin:0 5px 10px;
	border-radius:0;
}
.ind-blog-page .col-sm-3 {
	color:#999999;
	font-size:14px;
}
.blog-box-inner .label-default, .qa-blog-box-inner .label-default {
	background:none repeat scroll 0 0 #e6e6e6;
	color:#999999;
	display:inline-block;
	margin-bottom:1px;
	padding:5px 10px;
}
.qa_cats, .post-tags {
	margin-top:10px;
}
.blog-box-inner .row>.col-xs-4>span, .qa-blog-box-inner .row>.col-xs-4>span {
	color:#4c4c4c;
}
.blog-but {
	background:#666666;
	display:block;
	text-align:center;
	padding:15px 0;
	cursor:pointer;
	color:#fff;
}
.blog-but:hover {
	background:#fd5000;
	color:#fff;
}
.blog-social-links a {
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
	background:#f0f0f0;
	display:inline-block;
}
.blog-social-links a:hover {
	background:#000;
	color:#fff;
}
.blog-social-links .share {
	color:#4d4d4d;
}
.blog-social-links .fb {
	background:#1b4194;
}
.blog-social-links .tw {
	background:#60aadb;
}
.blog-social-links .pint {
	background:#d44b50;
}
#posts .item {
	margin-bottom:45px;
}
#posts .item img.image {
	max-width:100%;
	margin-top:9px;
}
.info {
	margin-bottom:10px;
	padding:4px;
}
.isotope, .isotope .item {
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-ms-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	transition-duration:0.8s;
}
.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	-ms-transition-property:height, width;
	-o-transition-property:height, width;
	transition-property:height, width;
}
.isotope .item {
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-ms-transition-property:-ms-transform, opacity;
	-o-transition-property:top, left, opacity;
	transition-property:transform, opacity;
}
#posts {
	overflow:visible!important;
}
@media (max-width: 991px) {
.isotope .item {
position:static!important;
-webkit-transform:translate(0px, 0px)!important;
-moz-transform:translate(0px, 0px)!important;
transform:translate(0px, 0px)!important;
}
}
.port-inner-header .container>div {
	/*padding-top:60px;*/
	padding-top:40px;
	position:relative;
	margin-bottom:30px;
}
.port-inner-header .row .row .col-md-8 {
	bottom:50px;
	left:50%;
	margin-left:-33%;
	position:absolute;
	z-index:9;
}
.port-banner-box {
	background:#d0d5d8;
	border:2px solid #d0d5d8;
	border-radius:5px 5px 0 0;
	text-align:left;
}
.port-ban-inr-box {
	background:#fff;
	overflow:hidden;
	position:relative;
	height:295px;
}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {
	height:370px;
}
.port-banner-box>span {
	color:#ffffff;
	font-size:20px;
	line-height:30px;
	margin-left:10px;
}
.port-banner-box>span:nth-child(2) {
position:absolute;
right:30px;
top:2px;
}
.port-inr-hdgs hr {
	width:100%;
}
.port-inr-hdgs h3 {
	color:#fd5000;
	margin:0;
}
.dark-gray-bg {
	background:#484848;
	padding:15px 30px 15px 30px;
}
.cnt-heading {
	font-size:34px;
	margin:20px 0;
	color:#fff;
}
.contact-form {
	padding:0 30px;
}
.contact-form .form-group {
	margin-bottom:20px;
}
.contact-form .btn {
	border-radius:0;
}
.cont-points {
	float:right;
	list-style:none;
	padding:0;
	text-align:center;
}
.cont-points li:nth-child(even) {
margin-left:3%;
}
.cont-points li {
    color: #013865;
    display: inline-block;
    float: none;
    font-size: 14px;
    margin: 16px 0;
    padding-left: 40px;
    position: relative;
}
.cont-points li span {
	color:#003865;
	display:inline-block;
	font-size:30px;
	left:0;
	position:absolute;
	top:-13px;
}
.parallax-logos {
	margin-top:7%;
}
.parallax-logos [class*="col-"] {
margin-bottom:15px;
}
.form-control {
	border-radius:0px;
	background:#f3f3f3;
	padding:8px 12px;
}
footer {
	background:#05384d;
	color:#9A9A9A;
	padding:40px 0 60px 0;
}
footer .h2-lines span {
	background:#05384c;
	color:#999999;
	text-transform:uppercase;
}
footer ul, ul.contact {
	list-style:none outside none;
	padding:0;
}
footer ul li {
	margin:3px 0;
}
footer ul li a, footer .col-sm-12 a {
	color:#9A9A9A;
}
footer ul li a:hover, footer ul li a:focus, footer .col-sm-12 a:hover, footer .col-sm-12 a:focus {
	color:#fff;
}
.contact li {
	margin:10px 0;
	padding-left:25px;
	position:relative;
}
footer ul li i {
	left:0;
	position:absolute;
	top:3px;
	color:#9bafb7;
}
.footer_btm {
	width:100%;
	background:#042b3c;
	padding:10px 0;
}
.footer_btm .btn {
	font-size:14px;
	text-transform:uppercase;
}
.social-links {
	color:#fff;
}
.social-links a {
	background:#E6EAEC;
	border-radius:33px;
	color:#474B4C;
	display:inline-block;
	font-size:18px;
	height:33px;
	line-height:33px;
	text-align:center;
	width:33px;
	margin-right:5px;
}
.social-links a:hover {
	background:#fd5000;
	color:#fff;
}
@media (min-width:768px) {
.tlbg{background:url('../images/t-bg.jpg') repeat-y left top;     background-size: 107.3% auto;}
.navbar-default {
background:transparent;
border:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color:transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color:transparent;
}
.main-nav {
margin:25px 0 0;
}
.our-work h3 {
margin-top:0;
}
.secondary-nav .second-nav {
padding-left:0;
}
.secondary-nav .navbar-brand {
display:none;
}
.port-desc {
max-height:40px;
min-height:60px;
}
.white-box>a {
display:block;
max-height:330px;
min-height:330px;
overflow:hidden;
}
.achieve-box>img {
margin-top:100px;
}
.mac span {
max-height:79%;
}
}
@media (min-width:992px) {
.cols5>.col-md-3 {
width:20%;
}
.footer_btm {
bottom:0;
position:fixed;
z-index:999;
}
.filter a {
margin:0 15px;
padding-left:20px;
padding-right:20px;
font-size:16px;
}
.mac span {
max-height:64%;
}
.port-inner-header .container>div {
/*height:507px;*/height:auto;
}
.our-work .carousel-control {
width:30px;
top:0;
bottom:0;
}
.our-work .left.carousel-control {
left:0%;
}
.our-work .right.carousel-control {
right:0%;
}
}
@media (min-width:768px) and (max-width:992px) {
.main-carousel .carousel-caption {
top:-10%;
}
.ind-blog-4 .mtop40 {
    margin-top: 0;
}
.blog-filter a {
    font-size: 12px !important;
    margin: 0 3px 10px;
}
.navbar-default .navbar-nav a{
	margin:0 !important;
}
#caseStudyCarousel .carousel-caption {
    color: #fff !important;
    margin-bottom: 0 !important;
    position: absolute !important;
    top: 10px !important;
}
#caseStudyCarousel .carousel-caption h1{
	font-size: 20px !important;
    line-height: 25px !important;
    margin-bottom: 15px !important;
}
#caseStudyCarousel .carousel-caption p {
    font-size: 13px !important;
    line-height: 15px !important;
}
.testimonial-category-filter > .nav-pills > li > a {
    font-size: 12px !important;
    padding: 4px !important;
}
.sortby{
	font-size: 12px !important;
    min-width: auto !important;
    padding: 4px !important;
}
.sortby span{
    top: 7px !important;
}
.main-banner .btn-default{
	font-size:15px !important;
	border: 1px solid #fff;
}
.key-points > li{
	font-size:13px;
}
.our-work h5{
	font-size:18px;
}
.our-work .h4{ font-size:25px; }
.blog .item.col-md-4.col-sm-6.isotope-item {
    min-height: 520px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -57px !important;
    margin-top: 30px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -57px !important;
    margin-top: 30px !important;
}
}
@media (min-width:767px) and (max-width:991px){
.footer_btm .btn {font-size: 12px !important;font-weight: bold;margin-right: 2px !important;padding: 5px !important;}
.tbs .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 33%;
    text-align: CENTER;
}
.cont-points li{	font-size: 12px;}
}
@media (min-width: 1200px) {
.mac span {
max-height:69%;
}
}
@media (max-width:1050px) {
.our-work .carousel-control {
top:20%;
bottom:auto;
}
.our-work .left.carousel-control {
left:0;
}
.our-work .right.carousel-control {
right:0;
}
}
@media (max-width:991px) {
#nav.affix {
position:relative!important;
z-index:1!important;
}
.main-carousel {
margin-top:0!important;
}
#secondnav {
position:static!important;
}
.mac {
min-height:420px;
}
.logos-video>.col-md-6, .recent-news, .recent-news .row>.col-md-6 {
margin-bottom:20px;
}
.sevicesSlide .col-md-3 {
margin-bottom:20px;
}
.port-desc {
max-height:60px;
min-height:60px;
}
footer {
padding-bottom:0;
}
.social-links.row [class*="col-"] {
margin-bottom:20px;
}
.footer_btm {
margin-top:20px;
}
.port-inner-header .container>div {
padding-top:80px;
}
.port-inner-header .row .row .col-md-8 {
position:relative;
margin:0 auto 30px auto;
bottom:0;
left:auto;
}
.port-inner-header .row .row .col-md-6 {
display:none;
}
.logos-video h3 {
margin-top:10px;
}
.ind-blog-4 {
margin-top:40px;
}

.port-inner-header .row .col-md-4{
	margin-bottom:20px;
}
.port-inner-header .container>div {
	padding-top:10px;
	position:relative;
	margin-bottom:10px;
}
}

span.icomoon-icon-play-2 {
    color: red;
}
@media (min-width:470px) and (max-width:767px){
.tbs .nav-tabs>li {width: 33%;text-align: CENTER;}
}
@media (max-width:767px) {

.carousel-caption{left:0% !important;}
.testimonials .carosel h2{color:#fff;}
section.port-tabs{margin-top: -20px !important;}
.carousel-caption {
position: absolute;
background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(33%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(65%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
top: 80%;
min-height: 334px;
width: 100%;
    bottom: 20px;
    color: #000;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    right: 15%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
a.hvideo.vt_play {
    color: #F00 !important;
    position: absolute !important;
    margin-left: -11px !important;
    top: 50%;
    left: 50% !important;
}

footer [class*="col-"] {
margin-bottom:20px;
}
footer [class*="col-"]:last-child {
margin-bottom:0;
}
.filter a {
font-size:15px;
margin-bottom:5px;
}
body div.fixed {
display:none;
position:relative;
}
.mac span {
max-height:79%;
}
.ind-blog-page .col-md-3 {
margin-bottom:10px;
}
.main-carousel .carousel-caption {
visibility:hidden;
}
}
@media (max-width:600px) {
.full-white-wraper .col-xs-6, .light-gray-wraper .col-xs-6 {
width:100%;
}
.clients .clients-in-box {
height:auto;
}
.mac {
min-height:300px;
}
.hover-overlay {
margin:7% 0 7% -80px;
}
.mac span {
max-height:75%;
}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {
height:300px;
}
.port-inner-header {
min-height:370px;
}
.footer_btm>.container>.row>[class*="col-"] {
width:100%;
}
.footer_btm>.container>.row>[class*="col-"] .row .col-xs-6 {
text-align:left;
}
}
@media (max-width:480px) {
.icomoon-icon-play-2 {color: red !important;left: 16px !important;margin-left: -8px !important;margin-top: -11px !important;}	
.tbs .nav-tabs > li > a{padding: 5px 2px !important; font-size: 12px !important;}
.tbs .nav-tabs{padding-top: 10px;}
.tbs {margin-left:0% !important;}
.sm-bg {background-color: #eeeeee;}
.og-expander-inner{height:auto !important;}
.mac {min-height:250px;}
.footer_btm .row .row .col-xs-6, .testimonial>[class*="col-"] {
width:100%;
}
.mac span {max-height:58%;}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {height:200px;}
.port-inner-header {min-height:270px;}
}

.team-info .social-links {display:none;}
input.error {	border:1px solid #f00;color:#f00!important;}
label.error {color:#f00;font-size:13px;font-weight	:normal;}
span.small-text {display:block;font-weight:normal;font-size:14px;}
.port-inner-points>li {line-height:20px;list-style:none outside none;}
.port-inner-points .fa.fa-stop {position:relative;top:20px;}
.port-inner-points p {margin-left:2.3%;}
.technologies p {margin-left:4.7%;}
#footer {font-size:14px;}
#footer small {font-size:95%;}
.contact_dog {background-image:url(../images/contact_dog.jpg);
	min-width:100%;	position:relative;background-color:#000;background-position:center;background-size:cover;}
.contact_dog h2 {color:#ffffff;font-size:40px;margin:40px 0 20px;}
.OK-Ready-btn {font-weight:700;padding:15px;}
.btn-warning:hover, .btn-warning:focus {	background-color:#ea452e;border-color:#ea452e;color:#FFFFFF;}
.home-bbox {	color:#FFFFFF;background-color:rgba(0, 0, 0, 0.39);	padding:10px;font-weight:600;font-size:14px;}
.mbot {	margin-bottom:20%;}
.dark-gray-wraper {	background:#333333;	padding:4% 0%;}
.text-warning {color:#ea452e!important;}
address p {color:#CCCCCC;font-size:14px;font-family:'PT Sans', sans-serif;}
.contact_dog p {	color:#fff;}
.dark-gray-wraper h3 {color:#fff;}
.contact_dog .col-sm-offset-1 {margin-left:2.33333%;}
.main-carousel {	background:none;}
.slide1 {background:url("../images/home-banner-new.jpg") no-repeat;	background-size:100% auto;height:408px;width:100%;}
.home-h1 {color:#e44d02;	font-size:50px;font-weight:700;}
.white-p {color:#173980;font-size:20px;	font-weight:700;}
#myCarousel .col-md-6 {bottom:27%;	position:absolute;}
#myCarousel hr {border-color:#173980;border-width:2px;float:left;	width:90px;}

@media(max-width:500px) {
.home-h1, .white-p {display:none;}
}
/*Main Carousel Changes - Suneel*/
.main-carousel .carousel {margin: 0 !important;width: 100% !important;}
#carousel-example-generic .item.active {
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size:100%;
	background-size:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position: cover;
	max-width: 100%;
}
#carousel-example-generic img.img-responsive {
	width:100%;
}
.main-carousel .carousel-caption {
	left:0;
	top:50px;
	right:0;
}
.main-carousel .carousel-caption h1 {
	color: #ea452e;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	font-stretch: expanded;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height:1.25;
}
.main-carousel .carousel-caption .lead {
	color: #24408a;
	font-weight: 800;
	line-height: 1.25;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.main-carousel .carousel-caption > hr {
	border-color: #173980;
	border-width: thick;
	float: left;
	width: 100px;
}
@media ( min-width : 768px) and (max-width: 1024px) {
.main-carousel .carousel-caption h1 { font-size:40px; font-weight:500;}
.main-carousel .carousel-caption { bottom:0;}
.feature-posts .blog-box-inner .text-right {text-align: left;}
.feature-posts .ind-blog-4 .mtop40 {margin-top: 0;}
.feature-posts .blog-box-inner {font-size: 13px !important;}
.feature-posts .blog-box-inner h2 a {font-size: 20px !important;}
}

@media ( min-width : 600px) and (max-width: 991px) {
 .logos-video .hvideo { left:25%;}
}
/*END of Main Carousel Changes - Suneel*/
blockquote {
	border-style:solid;	border-width:1px 0 1px 20px;
	border-image:url(../images/curly.png) 1 20 stretch;	padding-left:0.5em;	font-size:14px;
}
.text-info a {font-size: 14.5px;}
.readmore .text-info a {	color:#fb5000;}
.shortreview {	height:156px;	overflow:hidden;}
.fullreview {	height:auto;	overflow:visible;}
.testimonials blockquote {	margin-bottom:5px;}
#testimonials-rotate .footercontrols {	position: absolute;	right: 0;	top: -12px;}
.port-inner-header .row .row .col-md-6 {    margin-bottom: 70px;}
.port-inner-header .h2 {    font-weight: 600;}
.phone-box {background: #fd5000;color: #fff;display: inline-block;margin: 30px 0;padding: 10px;}
.phone-box h2, .phone-box h3 {color: #fff;margin: 0;padding: 0;}
.blue-testi{background:#003865;	color:#fff;	padding:40px 0;	font-family: 'Abel', sans-serif;
	box-shadow:inset 0 0 100px rgba(0,0,0,0.3);
}
.blue-testi .h3{	margin:30px 0 50px 0;font-family: 'Abel', sans-serif;font-size:26px;
	font-style:italic;text-transform:none;line-height:36px;letter-spacing:1px;}
.pleat-testi{background:#16c4c2;	color:#fff;	padding:40px 0;	font-family: 'Abel', sans-serif;
box-shadow:inset 0 0 100px rgba(0,0,0,0.3);
}
.pleat-testi .h3{margin:30px 0 50px 0;font-family: 'Abel', sans-serif;font-size:26px;font-style:italic;
	text-transform:none;line-height:36px;letter-spacing:1px;}
/*03-09-2014 Video Testimonails Page*/
.hght190{ height:122px; overflow:hidden; margin: 10px 0;}
.hghtauto{ height:auto; overflow:visible; margin: 10px 0;}
audio{ margin:10px 0; }
.getAdonMap{font-size:12px;}
.overlaycase-txt{font-size: 19px;line-height: 28px;margin: 14% auto 0;width:97%}
.overlaycase-txt a{color:#fff;}

.sortby {border-radius: 0;font-size: 12px;text-align: left;text-transform: uppercase;width: 100%;padding: 7.5px 12px;}
.sortby span {position: absolute;right: 10px;top: 8px;}
.sortby + ul {background:#ed9c28;border-radius: 0;box-shadow: none;color: #fff;left: 0;margin-top: 0;}
.sortby + ul .dropdown-header {color: #fff;font-size: 14px;font-weight: bold;margin-left: -8px;}
.sortby + ul a {color: #fff;}
.v-center > [class*="col-"]{
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.iphone-transfer {height: auto;margin-left: 3px;margin-top: 2px;width: 21px;}
.str-box .services img {margin-top: 13px;}
.testimonial-category-filter {margin-bottom: 20px;}
.testimonial-category-filter a {margin:0 5px 10px;border-radius:0;}
.full-box-link {bottom: 0;cursor: pointer;left: 0;position: absolute;right: 0;top: 0;}

/*15-10-2014*/
.main-banner{
	background:url(../images/homepagebanner.jpg) no-repeat;
	padding:50px 0 25px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.main-banner .lead {
    color: #2f2f2f;
    font-family: "Oswald";
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 10px !important;
    margin-top: 20px;
    text-transform: uppercase;
}
.main-banner hr {
    border-color: #fff;
    float: left;
    margin-left: 20px;
    width: 20%;
}
*:before, *:after {
    box-sizing: border-box;
}
.main-banner h1 {
    color: #fff;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400 !important;
    line-height: 1.4 !important;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.51);
    text-transform: none;
}
@media (max-width: 991px){
.main-banner .lead{
	font-size:30px !important;
	line-height:40px !important;
}	
}
@media (min-width: 992px) and (max-width: 1199px){
.main-banner .lead {	font-size:40px !important;	line-height:46px !important;}	
.tbs .nav-tabs > li > a{padding: 10px 38px !important;}
}

.main-banner .btn-default{
	font-family: Oswald;
	font-size:24px;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.51);
	font-weight:400;
	background:rgba(47,47,47,0.25);
	border:2px solid #fff;
	
	border-radius:0;
	color:#fff;
	margin-bottom:20px;
}
.main-banner iframe {
    border: 3px solid #fff !important;
}
@media (max-width: 530px){
.main-banner .col-xs-4{
	width:50%;
}
}
/*17-10-2014*/
.testimonial-category-filter>.nav>li>a:hover,.testimonial-category-filter>.nav>li>a:focus{text-decoration:none;background-color:#ec971f !important;outline:none !important;}
.testimonial-category-filter>.nav-pills > li > a{ border-radius : 0 !important; padding: 6px 12px;}
.p10{ padding:0 5px ;}

/*2-12-2014 for holiday ad*/
.holiday-ad1, .holiday-ad2{display:none;}
/* Holiday Ad in home page */
@media(min-width: 992px){
.tbs .nav-tabs {

    margin-left: -22px !important;}
.holiday-ad1{
	position:absolute;
	background:url(../images/christmas-ad-top1.png) no-repeat;
	height:580px;
	width:248px;
	left:0;
	top:0;
	display:block;
}
.holiday-ad2{
	position:absolute;
	background:url(../images/christmas-ad-top2.png) no-repeat;
	height:502px;
	width:254px;
	left:0;
	top:0;
	display:block;
}
.full-white-wraper{ position:relative;}
.top-bg-modified{
	background: #bfc1c8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYzFjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2Y2ZjNlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Y2ZjNlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iI2Y2ZjNlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmMxYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #bfc1c8 0%, #f6f3eb 19%, #f6f3eb 49%, #f6f3eb 81%, #bfc1c8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bfc1c8), color-stop(19%,#f6f3eb), color-stop(49%,#f6f3eb), color-stop(81%,#f6f3eb), color-stop(100%,#bfc1c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #bfc1c8 0%,#f6f3eb 19%,#f6f3eb 49%,#f6f3eb 81%,#bfc1c8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #bfc1c8 0%,#f6f3eb 19%,#f6f3eb 49%,#f6f3eb 81%,#bfc1c8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #bfc1c8 0%,#f6f3eb 19%,#f6f3eb 49%,#f6f3eb 81%,#bfc1c8 100%); /* IE10+ */
	background: linear-gradient(to right,  #bfc1c8 0%,#f6f3eb 19%,#f6f3eb 49%,#f6f3eb 81%,#bfc1c8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc1c8', endColorstr='#bfc1c8',GradientType=1 ); /* IE6-8 */
}
}
/*Press Release Page updated css*/

.hpartner-logos > img {
	display: inline-block;
	margin: 10px;
}
/*16-12-2014*/
.wht-box{
    margin-top: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out 0s;
}
.wht-box .descript {
    margin-bottom: 20px;
}
.wht-box:hover {
    background: #fff;
}
.wht-box h3{
	color:#fd5000;
}
@media(min-width: 601px){
.wht-box h3{
	height:80px;
}
}
.ocean-blue-bg{
	background:#33cccc;
}
.ocean-blue-bg *{color:#fff !important;}
.ecm-client p {
    color: #7e7e7e;
    font-family: "Bitter",serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 20px;
}/*slightly changed on 17-12-2014*/
.ecm-client .btn-warning {
    border-radius: 0;
    padding: 8px 40px;
}
@media screen and (min-width: 992px){
.ecm-client .main_data {
    left: 15%;
    position: absolute;
    top: -420px;
}
.light-gray-wraper2 .col-sm-6:first-child{
	margin-top:35px;
}
}
.light-gray-wraper2 {
	background:#e9e9e9;
}
.quote {
    font-family: bitter;
    font-size: 18px;
    line-height: 36px;
    padding: 0 0 0 30px;
    position: relative;
}
.quote > p:last-child {
    font-size: 16px;
}
.quote:before {
    background: url("../images/quote-symble.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 37px;
    left: -14px;
    position: absolute;
    top: -10px;
    width: 47px;
}
.quote:after {
    background: url("../images/quote-symble-bt.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    height: 37px;
    width: 47px;
}
#accordion-ecom *, .accord-cust *{
    background: none ;
    border: none;
    box-shadow: none;
	margin-bottom: 4px;
}
#accordion-ecom a, .accord-cust a{
	display: block;
    padding-left: 30px;
    position: relative;
}
#accordion-ecom a.inner, .accord-cust a.inner{
    display: inline-block;
    padding-left: 0;
}
#accordion-ecom .panel-heading, .accord-cust .panel-heading{
    font-family: "Bitter",serif;
    font-size: 16px;
    padding: 6px 0 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#accordion-ecom .glyphicon, .accord-cust .glyphicon{
    border: 2px solid #c3c3c3;
    border-radius: 100%;
    height: 34px;
    position: relative;
    text-align: center;
    top: -6px;
    width: 34px;
}
#accordion-ecom .fa, .accord-cust .fa{
    font-size: 20px;
    height: 34px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 34px;
}
#accordion-ecom .glyphicon:before, #accordion-ecom .fa:before, .accord-cust .glyphicon:before, .accord-cust .fa:before{
    color: #eb8f18;
    position: relative;
    top: 0;
}
#accordion-ecom .fa.fa-arrow-down:before, .accord-cust .fa.fa-arrow-down:before{
    color: #16c4c2;
	top:5px;
}
#accordion-ecom .ttl, .accord-cust .ttl{
    color: #333;
    display: inline-block;
    font-family: "Bitter",serif;
    margin-left: 7px;
    text-transform: none;
	line-height:24px;
}
#accordion-ecom .panel-body, .accord-cust .panel-body{
    color: #999;
    font-family: "Bitter",serif !important;
    font-size: 16px;
    line-height: 32px;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 0;
}
.accord-cust .panel-heading+.panel-collapse>.panel-body{
	border:0 !important;
}
.ecommerce .str-box > h3 {
    color: #fd5000;
}
.ecommerce .str-box > h3:hover {
    color: #053c68;
}
.jumpto .divide {
    margin-bottom: 0 !important;
}
.folio-wraper h3:first-child {
    margin-top: 0;
}
#video-testimonial-generic .carousel-indicators {
    bottom: -30px;
}
#video-testimonial-generic .item img {
    margin-top: 20px;
	border: 6px solid #fff;
}
#video-testimonial-generic .carousel-caption {
    bottom: 0;
    left: 0;
    padding: 0;
    position: relative;
    right: 0;
    text-align: left;
	margin-top: 20px;
}
.quote > p {
    font-size: 18px;
}
#video-testimonial-generic .testimonial a {
    margin-top: 20px;
}
.ecm-client h3 {
    color: #16c4c2 !important;
}
.inner-header-ecommerce h1 {
    margin: 20px 0;
    position: relative;
    z-index: 2;
}
.inner-header-ecommerce .breadcrumb a {
    color: #333;
	
}
.inner-header-ecommerce {
    background: linear-gradient(to bottom, #16c4c2 0%, #16c4c2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.sub-desc-full-ecommerce{
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
.inner-header-ecommerce .breadcrumb > li + li:before {
    color: #333;
    content: "/ ";
    padding: 0 5px;
}
.head-ecommerce > h3 {
    font-size: 20px;
    margin-top: 0 !important;
}

/* 19-12-2014 changes */
.ecommerce .str-box > h4,  .responsive .str-box > h4 {
    color: #fd5000 !important;
    font-family: "Bitter",serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
	
}

@media (min-width:768px){
.ecommerce .str-box > h4 {
	height:48px;
}
.responsive .str-box > h4 {
	height:auto;
}
.ecommerce hr, .responsive hr {
	margin-top: 0px;
}
.none-left-pad {
	padding: 0;
}
}
.ecommerce .str-box{ font-size:14px; padding: 0; }

.head-ecommerce > h4 {
    font-family: "Bitter",sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 0 !important;
    text-transform: none;
	color: #003865;
}
#accordion-ecom a i.fa-arrow-right, .accord-cust a i.fa-arrow-right{
    transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	-ms-transition: all 0.2s ease-in 0s;
}
#accordion-ecom a:hover > i.fa-arrow-right, .accord-cust a:hover > i.fa-arrow-right{
   color:#003865 !important;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	
	-ms-transform: rotate(45deg);
	
}
#accordion-ecom a:hover > i.fa:before, .accord-cust a:hover > i.fa:before{
   color:#16c4c2 !important;	
}
.jumpto div > h2 {
    color: #ff6600;
}
.bcg h3 {
    color: #16c4c2;
}
.bcg h3 {
    color: #16c4c2;
}
.faqs h2 {
    color: #fd5000;
}
.ecommerce .str-box:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.medium-gray-wraper {
background: rgb(233, 233, 233);
}
.medium-gray-wraper .h2-lines span {
    background: none repeat scroll 0 0 #e9e9e9;
}
.medium-gray-wraper .recent-news a.view {
    background: none repeat scroll 0 0 #e9e9e9;
}

/*cs-banner-styles*/
.cs-banner {
    background: #16c4c2;
    position: relative;
	border-bottom: 20px solid #353535;
}
.banner-content {
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
}
.banner-content2 {
    left: 0;
    position: absolute;
    right: 0;
    top: 10%;
}
.banner-content h1{
    display: inline-block;
    float: right;
    font-family: "Bitter",serif;
    font-size: 36px;
    font-weight: lighter;
    text-transform: none;
}
.banner-content2 h1 {
    display: inline-block;
    float: right;
    font-family: "Bitter",serif;
    font-size: 36px;
    font-weight: lighter;
    text-transform: none;
	text-align:right;
	color:#666666;
}
.banner-content2 h1 > strong {
    color: #663366;
}
.banner-content2 h1 > img{
	max-width:22%;
	margin-top:20px;
}
.banner-content2 h1 span{    
	display: block;
    position: relative;
    right: 0px;
}
.banner-content h1 span {
    display: block;
    position: relative;
    right: 50px;
}
.banner-content h1 strong {
    color: #353535;
}
@media(max-width: 767px){
.banner-content {
	position:static;
}
.banner-content h1{font-size:26px; text-align:center;}
.banner-content h1 span {
    display: inline;
    position: static;
}

.banner-content2 {
position: static;
}
.banner-content2 h1 {
display: block;
float: none;
left: 0;
position: static;
right: 0;
text-align: center;
}
}
@media(min-width:768px) and (max-width: 991px){
.banner-content h1{
	font-size:22px;
}
.banner-content2 h1  {
	font-size:25px;
}

}
@media(min-width:992px) and (max-width: 1199px){
.banner-content h1, .banner-content2 h1 {
	font-size:30px;
}
}
/* Responsive Web Design page Video iframe */
.video-iframe iframe {
    border: 3px solid #fff !important;
    width: 100%;
}
.grey{ color:#666 !important; }
.grey h1 {
color: #666 !important;
}
.footer_btm .btn{
	font-weight: bold;
    padding: 6px 20px;
}
.phonebox-modal h3 {
    color: #003865;
    font-size: 28px;
}
.phonebox-modal h3 > span {
    color: #fd5000;
}
.phonebox-modal hr {
    width: 30%;
}
.time-details {
    font-family: "Bitter";
    font-size: 14px;
    font-weight: 500;
}
.time-details > h3 {
    font-family: "Bitter";
    font-size: 25px;
    text-transform: none;
}
.cs-banner > img {
    width: 100%;
}
.time-details > h3 i {
    margin-right: 5px;
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);	
	-ms-transform: rotate(10deg);
}
.mailto {
    color: inherit;
}
/* Magento And replatform page css */
@media (max-width:991px){



.magento {
    margin-top: 30px;
}
}
.magento h2 {
    color: #16c4c2;
    font-size: 30px;
}
.magento > p {
    color: #999;
    font-family: "Bitter",sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
}
.contact-inner-header {
    background-color: #f4981e;
    position: relative;
}
.contact-inner-header img{ width:100%; }
.contact-banner-content {
    bottom: 10%;
    left: 0;
    position: absolute;
    right: 0;
    top: 20%;
}
.contact-banner-content h1 {
    border-right: 3px solid #fff;
    font-size: 60px;
    margin-top: 0;
    text-align: right;
	padding: 10px 15px;
}
.contact-banner-content h1 > span {
    color: #013865;
    font-family: "Bitter",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
}
.contact-banner-content .address {
    color: #fff;
    font-family: "Bitter",sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.contact-banner-content span {
    display: block;
    font-size: 16px;
}
.contact-banner-content .phone {
    font-size: 26px;
    margin-top: 7px;
}
.contact-banner-content .row .row [class*="col-"] {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.cont-points .orange-txt {
    font-style: italic;
	font-size: 15px;
}


@media(min-width: 800px) and (max-width: 979px){
.box-shdw{height: 315px;
    position: absolute;
    top: 24% !important;
    width: 100%;}

}
@media(max-width: 800px){

.testimonials .carousel-caption.carosel {
    min-height: 150px !important;
    top: 24%;
	left: 4%;
}

@media(min-width: 801px) and (max-width: 990px){
.testimonials .carousel-caption.carosel {
    min-height: 150px !important;
    top: 260px !important;
    left: 3% !important;
}
}


.awrds{padding: inherit !important;}
.tlbg {
    background: rgba(0, 0, 0, 0) url("../images/t-bg.jpg") repeat-y scroll left top / 123.3% auto !important;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -18px !important;
  top: 14% !important;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -18px !important;
  top: 14% !important;
}
}



@media(max-width: 991px){
.contact-inner-header img {
	display: none;
}
.contact-inner-header {
    padding: 10px 0;
}
.contact-banner-content .pull-right {
    float: none !important;
}
.contact-banner-content h1 {
    text-align: left;
}
.contact-banner-content {
	position:relative;
}
}
@media (max-width: 1050px){
	.contact-banner-content {
		top:15%;
	}
}
@media (max-width: 549px){
.contact-banner-content .row .row [class*="col-"] {
	width:100%;
}
.contact-banner-content h1 {
    border-right:0;
	border-bottom: 3px solid #fff;
}
}
.thank-you {
    border: medium none !important;
    text-align: center !important;
}
.thank-you iframe {
    border: 3px solid #fff !important;
}
.address > a {
    color: inherit;
}

ul.og-grid {
    padding: 0;
}
.team-membs > li {
    list-style: outside none none;
}
.footerbtn li {
    margin: 5px 20px 0;
}
.footerbtn li:last-child {
    margin-right: 0;
}
.footerbtn li:first-child {
    margin-left: 0;
}
.footerbtn > li > a:hover, .footerbtn > li > a:visited{ background-color:#fd5000 !important; }
.social-links ul li {
    margin: 5px 10px 0;
}
.social-links ul li i {
    color: #474b4c;
	left: 10px;
    top: 8px;
}
.social-links a {
    border-radius: 33px !important;
}

.inner-header-ecommerce .col-md-12 > span{
    bottom: 0;
    color: #16b5b5;
    font-size: 14em;
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    right: 15%;
    z-index: 0;
}
.inner-header-ecommerce p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}
.our-approach {
    font-family: "Bitter",serif;
	font-weight: lighter;
    font-size: 15px;
    line-height: 1.629;
}
.featured-work {
    margin-bottom: 5%;
}
.inner-header-work h1 {
    margin: 20px 0;
    position: relative;
    z-index: 2;
}
.inner-header-work .breadcrumb a {
    color: #333;
	
}
.inner-header-work {
    background: linear-gradient(to bottom, #f3b009 0%, #f3b009 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.sub-desc-full-work{
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
.inner-header-work .breadcrumb > li + li:before {
    color: #333;
    content: "/ ";
    padding: 0 5px;
}
.inner-header-company h1 {
    margin: 20px 0;
    position: relative;
    z-index: 2;
}
.inner-header-company .breadcrumb a {
    color: #333;
	
}
.inner-header-company {
    background: linear-gradient(to bottom, #FF2F68 0%, #FF2F68 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.sub-desc-full-company{
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
.inner-header-company .breadcrumb > li + li:before {
    color: #333;
    content: "/ ";
    padding: 0 5px;
}
/*Our Process Page styles*/
.light-blue-color{
	color:#00cccc;
}
.font-30, .process-steps h3{
	font-size:30px;
	margin-bottom:30px;
}
.font-bitter-para, .process-steps p{
	color:#212d37;
	font-family: "Bitter",serif;
    font-size: 16px;
    line-height: 28px;
}
.light-txt{
	color:#7e7e7e;
}
.process-steps, .process-steps h2{
	color:#212d37;
}
.bg-light-orange{
	background-color:#ffd48b;
}
.bg-light-green{
	background-color:#92ddbb;
}
.bg-light-red{
	background-color:#ff977d;
}
.bg-light-blue{
	background-color:#a5e0e3;
}
.bg-orange{
	background-color:#ffb607;
}
/*.v-middle > [class*="col-"]{
	float:none;
	display:inline-block;
	vertical-align:middle;
}*/
.pos-rel{
	position:relative;
}
.process-line {
    bottom: 0;
    left: -92px;
    position: absolute;
    right: 0;
    top: 278px;
}
.process-line-2 {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
}
.hght300 {
    height: 250px;
}

@media screen and (max-width: 991px){
.process-line, .process-line-2{
	display:none;
}
}
.video-div .embed-responsive {
    z-index: 5;
}
.midstrong strong {
    font-size: 25px;
    padding-right: 10px;
}
.pad20{ padding: 20px 0; }
.members-heading {
    margin: 40px 0 20px !important;
}
.faq-group .nav > li > a {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    transition: all 0.5s ease-in 0s;
}
.faq-group .nav > li > a:hover {
    background: #f3b009;
    color: #fff;
}
.faq-group .nav-pills > li.active > a, 
.faq-group .nav-pills > li.active > a:focus, 
.faq-group .nav-pills > li.active > a:hover {
    background: #f3b009 !important;
    color: #fff;
}

.oggchat {
    position: absolute;
    right: 0;
}
.address .contact li {
    padding: 0;
}
.addresssector {
    padding-bottom: 20px;
}
.addresssector .divide {
    margin-top: 0;
}
.addresssector h2 {
    margin-top: 0 !important;
}

/* Weavers Hub page styles*/
.social-info {
    margin: 3% 0;
}
.social-info .panel-heading {
    min-height: 34px;
}
.social-info .panel-default {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.social-info .panel-heading i {
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 40px;
}
.social-info .panel-heading i.fa-facebook{
background: #3C5B9B;
}
.social-info .panel-heading i.fa-google-plus{
background: #F63D28;
}
.social-info .panel-heading i.fa-twitter{
background: #2CA9E1;
}
.social-info .panel-heading i.fa-linkedin{
background: #0173B2;
}
.social-info .panel-heading i.fa-rss{
background: #F29D29;
}
.social-info .panel-heading i.fa-instagram{
background: #517FA3;
}
.social-info .panel-body {
    max-height: 400px;
    overflow-y: scroll;
}

/* 24-04-2015 second navigation in inner pages */
#secondnav .navbar-header, #secondnav1 .navbar-header  {
    background: #262626;
    border: medium none;
    color: #fff !important;
}
#secondnav .secondary-nav , #secondnav1 .secondary-nav{
    border: medium none;
}
#secondnav .second-nav.collapse.in , #secondnav1 .second-nav.collapse.in {
    background: #262626;
}
#secondnav .second-nav , #secondnav1 .second-nav  {
    background: #262626;
}
#secondnav .navbar-default .navbar-toggle , #secondnav1 .navbar-default .navbar-toggle {
    border-color: #fff;
}
#secondnav .navbar-default .navbar-toggle .icon-bar , #secondnav1 .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#secondnav .navbar-default .navbar-brand , #secondnav1 .navbar-default .navbar-brand {
    color: #fff;
}
#secondnav .navbar-default .navbar-toggle:hover, #secondnav .navbar-default .navbar-toggle:focus , #secondnav1 .navbar-default .navbar-toggle:hover, #secondnav1 .navbar-default .navbar-toggle:focus  {
    background: none;
}
.main-nav .navbar-brand {
	display: none;
}
@media only screen and (min-width:768px) and (max-width: 1024px)  {
#teammember-2 {
  max-height: 700px !important;
}
}
@media (max-width:767px){
	.main-nav {
	    background: #cdcdcd;
	    border: medium none;
	    margin-bottom: 0;
	}
	.main-nav .navbar-brand {
	    color: #666;
	    font-size: 23px;
	    font-weight: 700;
	    text-transform: uppercase;
	    display: block;
	}
	.main-nav .navbar-toggle {
	    background: #fd5000;
	    transition: all 0.3s ease-in-out;
	}
	.main-nav .navbar-toggle .icon-bar {
	    background: #fff;
	}
	.main-nav .navbar-toggle:hover, .main-nav .navbar-toggle:focus {
	    background: #333;
	}
	.main-nav .nav > li > a {
	    color: #333;
	}
	.main-nav .navbar-nav > .active > a, .main-nav .navbar-nav > .active > a:hover, .main-nav .navbar-nav > .active > a:focus {
	    background: #9d9d9d;
	    color: #fff;
	}
	.col-md-12.navscroll {
	    background: #cdcdcd;
	}
	.main-nav .nav > li > a:hover {
	    color: #fd5000;
	}

	.main-banner{
		padding: 10px 0 25px;
	}
	.main-banner .lead {
	    font-size: 20px !important;
	    line-height: 30px !important;
	}
	.main-banner hr{
		margin:10px 20px 10px 0;
	}
	.main-banner h1{
		font-size: 17px;
	}

	.main-banner .btn-default:hover {
	    background: #333;
	}
	.main-banner .btn-default {
	    display: block;
	    font-size: 16px;
	}
	.homepage-services .str-box .descript {
	    display: none;
	}
	.homepage-services .str-box > hr {
	    margin: 10px auto;
	    width: 50%;
	}
	.homepage-services .str-box > h3 {
	    font-size: 20px;
	    margin-top: 0;
	}
	.homepage-services .str-box > h3 br {
	    display: none;
	}
	.achieve-box{
		padding: 0;
	}
	.achieve-box > h3 {
	    font-size: 16px;
	    text-align: center;
	}


/* services page styles*/
	.services-mobile [class*="col-"]{
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.services-mobile .str-box > h3 > a span {
	    border-width: 2px;
	    font-size: 20px;
	    height: 40px;
	    line-height: 20px;
	    overflow: hidden;
	    text-align: center;
	    width: 40px;
	}
	.services-mobile .str-box .services img {
	    margin: 9px auto;
	    width: 20px;
	}
	.services-mobile .str-box > h3 > a span::before {
	    position: relative;
	    top: 7px;
	}
	.services-mobile .str-box > h3 {
	    padding-left: 55px;
	}
	.services-mobile .str-box > hr {
	    margin: 10px 0;
	}
	.services-mobile .str-box > h3 {
	    font-size: 20px;
	    margin-top: 0;
	}
	.services-mobile .str-box .descript {
	    font-size: 14px;
	    height: auto;
	    margin-bottom: 10px;
	}
	.services-mobile .str-box > h3 > a > br {
	    display: none;
	}

	/* responsive page styles for mobile version */
	.responsiveSlide .row .row > div > h3{ text-align: center;}
	.responsiveSlide .row .row > div > p, .responsiveSlide .row .row > div.clearfix {
	    display: none;
	}

	/* our process page styles for mobile version */
	.process-steps .midstrong strong {
	    display: block;
	}

	/* video testimonials styles for mobile version */
	.video-testimonials .blog-box-inner > *:not(.row) {
	    display: none;
	}
	.video-testimonials .blog-box-inner {
	    padding-bottom: 15px;
	}

}

/* collapsible navigation in footer */
footer .h2-lines i{
  display:none;
}
@media(max-width: 767px){
	footer .h2-lines{
	  cursor:pointer;
	}
	footer .h2-lines + ul, #testimonials-rotate{display:none;}
	footer .h2-lines i{
	  display:inline-block;
	  float:right;
	}
	#testimonials-rotate{
		margin-top: 25px;
	}

	.h2-lines {
	    background: none ;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	    padding-bottom: 6px;
	}
	.h2-lines i {
	    color: #fff;
	    font-size: 14px;
	    position: relative;
	    top: 6px;
	}
	
}
/*Award & Press Grid Logos*/
/* award logos */
a.awardlogos {
	display:block;
	color:transparent;
	max-width:160px;
	height:70px;
	
}

a.al-journals {
	background:url(../images/aw-logo1.png) no-repeat center center;
}
a.al-journals:hover {
	background:url(../images/aw-logo-color1.png) no-repeat center center;
}

a.al-verbric {
	background:url(../images/aw-logo2.png) no-repeat center center;
}
a.al-verbric:hover {
	background:url(../images/aw-logo-color2.png) no-repeat center center;
}

a.al-uffingtc {
	background:url(../images/aw-logo3.png) no-repeat center center;
}
a.al-uffingtc:hover {
	background:url(../images/aw-logo-color3.png) no-repeat center center;
}

a.al-internet{
	background:url(../images/aw-logo4.png) no-repeat center center;
}
a.al-internet:hover {
	background:url(../images/aw-logo-color4.png) no-repeat center center;
}

a.al-kyn{
	background:url(../images/aw-logo51.png) no-repeat center center;
}
a.al-kyn:hover {
	background:url(../images/aw-logo-color51.png) no-repeat center center;
}
a.al-martcec{
	background:url(../images/aw-logo6.png) no-repeat center center;
}
a.al-martcec:hover {
	background:url(../images/aw-logo-color6.png) no-repeat center center;
}
a.al-wnjc{
	background:url(../images/aw-logo71.png) no-repeat center center;
}
a.al-wnjc:hover {
	background:url(../images/aw-logo-color71.png) no-repeat center center;
}
a.lemonstand{
	background:url(../images/Lemonstand-logo.png) no-repeat center center;
}
a.lemonstand:hover {
	background:url(../images/Lemonstand-logo-color.png) no-repeat center center;
}



/*owl css start here*/
.press-awards h2 {
    font-size: 35px !important;
    margin-bottom: 7px !important;
}
.press-awards .sub-desc {
    width: 100% !important;
}
#presscarousel {
    margin: 15px 0;
}
#owl-demo .item{
    background:none; /*#42bdc2;
    padding: 30px 0px;
    margin: 5px;*/
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
	float:none;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -55px;
  top: 33%; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -55px;
  top: 33%;
}
.owl-theme .owl-controls .owl-buttons div {

    border-radius: 100%;
    color: #cacaca;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    opacity: 1;
    padding: 3px 10px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.row.text-center.divide.awrds {
  margin-bottom: 3% !important;
  margin-top: 3% !important;
}
/*owl css end here*/

audio{visibility:visible !important; }
.port-inner-header .row .col-md-8{float:right;}
.alter-steps .fright {float: right;}
.servicesfolio .fright{float:right;}

@media(max-width:767px){

.alter-steps .fright {float: none;}
.servicesfolio .fright{float:none;}
.col-md-3.map-plce.col-sm-5 {float: none;}
.tlbg .container {margin: 0;padding: 0;}
.sm-bg1{background:	#2e2e2e; padding-bottom: 5px;}
.cnt-bx-left h2, .cnt-bx-left span, .cnt-bx-right {margin-left:0 !important;}
}
@media(max-width:991px){
.port-inner-header .row .col-md-8{float:none;}
}

.main_data {  padding: 0 0 20px 0;}

@media (max-width:768px){
.feature-posts .blog-box-inner .text-right {    text-align: left;}
.col-md-12.col-sm-12.cnt-infm.mbt40{ margin-left: inherit !important;}
}

/* Contact us page CSS starts*/
.gray-bg{width:50%; height:500px;}
.black-bg{width:50%; height:250px;}
.col-md-6.pd0 {padding: 0px;}
.gray-bg h2{ margin: 0px;}
.container-fluid.tbg {padding: 0px;}
.cnt-hdng h2 {font-size:24px;margin-bottom: 0px;color: #ccc;}
.col-md-5.cnt-hdng span {color: #ccc;font-size: 14px;}
.col-md-5.cnt-hdng {text-align: center;padding-left: 0px;}
.form-group.cnt-frm label {float: left;}
form.cnt-frm {text-align: left;color: #999999;font-size: 18px;margin-left: 15px;font-family:'PT Sans', sans-serif; font-weight:normal;}
form.cnt-frm input {background: none !important;color:#	7B7B7B;border: 1px solid #9a9a9b; height:38px;}
form.cnt-frm textarea {background: none !important;border: 1px solid #9a9a9b; resize: none;}
form.cnt-frm label {font-weight: normal;}
.snd button.btn.btn-default {font-size: 20px;color: #FFF;  font-weight: bold;background-color: #fd5000;}
.col-md-6.btn.btn-default.snd {width: 100%;background-color: #fd5000;border-radius:0px; margin-bottom: 15px;}
.cnt-bx-left { border-right: 1px solid #fff;line-height: 30px;margin-top: 30px;}
.cnt-bx-left span{ color: #fff;font-family:"Bitter" !important;font-size: 13.22px;font-weight: 500;margin-left: 40px;}
.cnt-bx-left h2{ font-size:56px; color:#f5981f; margin-bottom: 0px; margin-bottom: -8px; margin-left: 40px;  margin-top: 0px;}
.col-md-5.col-sm-12.cnt-bx-right {margin-top: 32px;}
.cnt-bx-right {margin-top: 42px;}
.col-md-5.col-sm-12.cnt-bx-right p {color: #fff;line-height: 7px; font-size: 13px;}
.cnt-bx-right p {color: #fff;font-family: "Bitter";font-size: 13.22px;line-height: 7px;padding-left: 15px;}
.cnt-bx-right span {color: #fff;font-family: "Bitter";font-size: 20.78px;line-height: 0;padding-left: 15px;}
.lg {margin-top: 38px;}
.clearfix.col-md-12.txt {color: #fff;margin-left: 10px;color: #dcdcdc;font-weight: normal;}
.tab-content.tbscnt {color: #fff;}
.tab-content.tbscnt {color: #fff;}
.nav-tabs {border-bottom: 1px solid #ddd;}
.clth {margin-top: 62px;}
.cnt-infm p {color: #fff;}
.pbt20 {	margin-bottom:20px;}
.pbt30 {	margin-bottom:30px;}
.pbt40 {	margin-bottom:40px;}
.tbs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;  cursor: default;  background-color: #fd5000 !important;border: 0px solid #ddd;  border-bottom-color: transparent; border-radius:0px !important;
}
.tbs .nav-tabs{border-bottom:0px;   margin-bottom: 25px;   margin-top: 40px;}
.tbs .nav-tabs > li > a {margin-right: 2px;line-height: 1.42857143;border: 0px solid transparent;border-radius: 0px 0px 0 0;padding: 10px 42px;}
.tbs .nav-tabs > li > a:hover{background-color: #fd5000 !important; color:#fff !important;}
.tbs ul.nav.nav-tabs li a {color: #000;/*border: 1px solid #FFFFFF;*/  background-color: #dcdcdc;  margin-left: 23px;
  color:#000;  border-radius: 0px !important;}
.tbs .nav-tabs li.active a{border:1px solid #fd5000  !important; color: #fff !important;}
.tbs .nav-tabs li.active a::after {border-left: 7px solid transparent;border-right: 7px solid transparent;
border-top: 7px solid #fd5000;bottom: -8px;content: "";height: 0;left: 45%;position: absolute;width: 0;}
.tbs .nav-tabs li:hover ::after{border-left: 7px solid transparent;border-right: 7px solid transparent;
border-top: 7px solid #fd5000;bottom: -7px;content: "";height: 0;left: 45%;position: absolute;width: 0;}
.col-md-6.col-sm-12.cnt-infm {color: #fff;}
.cnt-infm h3 {text-align: center;color: #fd5000; font-size: 22px;font-weight: bold;}
.col-md-offset-2.col-md-3.map-plce img {margin-top: 32px;}
.map-plce {padding-right: 0px;margin-top: 35px;padding-left: 34px;}
.txt p {margin-bottom: 38px; color:#666;}

@media (max-width: 980px) {
.tbs .nav-tabs > li > a {border-radius: 0;line-height: 1.42857;margin-right: 2px;padding: 5px 3px; font-size:14px;}
.tlbg {background: rgba(0, 0, 0, 0) url("../images/t-bg.jpg") repeat-y scroll left top / 120.3% auto;}
.position-cnt {min-width:auto !important;}
.tbs{background-image:none; box-shadow:none; background-color: rgb(238, 238, 238);}
.txt p {margin-bottom: 38px;margin-left: 0;width: 100%;}
.txt {clear: both;}
.tbs {margin-left: 0px;}
.nav > li > a {display: block;padding: 3px;position: relative;}
.tbs ul.nav.nav-tabs li a {color: #000;margin-left: 3px;}
.cnt-bx-right {margin-left: 40px;margin-top: 32px;}
.cnt-bx-left{border:none;}
.lg{margin-left:0px;}
}

@media (max-width: 767px) {
.tlbg{background:none !important; margin-top: -40px;}
.cnt-hdng h2{padding-top: 15px;}
.row.vw{ background:#2e2e2e; box-shadow:none;  width:100%;;}
}

@media (max-width: 468px) {
.map-plce img {margin-bottom: 15px;}
.cnt-hdng h2 {color: #b8b8b9;font-size: 30px;margin-bottom: 0;margin-left: 10px;padding-top: 20px;}
.cnt-hdng span {margin-left: 9px;}
.lg {margin-left:0px; padding-left:0px;}
.tbs{width:100%;}

.col-md-5.cnt-hdng{margin-left:0px;}
.tbs .nav-tabs > li{float:none !important;}
}

@media (min-width:767px) and (max-width:1024px){
.cnt-infm h3 {font-size: 19px;}
.contact-us li {font-size: 12px !important;}
}

.tab-content iframe{border:3px solid #fff !important;	max-width:511px;}
.contact-us li {color: #999;font-size: 15px;margin: 10px 0;padding-left: 0;position: relative;}
ul.contact-us {list-style:none outside none;padding:0; }
.col-md-12.col-sm-12.cnt-infm.mtop40.mbt40 {margin-left: 40px;}
.col-sm-12.of-hdg p {font-size: 24px;color: #333333;text-align:center;font-family: unica one;font-weight: bold;   margin-bottom: 45px ;margin-left: 0px;}
.map{ min-height:80px; }
.map img {margin: 0 auto;}
.pres {text-align: center;font-size: 26px;font-family: unica one;color: #333;font-weight: bold;}
.cnt-hdng.sm-bg1 p {color: #fff;font-size: 16px;margin-top: 16px;}
.map-cnt{ text-align:center; }
.position-cnt.affix p {
    margin-top: 0px !important;
}
.position-cnt.affix h2 {
    margin-top: 20px !important;
}
/* Contact us apge CSS ends here*/
.sidebar {position: absolute;}
.sidebar.affix {position: fixed;}
.sidebar.affix-bottom {}
.position-cnt {min-width: 375px;}
::placeholder{color:#fff;}

.form-group input::-webkit-input-placeholder {
   color: #7b7b7b;
}

.form-group input::-moz-placeholder { /* Firefox 18- */
   color: #7b7b7b;  
}
.form-group input::-moz-placeholder {  /* Firefox 19+ */
   color: #7b7b7b;  
}
.form-group input::-ms-input-placeholder {  
   color: #7b7b7b;  
}
.form-group textarea::-webkit-input-placeholder {
   color: #7b7b7b;
}
.form-group textarea::-moz-placeholder { /* Firefox 18- */
   color: #7b7b7b;  
}
.form-group textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #7b7b7b;  
}
.form-group textarea::-ms-textarea-placeholder {color: #fff;}

@media (min-width: 1300px) {

.tlbg {background: rgba(0, 0, 0, 0) url("../images/t-bg.jpg") repeat-y scroll left top / 109.3% auto !important;}

}

@media (min-width: 641px)and (max-width: 979px){
a.hvideo.vt_play {color: red !important;left: 50% !important;margin-left: -11px !important;position: absolute !important;
top: 24px;}

}
@media (max-width: 979px) {

.sidebar {position: relative !Important;}
.sidebar.affix {position: relative !Important;top: 0;}
.position-cnt {min-width: auto !important;}
.tlbg{background-color:#eeeeee;}
.tbs {}
.col-sm-12.of-hdg p{margin-left:0px;}

}

@media (max-width: 767px) {
.col-md-6.col-sm-6.sm-bg {background: #ccc none repeat scroll 0 0;padding-top: 1px;}
form.cnt-frm {color: #999999;font-family: "PT Sans",sans-serif;font-size: 18px;font-weight: normal;margin-left: 15px;margin-top: 40px;padding: 0 5px 0 15px;text-align: left;}
.awrds {padding: 0px;margin-left: 0%;}
.col-md-12.col-sm-12.cnt-infm.mbt40 {margin-left:0%;}
.col-sm-12.of-hdg p{margin-left: 0px; }

}

.lg img {margin: auto;}
.contact-us li{text-align:center !important;}
.cnt-frm p{text-align:center;}
.cnt-hdng .fa {
    margin-right: 7px;
}
.cnt-hdng .fa-phone {
    transform: rotate(90deg);
}
/* Portfolio inner page new design css */
.port-tabs .nav-tabs > li.active a {background-color: #fd5000; color: #fff; border-radius: 6px;}
.port-tabs .nav-tabs > li{border-radius:4px;}
section.port-tabs {   min-height: 1200px;padding-top: 24px;background-image:url('../images/portfolio-bg1.jpg'); background-size: 100% 100%; background-repeat: no-repeat;}
.port-tabs .nav-tabs{border:0px !important}
.port-tabs .nav-tabs > li {color:#fff;}
.port-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;cursor: default;   background-color: #fd5000 !important;border: 0px solid #ddd;border-bottom-color: transparent;border-radius: 6px !important;}
.ipod {margin-top: 40px;}
.ipod-cnt {margin-top: 6%;}
.ipod-cnt h3{font-size:42px; color:#fff;   text-align: center;}
.ipod-cnt p {font-size: 16px;color: #fff;text-align: center;}
.ipod-cnt #submit {padding: 7% 32%;-webkit-box-shadow: inset 2px 2px 3px 0 red;-moz-box-shadow: inset 2px 2px 3px 0 red;box-shadow: inset 2px 2px 3px 0 #321d0c;opacity: #000;background-color: rgba(0, 0, 0, 0.15);font-size: 28px;color: #fff;font-family: PT sans; MARGIN-TOP: 25%;}
.fill img{background-position: center center;background-size: cover;height: 100%;width: 100%;}
.port-tabs .tab-content{width:78vw;float:right;}
.pro-slider h2{text-align:center; color:#fff;}
.pro-slider .carousel-control {bottom: 0;color: #fff;display: table;font-size: 72px;left: -66px;opacity: 0.5;position: absolute;text-align: center;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);top: 35%;width: 15%;}
.pro-slider .carousel-control.right {right: -65px ;left: auto !important;background-repeat: repeat-x;}
.pro-slider h3 {color: #fff !important; text-align: center;}
footer {  margin: 0px 0 !important;}
.port-tabs li.active a::after {border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 7px solid #FD5000;bottom: -7px;
content: ""; height: 0; left: 45%;position: absolute; width: 0;}

@media (max-width: 1082px) {

.ipod-cnt #submit {background-color: rgba(0, 0, 0, 0.15);box-shadow: 2px 2px 3px 0 #321d0c inset;color: #fff;display: table !important;   font-family: PT sans;font-size: 28px !important;margin: 0 auto !important;max-width: 250px !important; padding: 5px 25px !important;}

}

@media (min-width:980px) {

a.hvideo.vt_play {color: red !important;left: 50% !important;margin-left: -11px !important;position: absolute !important;  top: 24px;}

.port-tabs .nav > li > a{padding:10px 20px !important;}
.port-tabs .nav-tabs > li a{color:#fff; background-color: #62615f;border-radius: 6px;margin-right:15px !important;}

}

@media (min-width:320px) {

.port-tabs .nav > li > a{padding:2px 5px; font-size:15px;}
.port-tabs .nav-tabs > li a{color:#fff; background-color: #62615f;border-radius: 6px;margin-right:10px;}

}
@media (max-width:360px) {

.pro-slider .carousel-control{ left: 0;top: -30%;}
.pro-slider .carousel-control.right{right:0;}

}
@media (max-width:460px) {

.nav-tabs > li{float:none;} 
.port-tabs .nav-tabs > li {border-radius: 4px;margin-top: 5px;}
.port-tabs .tab-content {float: right; width: 90vw;}

}

@media (min-width:768px){

.box-shdw {position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+18,000000+44,000000+74,000000+100&amp;0+0,0.69+16,0.78+21,1+45,0.78+71,0.69+77,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 16%, rgba(0,0,0,0.73) 18%, rgba(0,0,0,0.78) 21%, rgba(0,0,0,0.99) 44%, rgba(0,0,0,1) 45%, rgba(0,0,0,0.78) 71%, rgba(0,0,0,0.74) 74%, rgba(0,0,0,0.69) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.69)), color-stop(18%,rgba(0,0,0,0.73)), color-stop(21%,rgba(0,0,0,0.78)), color-stop(44%,rgba(0,0,0,0.99)), color-stop(45%,rgba(0,0,0,1)), color-stop(71%,rgba(0,0,0,0.78)), color-stop(74%,rgba(0,0,0,0.74)), color-stop(77%,rgba(0,0,0,0.69)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  top: 35%;height: 315px;width: 100%;}

}

@media (min-width:1024px){

.box-shdw {position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+18,000000+44,000000+74,000000+100&amp;0+0,0.69+16,0.78+21,1+45,0.78+71,0.69+77,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 16%, rgba(0,0,0,0.73) 18%, rgba(0,0,0,0.78) 21%, rgba(0,0,0,0.99) 44%, rgba(0,0,0,1) 45%, rgba(0,0,0,0.78) 71%, rgba(0,0,0,0.74) 74%, rgba(0,0,0,0.69) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.69)), color-stop(18%,rgba(0,0,0,0.73)), color-stop(21%,rgba(0,0,0,0.78)), color-stop(44%,rgba(0,0,0,0.99)), color-stop(45%,rgba(0,0,0,1)), color-stop(71%,rgba(0,0,0,0.78)), color-stop(74%,rgba(0,0,0,0.74)), color-stop(77%,rgba(0,0,0,0.69)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  top: 51%;height: 315px;width: 100%;}
}

@media (max-width: 800px) {

.port-tabs .nav > li > a {padding:0px !important; margin:0px !important;} 

}

@media (min-width:990px){

a.hvideo.vt_play {color: #F00 !important;left: 50% !important;margin-left: -11px !important;position: absolute !important;
top: 41px;}

}

@media (min-width:980px){

.box-shdw {position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+18,000000+44,000000+74,000000+100&amp;0+0,0.69+16,0.78+21,1+45,0.78+71,0.69+77,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 16%, rgba(0,0,0,0.73) 18%, rgba(0,0,0,0.78) 21%, rgba(0,0,0,0.99) 44%, rgba(0,0,0,1) 45%, rgba(0,0,0,0.78) 71%, rgba(0,0,0,0.74) 74%, rgba(0,0,0,0.69) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.69)), color-stop(18%,rgba(0,0,0,0.73)), color-stop(21%,rgba(0,0,0,0.78)), color-stop(44%,rgba(0,0,0,0.99)), color-stop(45%,rgba(0,0,0,1)), color-stop(71%,rgba(0,0,0,0.78)), color-stop(74%,rgba(0,0,0,0.74)), color-stop(77%,rgba(0,0,0,0.69)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  top: 30%;height: 315px;width: 100%;
}
@media (min-width:1280px){

.carousel-caption.carosel {right: 20%;left: 12%;}
.box-shdw {position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+18,000000+44,000000+74,000000+100&amp;0+0,0.69+16,0.78+21,1+45,0.78+71,0.69+77,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 16%, rgba(0,0,0,0.73) 18%, rgba(0,0,0,0.78) 21%, rgba(0,0,0,0.99) 44%, rgba(0,0,0,1) 45%, rgba(0,0,0,0.78) 71%, rgba(0,0,0,0.74) 74%, rgba(0,0,0,0.69) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(16%,rgba(0,0,0,0.69)), color-stop(18%,rgba(0,0,0,0.73)), color-stop(21%,rgba(0,0,0,0.78)), color-stop(44%,rgba(0,0,0,0.99)), color-stop(45%,rgba(0,0,0,1)), color-stop(71%,rgba(0,0,0,0.78)), color-stop(74%,rgba(0,0,0,0.74)), color-stop(77%,rgba(0,0,0,0.69)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 16%,rgba(0,0,0,0.73) 18%,rgba(0,0,0,0.78) 21%,rgba(0,0,0,0.99) 44%,rgba(0,0,0,1) 45%,rgba(0,0,0,0.78) 71%,rgba(0,0,0,0.74) 74%,rgba(0,0,0,0.69) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  top: 80%;
  height: 315px;
  width: 100%;}
}
.pro-slider .carousel-control{left: -100px!important;}
.pro-slider .carousel-control.right {background-repeat: repeat-x;left: auto !important;right: -100px !important;}
}
.port-tabs .tab-content .tab-pane{ position:relative; }
.testimonials .carosel h2 {color: #fff;  font-size: 18px;text-transform: none;text-align: left;font-family: pt sans;
margin: 0px; font-style: italic;}
.testimonials  .carosel span {display: block;text-align: right;margin-right: 20px;margin-top: 0px;}

@media (max-width:980px){
.testimonials .carousel-caption.carosel {
    min-height: 150px !important;top: 29%;left: 11%;
}
.port-tabs .nav > li > a {
    padding: 10px 4px !important; margin: 3px !important;}
}
@media (max-width:460px){
.testimonials  .carousel-caption.carosel h2{font-size: 9px;}
}
.carousel-caption.carosel {
    right: 20%;
    left: 12%;
    top: 350px;
}
/* portfolio innerpage new design css ends */



.banner-content.ling {
    top: 62px;
    left: -93px;
    position: absolute;
	}
.banner-content.ling h1 {
    width: 62% !important;
    float: left !important;
    margin-left: 12% !important; color:#df0041;
}