/*font-family: 'PT Sans Narrow', sans-serif;*/

/* Typography
-------------------------------------------------------*/
html {
  font-family: 'PT Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color:#333333;
  background-color: #f3f3f3;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Unica One', cursive;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1{
	font-size:46px;
	color:#fff;
}
h1,
h2,
.h1,
.h2{
	text-transform:uppercase;
}
h2 {
    color: #003865;
    font-size: 40px;
    margin: 40px 0 20px;
}

.blue-txt{
	color:#053c68;
}
.orange-txt{
	color:#fd5000;
}
/* Container width
-------------------------------------------------------*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}

/* Custom margins
-------------------------------------------------------*/
.mtop5{
	margin-top:5px;
}
.mtop10{
	margin-top:10px;
}
.mtop15{
	margin-top:10px;
}
.mtop20{
	margin-top:20px;
}
.mtop30{
	margin-top:30px;
}
.mtop40{
	margin-top:40px;
}
.mtop50{
	margin-top:50px;
}

/* Default link styles
-------------------------------------------------------*/
a {
  color: #fd5000;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
a:hover,
a:focus {
  color: #053c68;
  text-decoration: underline;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Buttons
-------------------------------------------------------*/
.btn-warning {
    background-color: #FD5000;
    border-color: #FD5000;
    color: #FFFFFF;
}
.btn-warning span{color:#fff;}

.bt-icon span{
	font-size:20px;
	position:absolute;
	left:5px;
	top:5px;
}
.bt-icon{
	padding-left:40px;
	position:relative;
}


hr{
	border-color:#999999;
}


/* Top
-------------------------------------------------------*/
.top-bg{
	background:#f3f3f3;
	border-bottom:1px solid #9f9f9f;
}

.logo {
    display: block;
    margin: 20px 0;
}
.top-link {
    color: #053C68;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 0 0;
    text-align: right;
}
.top-link span{
	margin-right:5px;
}

.main-nav {
    margin: 10px 0;
}
.main-nav .navbar-nav > .open > a, .main-nav .navbar-nav > .open > a:hover, .main-nav .navbar-nav > .open > a:focus, 
.main-nav .navbar-nav > .active > a, .main-nav .navbar-nav > .active > a:hover, .main-nav .navbar-nav > .active > a:focus {
	color: #003865;
	font-weight:700;
}
.main-nav .nav > li > a {
    color: #666666;
    display: block;
    font-size: 18px;
    padding: 10px 10px;
    position: relative;
    text-transform: uppercase;

}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus {
  text-decoration: none;
  background-color:transparent;
  color:#003865;
  font-weight:700;
}
.main-nav .nav > li:last-child a {
    padding-right: 0;
}
.main-nav .navbar-collapse {
    max-height: none;
}

/* Main carousel
-------------------------------------------------------*/
.main-carousel{
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #f1ebea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#f1ebea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#f1ebea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f3f3 0%,#f1ebea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f3f3 0%,#f1ebea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#f1ebea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f1ebea',GradientType=0 ); /* IE6-9 */

}
.main-carousel .carousel-control.left, .main-carousel .carousel-control.right{
	background:none;
}
.main-carousel img {
    margin: 50px 0;
}
.heading {
    color: #003865;
    font-size: 46px;
    line-height: 52px;
    margin: 80px 0 40px;
}
.heading em{
	color:#fd5000;
	text-transform:uppercase;
	display:block;
}
.main-carousel .descr {
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
}
.main-carousel .btn-warning {
    font-size: 16px;
    margin-bottom: 40px;
}
.main-carousel .btn-warning span {
    margin-right: 5px;
}
.main-carousel .carousel-indicators > li {
    background:#3D69AB;
    border: medium none;
    height: 12px;
    width: 12px;
	margin: 2px;
}
.main-carousel .carousel-indicators .active {
    background: none repeat scroll 0 0 #FD5000;
    margin: 2px;
}
.main-carousel .btn-warning span {
    margin-right: 5px;
    position: relative;
    top: -2px;
    transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
}


/* Home Page Middle
-------------------------------------------------------*/
.full-white-wraper{
	background:#fff;
}
.light-gray-wraper{
	background:#f3f3f3;
}

.divide {
    margin-bottom: 5%;
    margin-top: 5%;
}
.divide h2 {
    margin-top: 0;
}

.sub-desc{
	font-size:16px;
	width:60%;
	margin:0 auto;
	display:block;
	line-height:26px;
}
.str-box{
	padding:20px;
	margin-top:20px;
	
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.str-box .descript {
    height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
}
.str-box:hover{
	background:#f1efef;
}
.str-box:hover h3{
	color:#fd5000;
}
.str-box:hover .bt-icon{
	padding-left:8px;
	padding-right:35px;
}
.str-box:hover .bt-icon span{
	left:auto;
	right:0;
}


/* Parallax slide styles */
.hsContainer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.hsContainer h2{
	color:#fff;
}
.homeSlide h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:26px;
	color:#fff;
	text-transform:none;
	line-height:36px;
}
.homeSlide h2 span{
	text-transform:uppercase;
}
.hsContainer .sub-desc{
	width:100%;
}
.hsContainer hr{
	border-color:#fff;
	width:50%;
	margin-bottom:50px;
}
.hsContent {
    color: #EBEBEB;
    padding: 5% 0;
    text-align: center;
    vertical-align: middle;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
.homeSlide .bcg, .sevicesSlide .bcg{background-image:url('../images/parallax-1.jpg'); /*height: 540px;*/}


.achieve-box span {
    font-size: 8em;
    margin-top: 60px;
	color:rgba(0,0,0,0.2);
	display:inline-block;
}
.achieve-box .big {
    font-size: 11em;
    margin-top: 0;
	color:rgba(0,0,0,0.3);
}

.achieve-box{
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
	transform:rotate(360deg);
}
.achieve-box:hover span{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); 
	-moz-transform:rotate(360deg); 
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg); 
	
	color:#fd5000;
}

.our-work{
	background:url('../images/gray-bg.jpg') repeat; 
	min-height: 696px; 
	color:#fff;
}
.our-work h2{
	color:#fff; 
	text-align:center;
}
.our-work .sub-desc{
	width:90%;
	text-align:center;
	margin:40px 0 50px 0;
}
.mac{
	background:url(../images/mac.png) no-repeat ;
	background-size:100%;
	min-height: 380px;
	width:100%;
}

.mac img {
    left: 16%;
    position: absolute;
    top: 6%;
    width: 69.6%;
}
.our-work h3{
	color:#b3b3b3;
	font-size: 28px;
}
.txt-shadow{
	text-shadow:1px 1px 1px rgba(0,0,0,0.35);
}
.our-work .h4{
	font-size:32px;
	color:#fd5000;
	font-family: 'PT Sans', sans-serif;
}
.our-work hr {
    margin: 40px 0;
}
.our-work h5 {
	font-size:25px;
	color:#fd5000;
	font-family: 'PT Sans', sans-serif;
}
.our-work ul{
	color:#b3b3b3;
	padding:0;
	list-style:none;
	margin-top:25px;
}
.key-points i {
    background: #FD8300;
    border-radius: 20px;
    color: #FFFFFF;
    display: inline-block;
    font-style: normal;
    height: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 20px;
}
.key-points > li {
    margin: 13px 0;
    padding-left: 30px;
    position: relative;
}

.h2-lines{
	color:#333333;
	font-size:28px;
	background:url(../images/lines-bg.png) repeat-x 0 10px;
	min-height:11px;
}
.h2-lines span{
	background:#f3f3f3;
	padding-right:15px;
	display:inline-block;
}

.logos-video h3{
	font-size:18px;
	color:#666666;
	font-family: 'PT Sans', sans-serif;
	line-height:20px;
}
.logos-video h3 span{
	display:block;
	color:#fd5000;
	font-weight:600;
	font-size:15px;
}
.logos-video a {
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
}
.logos-video a:hover span{
	color:#fff;
}
.logos-video a span {
    color: #CC181E;
    display: block;
    font-size: 38px;
}

.recent-news, 
.recent-news .row a{
	color:#666666;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.recent-news .row a:hover{
	color:#fb5000;
}
.recent-news a.view {
    background: #F3F3F3;
    font-family: 'Unica One',cursive;
    font-size: 18px;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: 3px;
}
.date{
	font-family: 'Unica One', cursive;
	font-size:22px;
	color:#fb5000;
	line-height:27px;
	text-transform:uppercase;
}
.date span{
	font-size:32px;
	display:block;
}

/* inner page styles
*/
.inner-header{
	background: #0c3f6a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2Y2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjRiNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #0c3f6a 0%, #1b4b72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3f6a), color-stop(100%,#1b4b72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0c3f6a 0%,#1b4b72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0c3f6a 0%,#1b4b72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0c3f6a 0%,#1b4b72 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0c3f6a 0%,#1b4b72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3f6a', endColorstr='#1b4b72',GradientType=0 ); /* IE6-8 */
}
.inner-header p{
	color:#6e8ca6;
	font-size:18px;
}
.inner-header .col-md-12 > span {
    bottom: 0;
    color: #0A3760;
    font-size: 24em;
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    right: 15%;
    z-index: 0;
}
.inner-header h1 {
    margin: 60px 0 20px;
    position: relative;
    z-index: 2;
}
.inner-header p {
    color: #6E8CA6;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}

.secondary-nav{
	margin-top:10px;
}
.secondary-nav .navbar-nav > .open > a, .secondary-nav .navbar-nav > .open > a:hover, .secondary-nav .navbar-nav > .open > a:focus, 
.secondary-nav .navbar-nav > .active > a, .secondary-nav .navbar-nav > .active > a:hover, .secondary-nav .navbar-nav > .active > a:focus {
	background-color:transparent;
    color: #666666;
	/*font-weight:700;*/
	border-bottom:2px solid #fd5000;
}
.secondary-nav .nav > li > a {
    border-radius: 0;
    color: #666666;
    margin: 15px 10px;
    padding: 0 0 6px;
	font-size:16px;
	border-bottom:2px solid rgba(0, 0, 0, 0);
	text-transform:uppercase;

}
.secondary-nav .nav > li > a:hover,
.secondary-nav .nav > li > a:focus {
	/*font-weight:700;*/
	text-decoration: none;
	background-color:transparent;
	border-bottom:2px solid #fd5000;
}
.secondary-nav .nav > li:last-child a {
    padding-right: 0;
}
.secondary-nav .navbar-collapse {
    max-height: none;
}

.featured-work h3 {
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 85px;
    position: relative;
	text-transform:uppercase;
}
.featured-work h3 span {
    background: none repeat scroll 0 0 #EE3528;
    border: 4px solid #F3F3F3;
    border-radius: 100%;
    box-shadow: 0 0 2px #898989;
    color: #FFFFFF;
    font-size: 39px;
    height: 66px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 66px;
}
.sevicesSlide .sub-desc{
	width:70%;
}


/* Services inner page
-------------------------------------------------------*/
.white-box {
    background: #FFFFFF;
}
.white-box-top{
	padding:12px 20px;
}
.white-box-top h3{
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#003865;
	margin:0;
	text-align:left;
	padding:0;
}
.white-box-top .row{
	margin-bottom:5px;
}

.portfolio{
	margin-top:50px;
	margin-bottom:30px;
}

.portfolio > [class*="col-"]{
	margin-bottom:30px;
}
.portfolio .white-box{
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
}
.portfolio .white-box:hover{
	box-shadow:0 0 10px rgba(0,0,0,0.4);
	
	transform:scale(1.02,1.02);
	-o-transform:scale(1.02,1.02);
	-moz-transform:scale(1.02,1.02);
	-webkit-transform:scale(1.02,1.02);
}
.portfolio .white-box:hover h3{
	color:#fd5000;
}
.portfolio .white-box:hover img{
	opacity:0.9;
}
.testimonial > [class*="col-"]{
	margin-bottom:30px;
}
.testimonial a {
    position:absolute;
	left:15px;
	right:15px;
	top:0;
	bottom:0;
	
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
	display:block;
}
.testimonial a:hover {
	background:rgba(0,0,0,0.3);
	box-shadow:0 0 10px rgba(0,0,0,0.4);
}
.testimonial a span {
	left: 50%;
    margin-left: -24px;
    margin-top: -26px;
    position: absolute;
    top: 50%;
	
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
	
    color: #fff;
    display: block;
    font-size: 38px;
}
.testimonial a:hover span{
	color:#fd5000;
	transform:scale(1.5,1.5) rotate(360deg);
	-o-transform:scale(1.5,1.5) rotate(360deg);
	-moz-transform:scale(1.5,1.5) rotate(360deg);
	-webkit-transform:scale(1.5,1.5) rotate(360deg);
	/*transform:scale(1.5,1.5) rotate(360deg);*/
}


/* Footer
-------------------------------------------------------*/
footer {
    background: #05384d;
    color: #9A9A9A;
    padding: 40px 0 90px 0;
}
footer .h2-lines span{
	background:#05384c;
	color:#999999;
	text-transform:uppercase;
}
footer ul {
    list-style: none outside none;
    padding: 0;
}
footer ul li {
    margin: 3px 0;
}
footer ul li a {
    color: #9A9A9A;
}
footer ul li a:hover{
	color:#fff;
}
.contact li {
    margin: 10px 0;
    padding-left: 25px;
    position: relative;
}
footer ul li i {
    left: 0;
    position: absolute;
    top: 3px;
	color:#9bafb7;
}

/* Footer with social linkssticky
-------------------------------------------------------*/
.footer_btm {
    width: 100%;
    background: #042b3c;
	padding: 10px 0;
}
.footer_btm .btn{
	font-size:15px;
	text-transform:uppercase;
}
.social-links a {
    background: #E6EAEC;
    border-radius: 33px;
    color: #474B4C;
    display: inline-block;
    font-size: 18px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
	margin-right: 5px;
}
.social-links a:hover {
	background:#fd5000;
	color:#fff;
}

/* media queries
-------------------------------------------------------*/
@media (min-width:768px){
.navbar-default{
	background:transparent;
	border:none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
}
.main-nav {
    margin: 18px 0 0;
}
.our-work h3{
	margin-top:0;
}
.secondary-nav .second-nav{
	padding-left:0;
}
.secondary-nav .navbar-brand{
	display:none;
}
}
@media (min-width:992px){
body{
	padding-top:102px;
}
.top-bg{
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:999;
}
.cols5 > .col-md-3{
	width:20%;
}
.footer_btm {
    bottom: 0;
    position: fixed;
    z-index: 999;
}
}

@media (max-width:991px){
.mac{
	min-height:420px;
}
.logos-video > .col-md-6, .recent-news, .recent-news .row > .col-md-6{
	margin-bottom:20px;
}
.sevicesSlide .col-md-3{
	margin-bottom:20px;
}

.port-desc {
    max-height: 60px;
    min-height: 60px;
}

footer{
	padding-bottom:0;
}
}
@media (max-width:767px){
footer [class*="col-"]{
	margin-bottom:20px;
}
footer [class*="col-"]:last-child{
	margin-bottom:0;
}

.footer_btm > .container > .row > .col-xs-6{
	width:100%;
}
}
@media (max-width:600px){
.full-white-wraper .col-xs-6, .light-gray-wraper .col-xs-6{
	width:100%;
}
.mac{
	min-height:300px;
}
}
@media (max-width:480px){
.mac{
	min-height:250px;
}
.footer_btm .row .row .col-xs-6, .testimonial > [class*="col-"]{
	width:100%;
}
}