html {
	font-family:'PT Sans', sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	font-family:'PT Sans', sans-serif;
	font-size:16px;
	line-height:1.42857143;
	color:#333333;
	background-color:#f3f3f3;
}
code, kbd, pre, samp {
	font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:'Unica One', sans-serif, cursive;
	font-weight:400;
	line-height:1.1;
	color:inherit;
	text-transform:uppercase;
}
h1 {
	font-size:46px;
	color:#fff;
}
.port-title {
	color:#003865;
	font-size:42px;
	margin:40px 0 20px;
}
h2 {
	color:#003865;
	font-size:40px;
	margin:40px 0 20px;
}
blockquote {
	text-align:left;
	border-left-color:#fd5000;
}
p {
	margin:0 0 15px;
}
.white-txt {
	color:#fff;
}
.blue-txt {
	color:#053c68;
}
.orange-txt, .f-letter h3:first-letter {
	color:#fd5000;
}
@media (min-width: 768px) {
.container {
width:750px;
}
}
@media (min-width: 992px) {
.container {
width:970px;
}
}
@media (min-width: 1200px) {
.container {
width:1030px;
}
#container-blog {
width:1170px;
}
}
.mrg-auto {
	margin:auto;
}
.mtop5 {
	margin-top:5px;
}
.mtop10 {
	margin-top:10px;
}
.mtop15 {
	margin-top:10px;
}
.mtop20 {
	margin-top:20px;
}
.mtop30 {
	margin-top:30px;
}
.mtop40 {
	margin-top:40px;
}
.mtop50 {
	margin-top:50px;
}
.mtop90 {
	margin-top:90px;
}
.mbt5 {
	margin-bottom:5px;
}
.mbt10 {
	margin-bottom:10px;
}
.mbt15 {
	margin-bottom:10px;
}
.mbt20 {
	margin-bottom:20px;
}
.mbt30 {
	margin-bottom:30px;
}
.mbt40 {
	margin-bottom:40px;
}
.mbt50 {
	margin-bottom:50px;
}
a {
	color:#fd5000;
	text-decoration:none;
	transition:all 0.5s ease 0s;
}
a:hover, a:focus {
	color:#053c68;
	text-decoration:underline;
	text-decoration:none;
}
a:focus {
	outline:0;
	outline:0;
	outline-offset:0;
}
.btn-warning {
	background-color:#FD5000;
	border-color:#FD5000;
	color:#FFFFFF;
}
.btn-warning span {
	color:#fff;
}
.bt-icon span {
	font-size:20px;
	position:absolute;
	left:5px;
	top:5px;
}
.bt-icon {
	padding-left:40px;
	position:relative;
}
hr {
	border-color:#999999;
}
.breadcrumb {
	background:transparent;
	color:#fff;
	border-radius:0px;
	margin-top:20px;
	margin-bottom:0;
	padding:8px 0;
	font-size:13px;
}
.breadcrumb strong {
	font-weight:normal;
}
.breadcrumb a {
	color:#6e8ca6;
}
.btn, .btn:active, .btn.active {
	box-shadow:none;
	border:none;
}
.modal {
	z-index:9999;/*top:20%;*/
}
.top-bg {
	background:#f7f7f7;
	border-bottom:1px solid #9f9f9f;
}
.page-id-521 .top-bg {
	border-bottom:0;
}
#nav.affix {
	position:fixed;
	top:0;
	z-index:9999;
	opacity:1;
}
#nav.affix .img-responsive {
	max-width:80%;
}
#nav {
	width:100%;
	position:static;
}
#secondnav.affix {
	position:fixed;
	top:89px;
	z-index:9999;
	opacity:1;
	background:none repeat scroll 0 0 #f3f3f3;
}
#secondnav.affix .img-responsive {
	max-width:80%;
}
#secondnav {
	width:100%;
	position:static;
}
.logo {
	display:block;
	margin:10px 0;
}
.logo-small {
	display:block;
	margin:10px 0;
}
.top-link {
	color:#053C68;
	font-size:16px;
	font-weight:700;
	margin:10px 0 0 0;
	text-align:right;
}
.top-link span {
	margin-right:5px;
}
.top-link span i {
	border:1px solid #666;
	border-radius:20px;
	display:inline-block;
	height:26px;
	line-height:26px;
	margin-right:2px;
	text-align:center;
	width:26px;
}
.main-nav {
	margin:10px 0;
}
.main-nav .navbar-nav>.open>a, .main-nav .navbar-nav>.open>a:hover, .main-nav .navbar-nav>.open>a:focus, .main-nav .navbar-nav>.active>a, .main-nav .navbar-nav>.active>a:hover, .main-nav .navbar-nav>.active>a:focus {
	color:#003865;
}
.main-nav .nav>li>a {
	color:#666666;
	display:block;
	font-size:18px;
	padding:10px 10px;
	position:relative;
	text-transform:uppercase;
}
.main-nav .nav>li>a:hover, .main-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	color:#003865;
}
.main-nav .nav>li:last-child a {
	padding-right:0;
}
.main-nav .navbar-collapse {
	max-height:none;
}
.main-carousel {
	background:#051f37;
}
.main-carousel .item.active>img {
	margin:0 auto;
}
.main-carousel .carousel-control.left, .main-carousel .carousel-control.right {
	background:none;
}
.main-carousel img {
	margin:50px 0;
}
.heading {
	color:#003865;
	font-size:46px;
	line-height:52px;
	margin:80px 0 40px;
}
.heading em {
	color:#fd5000;
	text-transform:uppercase;
	display:block;
}
.main-carousel .descr {
	color:#000000;
	font-size:18px;
	line-height:26px;
	margin-bottom:20px;
	overflow:hidden;
}
.main-carousel .btn-warning {
	font-size:16px;
	margin-bottom:40px;
}
.main-carousel .btn-warning span {
	margin-right:5px;
}
.main-carousel .carousel-indicators>li {
	background:#3D69AB;
	border:medium none;
	height:12px;
	width:12px;
	margin:2px;
}
.main-carousel .carousel-indicators .active {
	background:#FD5000;
	margin:2px;
}
.main-carousel .btn-warning span {
	margin-right:5px;
	position:relative;
	top:-2px;
	transform:rotate(-40deg);
	-moz-transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
}
.full-white-wraper {
	background:#fff;
}
.light-gray-wraper {
	background:#f3f3f3;
}
.divide {
	margin-bottom:5%;
	margin-top:5%;
}
.divider {
	margin-bottom:2%;
	margin-top:2%;
}
.divide h2:first-child {
	margin-top:0;
}
.sub-desc {
	font-size:16px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	line-height:26px;
}
.sub-desc-full {
	font-size:16px;
	width:96%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	line-height:26px;
}
.our-approachdesc {
	display:block;
	line-height:26px;
	margin:2% auto 3%;
	color:#666666;
}
.str-box {
	padding:20px;
	margin-top:20px;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.str-box .descript {
	height:120px;
	margin-bottom:20px;
	overflow:hidden;
}
.services .str-box .descript {
	height:90px;
}
.str-box:hover {
	background:#e9e9e9;
}
.str-box:hover h3 {
	color:#fd5000;
}
.hsContainer {
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.hsContainer h2 {
	color:#fff;
}
.homeSlide h2 {
	font-family:'PT Sans Narrow', sans-serif;
	font-size:26px;
	color:#fff;
	text-transform:none;
	line-height:36px;
}
.homeSlide h2 span {
	text-transform:uppercase;
}
.hsContainer .sub-desc {
	width:100%;
}
.hsContainer hr {
	border-color:#fff;
	width:50%;
	margin-bottom:50px;
}
.hsContent {
	color:#EBEBEB;
	padding:5% 0;
	text-align:center;
	vertical-align:middle;
}
.bcg {
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	width:100%;
}
.homeSlide .bcg {
	background-image:url('../images/parallax-1.jpg');
}
.sevicesSlide .bcg {
	background-image:url('../images/service-parallax.jpg');
}
.companySlide .bcg {
	background-image:url('../images/companyparallax.jpg');
}
.ecommerceSlide .bcg {
	background-image:url('../images/Ecommerce-parallax.jpg');
}
.webdevSlide .bcg {
	background-image:url('../images/Web-Dev-parallax.jpg');
}
.webappSlide .bcg {
	background-image:url('../images/Web-App-parallax.jpg');
}
.respSlide .bcg {
	background-image:url('../images/Responsive-parallax.jpg');
}
.seoSlide .bcg {
	background-image:url('../images/Seo-Sem-parallax.jpg');
}
.moblieSlide .bcg {
	background-image:url('../images/Mobile-parallax.jpg');
}
.portfolioSlide .bcg {
	background-image:url('../images/service-parallax.jpg');
}
.achieve-box hr {
	width:75%;
}
.achieve-box>img {
	margin:20px auto 0 auto;
}
.achieve-box>a>img {
	margin-top:100px;
}
.achieve-box>a>img {
	margin:20px auto 0;
}
.achieve-box .big {
	margin-top:20px;
}
.achieve-box>ul {
	padding-left:0;
}
.achieve-box {
	padding:0 20px;
}
.achieve-box ul li {
	list-style-position:inside;
}
.achieve-box:hover span {
	color:#fd5000;
}
.our-work {
	background:url('../images/gray-bg.jpg') repeat;
	color:#fff;
}
#myWork {
	margin-bottom:40px;
}
.our-work h2 {
	color:#fff;
	text-align:center;
}
.our-work .sub-desc {
	width:90%;
	text-align:center;
	margin:20px auto 50px auto;
}
.mac {
	background:url(../images/mac.png) no-repeat;
	background-size:100%;
	min-height:380px;
	width:100%;
}
.mac span {
	left:16%;
	overflow:hidden;
	position:absolute;
	top:5%;
	width:69.2%;
}
.our-work h3 {
	color:#b3b3b3;
	font-size:28px;
}
.txt-shadow {
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.35);
}
.our-work .h4 {
	font-size:32px;
	color:#fd5000;
	font-family:'PT Sans', sans-serif;
}
.our-work hr {
	margin:20px 0;
}
.our-work h5 {
	font-size:25px;
	color:#fd5000;
	font-family:'PT Sans', sans-serif;
}
.our-work ul {
	color:#b3b3b3;
	padding:0;
	list-style:none;
	margin-top:25px;
}
.key-points i {
	background:#FD8300;
	border-radius:20px;
	color:#FFFFFF;
	display:inline-block;
	font-style:normal;
	height:20px;
	left:0;
	position:absolute;
	text-align:center;
	width:20px;
}
.key-points>li {
	margin:13px 0;
	padding-left:30px;
	position:relative;
}
.h2-lines {
	color:#333333;
	font-size:24px;
	background:url(../images/lines-bg.png) repeat-x 0 10px;
	min-height:11px;
}
.h2-lines span {
	background:#f3f3f3;
	padding-right:15px;
	display:inline-block;
}
.logos-video h3 {
	font-size:18px;
	color:#666666;
	font-family:'PT Sans', sans-serif;
	line-height:20px;
	margin-bottom:0;
	margin-top:135px;
}
.logos-video h3 span {
	display:block;
	color:#fd5000;
	font-weight:600;
	font-size:15px;
}
.logos-video .hvideo, .testimonails-video .hvideo  {
	left:50%;
	margin-left:-17px;
	margin-top:-17px;
	position:absolute;
	top:50%;
}
.logos-video .hvideo:hover span, .testimonails-video .hvideo:hover span {
	color:#fff;
}
.logos-video .hvideo span, .testimonails-video .hvideo span {
	color:#CC181E;
	display:block;
	font-size:38px;
}
.recent-news, .recent-news .row a {
	color:#666666;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.recent-news .row a:hover {
	color:#fb5000;
}
.recent-news a.view {
	background:#F3F3F3;
	font-family:'Unica One', cursive;
	font-size:18px;
	padding-left:10px;
	position:absolute;
	right:15px;
	top:3px;
}
.date {
	font-family:'Unica One', cursive;
	font-size:22px;
	color:#fb5000;
	line-height:27px;
	text-transform:uppercase;
}
.date span {
	font-size:32px;
	display:block;
}
.inner-header {
	background:#0c3f6a;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjM2Y2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjRiNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c3f6a), color-stop(100%, #1b4b72));
	background:-webkit-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-o-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:-ms-linear-gradient(top, #0c3f6a 0%, #1b4b72 100%);
	background:linear-gradient(to bottom, #0c3f6a 0%, #1b4b72 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c3f6a', endColorstr='#1b4b72', GradientType=0);
}
.inner-header p {
	color:#6e8ca6;
	font-size:18px;
}
.inner-header .col-md-12>span {
	bottom:0;
	color:#0A3760;
	font-size:14em;
	max-height:240px;
	overflow:hidden;
	position:absolute;
	right:15%;
	z-index:0;
}
.inner-header h1 {
	margin:20px 0 20px;
	position:relative;
	z-index:2;
}
.inner-header p {
	color:#6E8CA6;
	font-size:18px;
	margin-bottom:0;
	padding-bottom:40px;
	position:relative;
	z-index:2;
}
.inner-header a:hover {
	color:#fff;
}
.inner-header ul {
	color:#317fbf;
	margin-bottom:20px;
}
.inner-header ul li span {
	color:#fff;
}
.inner-header ul li span[class*="icomoon-"] {
margin-right:8px;
margin-bottom:5px;
color:#fd5000;
}
.inner-header ul li.clearfix {
	list-style:none;
}
.secondary-nav {
	margin-top:10px;
	margin-bottom:0;
}
.secondary-nav .navbar-nav>.open>a, .secondary-nav .navbar-nav>.open>a:hover, .secondary-nav .navbar-nav>.open>a:focus, .secondary-nav .navbar-nav>.active>a, .secondary-nav .navbar-nav>.active>a:hover, .secondary-nav .navbar-nav>.active>a:focus {
	background-color:transparent;
	color:#666666;
	border-bottom:2px solid #fd5000;
}
.secondary-nav .nav>li>a {
	border-radius:0;
	color:#666666;
	margin:15px 10px 0px 10px;
	padding:0 0 6px;
	font-size:16px;
	border-bottom:2px solid rgba(0, 0, 0, 0);
	text-transform:uppercase;
}
.secondary-nav .nav>li>a:hover, .secondary-nav .nav>li>a:focus {
	text-decoration:none;
	background-color:transparent;
	border-bottom:2px solid #fd5000;
}
.secondary-nav .nav>li:last-child a {
	padding-right:0;
}
.secondary-nav .navbar-collapse {
	max-height:none;
}
.featured-work h3 {
	line-height:30px;
	margin-bottom:20px;
	padding-left:85px;
	position:relative;
	text-transform:uppercase;
}
.featured-work h3 span {
	background:#EE3528;
	border:4px solid #F3F3F3;
	border-radius:100%;
	box-shadow:0 0 2px #898989;
	color:#FFFFFF;
	font-size:30px;
	height:66px;
	left:0;
	line-height:60px;
	position:absolute;
	text-align:center;
	width:66px;
}
.sevicesSlide .sub-desc {
	width:70%;
}
.white-box {
	background:#FFFFFF;
}
.white-box-top {
	padding:12px 20px;
}
.white-box-top h3 {
	font-family:'PT Sans', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#003865;
	margin:0;
	text-align:left;
	padding:0;
	height:70px;
}
.white-box-top .row {
	margin-bottom:5px;
}
.portfolio {
	margin-top:20px;
}
.portfolio>[class*="col-"] {
margin-bottom:30px;
}
.portfolio .white-box {
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
}
.portfolio .white-box:hover {
	box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	transform:scale(1.02, 1.02);
	-o-transform:scale(1.02, 1.02);
	-moz-transform:scale(1.02, 1.02);
	-webkit-transform:scale(1.02, 1.02);
}
.portfolio .white-box:hover h3 {
	color:#fd5000;
}
.portfolio .white-box:hover img {
	opacity:0.9;
}
.testimonial>[class*="col-"] {
margin-bottom:30px;
}
.testimonial a {
	position:absolute;
	left:15px;
	right:15px;
	top:0;
	bottom:0;
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
	display:block;
}
.testimonial a:hover {
	background:rgba(0, 0, 0, 0.3);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
}
.testimonial a span {
	left:50%;
	margin-left:-24px;
	margin-top:-26px;
	position:absolute;
	top:50%;
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
	color:#fff;
	display:block;
	font-size:38px;
}
.testimonial a:hover span {
	color:#fd5000;
	transform:scale(1.5, 1.5) rotate(360deg);
	-o-transform:scale(1.5, 1.5) rotate(360deg);
	-moz-transform:scale(1.5, 1.5) rotate(360deg);
	-webkit-transform:scale(1.5, 1.5) rotate(360deg);
}
.team-box {
}
.team-box .team-breif {
	bottom:0;
	left:15px;
	position:absolute;
	right:15px;
	top:0;
	z-index:9;
	background:rgba(10, 62, 105, 0.5);
	color:#fff;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.team-box h4 {
	bottom:0;
	font-size:20px;
	left:30px;

	position:absolute;
	text-transform:uppercase;
}
.team-box h4 span {
	display:block;
}
.team-box:hover .team-breif {
	background:none;
}
.team-info-parent {
	display:none;
	margin-bottom:30px;
}
.team-info {
	background:#FFFFFF;
	padding:25px;
}
.team-info h5 {
	color:#003865;
	font-size:20px;
	margin:0 0 20px;
	text-transform:uppercase;
}
.team-info p {
	margin-bottom:20px;
}
.team-membs:first-of-type {
	margin-top:50px;
}
.team-membs .col-sm-4 {
	margin-bottom:30px;
}
.team-membs .col-sm-4>span {
	bottom:-85px;
	color:#FFFFFF;
	font-size:80px;
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	z-index:9;
	display:none;
}
.team-membs .team-box img {
	width:100%;
}
.close {
	position:relative;
	z-index:11;
}
.videoWrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;
}
.videoWrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.modal-body .close {
	background:#000000;
	border:2px solid #CCCCCC;
	border-radius:100%;
	color:#FFFFFF;
	height:30px;
	opacity:1;
	overflow:hidden;
	position:relative;
	right:-29px;
	text-shadow:none;
	top:-29px;
	width:30px;
}
.modal-body .close:hover {
	opacity:1;
	color:#FFF;
}
.modal.in .modal-dialog {
	transform:translate(0px, 30%);
}
.filter {
	text-align:center;
}
.clients-box {
	border:2px solid #c2c2c2;
	border-radius:5px;
	background:#c2c2c2;
	text-align:left;
	padding-bottom:4px;
	margin-bottom:30px;
}
.clients-in-box {
	height:220px;
	overflow:hidden;
	background:#fff;
	position:relative;
}
.clients-box>span {
	color:#FFFFFF;
	font-size:25px;
	line-height:10px;
	margin-left:3px;
}
.overlay {
	background:rgba(0, 0, 0, 0.8);
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	text-align:center;
	color:#fff;
	opacity:0;
	-webkit-transition:all 0.5s ease-in-out 0s;
	-moz-transition:all 0.5s ease-in-out 0s;
	-o-transition:all 0.5s ease-in-out 0s;
	transition:all 0.5s ease-in-out 0s;
}
.overlay h6 {
	font-size:16px;
}
.hover-overlay {
	left:50%;
	margin:20% 0 14% -80px;
	position:relative;
	width:160px;
}
.hover-overlay a {
	color:#fff;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
	transition:all 0.3s ease-in-out 0s;
}
.hover-overlay a:hover {
	color:#FD5000;
}
.hover-overlay a i {
	float:left;
	font-size:70px;
	position:relative;
	left:-150%;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.hover-overlay a span {
	border-left:1px solid #FFFFFF;
	display:-webkit-box;
	font-size:16px;
	line-height:normal;
	margin-top:10px;
	padding-left:10px;
	float:right;
	word-wrap:break-word;
	width:78px;
	text-transform:uppercase;
	text-align:left;
	height:50px;
	position:relative;
	right:-150%;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.clients-box:hover .overlay, .featured-box:hover .overlay {
	opacity:1;
}
.clients-box:hover .hover-overlay a i, .featured-box:hover .hover-overlay a i {
	left:0;
}
.clients-box:hover .hover-overlay a span, .featured-box:hover .hover-overlay a span {
	right:0;
}
.clients-in-box img {
	width:100%;
}
.hpartner-logos [class*="col-"] {
max-height:70px;
min-height:70px;
}
.featured-box {
	overflow:hidden;
	position:relative;
	background:#fff;
	box-shadow:4px 4px 0 #c2c2c2;
}
.featured-box .row {
	margin-bottom:5px;
}
.featured-box .hover-overlay {
	margin:10% 0 14% -80px;
}
.case-txt {
	font-size:22px;
	line-height:36px;
	margin:14% auto 0;
	width:90%;
}
.case-txt a {
	color:#fff;
}
body div.fixed {
	background:#f3f3f3;
	border-bottom:1px solid #9f9f9f;
	position:fixed;
	top:-118px;
	z-index:9999;
	width:100%;
	-webkit-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	z-index:9999;
	opacity:0;
	min-height:48px;
}
body div.fixed.sticky {
	opacity:1;
	top:0;
	-webkit-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
	transition:top 1s ease-in-out, opacity 0.2s ease-in-out;
}
body div.fixed .menu-global-nav-container {
	margin:17px 0 15px;
}
.sticky .img-responsive {
	max-width:80%;
}
.fixed.hide-for-phone .main-nav {
	margin:-5px 0 15px;
}
.web-awards {
	background:url(../images/webawards.png) no-repeat;
	border:none;
}
.carousel-control.right {
	background-image:none;
}
.carousel-control.left {
	background-image:none;
}
.port-inner-header {
	background:url('../images/gray-bg.jpg') repeat;
	color:#fff;
	text-align:center;
	position:relative;
	min-height:500px;
}
.port-inner-header .img-responsive {
	margin:0 auto;
}
.port-inner-points {
	margin:20px 0;
}
.port-inner-points .fa-stop {
	color:#fd5000;
	position:absolute;
	top:4px;
}
.port-inner-points .col-md-6 {
	margin-bottom:10px;
}
.port-inner-points .col-md-6 p {
	padding-left:20px;
}
#map_canvas {
	width:100%;
	height:500px;
}
.blog-box {
	background:#FFFFFF;
	-webkit-box-shadow:4px 4px 0px #c2c2c2;
	-moz-box-shadow:4px 4px 0px #c2c2c2;
	box-shadow:4px 4px 0px #c2c2c2;
}
.blog-box hr {
	margin-bottom:-8px;
	margin-top:5px;
}
.blog-box:hover hr {
	border-color:#fd5000
}
.blog-box:hover h2 a {
	color:#fd5000;
}
.blog-box:hover .blog-but {
	background:#fd5000;
}
.qa-blog-box-inner [class*="col-"], .blog-box-inner [class*="col-"] {
margin-bottom:10px;
font-family:'PT Sans', sans-serif;
}
.blog-box-inner h2, .blog-box-inner h2 a, .blog-box-inner .h2, .blog-box-inner .h2 a, .qa-blog-box-inner h2, .qa-blog-box-inner h2 a, .qa-blog-box-inner .h2, .qa-blog-box-inner .h2 a {
	font-size:25px;
	color:#666;
	margin-bottom:10px;
	margin-top:20px;
}
.blog-box-inner .h2, .qa-blog-box-inner .h2 {
	border-top:1px solid #999;
	margin:15px 0;
	padding:15px 0 0;
}
.blog-box-inner .row .col-xs-4, .qa-blog-box-inner .row .col-xs-4 {
	font-size:14px;
}
.blog-box-inner, .qa-blog-box-inner {
	padding:15px 15px 25px 15px;
	color:#333333;
}
.ind-blog-page {
	padding:30px;
}
.ind-blog-page h2, .ind-blog-page .info p:nth-child(1) {
color:#333333;
margin:20px 0 10px 0;
}
.blog-filter {
	text-align:center;
	margin-bottom:20px;
}
.blog-filter a {
	margin:0 5px 10px;
	border-radius:0;
}
.ind-blog-page .col-sm-3 {
	color:#999999;
	font-size:14px;
}
.blog-box-inner .label-default, .qa-blog-box-inner .label-default {
	background:none repeat scroll 0 0 #e6e6e6;
	color:#999999;
	display:inline-block;
	margin-bottom:1px;
	padding:5px 10px;
}
.qa_cats, .post-tags {
	margin-top:10px;
}
.blog-box-inner .row>.col-xs-4>span, .qa-blog-box-inner .row>.col-xs-4>span {
	color:#4c4c4c;
}
.blog-but {
	background:#666666;
	display:block;
	text-align:center;
	padding:15px 0;
	cursor:pointer;
	color:#fff;
}
.blog-but:hover {
	background:#fd5000;
	color:#fff;
}
.blog-social-links a {
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
	background:#f0f0f0;
	display:inline-block;
}
.blog-social-links a:hover {
	background:#000;
	color:#fff;
}
.blog-social-links .share {
	color:#4d4d4d;
}
.blog-social-links .fb {
	background:#1b4194;
}
.blog-social-links .tw {
	background:#60aadb;
}
.blog-social-links .pint {
	background:#d44b50;
}
#posts .item {
	margin-bottom:45px;
}
#posts .item img.image {
	max-width:100%;
	margin-top:9px;
}
.info {
	margin-bottom:10px;
	padding:4px;
}
.isotope, .isotope .item {
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-ms-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	transition-duration:0.8s;
}
.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	-ms-transition-property:height, width;
	-o-transition-property:height, width;
	transition-property:height, width;
}
.isotope .item {
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-ms-transition-property:-ms-transform, opacity;
	-o-transition-property:top, left, opacity;
	transition-property:transform, opacity;
}
#posts {
	overflow:visible!important;
}
@media (max-width: 991px) {
.isotope .item {
position:static!important;
-webkit-transform:translate(0px, 0px)!important;
-moz-transform:translate(0px, 0px)!important;
transform:translate(0px, 0px)!important;
}
}
.port-inner-header .container>div {
	/*padding-top:60px;*/
	padding-top:40px;
	position:relative;
	margin-bottom:30px;
}
.port-inner-header .row .row .col-md-8 {
	bottom:50px;
	left:50%;
	margin-left:-33%;
	position:absolute;
	z-index:9;
}
.port-banner-box {
	background:#d0d5d8;
	border:2px solid #d0d5d8;
	border-radius:5px 5px 0 0;
	text-align:left;
}
.port-ban-inr-box {
	background:#fff;
	overflow:hidden;
	position:relative;
	height:295px;
}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {
	height:370px;
}
.port-banner-box>span {
	color:#ffffff;
	font-size:20px;
	line-height:30px;
	margin-left:10px;
}
.port-banner-box>span:nth-child(2) {
position:absolute;
right:30px;
top:2px;
}
.port-inr-hdgs hr {
	width:100%;
}
.port-inr-hdgs h3 {
	color:#fd5000;
	margin:0;
}
.dark-gray-bg {
	background:#484848;
	padding:15px 30px 15px 30px;
}
.cnt-heading {
	font-size:34px;
	margin:20px 0;
	color:#fff;
}
.contact-form {
	padding:0 30px;
}
.contact-form .form-group {
	margin-bottom:20px;
}
.contact-form .btn {
	border-radius:0;
}
.cont-points {
	float:right;
	list-style:none;
	padding:0;
}
.cont-points li:nth-child(even) {
margin-left:70px;
}
.cont-points li {
	display:block;
	margin:30px 0;
	padding-left:45px;
	position:relative;
	color:#013865;
}
.cont-points li span {
	color:#003865;
	display:inline-block;
	font-size:30px;
	left:0;
	position:absolute;
	top:-13px;
}
.parallax-logos {
	margin-top:7%;
}
.parallax-logos [class*="col-"] {
margin-bottom:15px;
}
.form-control {
	border-radius:0px;
	background:#f3f3f3;
	padding:8px 12px;
}
footer {
	background:#05384d;
	color:#9A9A9A;
	padding:40px 0 60px 0;
}
footer .h2-lines span {
	background:#05384c;
	color:#999999;
	text-transform:uppercase;
}
footer ul {
	list-style:none outside none;
	padding:0;
}
footer ul li {
	margin:3px 0;
}
footer ul li a, footer .col-sm-12 a {
	color:#9A9A9A;
}
footer ul li a:hover, footer ul li a:focus, footer .col-sm-12 a:hover, footer .col-sm-12 a:focus {
	color:#fff;
}
.contact li {
	margin:10px 0;
	padding-left:25px;
	position:relative;
}
footer ul li i {
	left:0;
	position:absolute;
	top:3px;
	color:#9bafb7;
}
.footer_btm {
	width:100%;
	background:#042b3c;
	padding:10px 0;
}
.footer_btm .btn {
	font-size:15px;
	text-transform:uppercase;
}
.social-links {
	color:#fff;
}
.social-links a {
	background:#E6EAEC;
	border-radius:33px;
	color:#474B4C;
	display:inline-block;
	font-size:18px;
	height:33px;
	line-height:33px;
	text-align:center;
	width:33px;
	margin-right:5px;
}
.social-links a:hover {
	background:#fd5000;
	color:#fff;
}
@media (min-width:768px) {
.navbar-default {
background:transparent;
border:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color:transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color:transparent;
}
.main-nav {
margin:25px 0 0;
}
.our-work h3 {
margin-top:0;
}
.secondary-nav .second-nav {
padding-left:0;
}
.secondary-nav .navbar-brand {
display:none;
}
.port-desc {
max-height:40px;
min-height:60px;
}
.white-box>a {
display:block;
max-height:330px;
min-height:330px;
overflow:hidden;
}
.achieve-box>img {
margin-top:100px;
}
.mac span {
max-height:79%;
}
}
@media (min-width:992px) {
.cols5>.col-md-3 {
width:20%;
}
.footer_btm {
bottom:0;
position:fixed;
z-index:999;
}
.filter a {
margin:0 15px;
padding-left:20px;
padding-right:20px;
font-size:16px;
}
.mac span {
max-height:64%;
}
.port-inner-header .container>div {
/*height:507px;*/height:auto;
}
.our-work .carousel-control {
width:30px;
top:0;
bottom:0;
}
.our-work .left.carousel-control {
left:0%;
}
.our-work .right.carousel-control {
right:0%;
}
}
@media (min-width:768px) and (max-width:992px) {
.main-carousel .carousel-caption {
top:-10%;
}
}
@media (min-width: 1200px) {
.mac span {
max-height:69%;
}
}
@media (max-width:1050px) {
.our-work .carousel-control {
top:20%;
bottom:auto;
}
.our-work .left.carousel-control {
left:0;
}
.our-work .right.carousel-control {
right:0;
}
}
@media (max-width:991px) {
#nav.affix {
position:relative!important;
z-index:1!important;
}
.main-carousel {
margin-top:0!important;
}
#secondnav {
position:static!important;
}
.mac {
min-height:420px;
}
.logos-video>.col-md-6, .recent-news, .recent-news .row>.col-md-6 {
margin-bottom:20px;
}
.sevicesSlide .col-md-3 {
margin-bottom:20px;
}
.port-desc {
max-height:60px;
min-height:60px;
}
footer {
padding-bottom:0;
}
.social-links.row [class*="col-"] {
margin-bottom:20px;
}
.footer_btm {
margin-top:20px;
}
.port-inner-header .container>div {
padding-top:80px;
}
.port-inner-header .row .row .col-md-8 {
position:relative;
margin:0 auto 30px auto;
bottom:0;
left:auto;
}
.port-inner-header .row .row .col-md-6 {
display:none;
}
.logos-video h3 {
margin-top:10px;
}
.ind-blog-4 {
margin-top:40px;
}

.port-inner-header .row .col-md-4{
	margin-bottom:20px;
}
.port-inner-header .container>div {
	padding-top:10px;
	position:relative;
	margin-bottom:10px;
}
}
@media (max-width:767px) {
footer [class*="col-"] {
margin-bottom:20px;
}
footer [class*="col-"]:last-child {
margin-bottom:0;
}
.filter a {
font-size:15px;
margin-bottom:5px;
}
body div.fixed {
display:none;
position:relative;
}
.mac span {
max-height:79%;
}
.ind-blog-page .col-md-3 {
margin-bottom:10px;
}
.main-carousel .carousel-caption {
visibility:hidden;
}
}
@media (max-width:600px) {
.full-white-wraper .col-xs-6, .light-gray-wraper .col-xs-6 {
width:100%;
}
.clients .clients-in-box {
height:auto;
}
.mac {
min-height:300px;
}
.hover-overlay {
margin:7% 0 7% -80px;
}
.mac span {
max-height:75%;
}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {
height:300px;
}
.port-inner-header {
min-height:370px;
}
.footer_btm>.container>.row>[class*="col-"] {
width:100%;
}
.footer_btm>.container>.row>[class*="col-"] .row .col-xs-6 {
text-align:left;
}
}
@media (max-width:480px) {
.mac {
min-height:250px;
}
.footer_btm .row .row .col-xs-6, .testimonial>[class*="col-"] {
width:100%;
}
.mac span {
max-height:58%;
}
.port-inner-header .row .row .col-md-8 .port-ban-inr-box {
height:200px;
}
.port-inner-header {
min-height:270px;
}
}
.team-info .social-links {
	display:none;
}
input.error {
	border:1px solid #f00;
	color:#f00!important;
}
label.error {
	color:#f00;
	font-size:13px;
	font-weight:normal;
}
span.small-text {
	display:block;
	font-weight:normal;
	font-size:14px;
}
.port-inner-points>li {
	line-height:20px;
	list-style:none outside none;
}
.port-inner-points .fa.fa-stop {
	position:relative;
	top:20px;
}
.port-inner-points p {
	margin-left:2.3%;
}
.technologies p {
	margin-left:4.7%;
}
#footer {
	font-size:14px;
}
#footer small {
	font-size:95%;
}
.contact_dog {
	background-image:url(../images/contact_dog.jpg);
	min-width:100%;
	position:relative;
	background-color:#000;
	background-position:center;
	background-size:cover;
}
.contact_dog h2 {
	color:#ffffff;
	font-size:40px;
	margin:40px 0 20px;
}
.OK-Ready-btn {
	font-weight:700;
	padding:15px;
}
.btn-warning:hover, .btn-warning:focus {
	background-color:#ea452e;
	border-color:#ea452e;
	color:#FFFFFF;
}
.home-bbox {
	color:#FFFFFF;
	background-color:rgba(0, 0, 0, 0.39);
	padding:10px;
	font-weight:600;
	font-size:14px;
}
.mbot {
	margin-bottom:20%;
}
.dark-gray-wraper {
	background:#333333;
	padding:4% 0%;
}
.text-warning {
	color:#ea452e!important;
}
address p {
	color:#CCCCCC;
	font-size:14px;
	font-family:'PT Sans', sans-serif;
}
.contact_dog p {
	color:#fff;
}
.dark-gray-wraper h3 {
	color:#fff;
}
.contact_dog .col-sm-offset-1 {
	margin-left:2.33333%;
}
.main-carousel {
	background:none;
}
.slide1 {
	background:url("../images/home-banner-new.jpg") no-repeat;
	background-size:100% auto;
	height:408px;
	width:100%;
}
.home-h1 {
	color:#e44d02;
	font-size:50px;
	font-weight:700;
}
.white-p {
	color:#173980;
	font-size:20px;
	font-weight:700;
}
#myCarousel .col-md-6 {
	bottom:27%;
	position:absolute;
}
#myCarousel hr {
	border-color:#173980;
	border-width:2px;
	float:left;
	width:90px;
}
@media(max-width:500px) {
.home-h1, .white-p {
 display:none;
}
}
/*Main Carousel Changes - Suneel*/
.main-carousel .carousel {
	margin: 0 !important;
	width: 100% !important;
}
#carousel-example-generic .item.active {
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size:100%;
	background-size:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position: cover;
	max-width: 100%;
}
#carousel-example-generic img.img-responsive {
	width:100%;
}
.main-carousel .carousel-caption {
	left:18%;
	bottom:30px;
}
.main-carousel .carousel-caption h1 {
	color: #ea452e;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	font-stretch: expanded;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	line-height:1.25;
}
.main-carousel .carousel-caption .lead {
	color: #24408a;
	font-weight: 800;
	line-height: 1.25;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.main-carousel .carousel-caption > hr {
	border-color: #173980;
	border-width: thick;
	float: left;
	width: 100px;
}
@media ( min-width : 768px) and (max-width: 1028px) {
 .main-carousel .carousel-caption h1 {
 font-size:40px;
 font-weight:500;
}
 .main-carousel .carousel-caption {
 bottom:0;
}
}
@media ( min-width : 600px) and (max-width: 991px) {
 .logos-video .hvideo {
 left:25%;
}
}
/*END of Main Carousel Changes - Suneel*/
blockquote {
	border-style:solid;
	border-width:1px 0 1px 20px;
	border-image:url(../images/curly.png) 1 20 stretch;
	padding-left:0.5em;
	font-size:14px;
}
.text-info a {
	font-size: 14.5px;
}
.readmore .text-info a {
	color:#fb5000;
}
.shortreview {
	height:156px;
	overflow:hidden;
}
.fullreview {
	height:auto;
	overflow:visible;
}
.testimonials blockquote {
	margin-bottom:5px;
}
#testimonials-rotate .footercontrols {
	position: absolute;
	right: 0;
	top: -12px;
}

.port-inner-header .row .row .col-md-6 {
    margin-bottom: 70px;
}
.port-inner-header .h2 {
    font-weight: 600;
}

.phone-box {
    background: #fd5000;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    padding: 10px;
}
.phone-box h2, .phone-box h3 {
    color: #fff;
    margin: 0;
    padding: 0;
}
.blue-testi{
	background:#003865;
	color:#fff;
	padding:40px 0;
	font-family: 'Abel', sans-serif;
	box-shadow:inset 0 0 100px rgba(0,0,0,0.3);
}
.blue-testi .h3{
	margin:30px 0 50px 0;
	font-family: 'Abel', sans-serif;
	font-size:26px;
	font-style:italic;
	text-transform:none;
	line-height:36px;
	letter-spacing:1px;
}
/*03-09-2014 Video Testimonails Page*/
.hght190{ height:122px; overflow:hidden; margin: 10px 0;}
.hghtauto{ height:auto; overflow:visible; margin: 10px 0;}
audio{ margin:10px 0; }
.getAdonMap{font-size:12px;}
.overlaycase-txt{
    font-size: 19px;
    line-height: 28px;
    margin: 14% auto 0;
	width:97%
}
.overlaycase-txt a{
	color:#fff;
}

.sortby {
    border-radius: 0;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 180px;
}
.sortby span {
    position: absolute;
    right: 10px;
    top: 8px;
}
.sortby + ul {
    background:#ed9c28;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    left: 0;
    margin-top: 0;
}
.sortby + ul .dropdown-header {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: -8px;
}
.sortby + ul a {
    color: #fff;
}
.v-center > [class*="col-"]{
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.iphone-transfer {
    height: auto;
    margin-left: 3px;
    margin-top: 2px;
    width: 21px;
}
.str-box .services img {
    margin-top: 13px;
}
.testimonial-category-filter {
    margin-bottom: 20px;
}
.testimonial-category-filter a {
	margin:0 5px 10px;
	border-radius:0;
}
.full-box-link {
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
/*z-index: 99999;*/
}