/*Default styles*/
.png{
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=ie8-logo.png,sizingMethod='crop');
}
a,a:hover,a:focus,a:active{
	text-decoration:none;
	outline:none;
}
ul{
	padding:0;
	margin:0;
}
ul li{
	list-style-type:none;
}
::-moz-selection {
	background: #3DCDCD;
	text-shadow: none;
	color:#FFF;
}
::-webkit-selection {
	background: #3DCDCD;
	text-shadow: none;
	color:#FFF;
}
::-o-selection {
	background: #3DCDCD;
	text-shadow: none;
 	color:#FFF;
}
::-ms-selection {
 	background: #3DCDCD;
 	text-shadow: none;
 	color:#FFF;
}
::selection {
	background: #3DCDCD;
	text-shadow: none;
	color:#FFF;
}
/*Default styles*/
/*Bootstrap Navbar*/
.navbar-default{
	border: none;
	z-index: 1004;
	background: rgba(0,0,0,0);
}
.navbar-default .navbar-nav a {
	border-radius: 3px;
	margin: 0px !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: rgba(0,0,0,0);
}
/*Bootstrap Navbar*/