.wrapper {
	font: 14px/22px "PT Sans", sans-serif;
}
/*banner*/
.banner {
	background: #16c4c2;
	/*padding: 32px 0 0;*/
}
/*banner*/
/*page title*/
.page_title {
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	background: #353535;
	line-height: 50px;
	padding:20px 0;
	color: #16C4C2;
	text-align: center;
	text-transform:uppercase;
}
.page_title p {
    color: #ff6600;
    font-size: 37px;
    font-weight: lighter;
    margin: 0;
}
.page_title .container,.page_title .container p{
	padding-left:0;
	padding-right:0;
}
/*page title*/
/*main content 1*/
.main_content1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	padding: 60px 0 30px 0;
	color: #ff6600;
	text-transform: uppercase;
}
.main_content1 p {
	font-family: 'Bitter', serif;
	color: #999;
	font-size: 17px;
	line-height: 30px;
}
.main_content1 ul {
	padding: 85px 0 120px;
}
.main_content1 ul li {
    background: none repeat scroll 0 0 #eee;
    border-left: 3px solid #f00;
    color: #666666;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 10px 54px;
    position: relative;
	padding: 24px 20px; 
	font-size:14px;
}
.main_content1 ul li:before {
    background: url("../images/content_list_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    left: -54px;
    position: absolute;
    top: 0;
    width: 51px; 
	height: 66px; 
}
/*main content 1*/
/*main carousel*/
.carousel-inner>.item>img {
/*min-width: 1278px;*/
width: 100%;
height: auto;
}
section.carousel {
	border-bottom: 1px solid #443941;
}
.carousel .img-resposnive{
	width:100%;
}
#caseStudyCarousel .carousel-caption {
	top: 10%;
	left: 0;
	width:auto;
	right:0;
}
#caseStudyCarousel .carousel-caption {
	/*background:url(../images/home_content2_bg.jpg) center center no-repeat;
	padding:164px 0 519px 0;*/
	color: #666666;
	text-shadow: none;
	text-align: left;
}
#caseStudyCarousel .carousel-caption h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	margin-bottom: 30px;
	line-height: 50px;
	margin-top:0;
	text-transform:none;
	color:inherit;
}
#caseStudyCarousel .carousel-caption p {
	font-size: 18px;
	line-height: 28px;
}
#caseStudyCarousel .carousel-control.right, #caseStudyCarousel .carousel-control.left {
	background: none;
}
.carousel .item:nth-child(1) #caseStudyCarousel .carousel-caption {
	color: #FFF !important;
}
/*main carousel*/
/*main content 2*/
.main_content2 {
	background: url(../images/home_content3_bg.jpg) center center no-repeat;
	padding: 80px 0 60px;
}
.main_content2 h1 {
	font-family: 'Oswald', sans-serif;
	color:#ff6600;
	font-size: 36px;
	margin-bottom: 20px;
	line-height: 50px;
}
.main_content2 p {
	color: #999;
	font-family: 'Bitter', serif;
	font-size: 17px;
	line-height: 24px;
}
.main_content2 p:nth-child(2) {
	padding-bottom: 5px !important;
}
/*.main_content2 .pull-right{
	position:relative;
	left:20%;
}*/

/*main content 2*/
/*statictis*/
.stats{
	background: #3dcdcd;
	padding: 70px 0;
}
.graphs > div {
    align-self: center;
    text-align: center;
}
.graphs p{
	font-size:20px;
	text-align:center;
	color:#fff;
	margin-top: 10px;
    text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	margin-bottom: 50px;
}
.graphs p span{
	font-weight:bold;
	color:#0068a4;
}
.traffic{
	font-family: 'Oswald', sans-serif;
	border:1px solid #669062;
	margin:60px 0 70px 0;
	text-align:center;
}
.traffic > h1{
	position:relative;
	text-align:center;
	top:-30px;
	color:#FFF;
	background:#3dcdcd;
	width:auto;
	margin:0 auto;
    color: #fff;
    font-family: inherit;
    text-align: center;
    text-transform: none;
	display: inline;
	padding: 20px;
}
.traffic ul{
	height:auto;
}
.traffic ul li{
	float:none;
	text-align:center;
	padding:0 10px;
	border-left: 1px solid #669062;
	width:20%;
	display:inline-table;
	margin-bottom:30px;
}
.traffic ul li:nth-child(1){
	border:none;
}
.traffic ul li h1,.traffic ul li h2{
	font-size:6em;
	color:#fff;
	float:none;
	font-family: inherit;
    font-size: 82px;
	display:inline-block;
}
.traffic ul li h2 {
    font-size: 57px;
    margin-top: 14px;
    padding-bottom: 0;
	vertical-align:top;
}
.traffic ul li p {
    clear: both;
    color: #fff;
    font-family: "PT Sans", "OsWald", sans-serif;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
}
.traffic ul li:last-child h1, .traffic ul li:last-child h2, .traffic ul li:last-child p {
    color: #fff;
}
/*statictis*/
/*Products*/
.products a{
	display:block;
}
.products p{
	color:#003366;
	margin:40px 0 0;
}
.products h3{
	color:#fd5000;
	margin:0 0 40px 0;
}
.products .pull-right{
	text-align:right;
}
/*Products*/
/*media queries*/
@media screen and (min-width:1500px){
#caseStudyCarousel .carousel-caption{
	width:auto;
	left: 0;
}
}
@media screen and (min-width:992px) and (max-width:1170px){	
#caseStudyCarousel .carousel-caption {
	top: 7%;
}
}
@media screen and (min-width:992px) and (max-width:1075px){
.social-links{
	width:50%;
}
.social-btns{
	width:48%;
}
}
@media screen and (min-width:992px) and (max-width:1115px){
#chart_1{
	left:0;
	width:100%;
}
}
@media screen and (min-width:992px) {
.main_content2 .main_data{
	position:absolute;
	top:-365px;
	left:15%;
}
.mini_container {
	width: 1000px;
}
.top_head.sticky {
	position: fixed;
	font-size: 24px;
	line-height: 48px;
	height: 75px; 
	width: 100%;
	background:rgba(247,247,247,.7);
	text-align: left;
	padding-left: 20px;
	z-index:999999999;
	box-shadow:0 0 3px #666;
}
.top_head.sticky .top_link {
	display:none;
}
.top_head.sticky .logo img{
	width:70%;
	margin-top:5px;
}
.top_head.sticky .navbar{
	margin-top:27px;
}
/*sticky*/
.footer_btm {
	bottom: 0;
	position: fixed;
	z-index: 999;
}
}

@media screen and (min-width:768px) and (max-width:991px){
.mini_container{
	width:100%;
}
.social-links > div{
	margin-bottom:20px;
}
.text-right a.btn-warning{
	text-align:center;
}
.footer_btm {
	position:static;
}
.page_title{
	font-size:30px;
	line-height:50px;
	padding:13px 0;
}
.main_content1 h1{
	padding:50px 0 40px 0;
}
.main_content1 ul{
	padding:30px 0;
}
#caseStudyCarousel .carousel-caption{
	width:auto;
	left:0;
	top:5%;
}
.main_content2 {
	background: url(../images/home_content3_bg_tab.jpg) center center no-repeat;
	padding:100px 0 170px;
}
#chart_1{
	left:0;
	width:100%;
}
.traffic ul{
	height:auto;
}
.traffic ul li{
	width:33.3%;
	margin-bottom:20px;
	text-align:center;
}
.traffic ul li:nth-child(4){
	border:none;
}
.social-links > div >div{
	padding-bottom:10px;
}
.social-btns div div{
	width:208px;
	float:left;
}
.social-btns a{
	float:left;
}
}

@media screen and (max-width:767px){
.logo img{
	margin:20px auto;
}
.top_link{
	float:none !important;
	text-align:center;
	height:40px;
}
.navbar{
	margin-bottom:10px;
}
.navbar-default .navbar-toggle{
	background:#fd5000;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background:#3dcdcd;
}
.navbar-default .navbar-toggle .icon-bar{
	background:#FFF;
}
.navbar-default .nav > li > a{
	padding:5px 0 5px 16px;
}
.page_title{
	font-size:26px;
	line-height:40px;
	padding:10px 0;
}
.main_content1 h1{
	padding:40px 0 30px 0;
}
.main_content1 ul{
	padding:60px 0 50px;
}
#caseStudyCarousel.carousel-control{
	display:none;
}
#caseStudyCarousel .carousel-caption{
	padding:0;
	left:0;
	width:auto;
	height:auto;
}
/*.carousel img{
	position:relative;
	max-width:150% !important;
	left:-10%;
}*/
#caseStudyCarousel .carousel-caption h1{
	margin-bottom:10px;
	text-shadow:1px 1px 1px #DDD;
}
.carousel .item:nth-child(2) #caseStudyCarousel .carousel-caption h1{
	text-shadow:1px 1px 1px #333;
}
#caseStudyCarousel .carousel-caption p{
	text-shadow:1px 1px 1px #DDD;
}
.carousel .item:nth-child(2) #caseStudyCarousel .carousel-caption p{
	text-shadow:1px 1px 1px #333;
}
.main_content2 {
	background: url(../images/home_content3_bg_mob.jpg) center center no-repeat;
	padding:80px 0 80px;
}
#chart_1{
	left:0;
	width:100%;
}
.traffic ul{
	height:auto;
}
.traffic ul li{
	width:50%;
	text-align:center;
	height:170px;
	margin-bottom:20px;
}
.traffic ul li:nth-child(3),.traffic ul li:nth-child(5){
	border:none;
}
.social-links > div{
	margin-bottom:10px;
}
.social-btns a{
	float:left;
}
.social-btns div{
	float:none;
}
.social-btns a{
	float:left;
	margin-bottom:10px;
}
.social-links > div div{
	margin-bottom:10px;
}
}
@media screen and (max-width:480px){
/*.main_content1 ul li:before {
	background: url(../images/content_list_icon_mob.png);
	left: -30px;
	width: 30px;
	height: 37px;
}*/
/*.carousel img{
	max-width:190% !important;
	left:-50%;
}*/
#caseStudyCarousel .carousel-caption h1{
	font-size:30px;
	line-height:40px;
}
.main_content2 {
	padding:40px 0;
}
.main_content2 p{
	text-shadow:1px 1px 1px #CCC;
}
#chart_1{
	left:0;
	width:100%;
}
.traffic ul{
	height:auto;
}
.traffic ul li{
	width:100%;
	border:none;
}
.social-btns a{
	float:none;
	margin-bottom:10px;
}
}
/*@media screen and (min-width:360px) and (max-width:390px){
.carousel img{
	max-width:240% !important;
	left:-60%;
}
}
@media screen and (min-width:320px) and (max-width:350px){
.carousel img{
	max-width:290% !important;
	left:-60%;
}
}*/
/*media queries*/
.custom-carousel .col-md-6 {
    position: relative !important;
}

@media (max-width:991px){
	#caseStudyCarousel .carousel-caption{
		position:relative;
		top:10px;
		margin-bottom:30px;
	}
	.carousel-indicators{ bottom:0 !important;}
	.abs-container{ background:inherit;}
   .carousel .item:nth-child(1) #caseStudyCarousel .carousel-caption {
	 color: #666666 !important;
   }
}
@media (min-width:768px) and (max-width:991px){
#caseStudyCarousel .carousel-caption {
    margin-bottom: 0 !important;
    position: absolute !important;
    top: 10px !important;
}
#caseStudyCarousel .item:nth-child(1) .carousel-caption {
	 color: #fff !important;
}
#caseStudyCarousel .carousel-caption h1{
	font-size: 20px !important;
    line-height: 25px !important;
    margin-bottom: 15px !important;
	
}
#caseStudyCarousel .carousel-caption p {
    font-size: 13px !important;
    line-height: 15px !important;
}
}
.carousel-indicators li{ border:1px solid #333;}
.carousel-indicators .active{ background-color:#ccc;}
#caseStudyCarousel .carousel-control {
    bottom: auto;
    padding: 0 10px;
    width: auto;
}
#caseStudyCarousel .carousel-control.right {
    background-color: rgba(0,0,0,0.6) !important;
    margin-top: 30%;
    outline: medium none;
}
#caseStudyCarousel .carousel-control.left {
    background-color: rgba(0,0,0,0.6) !important;
    margin-top: 30%;
    outline: medium none;
}
.main_content1 {
    background: none repeat scroll 0 0 #fff;
}
.wireframe {
    color: #333333;
	margin-top:5%;
}
.graphs > div img {
    display: inline;
	text-align:center;
	
}
.white {
    color: #fff !important;
}
.blue {
    font-weight: normal !important;
}
.main_content2 .main_data ul {
    padding: 0 !important;
}
.main_content2 .main_data ul li {
    color: #999999;
    font-family: "Bitter",sans-serif;
    font-size: 16px;
    line-height: 40px;
    list-style: outside none none;
    margin-bottom: 15px;
	position:relative;
}
.main_content2 .main_data ul li:before{ 
background:url("../images/arrow-cs.png") #f00 1px -5px no-repeat;
width:43px;
height:43px;
content:"";
position:absolute;
left:0;
top:0;
border-radius:100%;
}
.main_content2 .main_data ul li span {
line-height: 22px;
margin-bottom: 0;
display: inline-block;
}
.lineicons > div {
    position: relative;
}
.lineicons {
    margin-top: 9.5%;
	position:relative
}
.respicons {
    border: 1px solid #00cccc;
    border-radius: 100%;
    color: #00cccc;
    font-size: 30px;
    height: 84px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 84px;
}
.lineicons div > p {
    color: #ff6600;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    text-align: center;
	font-family:"Bitter",serif;
}
.wireframeslideicons {
    color: #00cccc;
    margin-top: 9%;
    position: relative;
    text-align: center;
}
.main_content2 ul li i {
    background: linear-gradient(to bottom, #99cccc 0%, #99cccc 43%, #66cccc 63%, #66cccc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #66cccc;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin: 0 10px 0 0;
    padding: 2px;
}
@media (max-width:420px){
.wireframeslideicons .fa-5x {
font-size: 3.5em;
}
}
@media (min-width:992px) and (max-width:1193px){
#caseStudyCarousel .carousel-caption{
	left:0;
}
}
@media (min-width:992px){
#caseStudyCarousel .item:first-child h1, #caseStudyCarousel .item:first-child .carousel-caption{color:#fff;}
}
.main_content2 ul li {
padding : 0 0px 0 60px;
position: relative;
}
.main_content2 ul li i {
position: absolute;
left: 0;
top: 1px;
}
#caseStudyCarousel .carousel-control {
    z-index: 99;
}
.gasbannercontent {
    color: #ffcc00;
    font-weight: 700;
    left: 50px;
    right: 0 !important;
}