$primery-font: 'Poppins', sans-serif;
$secoundry-font: 'Raleway', sans-serif;
$primery-color: #ff6633;
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #bc2a8d;


body{
	//font-family: $primery-font;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
}

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

header{
	background-image: url('../../images/mainbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 50px;
	width: 100%;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
	padding-bottom: 20px;

	nav{
		min-height: 130px;
		border-bottom: solid thin #ccc;
	}

	h1{
		font-size: 72px;
		font-family: $primery-font;
		font-weight: bold;
		color: #fff;
		text-align: center;
		line-height: 1.2;
		padding: 40px 15%;

		@include breakpoint(mobileonly) {
			font-size: 30px;
			padding: 0;
		}
	}

	.h_services{
		width: 100%;
		padding: 80px 0;

		.box{
			width: 100%;
			float: left;
			min-height: 100px;
			text-align: center;
			color: #fff;
			padding: 30px 10px;

			h4{
				font-family: $primery-font;
				font-weight: 600;
				font-size: 24px;
			}

			p{
				font-size: 14px;
				font-family: $secoundry-font;
				font-weight: 500;
				line-height: 1.8;
			}

			a{
				color: #fff;
				font-size: 14px;
				border: solid thin #fff;
				border-radius: 10px;
				padding: 5px 15px;
				text-transform: uppercase;
				margin-top: 10px;

				&:hover, &:active, &:focus{
					text-decoration: none;
				}
			}
			&:hover{
				background-color: $primery-color;
			}
		}

		@include breakpoint(mobileonly) {
			padding: 0;
		}
	}
}

.o_line{
	width: 4px;
	height: 80px;
	background-color: $primery-color;
	margin: 25px auto 10px;
	display: block;
}

.line {
    border-bottom: 1px solid #8c9397;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 163px;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.header-group{
	margin-bottom: 40px;

	h4{
		color: $primery-color;
		text-align: center;
		font-size: 48px;
		font-weight: 300 !important;
		font-family: $primery-font;

		span{
			font-weight: 600;
		}

		@include breakpoint(mobileonly) {
			font-size: 40px;
		}
	}

	p{
		font-size: 14px;
		color: #666666;
		text-align: center;
		font-family: $primery-font;
		line-height: 2;
	}
}

.featured_block{
	padding: 0;

	.dcw-works {
	    margin: 0 auto;

	    ul {
		    list-style: none;
		    padding: 0;
		    pointer-events: none;
		    display: flex;
		    justify-content: center;
		    text-align: center;
    		zoom: 1;

		    li{
		    	padding-left: 5px;
		    	list-style-type: none;
    			margin: 0 10px 10px 0;
    			float: left;
    			padding: 0;
    			background-color: #19272F;

    			&:hover{
    				ms-animation: icons .3s 2;
				    -moz-animation: icons .3s 2;
				    -webkit-animation: icons .3s 2;
				    animation: icons .3s 2;
				    cursor: default;
    			}
		    }
		}

	    .portfolio-box {
		    display: block;
		    position: relative;
			
			&:hover .portfolio-box-caption{
				opacity:1;
			}

			.portfolio-box-caption {
			    display: block;
			    position: absolute;
			    bottom: 0;
			    width: 100%;
			    height: 100%;
			    text-align: center;
			    color: #fff;
			    opacity: 0;
			    background: #19272f;
			    -webkit-transition: all .6s ease-in-out;
			    -moz-transition: all .6s ease-in-out;
			    transition: all .6s ease-in-out;

				.portfolio-box-caption-content {
				    top: 0;
				    bottom: 0;
				    margin: auto;
				    position: absolute;
				    width: 100%;
				    text-align: center;
				    z-index: 0;
				    height: 320px;
				}

				.project-category{
					min-height: 110px;

					h2{
						a{
							font-size: 40px;
							font-family: $primery-font;
							text-decoration: none;
						    text-transform: none;
						    color: #fff;
						}
					}
					a{
						font-family: $secoundry-font;
					    font-size: 15px;
					    font-weight: 300;
					    text-decoration: none;
					    text-transform: none;
					    color: #fff;
					}
				}

				.project-name {
				    font-size: 21px;
				    padding: 0 15px;
					font-family: $secoundry-font;
					margin: 0 auto;
					width: 273px;

					.taxonomy-images-the-terms{
    					&:before, &:after{
						    clear: both;
						    content: "\0020";
						    display: block;
						    height: 0;
						    visibility: hidden;
    					}
    				}

    				p{
    					border: 1px solid;
					    display: inline-block;
					    font-family: $primery-font;
					    font-size: 18px;
					    padding: 5px 22px;
					    margin-bottom: 20px;
					    line-height: 1.5;
					    text-decoration: none;

					    a{
					    	text-decoration: none;
					    	color: #fff;
					    }

					    &:hover a{
					    	color: $primery-color;
					    }

					    &:hover{
					    	border: 1px solid $primery-color;
					    	color: $primery-color !important;
					    }
    				}

    				img {
					    margin: 0;
					    padding: 0;
					    width: 66px;
					    height: 66px;
					    float: left;
					}
				}
			}	
		}
	}

	.taxonomy-images-the-terms{	
		li{
			&:hover {
			    //@include animation('icon 3s 2');
			    cursor: default
			}
		}
	}
}

#portfolio{
	.line{
		top: 173px;
	}
}




@-ms-keyframes icons {
    0% {
        -ms-transform: rotate(3deg)
    }
    50% {
        -ms-transform: rotate(-3deg)
    }
    100% {
        -ms-transform: rotate(3deg)
    }
}

@-moz-keyframes icons {
    0% {
        -moz-transform: rotate(3deg)
    }
    50% {
        -moz-transform: rotate(-3deg)
    }
    100% {
        -moz-transform: rotate(3deg)
    }
}

@-webkit-keyframes icons {
    0% {
        -webkit-transform: rotate(3deg)
    }
    50% {
        -webkit-transform: rotate(-3deg)
    }
    100% {
        -webkit-transform: rotate(3deg)
    }
}

@keyframes icons {
    0% {
        transform: rotate(3deg)
    }
    50% {
        transform: rotate(-3deg)
    }
    100% {
        transform: rotate(3deg)
    }
}



@mixin keyframe ($icon) {
    @-webkit-keyframes $icon {
        @content;
    }

    @-moz-keyframes $icon {
        0% {
	        -ms-transform: rotate(3deg);
	    }
	    50% {
	        -ms-transform: rotate(-3deg);
	    }
	    100% {
	        -ms-transform: rotate(3deg);
	    }
    }

    @-o-keyframes $icon {
        0% {
	        -ms-transform: rotate(3deg);
	    }
	    50% {
	        -ms-transform: rotate(-3deg);
	    }
	    100% {
	        -ms-transform: rotate(3deg);
	    }
    }

    @keyframes $icon {
        0% {
	        -ms-transform: rotate(3deg);
	    }
	    50% {
	        -ms-transform: rotate(-3deg);
	    }
	    100% {
	        -ms-transform: rotate(3deg);
	    }
    }
}


.dcw_counts{
	@extend header;	
	padding: 30px 0;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8) !important;

	.count{
		color: #fff;
		margin: 20px 0;

		h4{
			font-size: 48px;
			font-family: $primery-font;
			text-align: center;
			font-weight: bold;
			margin-bottom: 0;
		}
		h5{
			margin-top: 0;
			text-transform: uppercase;
			text-align: center;
		}
	}
}

.our-result{
	margin: 0 0 40px;

	.container-fluid{
		//max-width: 1330px;
	}

	.item{
		padding: 0 130px;
		@include breakpoint(mobileonly) {
			padding: 0;
		}
	}

	.carousel-control.left, .carousel-control.right{
		background: none !important;
	}

	.carousel-control{
		color: $primery-color;
		text-shadow: none;
		width: auto;
	}

	.result-text{
		padding-right: 80px;

		h4{
			font-family: $secoundry-font;
			font-size: 24px;
			font-weight: 600;
			font-style: italic;
			padding-right: 30px;
			line-height: 1.3;
			margin-bottom: 20px;
		}

		p{
			font-family: $secoundry-font;
			font-size: 16px;
			color: #333;
		}
	}
	.text-right{
		line-height: 50px;
		color: #333;
		font-family: $secoundry-font;
		font-size: 14px;
		font-weight: bold;
		margin: 20px 0;
		img{
			float: right;
			margin-left: 15px;
			width: 50px;
		}
	}
	img{
		display: block;
		margin: 0 auto;
	}
}

.press_awards{
	padding: 10px 0;
	background-color: #666666;
	min-height: 50px;
	
	.o_line{
		background-color: #fff;
	}

	h4, P{
		color: #fff;
	}

	.table{
		tr{
			&:first-child{
				td{
					border-top: none;
				}
			}
			&:last-child{
				td{
					border-bottom: none;
				}
			}
			@include breakpoint(mobileonly){
				display: block;
				float: left;
				width: 100%;
			}
			td{
				vertical-align: middle;
				text-align: center;
				border: solid thin #777;
				min-height: 150px;
				img{
					opacity: 0.5;
					display: block;
					margin: 0 auto;
				}
				&:hover{
					img{
						opacity: 1;
					}
				}
				&:first-child{
					border-left: none;
				}
				&:last-child{
					border-right: none;
				}
				@include breakpoint(mobileonly){
					display: block;
					float: left;
					width: 100%;
					border: none;
					padding: 15px;
				}
			}
		}
	}
}

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow:$top $left $blur $color;
	-moz-box-shadow:$top $left $blur $color;
	box-shadow:$top $left $blur $color;
}

.ourcustomer{
	.box{
		float: left;
		width: 100%;
		margin: 10px;
		@include box-shadow(0px, 0px, 8px, #ccc);
		min-height: 20px;
		padding: 10px 20px;
		img{
			width: 130px;
			margin-bottom: 20px;
		}
		p{
			font-size: 16px;
			color: #333;
			font-family: $secoundry-font;
		}
		p.text-right{
			font-weight: bold;
		}
	}
	.google-icon{
		display: block;
		max-width: 150px;
		margin: 20px auto;
	}
}

.video_gallery{
	padding: 10px 0;
	background-color: #666666;
	min-height: 50px;
	
	.o_line{
		background-color: #fff;
	}

	h4, P{
		color: #fff;
	}

	.item{
		padding: 0 120px;
		@include breakpoint(mobileonly){
			padding: 0;
		}

		.video-thumb{
			padding: 5px 5px;
			overflow: hidden;
			position: relative;

			&:first-child{
				padding-bottom: 0;
				.video_overlay{
					margin-bottom: 0;
				}
			}

			&:hover{
				.video_overlay{
					opacity: 1;
				}				
			}

			.video_overlay{
				position: absolute;
				opacity: 0;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(255, 102, 51, 0.8);
				margin: 5px;

				.overlay-text{
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 10px;

					h5{
						color: #fff;
						font-size: 14px;
						font-family: $primery-font;
						font-weight: 500;
						margin: 0;
						line-height: 1.8;
					}
					p{
						font-size: 12px;
						font-family: $primery-font;
						margin: 0;
					}
				}
			}
		}

		img{
			width: 100%;
		}
	}

	.carousel-control{
		text-shadow: none;
		width: auto;
		color: #fff;
	}

	.view-all{
		display: block;
		text-align: center;
		margin: 20px 0;
		.btn-default{
			margin: 0 auto;
			display: inline-block;
			color: #fff;
			background-color: $primery-color;
			font-family: $primery-font;
			text-transform: uppercase;
			font-weight: 500;
			border: none;
			padding: 7px 20px;
			height: 39px;
			width: 143px;
			font-size: 18px;
		}
	}
}

.connect_with{
	.digonal {
	    margin: 110px auto 0
	}

	.innovativetxt {
	    font-family: $primery-font;
	    font-size: 1em
		
		a{
			&:hover {
		    	color: #23527D
			}
		}
	}

	.flag{
		position: relative;
		display: block;
		height: 100px;
		float: left;
		width: 100%;

		img{
			display: block;
			margin: 0 auto;
			position: absolute;
		    top: -160px;
		    left: 255px;
		}
	}

	.service_icons{
		text-align: center;

		img{
			position: relative;
		}

		.btn{
			display: inline-block;
			line-height: 70px;
			font-size: 30px;
			font-family: $secoundry-font;
			width: 219px;
			padding: 0;
			height: 70px;
			border: solid thin $primery-color;
			text-align: center;
			margin-top: 20px;
			color: $primery-color;

			&:hover{
				background: none;
			}
		}
	}
	
	.triangleup {
	    padding: 20px 40px;
	    color: #fff;
	    position: relative;
	    text-align: center;
	    max-width: 590px;
	    margin: -30px auto 0;
	    min-height: 240px;
		
		a{
		    color: #fff;
		    display: block;
		    font-size: 22px;
		    font-family: $secoundry-font;
		    font-weight: 500;
		    position: absolute;
		    top: 0;
		    padding: 115px 0 33px;
		    width: 100%;
		    left: 2px;
		    text-transform: capitalize;

		    &:hover, &:active, &:focus{
		    	text-decoration: none;
		    }
		}

		.sub_subtitle {
		    z-index: 9999;
		    margin: 0 auto;
		    text-transform: capitalize;
		    display: block;
		}
		span {
		    position: relative;
		    font-size: 36px;
		    font-family: $secoundry-font;
		    font-weight: 400;
		    text-transform: capitalize;
			
			b {
			    text-transform: capitalize;
			    font-family: $primery-font;
			}
		}
		&:before, &:after {
		    bottom: 0;
		    left: 50%;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		}
		&:before {
		    border-color: rgba(194, 225, 245, 0);
		    border-bottom-color: #E7663F;
		    border-width: 260px;
		    margin-left: -260px;
		}
	}
}


footer{
	background-color: #333333;
	min-height: 100px;
	width: 100%;
	padding: 15px 0;

	h4{
		font-size: 14px;
		font-family: $primery-font;
		color: #fff;
		font-weight: bold;
		border-bottom: solid thin #efefef;
		line-height: 3;
		margin: 25px 0;
		text-transform: uppercase;
	}

	.quick-links{
		padding: 0;
		margin: 0;

		a{
			font-size: 14px;
			font-family: $primery-font;
			color: #999;
			line-height: 1.6;
			text-decoration: underline;
			font-weight: 500;
		}
	}

	address{
		color: #fff;
		font-size: 12px;
		font-family: $primery-font;
		margin: 20px 0;
		font-weight: 500;
		line-height: 1.8;
	}

	.social-icons{
		a{
			background: rgba(255,2555,255,0.05);
			border-radius: 5px;
			width: 32px;
			height: 32px;
			margin-right: 5px;
			float: left;
			text-align: center;
			i{
				color: #999;
				font-size: 20px;
				line-height: 32px;
			}
		
			&.s_facebook{
				&:hover{
					background: $facebook;
					i{
						color: #fff;
					}
				}
			}

			&.s_twitter{
				&:hover{
					background: $twitter;
					i{
						color: #fff;
					}
				}
			}

			&.s_google-plus{
				&:hover{
					background: $googleplus;
					i{
						color: #fff;
					}
				}
			}

			&.s_linkedin{
				&:hover{
					background: $linkedin;
					i{
						color: #fff;
					}
				}
			}

			&.s_youtube{
				&:hover{
					background: $youtube;
					i{
						color: #fff;
					}
				}
			}

			&.s_instagram{
				&:hover{
					background: $instagram;
					i{
						color: #fff;
					}
				}
			}

		}
	}

	.recent-blogs{
		padding: 0;
		margin: 0;

		li{
			padding-left: 40px;
			margin: 15px 0;
			position: relative;

			&:before{
				content: "\f138";
			    position: absolute;
			    left: 8px;
			    top: 2px;
			    font: normal normal normal 18px/1 FontAwesome;
			    color: #999;	
			}

			&:hover{
				&:before{
					color: #fff;
				}
			}

			a{
				color: #999;
				font-size: 12px;
				text-decoration: none;

				strong{
					font-size: 10px;
					line-height: 3;
				}
			}
		}
	}

	.twitter-words{
		padding: 0;
		margin: 0;

		li{
			padding-left: 40px;
			margin: 15px 0;
			position: relative;

			&:before{
				content: "\f138";
			    position: absolute;
			    left: 8px;
			    top: 2px;
			    font: normal normal normal 18px/1 FontAwesome;
			    color: #999;	
			}

			&:hover{
				&:before{
					color: #fff;
				}
			}

			a{
				color: #999;
				font-size: 12px;
				text-decoration: none;

				strong{
					font-size: 10px;
					line-height: 3;
				}
			}
		}
	}

	.newsletter{
		width: 100%;
		float: left;
		border: 7px solid rgba(255,2555,255,0.06);
		min-height: 100px;

		.lettercontent{
			padding: 20px;
			p{
				font-size: 11px;
				font-family: $primery-font;
				color: #999;
				text-align: center;
			}
			.form-control{
				width: 100%;
				background: none;
				border: solid 3px rgba(255,2555,255,0.06);
				padding: 20px 5px;
				margin: 10px 0;
				border-radius: 0;
				&:focus, &:active, &:hover{
					box-shadow: none;
					outline: none;
				}
			}
			.btn{
				margin: 10px 0 0;
				background-color: $primery-color;
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				text-align: center;
				border: none;
				width: 100%;
				padding: 12px 0;
			}
		}
	}

	.link-inline{
		font-size: 10px;
		color: #999;
		text-transform: uppercase;
		text-align: center;
		line-height: 3;
		font-family: $primery-font;
		text-decoration: none;
		a{
			font-size: 10px;
			color: #999;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
		}
	}
	.reserve-policy{
		text-align: center;
		line-height: 3;
		font-size: 12px;
		color: #999;
	}
	
}