@charset "utf-8";
/* CSS Document */

/* #Main Navigation
================================================== */

/* menu */
#menu-holder {
background: #fff;
position:relative;
}
#menu {
height: 44px;
padding:0;
font-family: 'Oxygen', arial, sans-serif;
font-weight: 400;
font-size: 15px;
}
#menu a {
font-size: 13px;
text-decoration: none;
}
#menu ul {
list-style: none;
margin: 0;
padding: 0;
}
#menu ul li {
margin-bottom: 0;
}
#menu > ul > li {
position: relative;
float: left;
z-index: 1015;
padding: 0px 2px 0px 0px;
background: url('images/main_nav_bgr_sep.png') right top no-repeat;
}
#menu > ul > li:hover {
}
#menu > ul > li > a {
color: #222;
text-shadow: 0 none;
line-height: 40px;
text-decoration: none;
display: block;
padding: 0px 16px 0px 16px;
z-index: 6;
position: relative;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
#menu > ul > li:hover > a {
background-color: #fff;
}
#menu > ul > li > a > span {
padding: 0px 0px 0px 14px;
background: url('images/arrow_down_tiny.png') right center no-repeat;
}
#menu > ul > li > a .home_icon {
width: 16px;
height: 40px;
padding:0;
display: block;
background: url('images/home_icon_dark.png') center center no-repeat;
}
#menu > ul > li > div {
display: none;
background: #FFFFFF;
position: absolute;
left: 0px;
z-index: 1020;
padding: 0px 0 5px;
background: url('images/menu_pale.png');
background-image: -moz-linear-gradient(#f8f8f8, #eeeeee);
background-image: -o-linear-gradient(#f8f8f8, #eeeeee);
background-image: -webkit-linear-gradient(#f8f8f8, #eeeeee);
background-image: linear-gradient(#f8f8f8, #eeeeee);
border-left: 1px solid #b2b2b2;
border-right: 1px solid #b2b2b2;
border-bottom: 1px solid #b2b2b2;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
-khtml-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
}
#menu > ul > li > div > ul {
display: table-cell;
border-top: 3px solid #e9e9e9;
padding-top: 7px;
}
#menu > ul > li ul + ul {
padding-left: 20px;
}
#menu > ul > li ul > li {
position:relative;
}
#menu > ul > li ul > li > a {
padding: 7px 0px 9px;
margin: 0 16px;
color: #222;
text-shadow: 0px 1px 0px #fff;
display: block;
white-space: nowrap;
min-width: 160px;
font-size: 13px;
background: url('images/main_nav_bgr_sep_vertical.png') bottom left repeat-x;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#menu > ul > li ul > li > a > span {
background: url('images/arrow_left_tiny.png') -20px center no-repeat;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#menu > ul > li ul > li > a:hover > span {
background: url('images/arrow_left_tiny.png') left center no-repeat;
padding-left: 12px;
}
#menu > ul > li ul > li > a.last_submenu_item {
padding: 7px 0px 7px;
background: none;
}
#menu > ul > li ul > li > a:hover {
text-decoration: none;
}
#menu > ul > li > div > ul > li > a {
color: #444;
}
/* Dark Nav */
.dark_menu {
background:#3A3A3A;
}
.dark_menu #menu {
/*background: #393b3c url('images/main_nav_bgr_dark.png') top left repeat-x;*/
}
.dark_menu #menu > ul > li > a .home_icon {
background: url('images/home_icon.png') center center no-repeat;
}
.dark_menu #menu > ul > li {
background: url('images/main_nav_bgr_sep_dark.png') right top no-repeat;
}
.dark_menu #menu > ul > li > a {
/*background: #393b3c url('images/main_nav_bgr_dark.png') top left repeat-x;*/
color: #fff;
text-shadow: 0 none;
-moz-border-radius: 4px 4px 0px 0px;
-webkit-border-radius: 4px 4px 0px 0px;
-khtml-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
margin-top:4px;
}
.dark_menu #menu > ul > li:hover > a {
background: url('images/main_nav_bgr_dark_hover.png') top left repeat-x;
color: #343434;
}
.dark_menu #menu > ul > li > a:hover {
background: url('images/main_nav_bgr_dark_hover.png') top left repeat-x;
color: #343434;  /*border-left: 1px solid #b2b2b2;*/
}
.dark_menu #menu > ul > li > a > span {
background: url('images/arrow_down_tiny_dark.png') right center no-repeat;
}
.dark_menu #menu > ul > li > div {
background: #fff;/*background-image: -moz-linear-gradient(#58595a,#414344);
background-image: -o-linear-gradient(#58595a,#414344);
background-image: -webkit-linear-gradient(#58595a,#414344);
background-image: linear-gradient(#58595a,#414344);*//*border: 1px solid #3b3d3e;
border-top: 1px solid #212223;*/
}
.dark_menu #menu > ul > li > div > ul {
/*border-top: 3px solid #45494b;*/ border:0 none;
}
.dark_menu #menu > ul > li ul > li > a {
color: #343434;
}
.dark_menu #menu > ul > li ul > li > a {
background: url('images/main_nav_bgr_sep_vertical_dark.png') bottom left repeat-x;
}
.dark_menu #menu > ul > li ul > li > a > span {
background: url('images/arrow_left_tiny_dark.png') -20px center no-repeat;
}
.dark_menu #menu > ul > li ul > li > a:hover > span {
background: url('images/arrow_left_tiny_dark.png') left center no-repeat;
}
.dark_menu #menu > ul > li ul > li > a.last_submenu_item {
background: none;
}
/* Dark Nav : End */

/* 3rd level */
.subsub_menu {
display: none;
position: absolute;
top: -3px;
left:97%;
background: url('images/menu_pale.png');
background-image: -moz-linear-gradient(#f8f8f8, #eeeeee);
background-image: -o-linear-gradient(#f8f8f8, #eeeeee);
background-image: -webkit-linear-gradient(#f8f8f8, #eeeeee);
background-image: linear-gradient(#f8f8f8, #eeeeee);
border: 1px solid #ddd;
webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
z-index: 1021;
padding: 3px 0 3px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-khtml-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
}
.dark_menu .subsub_menu {
background: #4f5152;
background-image: -moz-linear-gradient(#58595a, #414344);
background-image: -o-linear-gradient(#58595a, #414344);
background-image: -webkit-linear-gradient(#58595a, #414344);
background-image: linear-gradient(#58595a, #414344);
border: 1px solid #3b3d3e;
box-shadow: none;
}
.custom_menu .subsub_menu {
background: url('images/menu.png') top left;
border: none;
box-shadow: none;
left: 100%;
}
/*
#menu > ul > li ul > li.active {
position: relative;
}*/
/* 3rd level : End */


/* 4rd level */
.subsubsub_menu {
display: none;
position: absolute;
top: -3px;
left:97%;
background: url('images/menu_pale.png');
background-image: -moz-linear-gradient(#f8f8f8, #eeeeee);
background-image: -o-linear-gradient(#f8f8f8, #eeeeee);
background-image: -webkit-linear-gradient(#f8f8f8, #eeeeee);
background-image: linear-gradient(#f8f8f8, #eeeeee);
border: 1px solid #ddd;
webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
z-index: 1021;
padding: 3px 0 3px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-khtml-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
}
.dark_menu .subsubsub_menu {
background: #4f5152;
background-image: -moz-linear-gradient(#58595a, #414344);
background-image: -o-linear-gradient(#58595a, #414344);
background-image: -webkit-linear-gradient(#58595a, #414344);
background-image: linear-gradient(#58595a, #414344);

border: 1px solid #3b3d3e;
}
.custom_menu .subsubsub_menu {
background: url('images/menu.png') top left;
border: none;
box-shadow: none;
left: 100%;
}
/* 4rd level : End */
#select_menu {
display: none;
}
/* #Main Navigation :: END
================================================== */
