/*!
* Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/
html,body {-webkit-font-smoothing: antialiased !important;width: 100%;height: 100% !important;
font-family:'open sans',Arial,sans-serif; font-size:16px;}
@font-face {
font-family: 'ostrich_sansmedium';
src: url('../fonts/ostrichsans-medium-webfont.eot');
src: url('../fonts/ostrichsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
url('../fonts/ostrichsans-medium-webfont.woff') format('woff'),
url('../fonts/ostrichsans-medium-webfont.ttf') format('truetype'),
url('../fonts/ostrichsans-medium-webfont.svg#ostrich_sansmedium') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: "Flaticon";
src: url("../fonts/flaticon.eot");
src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.svg") format("svg");
font-weight: normal;
font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;

}.flaticon-play-button4:before {	content: "\e000";}
.menu-submenu li a:hover, a:focus {color: #fff;text-decoration: none;}
a {transition: all 0.4s ease 0s;}
.body-locked {margin-bottom: 480px;z-index: 9999 !important;background-color: #fff;margin-top: -30px;    position: relative;}
.gryclr {background-color: #f3f3f3;}
.blog-filter a.btn.btn-warning:focus {background-color: #ec971f !important;}
.mtop60{margin-top:60px;}
.ptop60{padding-top:60px;}
.mtop30{margin-top:30px;}
.ptop30{padding-top:30px;}
.mbtm30{margin-bottom:30px;}
.mbtm20{margin-bottom:20px;}
.mtop20{margin-top:20px;}
.pbtm20{padding-top:20px;}
.blog-box hr {border-top: 1px solid #cccccc;margin: 15px 5px !important;}
.team_blogs {color: #666666;}
.pp-up-logo{padding:0px; border:0px;}
.gry-clr {background: #f3f3f3 none repeat scroll 0 0;}
.blog-but {background: #666666 none repeat scroll 0 0;color: #ffffff;cursor: pointer;display: block;padding: 15px 0;text-align: center;}
.header-content-inner > .container{width:100%; padding-left:75px;}
.blog-box-inner a:focus{color: #fff;}
.blog-box-inner h2 a:focus {color: #333;}
span.label.label-default a:hover {color: #333;text-decoration: none;}
a.blog-but:hover {background-color: #e7663f;text-decoration: none;color: #fff;}
.blog-box-inner .label-default, .qa-blog-box-inner .label-default {
background: none repeat scroll 0 0 #e6e6e6;color: #999999;display: inline-block;margin-bottom: 1px;padding: 5px 10px;}
.info {font-size: 14px;min-height: 122px;overflow: hidden;}
.featured-box .hover-overlay {margin: 10% 0 14% -80px;}
.hover-overlay {left: 50%;margin: 20% 0 14% -80px;position: relative;width: 160px;}
.blog-filter .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning{background-color: #19272f;}
.case-txt {font-size: 22px;line-height: 36px;margin: 14% auto 0;width: 90%;}
.clients-box:hover .overlay, .featured-box:hover .overlay {opacity: 1;}
.overlay {
background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
bottom: 0;
color: #ffffff;
height: 454px;
left: 0;
margin-left: 15px;
opacity: 0;
position: absolute;
right: 0;
text-align: center;
top: 0;
transition: all 0.5s ease-in-out 0s;
width: 485px;
}
.kb-blog{margin-top: 50px;}
.graphs p {font-size: 20px;text-align: center;color: #fff;margin-top: 10px;text-align: center;margin-bottom: 50px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;}
.graphs>div img {display: inline;text-align: center;}
.graphs p span {color: #FFCC00;}
.graphs p span {font-weight: bold;color: #0068a4;}
.graphs>div {align-self: center;text-align: center;}
.banner-content2 h1 > img {max-width: 22%;margin-top: 20px;}
.banner-content2 h1 span {display: block;position: relative;right: 0px; font-size: 50px;}
.banner-content2 h1 {display: inline-block;float: right;font-family: "ostrich_sansmedium",serif;font-size: 36px;font-weight: lighter;text-transform: none;text-align: right;color: #666666;margin-top: 50px;}
.banner-content2 {left: 0;position: absolute;right: 0;top: 10%;}
.banner-content2 h1 > strong {color:#663366;}
.case-txt > a {
color: #ffffff;
text-decoration: none; font-size: 18px;
}
.case-txt > a:hover {
color: #ffffff; font-size: 18px;
text-decoration: none;
}
.glb-srg p {    color: #333 !important;}
.hover-overlay a {
color: #fff;
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.clients-box:hover .hover-overlay a i, .featured-box:hover .hover-overlay a i {
left: 0;
}
.hover-overlay a i {
float: left;
font-size: 70px;
position: relative;
left: -150%;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.case-stus h2 {
font-family: ostrich_sansmedium;
font-size: 50px;color:#F78260;
}
.case-stus {padding-bottom: 50px;}
.careers {font-size: 14px;color: #333;}
#posts .item:nth-child(3n+1) {clear: left; }
.service-boxes .service-box:hover img {
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
height: 0px;
}
.careers p {font-size:14px; color:#333;margin-bottom: 5px;}
.careers h2{font-family: ostrich_sansmedium;font-size: 40px;}
.careers ul li {list-style-type: disc;}
.team_blogs .caption h4 {background: #cccccc none repeat scroll 0 0;margin-bottom: 25px;margin-top: 0;padding: 10px;color:#fff;min-height: 60px;}
.careers {font-size: 14px;color: #666;background: #f3f3f3;}
.kb{background:#f3f3f3;}
.profile-image img {max-width: 360px;}
.thank-you h2 {font-family: ostrich_sansmedium;font-size: 50px;}
.team_blogs .thumbnail .caption{padding:0px 0px 0px 0px}
.team_blogs .thumbnail{background:none; border:0px; border-radius:none; padding:0px;cursor: pointer;}
.team_blogs .caption > p{color:#666;min-height: 70px;font-size: 14px;}
.kb h2{font-family: ostrich_sansmedium;font-size: 40px;}
.kb ul li {list-style-type: disc;font-size: 14px;color: #666;}
.team_blogs .caption > h4 span {color: #ffffff;font-weight: bold;}
.blog-box-inner.ind-blog-page .info P {height: auto;}
.blog-box-inner.ind-blog-page h2 {font-family: ostrich_sansmedium;font-size: 40px;}
.kb-single .container {margin-top: 40px;}
.kb-single {padding-top: 40px;background-color: #f3f3f3;padding-bottom: 70px;}
.team_blogs .caption h4:hover{background:#F78260;}
.ind-blog-page ul li {list-style-type: disc !important;}
.testimonial .icomoon-icon-play-2 {
position: absolute;
top: 20%;
left: 50%;
z-index: 99;
color: #E7663F;
font-size: 50px;
}
.team_page .carousel-control.right {background:none;}
.team_page .carousel-control.left{background:none;}
.service-box-content img {
margin: 0 auto;
margin-bottom: 10px;
}
.hover-overlay a span {
border-left: 1px solid #FFFFFF;
display: -webkit-box;
font-size: 16px;
line-height: normal;
margin-top: 10px;
padding-left: 10px;
float: right;
word-wrap: break-word;
width: 78px;
text-transform: uppercase;
text-align: left;
height: 50px;
position: relative;
right: -150%;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.clients-box:hover .hover-overlay a span, .featured-box:hover .hover-overlay a span {
right: 0;
}
.case-stus .featured-box{background: #fff none repeat scroll 0 0;box-shadow: 4px 4px 0 #c2c2c2;overflow: hidden;position: relative;}
.logos-video .hvideo span, .testimonails-video .hvideo span {
color: #E7663F;
display: block;
font-size: 38px;
left: 42%;
position: absolute;
top: 40%;
}
.info P {
font-size: 14px;
height: 102px;
overflow: hidden;
}
.blog-but.readmorevt {    color: #ffffff;
background: #666 none repeat scroll 0 0;
display: block;
padding: 15px 0;
text-align: center;
width: 100% !important;
}
.hght190 {
height: 122px;
margin: 10px 0;
overflow: hidden;
}
.blog-but.readmorevt:hover {
background: #fd5000 none repeat scroll 0 0;
color: #ffffff; text-decoration:none;
}
.blog-box-inner, .qa-blog-box-inner {
color: #333333;
padding: 15px 15px 25px;    font-size: 15px;
}
.click-video.col-md-6.col-sm-6.col-xs-12.text-left img {
opacity: 0.8;
}
.navbar-brand{padding: 15px 0px;}
.click-video.col-md-6.col-sm-6.col-xs-6.text-left img {opacity: 0.8;}
.sidebar {position: absolute;}
hr {min-width: 100%;border-color: #cccccc;border-width: 3px;margin-left: -15px !important;margin-right: -15px;}
hr.light {border-color: #fff;}
a {color: #f05f40;}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
margin-bottom: 20px;
font-size: 16px;
line-height: 1.5;
}

.bg-primary {
background-color: #fff;
}

.bg-dark {
color: #fff;
background-color: #222;
}

.text-faded {
color: rgba(255,255,255,.7);
}

section {
padding: 3px 0;
}

.sb-btn {
float: right;
width: 0;
}
.ft-submit .input-group {
width: 77%;
}
.no-padding {
padding: 0;
}
a:focus {
outline: medium none !important;
outline-offset: -2px;
}
.navbar-default {
border-color: rgba(34,34,34,.05);
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
background-color: #fff;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
}
.port-banner img {
max-width: 70%;
margin: 0 auto;
}
*:focus {
    outline: 0;
}
.navbar-default .navbar-header .navbar-brand {
text-transform: uppercase;
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
font-weight: 700;
color: #f05f40;
-webkit-transition: all 150ms ease-in-out;
-moz-transition: all 150ms ease-in-out;
-ms-transition: all 150ms ease-in-out;
-o-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.ft-submit button.btn.btn-default:hover {border: 3px solid #F78260;color: #000;}
.work img {width: 100%;}
ul.menu__submenu li a:focus {color: #fff;}
.privacy-policy h2 {font-family: ostrich_sansmedium;font-size: 40px; color: #E7663F;}
.privacy-policy {font-size: 14px;}
.work .header-content-inner {position: absolute;left: 0px;top: 110px;color: #fff;text-align: center;width: 100%;}
.socials ul.contact li span:hover {color: #F78260;}
a:focus, a:hover{text-decoration: none !important;}
.privacy-policy ul {margin: 0px;padding: 0px;}
.privacy-policy ul li {list-style-type: disc;}
.footer p a {color: #666;}
.sitefooter a:hover, a:focus {color: #333;text-decoration: none !important;}
.embed-responsive i:hover {color: #E7663F;}
.place-holder a:focus {color: #333;}
#portfolio .line{top: 173px}
.video-links-menu i:hover {color: #F05F40;}
.dcw-home-videos i:hover {color: #F05F40;}
.home-tabs ul.nav.nav-pills li a img {margin: 0 auto;}
.bg-light-orange {background-color: #ffd48b;}
.bg-light-green {background-color: #92ddbb;}
.bg-light-red {background-color: #ff977d;}
.bg-light-blue {background-color: #a5e0e3;}
.bg-orange {background-color: #ffb607;}
.process-line {bottom: 0;left: -92px;position: absolute;right: 0;top: 358px;}
.pos-rel {position: relative;}
.alter-steps .fright {float: right;}
.process-line-2 {bottom: 20px;left: 0;position: absolute;right: 0;}
i.flaticon-play-button4 {
    position: absolute;
    top: 35%;
    font-size: 46px;
    color: #fff;
    cursor: pointer;
    width: 47px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
}
.v1 i.flaticon-play-button4{    top: 44%;}
.pos-rel h3{ font-family: 'ostrich_sansmedium'; font-size:50px;}
.pos-rel p{ font-size:14px;}
.mtop40 {margin-top: 40px;}
.midstrong strong {font-size: 25px;padding-right: 10px;}
.pos-rel .divide {padding-bottom: 0px;}
.hdings_cmrcr {font-size: 50px;font-family: 'ostrich_sansmedium';}
#video-testimonial-generic .right.carousel-control{background:none;}
#video-testimonial-generic .left.carousel-control{background:none;}
#video-testimonial-generic .carousel-caption{ left: 3%;    padding-bottom: 30px;    right: 20%;    top: 20px; text-align:left;}
.rdmr-hm .btn.btn-default{color:#f78260 !important}
#video-testimonial-generic .carousel-control.left{ right: -60px;}
#video-testimonial-generic .carousel-indicators{  width: 100%}

.vtm {background: #f3f3f3 none repeat scroll 0 0;}
.navbar-collapse.second-nav.collapse {padding-left: 0px;}
.second-nav ul li:first-child > a {padding-left: 0;}
.row.service-boxes {padding-bottom: 40px;}
#caseStudyCarousel .item.active:nth-child(1) p {color: #fff;}
.video-links-menu .videos-hover-color {
background-color: rgba(0, 0, 0, 0.33);
width: 259px;position: absolute;height: 148px;left: 35px;right: 0px;top: 20px;}
.map-cnt ul {list-style: none;}
.hm_pg_cnt {text-align: left;}
#play {
background: url(../images/btn_play-home.png) no-repeat center center !important;
z-index: 22;
width: 105px;
height: 105px;
display: block;
position: relative;
float:right;
-webkit-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;margin-top:95px;
margin-right: 150px;
}
.hm_pg_cnt span:hover {color: #fff;cursor: pointer;}
.hm_pg_cnt span {
margin-left: 6px;
font-size: 24px;
text-transform: none;
font-family: open sans;
font-weight: 200;
border: 3px solid #fff;
padding: 2px 28px 8px
}
.rdmr-hm .btn.btn-default{padding-left:0px;}
.overlay iframe {
width:100% !important; 
height:180% !important; 
position:absolute !important; 
left:0 !important; 
top:-40% !important; 
z-index:-1 !important;
}
.hm_pg_cnt p span {
margin-top: 20px;
position: relative;

margin-top: 40px;
}
#index header#header h1#brand {
font-size: 102px;
line-height: 1;
text-transform: uppercase;
color: #fff;
margin-bottom: 30px;
z-index: 1001;
width: 400px;
margin-top: 210px;
}
.blog-box {
background: #ffffff none repeat scroll 0 0;
box-shadow: 4px 4px 0 #c2c2c2;
}
.blog-box-inner h2 a {
font-family: ostrich_sansmedium;
font-size: 26px;
font-weight: bold;
letter-spacing: 1px;color: #333;
}

.banner-content h1 {display: inline-block;float: right;font-family: "ostrich_sansmedium",serif;font-size: 50px !important;
font-weight: lighter;text-transform: none;}
.main_content1 ul li {border-left-color: #ff6600;}
.cs-banner > img {width: 100%;}
.main_content1 ul li:before {background-color: #16c4c2;}
.main_content1 ul li:before {
background: url("../img/content_list_icon.png") no-repeat scroll 0 0 rgba(0,0,0,0);
content: "";left: -54px;position: absolute;top: 0;width: 51px;height: 66px;}
.ling-slidrs p {color: #333 !important;}
.banner-content.ling h1 {width: 62%!important;float: left!important;margin-left: 5%!important;color: #353535;}
.banner-content.gas-cnts {top: 60px;}
.banner-content.gas-cnts h1 {color: #fff;}
.banner-content.ling {top: 62px;left: -93px;position: absolute;}
.main_content1 .appear-animation {line-height: 28px;}
#caseStudyCarousel .carousel-control.left {
background-color: rgba(0,0,0,0.6)!important;
margin-top: 30%;
outline: medium none;
}
#caseStudyCarousel .carousel-control.right {
background-color: rgba(0,0,0,0.6)!important;
margin-top: 30%;
outline: medium none;
}
#caseStudyCarousel .carousel-control {
bottom: auto;
padding: 0 10px;
width: auto;
}
#caseStudyCarousel .carousel-control.right, #caseStudyCarousel .carousel-control.left {
background: none;
}
#caseStudyCarousel .carousel-caption h1 {
font-family: "ostrich_sansmedium",serif;
font-size: 50px !important;
margin-bottom: 30px;
line-height: 50px;
margin-top: 0;
text-transform: none;

}
.main_content2 {
background: url(../images/home_content3_bg.jpg) center center no-repeat;
padding: 80px 0 60px;
}
#caseStudyCarousel .carousel-caption {
color: #666666;
text-shadow: none;
text-align: left;
}
.main_content2 .linguistiko .main_data {
left: 0;
position: relative;
top: 32px;
}
.main_content2 .main_data ul {
padding: 0!important;
}
.main_content2 .main_data ul li span {
line-height: 22px;
margin-bottom: 0;
display: inline-block;
}
.pink h1 {
color: #df0041 !important;
margin-top: 120px !important;
}
#caseStudyCarousel .carousel-caption {
top: 10%;
left: 0;
width: auto;
right: 0;
}
#caseStudyCarousel .carousel-caption p {
font-size: 18px;
line-height: 28px;
}
.wireframe {
color: #333333;
margin-top: 5%;
}
#caseStudyCarousel .item img {
width: 100%;
}
.wireframeslideicons {
color: #00cccc;
margin-top: 9%;
position: relative;
text-align: center;
}
section#caseStudyCarousel {
position: relative;
}
.main_content1 ul li {
background: none repeat scroll 0 0 #eee;
border-left: 3px solid #f00;
color: #666666;
font-weight: bold;
line-height: normal;
margin: 0 0 10px 54px;
position: relative;
padding: 24px 20px;
font-size: 14px;
}
.col-lg-8.col-md-8.col-sm-8.col-xs-12.socials {
padding-left: 0;
}
ol.carousel-indicators.footer-tms li {width: 20px;height: 20px;margin-bottom: -70px;background: white;}
.main_content1 h1, .main_content2 h1, .main_content1 h2, .main_content2 h2 {
color: #E7663F !important;font-family: "ostrich_sansmedium",serif; font-size:50px !important;
}
.blog-box-inner h2 a:hover {
color: #f05f40;
text-decoration: none;
}
.shortreview{font-size: 16px;padding-left:10px;}
.banner-content {
bottom: 20px;
left: 0;
position: absolute;
right: 0;
}
#posts .item {
margin-bottom: 45px;
}
.col-sm-12.of-hdg p {
font-size: 24px;
color: #333333;
text-align: center;
font-family: unica one;
font-weight: bold;
margin-bottom: 45px;
margin-left: 0px;
}
.cnt-infm h3 {
text-align: center;
color: #E7663F;
font-size: 16px;
font-weight: bold;
}
.btn-warning {
background-color: #E7663F;
border-color: #F44336;
color: #FFFFFF;
}
.snd .btn {
border-radius: 0;
font-size: 20px;
font-weight: bold;

}
.cnt-hdng h2 {
color: #fff;
font-size: 34px;
margin-bottom: 10px;
text-transform: uppercase;
font-family:ostrich_sansmedium;
}
.cnt-hdng {text-align: center;padding-right: 0px;}
.btn.btn-warning.col-sm-12.cpl-xs-12 {
border: none;
background: #FC5000 !important;
}
.sm-bg1 .form-control {border-radius: 0;}
.sm-bg1 .fa.fa-envelope {    margin-right: 3px;     padding: 0 !important;}
.cnr {margin-bottom: 50px;}
.pres p {font-family: ostrich_sansmedium;    font-size: 30px;}
.col-md-5.col-sm-6.cnt-hdng.sm-bg1 > div{  color: #ffffff;    width: 350px;
margin: 0 auto;}
.lg img {margin: 0 auto;}
.tbs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #fff;cursor: default;background-color: #E7663F !important;
border: 0px solid #ddd;border-bottom-color: transparent;border-radius: 0px !important;
}
.tbs ul.nav.nav-tabs li a {color: #000;border: 1px solid #ccc;background-color: #dcdcdc;margin-left: 23px;color: #000;border-radius: 0px !important;}
.pres {    color: #333333;    font-family: open sans;
font-size: 26px;
font-weight: bold;
margin-bottom: 45px;
margin-top: 25px;
text-align: center;
}
.map-cnt {
text-align: center;
}

.mbt20 {    margin-bottom: 20px;}
.divide {    margin-bottom: 5%;    margin-top: 5%;    padding-bottom: 5%;}
.v-center {    font-size: 15px;}
ul.contact-us {    list-style: none outside none;    padding: 0;}
.contact-us li {    color: #999;    font-size: 15px;    margin: 10px 0;    padding-left: 0;    position: relative;	text-align:center;}
.map img {    margin: 0 auto;}
.col-sm-12.of-hdg p {    color: #333333;    text-align: center; font-family: ostrich_sansmedium;    font-size: 30px;
font-weight: bold;    margin-bottom: 45px;    margin-left: 0px;}
.tbs .nav-tabs {    border-bottom: 0px;    margin-bottom: 25px;    margin-top: 40px;}
.tbs .nav-tabs li.active a {    border: 1px solid #fd5000 !important;	color:#fff !important;    }
#container-blog .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #CE7056;
border-color: #D4573D;color: #fff;}
#container-blog .pagination>li>a, .pagination>li>span{    color: #333;}
.tbs .nav-tabs li:first-child a {
margin-left: 0 !important;
}
.snd .btn:focus {
background: #FD5000 !important;
}
.snd .btn:active:focus, .btn:focus{    background: #FD5000 !important;}
.snd .btn:hover {
background: #F44336  !important;
}
.tbs .nav-tabs > li > a {
margin-right: 2px;
line-height: 1.42857143;
border: 0px solid transparent;
border-radius: 0px 0px 0 0;
padding: 10px 29px;
}
.testimonilas .juicer-feed ul.filters li {
font-size: 0px !important;
color: #fff;
padding: 5px 5PX;
position: relative;
text-align: center;
list-style-type: none;
display: inline-block;
text-transform: none !important;
width: 20% !important;
margin: 0 auto !importantt;
}
.row.left_side_icons {
text-align: center;
}
.sitefooter{
width:100%;
height:1px;
float:left;
}
.j-navigate {
display: none;
}
.left_side_icons span {font-size: 13px;text-align: center;width: 100%;}
.thank-you .cnt-hdng h2 {font-size: 55px;}
.cnt-hdng.sm-bg1 p {font-size: 15px;margin-top: 6px;color:#ccc;}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {color: #eb3812;}
.portfolio_inner .affix1 {position: fixed;}
.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {text-transform: none;font-size: 13px;font-weight: 700;color: #222;}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {color: #f05f40;}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {color: #f05f40!important;background-color: transparent;}
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {background-color: transparent;}
header {
position: relative;
width: 100%;
min-height: auto;
text-align: center;
color: #fff;
background-image: url(../img/header111.png);
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
.sitemap{padding-bottom: 60px;}
.home-header{position: relative;width: 100%;min-height: auto;text-align: center;color: #fff;}
.sitemap ul li {list-style-type: disc;font-size: 14px;}
.blog-filter {width: 100%;text-align: center;}
header .header-content {position: relative;width: 100%;padding: 100px 15px;text-align: center;}
.video-testmonilas .glyphicon.glyphicon-chevron-left {color: #ffffff;opacity: 1;}
.video-testmonilas .glyphicon.glyphicon-chevron-right {color: #ffffff;opacity: 1;}
.thumbnail:hover .caption h4{Background:#F78260;}
.navbar-brand.page-scroll.scrl {padding-left: 0;}
#mainNav{	webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-ms-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;}
header .header-content .header-content-inner h1 {margin-top: 0;float: left;margin-bottom: 0;/*text-transform: uppercase;*/
font-family: ostrich_sansmedium;font-size: 60pt;}
.ctr-hme {display: inline-block;    margin: 0 auto;}
header .header-content .header-content-inner hr {margin: 30px auto;}
header .header-content .header-content-inner p {margin-bottom: 180px;font-size: 16px;font-weight: 300;color: rgba(255,255,255,.7)}
.affix-top .scrl{display:none;}
.affix .scrl-main img{display:none;}
.section-heading {margin-top: 0;}
.service-box {margin: 50px auto 0;max-width: 400px;}
.service-box p {margin-bottom: 0;}
.portfolio-box {display: block;position: relative;/*    margin: 0 auto;max-width: 650px;*/}
.portfolio-box .portfolio-box-caption {
display: block;
position: absolute;
bottom: 0;
width: 100%;
height: 100%;
text-align: center;
color: #fff;
opacity: 0;
background: #19272f;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
}
.main_content2 ul li {padding: 0 0px 0 60px;position: relative;}
.pull-left.appear-animation h3{   font-family: ostrich_sansmedium; font-size:35px;}
.pull-right.appear-animation h3{   font-family: ostrich_sansmedium; font-size:35px;}
.pull-left.appear-animation h3:hover{color:#333 }
.pull-right.appear-animation h3:hover{ color:#333 }
.stats {background: #3dcdcd;padding: 70px 0;}
.main_content2 .main_data ul li span {line-height: 22px;margin-bottom: 0;display: inline-block;}
.project-name p {border: 1px solid;display: inline-block;font-family: josefin slab;font-size: 18px;padding: 5px 22px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {top: 0;bottom:0;margin:auto;position: absolute;
width: 100%;text-align:center;z-index: 0;     height: 320px;/* transition: all 0.5s ease-in-out 0s;*/}
.hm-pg-flp .front, .back {-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
position: absolute;top: 5px;right: 70px;}
.menu-flips .front, .back{ backface-visibility: hidden;position: absolute;right: 0;top: -13px;}
.faq-group #accordion-general .panel-body {border-top: 0px;}
.hm-pg-flp .back{position: absolute;right: 70px;top: 3px;}
#accordion-ecom *, .accord-cust * {background: none;border: none;box-shadow: none;margin-bottom: 4px;}
#accordion-ecom .panel-heading, .accord-cust .panel-heading {
font-family: "Bitter",serif;
font-size: 16px;padding: 6px 0 0;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
padding: 0 15px;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;}
.project-category.text-faded a:hover {text-decoration: none;text-transform: none;color: #fff;}
.project-category.text-faded a {text-decoration: none;text-transform: none;color: #fff;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
text-transform: uppercase;font-size: 14px;font-weight: 600;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
font-size: 18px;}
.portfolio-box:hover .portfolio-box-caption {opacity: 1;}
.home-tabs .nav-pills>li.emc.active {background-image: url("../img/home-Ecommerce-hover.png");}
.home-tabs .nav-pills>li.emc {background-image: url("../img/home-Ecommerce.png");
padding-top: 77px;background-repeat: no-repeat;background-position: center;}
.home-tabs .nav-pills>li.respnss.active {background-image: url("../img/home-responsive-webdesign-hover.png");}
.home-tabs .nav-pills>li.respnss {
background-image: url("../img/home-responsive-webdesign.png");
padding-top: 77px;background-repeat: no-repeat;background-position: center;}
.home-tabs .nav-pills>li.wplic.active {background-image: url("../img/home-web-application-hover.png");}
.home-tabs .nav-pills>li.wplic {background-image: url("../img/home-web-application.png");
padding-top: 77px;background-repeat: no-repeat;background-position: center;}
.client-icon.tnks-pgs img {margin: -69px auto;}
.home-tabs .nav-pills>li.mapss.active {background-image: url("../img/home-mobile-application-hover.png");}
.home-tabs .nav-pills>li.mapss {
background-image: url("../img/home-mobile-application.png");
padding-top: 77px;background-repeat: no-repeat;background-position: center;}
.ft-linss p a {color: #666;}
.ft-linss p a:hover {color: #F05F40;text-decoration: none;}
.home-tabs .nav-pills>li.seoss.active {background-image: url("../img/home-SEO-SEM-hover.png");}
.home-tabs .nav-pills>li.seoss {background-image: url("../img/home-SEO-SEM.png");padding-top: 77px;background-repeat: no-repeat;
background-position: center;}
.call-to-action h2 {margin: 0 auto 20px;}
.text-primary {color: #f05f40;}
.no-gutter > [class*=col-] {padding-right: 0;padding-left: 0;}
.seemore{padding-bottom: 70px;}
.btn-default {border-color: #fff;color: #222;background-color: #fff;-webkit-transition: all .35s;-moz-transition: all .35s;
transition: all .35s;}
.see_how_bt {display: inline-block;float: left;}
.blogs-bnr h1 {padding-top: 111px !important;}
.grey h1 {color: #666 !important;}
.container.abs-container ul {padding: 0px;line-height: 26px;}
.video-div p.font-bitter-para.light-txt {font-size: 16px;}
.sm-bg .tab-content.tbscnt a{padding:0px;}
#caseStudyCarousel .item:first-child h1, #caseStudyCarousel .item:first-child .carousel-caption {color: #fff;}
.grey {color: #666 !important;}
ul li {list-style-type: none;}
.tbs .nav-tabs li.active a::after {
border-left: 7px solid rgba(0, 0, 0, 0);
border-right: 7px solid rgba(0, 0, 0, 0);
border-top: 7px solid #f05f40;
bottom: -7px;
content: "";
height: 0;
left: 45%;
position: absolute;
width: 0;
}
#caseStudyCarousel .item:first-child p, #caseStudyCarousel .item:first-child .carousel-caption {margin-left: 20px;}
.gry-clr {background: #f3f3f3 none repeat scroll 0 0;}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {border-color: #ededed;color: #fff;background-color: #f2f2f2;}
.header-content-inner .vt_play:hover {border: 1px solid #FD4835;color: #fff;}
span.blue-txt {float: right;margin-top: 20px;color: #fff;}
span.blue-txt a {color: #fff;}
.affix span.blue-txt {color: #fff;}
.affix span.blue-txt a {color: #fff;}
.social-hub-page .juicer-feed li.feed-item.j-video a.j-image:before{border: 3px solid #F77952;
width: 50px;
height: 50px;
border-radius: 50%;
padding-left: 15px;
padding-top: 4px;color: #F77F54;}

.blue-txt i.fa.fa-phone {
/* border: 0px solid #fff;margin-right: 5px;
padding: 5px 5px;
border-radius: 50PX;
height: 25px;
width: 25px;*/
}
.content-headings .col-md-4.col-sm-4.col-xs-12 {
background: #ebebeb;margin-top: 50px;
}
.blue-txt i.fa.fa-pencil-square-o {
/*border: 0px solid #fff;margin-right: 5px;
padding: 5px 5px;
border-radius: 50PX;
height: 25px;
width: 25px;*/
}
.hm_pg_cnt h1 {
float: left;
margin-top: 0px;
}
a.vt_play.btn.btn-default.dropdown-toggle.see_how_bt {
float: left !important;

display: inline-block;
}
.header-content-inner.hm_pg_cnt {
z-index: 9999;
top: 30%;
position: absolute;
left: 0px;
right: 0px;
}
.videos-hover-color:hover {
background: transparent;
}
.videos-hover-color {
background-color: rgba(0, 0, 0, 0.33);
width: 100%;
position: absolute;
height: 100%;
/* background: transparent; */
}
.tab-content.tbscnt {border: 3px solid #fff;border-radius: 3px;max-width: 505px;}
.video-overlay-colors{background: url(../img/bkg_red1.png); background: rgba(239, 95, 65, 0.67);
width: 100%;height: 100%;position: absolute;top: 0;z-index: 21;pointer-events: none;}
.pattern-overlay {position: relative;background-color: #000;height: 100%;width: 100%;padding-bottom:56.25%;}
a#play:hover {opacity: 1;}
.dropdown-menu.dropdown-menu-right li {width: 100%;}
.modal-content.video-player-home {
background: none !important;
box-shadow: none !important;
border: medium none;}
.video-player-home .fa.fa-times {color: #fff !important;opacity: none !important;z-index: 9999 !important;}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {background-image: none;}
.cnt-frm input {background: none !important;color: #7B7B7B;border: 1px solid #9a9a9b;height: 38px;color: #ccc;}
.place-holder a span.icomoon-icon-play-2 {position: absolute;top: 35%;font-size: 50px;left: 43%;color: #E7663F;}
.achieve-box a:hover {color: #f78260;text-decoration: none;}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {border-color: #fff;background-color: #fff;}
#portfolio-dis .carousel-control{ width: 5%;}
.btn-default .badge {color: #fff;background-color: #222;}
.menu__item a:hover {color: rgba(255, 255, 255, 0.45) !important;text-decoration: none;
}
/*.btn-primary {
border-color: #f05f40;
color: #fff;
background-color: #f05f40;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
}*/
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 {padding: 0px;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {border-color: #ed431f;color: #fff;background-color: #ee4b28;}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {background-image: none;}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {border-color: #f05f40;background-color: #f05f40;}
.pos-rel.clearfix {background: #f3f3f3 none repeat scroll 0 0;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background:none !Important;}
.btn-primary .badge {color: #f05f40;background-color: #fff;}
.video-div .videos-hover-color{height: 91.4%;position: absolute;width: 90.1%;}
ul#mylist>li {width: 100%;float: none;}
.hm_pg_cnt h1 {font-family: open sans;text-transform: uppercase;font-weight: 800;}
.testimonilas .carousel-inner p img {float: left;margin-right: 15px;}  
.testimonilas  #fade-quote-carousel blockquote {text-align:left; min-height:235px;}
.testimonilas  #fade-quote-carousel blockquote p:last-child{color:#f78260;font-size:18px;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;font-weight:normal;}
.btn {border: 0;text-transform: uppercase;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;font-weight: 700;}
.blog-filter a.btn.btn-warning {border-radius: 0 !important;}
.footer{background:#dbdbdb; padding-Top: 20PX;font-family: 'Josefin slab', sans-serif;}
.footer p{ font-size:18px;}
.btn-xl {padding: 15px 30px;}
.footer-contact h2 {color: #666;margin-bottom: 20px;font-size: 30px;font-family: 'ostrich_sansmedium';border-bottom:3px solid #cccccc;display:block;margin-top:20px;}
.footer-contact #fade-quote-carousel blockquote {text-align: left;border: none;padding-left: 17px;}
.glyphicon.glyphicon-menu-hamburger {border: 2px solid #FFF;padding: 11px;border-radius: 50%;margin-left: 15px;color: #fff; 
z-index: 992;}
#carousel-example-generic .carousel-control{ top: initial !important;}
#carousel-example-generic .controllers span {color: #f05f40 ;font-size: 65px;}
#carousel-example-generic .carousel-control{  opacity: 0.8; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);}
#portfolio-dis .carousel-control.left{background-image:none;}
#portfolio-dis .carousel-control.right{background-image:none;}
span.cltext{color: #FFF;font-weight: normal;text-shadow: none;font-size: 16px;text-transform: none;}
.project-name p:hover {border: 1px solid #E7663F;}
span.fa.fa-bars {font-size: 14px;border: 2px solid #FFF;padding: 11px;padding-bottom: 9px;
border-radius: 50%;background-color: rgba(204, 204, 204, 0.24);margin-left: 1px;    color: white;  z-index: 992;}
a.navbar-brand.page-scroll.scrl-main.dsk-logo {
padding-left: 61px;
-webkit-transition: all 150ms ease-in-out;
-moz-transition: all 150ms ease-in-out;
-ms-transition: all 150ms ease-in-out;
-o-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.bcg {
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}
.cols5 > .col-md-3 {width: 20%;}
#video-testimonial-generic .item img {
border: 6px solid #ffffff;
float: right;
margin-bottom: 40px;
margin-top: 40px;
width: 75%;
}
.quote {
font-family: open sans;
font-size: 16px;
line-height: 33px;
padding: 0 0 0 30px;
position: relative;
}
.our-approach {font-size: 15px;font-weight: lighter;line-height: 2;}
.col-md-12.our_aprch h3 {font-family: ostrich_sansmedium;font-size: 50px;}
.col-md-12.our_aprch{padding-bottom: 50px;}
.hsContent {color: #ebebeb;padding: 5% 0;text-align: center;vertical-align: middle;}
.hsContainer h2 {color: #ffffff; text-align: center;font-family: ostrich_sansmedium; font-size:50px;}
.sevicesSlide .bcg {background-image: url("../img/service-parallax.jpg");}
.sevicesSlide .sub-desc {width: 70%;text-align:center;color: #ffffff;}
.sub-desc {display: block;font-size: 16px;line-height: 26px;margin-left: auto;margin-right: auto;width: 60%; }
.menu-rt:hover {background: none;}
::-moz-selection {text-shadow: none;color: #fff;background: #222;}
::selection {text-shadow: none;color: #fff;background: #222;}
img::selection {color: #fff;background: 0 0;}
img::-moz-selection {color: #fff;background: 0 0;}

body {
webkit-tap-highlight-color: #222;
}
i.clsee {

color: #ffffff;
font-size: 24px;
font-style: normal;
margin-left: 7px;
padding: 6px 11px;
z-index: 992;
font-weight:normal;
}
body#page-top {
padding-right: 0px !important;
}
.gpr-bare-bones p {
color: #666666;
font-size: 16px;
}
#accordion-ecom .fa.fa-arrow-right{color:#19272F !important ;}

#accordion-ecom a[aria-expanded="true"] > i.fa-arrow-right {
    color: #E7663F !important;
    transform: rotate(90deg);
}
.gpr-bare-bones .vl:hover {background-color:#E7663F; color:#fff !important; font-weight:bold;}
.gpr-bare-bones .vl {
	Border:1px solid #cccccc;
    border-radius: 0;
    color: #000000 !important;
  position: absolute;
    right: 20px;
    top: 7px;
    font-family: "Josefin slab",sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 6px 40px;
    text-transform: none;}
.ecmrce-accordians a[aria-expanded="true"] > i.fa-arrow-right {
transform: rotate(90deg);
}
.menu-rt {font-size:16px;text-align: right;
float: right; margin-right:54px;
background: none;
color: #fff;
font-family: open sans;
font-weight: 400;
text-transform: none;    margin-top: 0px;border:none;
}
.dcw-home-videos a.vt_play2.btn.btn-default.dropdown-toggle { 
padding: 0px;    display: block;
}
.emcre-cnt {
margin-top: 40px;
}
/*.overlays {
background: #000;
opacity: 0;
height: 100%;
position: absolute;
top: 0;
width: 100%;

}

.v1:hover .overlays {
opacity: 0.4;
}*/
.v1{position:relative}
.place-holder {text-align: center;margin-top: 15px;position: relative;}
.place-holder  h2{ font-size:50px; font-family: 'ostrich_sansmedium';}
.place-holder p {font-size: 16px;text-align: left;margin-top: 45px;color: #666;font-weight: 300;}
span.cma-right img {float: right;margin-top: -150px;margin-right: 48px;}
span.cma-left img {position: absolute;top: 64px;}
.video-testmonilas {color: #fff;}
.video-testmonilas p img {vertical-align: middle;margin-top: 25px;}
.place-holder p span {display: block;margin-top: 25px;text-align: center;color: #E7663F;}
.place-holder p span a:hover {color: #333;text-decoration: none;}
#accordion-ecom .panel-body, .accord-cust .panel-body {
color: #999;
font-family: "open sans",serif !important;
font-size: 16px;
line-height: 32px;
padding-left: 60px;
padding-right: 0;
padding-top: 0;
}
#accordion-ecom *, .accord-cust * {
background: none;
border: none;
box-shadow: none;
margin-bottom: 1px;
}
#social-hub .juicer-feed li.feed-item{max-height:190px; overflow:hidden;}
#accordion-ecom .ttl, .accord-cust .ttl {
color: #333333;
display: inline-block;
font-family: "open sans",serif;
line-height: 24px;
margin-left: 7px;
text-transform: none;
}
#accordion-ecom .panel-title a:hover{text-decoration:none;}
#accordion-ecom *, .accord-cust * span {
font-size: 18px;
color: #333;
font-weight: 400;
}
.ecmrce-accordians h3 {color: #E7663F;
font-size: 50px;font-family: 'ostrich_sansmedium';
}

#accordion-ecom a:hover > i.fa:before, .accord-cust a:hover > i.fa:before {
color: #19272f !important;
}
#accordion-ecom a i.fa-arrow-right, .accord-cust a i.fa-arrow-right{
transition: all 0.2s ease-in 0s;
-moz-transition: all 0.2s ease-in 0s;
-webkit-transition: all 0.2s ease-in 0s;
-ms-transition: all 0.2s ease-in 0s;
}
#accordion-ecom a:hover > i.fa-arrow-right, .accord-cust a:hover > i.fa-arrow-right, #accordion-ecom a:hover > i.fa-arrow-right, .accord-cust a[aria-expanded="true"] > i.fa-arrow-right{
color:#E7663F !important;
transform: rotate(45deg);
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);	
-ms-transform: rotate(45deg);

}
a.accordion-toggle.collapsed i{  transform: rotate(2deg);
-moz-transform: rotate(2deg);
-webkit-transform: rotate(2deg);	
-ms-transform: rotate(2deg);}
.videos-hover-color .flaticon-play-button4:hover{color:#e7663f ;}
.accord-cust a[aria-expanded="true"] > i.fa-arrow-right {
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);	
-ms-transform: rotate(90deg);
color:#E7663F !important;}
.tab-pane a.accordion-toggle.collapsed i{color:#19272F;}
.tab-pane .fa{color:#19272F;}
.team_page .carousel-inner .item img{background-size: cover;width: 100%;}
.team_page {position: relative; margin-top: -51px;}
#accordion-ecom .glyphicon:before, #accordion-ecom .fa:before, .accord-cust .glyphicon:before, .accord-cust .fa:before {
/*color: #eb8f18;*/position: relative;top: 0;}
.single-post-comments .btn.btn-success {background: #e7663f none repeat scroll 0 0;color: #ffffff;}
.single-post-comments .btn.btn-success:focus {background: #e7663f none repeat scroll 0 0 !important;}
#accordion-ecom a:hover > i.fa:before, .accord-cust a:hover > i.fa:before{color:#E7663F  !important;}
.ecmrce-accordians .accordion-toggle p {padding-left: 35px;margin: 0px;}
.video-testmonilas span {display: block;margin-top: 35px; font-weight:lighter;}
.video-testmonilas p {line-height: 38px;font-weight: lighter;padding: 40px 0px;width: 92%;float: right;}
.container.content-headings {padding-bottom: 50px;}
.video-testmonilas {background: #e7663f;} 
.close.btn.btn-link {opacity: 0.9;margin-right: 61px;margin-top: 2px;}
.project-name p:hover {color: #FF7513;}
.achieve-box h3 {text-align: center;font-family: 'ostrich_sansmedium';font-size: 32px;color: #666;}
.achieve-box img {margin: 20px auto;}
.main-nav-bar{padding-bottom:20px;}
.header-content-inner a {font-size: 24px;margin-left: 15px; margin-right: 15px;
font-family: 'Josefin slab', sans-serif;
text-transform: none;font-weight: 300;  border-radius: 0px;background: none !important;color: #fff;}
#mainNav a.dropdown-toggle {    color: #fff !important; }
.video-links-menu a.vt_play.btn.btn-default.dropdown-toggle {padding: 20px;}
.video-links-menu .vt_play2 {background: none;padding:20px}
.video-links-menu .vt_play3 {background: none; padding:20px}
.btn.btn-primary.btn-xl.page-scroll{ 	font-family: 'Josefin slab', sans-serif;}
.btn-primary {border-color: #f05f40;color: #fff;
background-color: rgba(255, 255, 255, 0);
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
}
.form-control.cmnts {height: 70px;}
.abt-pgs h3 {font-family: ostrich_sansmedium;font-size: 26px;font-weight: bold;letter-spacing: 1px;}
.hw-wrks h2 {font-family: ostrich_sansmedium;font-size: 50px;color: #e7663f;}
.quote::before {
background: rgba(0, 0, 0, 0) url("../images/quote-symble.png") no-repeat scroll 0 0;
content: "";
height: 37px;position: absolute;top: -10px;width: 47px;}
.hw-wrks > p {font-size: 14px;margin: 0 auto;width: 75%;}
.f-letter h3::first-letter {color: #fd5000;}
.abt-pgs P {font-size: 14px;line-height: 25px;}
.achievements-block .divide strong {font-size: 15px;}
.achieve-box hr {border-top: 1px solid #999999;margin: 0 auto !important;min-width: 75% !important;padding-bottom: 12px;
width: 380px;}
.tab-pane .panel-default>.panel-heading+.panel-collapse>.panel-body {border-top-color: #F3F3F3;}
.companySlide .bcg {background-image: url('../img/companyparallax.jpg');}
.achievements-block h2 {font-family: ostrich_sansmedium;font-size: 50px; color: #E7663F;}
.achievements-block p{font-size: 16px; }

#social-hub .item1sE5xe{display:none;}
.juicer-feed a img {
width: 50px !important;
float: left;
}
.lines2 {
border-top: 1px solid #DA6846;
height: 1px !important;
margin: 0 auto;
position: absolute;
top: 40px;
width: 1020px; display:none;
}
.m-main-menu{margin:0px;border-bottom: 1px solid #F78260;margin-bottom: 15px;margin-top: -20px;padding:0 0 7px 61px;}
#social-hub ul.juicer-feed.loaded.colored-icons {
margin-top: -17px !important;
}
#social-hub .carousel-indicators {
display: none;
}
#social-hub .filters li:last-child{ display: none;}
#social-hub .j-paginate.juicer-button.fart{display: none;}
#social-hub .j-stacker div{width:100% !important; display:block;}
.j-stack .text {

width: 100% !important; padding-left:68px;
}
.glyphicon.glyphicon-chevron-right {
color: #F78260;
}
.glyphicon.glyphicon-chevron-left {
color: #F78260;
}
.vt_play.btn.btn-default.dropdown-toggle{	font-family: 'Josefin slab', sans-serif; background: none;}
.container1{max-width:1340px; margin:0 auto;}
#vt_modal .modal-backdrop.fade.in {
opacity: 9 !important;
}

/*-----------home page tab start section-------------------------------*/


.home-tabs ul li a {font-size: 18px;font-family: open sans;color: #999;}
.tab-content.home-tab-content h3{color: #666666;    font-family: 'ostrich_sansmedium';font-size: 50px;margin-bottom: 35px;}
.tab-content.home-tab-content p {color: #666666;font-family: open sans;font-size: 16px;}
.home-tabs .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {color: #f78260;background: none;}
.home-tabs .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li a:hover {color: #f78260;    background: none;}
p.more {color: #f78260 !important;}
.hme-right-cnt {}
.tab-content.home-tab-content {margin-top: 60px;}
.home-tabs .nav.nav-pills > li {display: inline-block;float: none;}
.home-tabs .nav.nav-pills {text-align: center;}
.home-tabs .nav.nav-pills > li span {display: block;}
.home-tabs .nav.nav-pills > li span i {font-size: 40px;margin-bottom: 10%;}
span.res{background-image: url(../img/res-icon.png);}
.home-tabs span.res {background-image: url(../img/res-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;display: inline-block;margin: 0 auto;}
.home-tabs ul li.active>a .res:hover {background-image: url(../img/res-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li+li {margin-left: 29px;}
.home-tabs span.w-ap {background-image: url(../img/web-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;text-align: center;
display: inline-block;margin: 0 auto;}
.home-tabs span.m-ap {background-image: url(../img/mb-app-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;text-align: center;
display: inline-block;margin: 0 auto;}
.container.f-work h2 {font-size: 50px;font-family: 'ostrich_sansmedium';color: #666666; margin-bottom:30px;text-align:center;}
.home-tabs .nav-pills>li.active>a .res{background-image: url(../img/res-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li.active>a .w-ap{background-image: url(../img/web-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
.home-tabs .nav-pills>li.active>a .m-ap{background-image: url(../img/mb-app-icon-h.png);width: 56px;height: 50px;background-repeat: no-repeat;margin: 0 auto;}
a:focus {
outline: medium none !important;
outline-offset: -2px;
text-decoration: none;
}
#-example { 
color: #ccc !important;
}
/*-----------home page tab End section-------------------------------*/





/*-----------menu page  start section-------------------------------*/
.menu.masthead__menu.dropdown-menu{  

position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 120;

-webkit-font-smoothing: antialiased;
background: #f78260;

}
/*F44336*/
ul.menu__submenu li a:hover {
color: #2F2F2F;
text-decoration: none;
}
.navbar-right .open .menu.masthead__menu.dropdown-menu{
display: block !important;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
-webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);



}
#mainNav .open a.dropdown-toggle{color:#f78260;}
.menu-icon {
background: rgba(0, 0, 0, 0) url("../img/menu-close.png") no-repeat scroll right center;
height: 40px;
margin-right: 35px;
margin-top: 9px;
padding-right: 92px !important;
width: 40px;z-index: 9999;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:none !important}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:none !Important;}

a.dropdown-toggle.menu-icon:hover{
background: rgba(0, 0, 0, 0) url("../img/menu-icon.png") no-repeat scroll right center;
height: 40px;
margin-right: 35px;
margin-top: 9px;
padding-right: 92px !important;
width: 40px;
}
ul.nav.navbar-nav.navbar-right li {
display: block;
position: static;
top:13%;

}
/*.main-nav-bar.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background:none !important;}*/

.menu__list, .menu__list ul {
list-style-type: none;  
margin: 0;
padding-left: 0;    margin-bottom: 25px;
}
.menu__item {
border-bottom: 0;
width: 20%;
float: left;
padding: 0;
}
#accordion-ecom .fa.fa-arrow-down::before, .accord-cust .fa.fa-arrow-down::before{color: #16c4c2;}
section.light-gray-wraper.divide.faqspge {
margin-top: -50px;
padding-top: 75px !important;
}
.faq-group .nav > li > a {
background: none repeat scroll 0 0 #19272F  ;
color: #fff;
transition: all 0.2s ease-in 0s;
}
#accordion-ecom .fa, .accord-cust .fa {
font-size: 20px;
height: 34px;
left: 0;
position: absolute;
text-align: center;
top: 0;
width: 34px;
}
#accordion-ecom a, .accord-cust a {
display: block;
padding-left: 30px;
position: relative;
}
#accordion-ecom a.inner, .accord-cust a.inner {
display: inline-block;
padding-left: 0;
}
#accordion-ecom *, .accord-cust * {
background: none;
border: none;
box-shadow: none;
margin-bottom: 4px;
}
.faq-group .nav-pills > li.active > a, .faq-group .nav-pills > li.active > a:focus, .faq-group .nav-pills > li.active > a:hover {
background: #E7663F   !important;
color: #fff;
}
.faq-group .nav > li > a:hover{   background: #E7663F   !important;}
.nav-stacked>li+li {
margin-top: 2px;
margin-left: 0;
}
.menu__link { 
font-size: 15px;
}
.sidebar.affix {
position: fixed;

}
.menu {
/* background: #f78260;*/
width: 100%;
}
.fullscreen .in .modal-header{    padding: 0px;}
i.fa.fa-home,i.fa.fa-cogs,i.fa.fa-desktop {

vertical-align: middle;
}
.menu__list {

max-width: 1000px;
margin: 0 auto;
float: none;
width: 100%;
/*height: 100%;*/
position:relative;
}
.menu__link {
display: block;    text-align: left;
color: rgb(255, 255, 255);
font-size: 16px;
line-height: 2.3;
font-weight: 600;
font-family: open sans !important;
text-transform: none;
}
.menu__title {
font-size: 16px;
cursor: default; color:#fff;
}
.menu__title {
display: block;
padding: 10px 0;
color: rgba(255, 255, 255, 0.58);
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}
.click-video {
text-align: right;
}
.click-video  span.blue-txt{}
.click-video  span.blue-txt a{line-height:normal;}
.click-video a {
line-height: 47px;
color: #FFFFFF;
font-size: 19px;


font-family: 'Josefin slab', sans-serif;
}
.juicer-feed ul.filters li{width:100px !important;}
.click-video a:hover {text-decoration:none;     color: rgba(255, 255, 255, 0.45);}

/*-----------menu page  end section-------------------------------*/





/*-----------service page  start section-------------------------------*/
.service-box-content h2 a {
color: #333333 !important;
font-family: 'ostrich_sansmedium';
}
.icon-icons_strategy:before {
content: "\e605";
}
.icon-icons_design:before {
content: "\e601";
}
.service-boxes .service-box .service-icomoon {
height: 70px;
overflow: hidden;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.service-boxes .service-box-content-parent {
position: absolute;
width: 100%;

padding: 20px;
}
.service-boxes .service-box-content h2 {
margin: 0 0 10px 0;
text-align: center;
}
.service-boxes.service-box-content ul.service-box-list {
max-height: 0px;
overflow: hidden;
text-align: center;
-webkit-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.service-boxes .service-box:hover * {
color: #fff !important;    padding: 0px; list-style: none;    text-decoration: none;
}
.service-boxes .service-box:hover {
color: #fff !important;
background-color: #E7663F;
}

.service-boxes .service-box h2 {
color: #fff !important;
letter-spacing: 1px;
}
.main_content2 .main_data ul li:before {
background-color: #16c4c2;
}
.service-boxes .service-box{  padding: 0px; list-style: none;}
.main_content2 .main_data ul li:before {
background: url("../img/arrow-cs.png") #f00 1px -5px no-repeat;
width: 43px;
height: 43px;
content: "";
position: absolute;
left: 0;
top: 0;
border-radius: 100%;
}
.main_content2 .main_data ul li {
color: #999999;

font-size: 16px;
line-height: 40px;
list-style: outside none none;
margin-bottom: 15px;
position: relative;
}
.main_content2 .main_data ul {
padding: 0!important;
}
.service-boxes .service-box-content ul.service-box-list li {
margin-bottom: 0;    font-size: 16px;
}
.service-boxes .service-box-content ul.service-box-list li a {
color: #333;
}
span.service-icomoon {
font-size: 7rem; 
display: block;
text-align: center;
margin-bottom: .5rem;
}
.service-boxes .service-box-content h2 {
margin: 0 0 10px 0;text-transform: uppercase;
font-weight: 800;
text-align: center;
}
#ecmrce-blg-slider .visit_site-but {
bottom: 0;
float: right;
margin-top: 0;
padding-top: 0;
position: absolute;
right: 0;
}
#ecmrce-blg-slider .btn.btn-default{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #ffffff;}
#ecmrce-blg-slider .btn.btn-default:hover{color:#f78260 !important;}
.service-boxes .service-box:hover .service-icomoon {height: 0;display: block;}
.service-boxes.service-box:hover {
background-color: #d61b51;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.service-boxes .service-box:hover{
color: #fff !important;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.service-boxes .service-box-content ul.service-box-list {
max-height: 0px;    padding: 0px; list-style: outside none none;
overflow: hidden;
text-align: center;
-webkit-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.row.no-gutter.dcw-works li + li + li + li {
display: none;pointer-events: none;}
.service-boxes .service-box:hover ul.service-box-list {max-height: 200px;}
.service-boxes .service-box-content {position: relative;top: 50px;}
.service-box:hover .service-box-content {top: 60px;}
.service-boxes .service-box {
background-color: #e9e9e9;
min-height: 280px;
display: block;overflow: hidden;
position: relative;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.magentoSlide .bcg {background-image: url('../img/Magento-parallax.jpg');}
.jumpto h2 {font-family: ostrich_sansmedium;font-size: 50px; color:#f78260;}
.light-gray-wraper.tmp-mgnto h2 {font-family: ostrich_sansmedium;font-size: 50px;color:#f78260;}
.why-mgnt h3{font-family: ostrich_sansmedium;font-size: 40px;}
/*#secondnav ul .menu-item.active{ border-bottom: 2px solid #f05f40;}*/
.navbar.secondary-nav.navbar-default ul li a {color: #222;font-weight: 400;font-size: 15px;font-family: open sans;}
.navbar.secondary-nav.navbar-default {margin-bottom: 0px;border: 0px;}
#secondnav {background: #fff!important;width: 100%;position: static; padding: 0;border-bottom: 1px solid rgba(34, 34, 34, 0.32);}
.header-content-inner h1 {font-family: ostrich_sansmedium;  letter-spacing: 1px;  font-size: 36px !important;}
.ecommerce .header-content-inner {height: 240px;}
.ecmmorce-iner.clearfix {margin-top: 10%;margin-bottom: 10%;}
.ecmmorce-iner h3 {line-height: 47px;color: #666666;font-family: 'ostrich_sansmedium';font-size: 50px;margin-bottom: 35px;}
.emcre-cnt h3 {font-size: 50px;color: #666;font-family: 'ostrich_sansmedium';}
.emcre-cnt p {font-size: 16px;font-weight: lighter;line-height: 28px;color: #666;}
#ecmrce-blg-slider {background-color: #313131;padding: 0px;padding-top: 100px;}
#ecmrce-blg-slider .carousel-control.left {background: none;}
#ecmrce-blg-slider .carousel-control.right {background: none;}
.ecommerce h1 {padding-top: 85px;}
.ecmmorce-iner p {font-weight: lighter;color: #666666;    font-family:open sans;line-height: 28px;
font-size: 18px;margin-bottom: 35px;}
.ecommerce {
width: 100%;
text-align: center;
color: #fff;
background-image: url(../img/ecommerce_01.jpg);
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
.service {
position: relative;
width: 100%;
min-height: 50% !important;
text-align: center;
color: #fff;
background-image: url(../img/service.jpg);
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height:400px;
}
.service  .header-content {
position: absolute;
top: 60%;
width:100%; 
padding: 0 50px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.service .header-content-inner h1 {
margin-top: 0;
margin-bottom: 0;
text-transform: uppercase;
font-family: ostrich_sansmedium;
font-size: 60pt;
}

/*-----------service page  end section-------------------------------*/



/*-----------socia-hub page  start section-------------------------------*/

.social-hub-page .juicer-feed ul.filters li::before{font-size: 24px !important;display: block !important;text-align: center;}
.social-hub-page .juicer-feed ul.filters li{width:100% !important; text-align:center;}
.social-hub-page .juicer-feed a img{ width:100% !important;}
/*-----------socia-hub page  End section-------------------------------*/






/* footer social icons */
.ft-map-links ul li a:hover {
text-decoration: none !important;
color: #F78260  !important;
}
.ft-map-links span {
font-size: 18px; color:#666;
font-family: 'Josefin slab', sans-serif;
}
.ft-map-links ul li a {
color: #666;font-family: "Josefin slab",sans-serif; font-size: 18px;
}
.container.ft-map-links ul li {
padding: 0px;font-family: "Josefin slab",sans-serif; font-size: 18px;
}
.container.ft-map-links ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}
ul.social-network {
list-style: none;
display: inline;
margin-left:0 !important;
padding: 0;
}
ul.social-network li {
display: inline;
margin: 0 1px;
}
.project-category.text-faded a {
font-family: open sans;
font-size: 16px;
font-weight: 400;
}
.project-category.text-faded h2  a{font-family: ostrich_sansmedium;    font-size: 40px;}
.project-category.text-faded h2 {
font-family: ostrich_sansmedium;
font-size: 40px;
}
.container.content-headings h2 {
font-family: ostrich_sansmedium;
font-size: 40px;
text-align: center;
}
/* .project-name a:nth-child(2){
display: inline; 
font-size: 17px;
float: right;
width: 69px;
border-left: 1px solid #fff;
text-align: left;
padding-left: 15px;
webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}*/
.project-name a {
color: #ffffff;
float: left;
padding-left: 15px;background-color: #19272F;
}
.project-name a:hover {
color: #fff;
text-decoration:none;
}
i.fa.fa-eye.fa-2x {
float: left;
/* margin: 0 auto; */
position: relative;font-size: 66px;
}
.project-name {

margin: 0 auto;
}
.project-name img {

width: 66px;
height: 66px;
float: left;
}
/* footer social icons */
.social-network a.icoRss:hover {
background-color: #F56505;
}
.social-network a.icoFacebook:hover {
background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
color:#fff;
}
.socials a.socialIcon:hover, .socialHoverClass {
color:#44BCDD;
}

.social-circle li a {
display:inline-block;
position:relative;
margin:14px auto 0 auto;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:30%;
text-align:center;
width: 30px;
height: 30px;
font-size:20px;
}
.social-circle li i {
margin:0;
line-height:33px;
text-align: center;
}
ul.social-network.social-circle {
/*border-bottom: 3px solid #ccc;*/
padding-bottom: 52px;
}
.social-circle li a:hover i, .triggeredHover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms--transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
transition: all 0.2s;
}
.social-circle i {
color: #fff;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
-ms-transition: all 0.8s;
transition: all 0.8s;
}
.test-sub {


margin-top: 0px;
}
.carousel.slide {
position: static;
}
.test2sub {
font-size: 37px !important;
text-transform: none !important;
}
.test2sub .btn.btn-primary {
border: 1px solid #cccccc;
border-radius: 0;
color: #000000 !important;
font-family: "Josefin slab",sans-serif;
font-size: 20px;
font-weight: 100;
text-transform: none;
padding: 6px 40px;
float:right;
}
.socials .social-network a {
background-color: #666666;   
}
.btm-line {
border-bottom: 3px solid #ccc;
margin-bottom: 60px;
}
.btm-line span:hover {
color: #F78260 ;
}
.mbl-rts aside#text-24 {
padding: 0px;
}
.footer-contact {
color: #666;
background-color: #ededed;
-webkit-box-shadow: inset 0 0 57px rgba(0,0,0,.1);
-moz-box-shadow: inset 0 0 57px rgba(0,0,0,.1);
box-shadow: inset 0 0 57px rgba(0,0,0,.1);
}
.footer-contact p{
font-size:18px; font-family:'Josefin slab', sans-serif;
}
section#brand {  background: #f3f3f3;    padding-top: 60px;padding-bottom: 60px;
}
#fade-quote-carousel .carousel-indicators, #social-hub .carousel-indicators {
bottom: -20px;
}
#social-hub blockquote{border-left:none !important;}
.main-tbs {
margin-bottom: 100px;
}
.carousel-inner p{color:#333333; font-family:open sans; font-weight:100;font-size:16px;}
#fade-quote-carousel .carousel-indicators > li , #social-hub .carousel-indicators > li {
background-color: #ccc;
border: none;
width:20px;
height:20px;
}
.carousel-indicators .active{  background-color: #f78260 !important;}
#fade-quote-carousel blockquote {
text-align: center;
border: none;
}
#fade-quote-carousel .profile-circle {
width: 100px;
height: 100px;
margin: 0 auto;
border-radius: 100px;
}
#owl-demo .item img{
display: block;
width: 100%;
height: auto;
}
.test2sub .btn.btn-primary:hover {
border:1px solid #f78260 !important;
background:#f78260;
color: #ffffff !important;font-weight:bold;
}

.dcw-home-videos {
padding: 0px;}
.dcw-home-videos .col-lg-6.col-sm-6.col-xs-12 {
padding: 0px;
}
.carousel-caption h1{color:#000; padding:15px;}
.owl-carousel .owl-item {
float: left;

}
.testimonilas {    padding-bottom: 100px;
margin-top: 75px;
}

/*.press-awards .row {
margin-left: -20px !important;margin-right: 0px;
}*/
.portfolio-box img {


}
.row.left_side_icons p a img:hover {
background: #f05f40;
}
.row.left_side_icons p a img {
background-color: #BDBAB9;
border-radius: 50%;
}
.portfolio-projects {
text-align: center;

}
.portfolio-projects .fa-spinner{
margin-top: 30px;

}
.sprn {
background: #fff;
}
.row.no-gutter.dcw-works ul{list-style:none; padding:0px;    pointer-events: none;}
.row.no-gutter.dcw-works li{ padding-left: 5px;}
.press-awards {
padding: 0px;
margin: 0 auto;    max-width: 3000px;
}
.project-name {
margin: 0 auto;
width: 273px;
}
.line{
border-bottom: 1px solid #8c9397;
/* margin-bottom: 25px; */
position: absolute;
z-index: -1;
width: 100%;
top: 163px;
}

.inr-head .line{
border-bottom: 1px solid #8c9397;
/* margin-bottom: 25px; */
position: absolute;
z-index: -1;
width: 100%;
top: 165px;
}
.project-category.text-faded {
min-height: 110px;
}
.video-links-menu a {color: #ffffff !important;}
.juicer-feed li.feed-item.j-video a.j-image:before {
font-family: "fontawesome-webfont", Arial, sans-serif;
font-size: 2.5rem;
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-shadow: 0px 0px 4px #999;
content: '\f04b';
color: white;
position: absolute;
left: 50%;
top: 50%;
z-index: 3;
}
p.more a:hover{text-decoration:none;}
.video-links-menu a:hover{
text-decoration:none; 
color: rgba(255, 255, 255, 0.45) !important;
}

.video-links-menu {
clear: both;
margin:28% auto 0 12px
}
.portfolio-box img{margin:0 auto; width: 100%;}
.dcw-works{margin:0 auto;   /* max-width: 2000px;*/}
.ft-submit input {
font-family: 'Josefin slab', sans-serif;
height: 60px;
border-radius: 0px;
box-shadow: none;
font-size: 20px;border: none;
}
.ft-submit button { font-family:'Josefin slab', sans-serif;
padding: 17px 25px;
border-radius: 0px;
background: none;
border: 3px solid #fff;
margin-left: 8px !important; margin-right:-15px;
}
.menu__item {border-bottom: 0;width: 19.3%;float: left;padding: 0;padding-left: 45px;}
.ft-submit {
/*border-bottom: 3px solid #cccccc; */
padding-bottom: 35px;
padding-left: 0;
}
.home-tabs ul li.active {
margin-bottom: -3px;
border-bottom: 3px solid #f78260 !important;
transition: all 0.4s ease;
}
.home-tabs hr {margin-top: 0;}
.owl-theme .owl-controls .owl-buttons .owl-prev {top: 33%;left: -36px;}
.owl-theme .owl-controls .owl-buttons div {position: absolute;}
.owl-theme .owl-controls .owl-buttons div {border-radius: 100%;color: #cacaca;display: inline-block;
font-size: 25px;font-weight: bold;margin: 5px;opacity: 1;padding: 3px 10px;}
a.awardlogos {	display:block;	color:transparent;	max-width:160px;height:70px;}
a.al-journals {
background:url(../images/aw-logo1.png) no-repeat center center;
}
a.al-journals:hover {
background:url(../images/aw-logo-color1.png) no-repeat center center;
}

a.al-verbric {
background:url(../images/aw-logo2.png) no-repeat center center;
}
a.al-verbric:hover {
background:url(../images/aw-logo-color2.png) no-repeat center center;
}

a.al-uffingtc {
background:url(../images/aw-logo3.png) no-repeat center center;
}
a.al-uffingtc:hover {
background:url(../images/aw-logo-color3.png) no-repeat center center;
}

a.al-internet{
background:url(../images/aw-logo4.png) no-repeat center center;
}
a.al-internet:hover {
background:url(../images/aw-logo-color4.png) no-repeat center center;
}

a.al-kyn{
background:url(../images/aw-logo51.png) no-repeat center center;
}
a.al-kyn:hover {
background:url(../images/aw-logo-color51.png) no-repeat center center;
}
a.al-martcec{
background:url(../images/aw-logo6.png) no-repeat center center;
}
a.al-martcec:hover {
background:url(../images/aw-logo-color6.png) no-repeat center center;
}
a.al-wnjc{
background:url(../images/aw-logo71.png) no-repeat center center;
}
a.al-wnjc:hover {
background:url(../images/aw-logo-color71.png) no-repeat center center;
}
a.lemonstand{
background:url(../images/Lemonstand-logo.png) no-repeat center center;
}
a.lemonstand:hover {
background:url(../images/Lemonstand-logo-color.png) no-repeat center center;
}
.owl-theme .owl-controls .owl-buttons div{background:none !important}
.owl-theme .owl-controls .owl-buttons .owl-next {
right: -36px;
top: 33%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {

}

#owl-demo .item{

padding: 30px 0px;
margin: 10px;
color: #FFF;


-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-align: center;
}

.owl-pagination{display:none;}
//use styles below to disable ugly selection
.customNavigation a{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}










/*-----------------------------------------------------portfolio start here---------------------------------------------------------------*/
#mylist>li{ display:none;}
.portfolio-projects ul li {

float: left;
}
.portfolio-projects ul {
list-style:none;    padding: 0px;margin: 0px;
}

.portfolio-bnr {
position: relative;
width: 100%;

text-align: center;
color: #fff;
background-image: url(../img/portfolio_bnr.png);
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height:260px;
}

.portfolio-bnr .header-content {
position: absolute;
top: 90%;
padding: 0 50px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.inr-head{
width: 100%;
height: auto;
}
#portfolio-dis {
margin-top: 100px !important;
padding: 0;
padding: 0px;

background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
background-image: linear-gradient(to top, rgba(0,0,0,.14), rgba(255,255,255,.14));
}

#portfolio-dis h3 {
color: #666666;
font-family: 'ostrich_sansmedium';
font-size: 50px;
}

#portfolio-dis  p {
color: #333333;
font-family: open sans;
font-weight: 100;    font-size: 16px;
}
.portfolio-filter-view{background-color:#1f1f1f;  width:100%;}
.filter-nav {
text-align: center;
float: none;
}
.filter-nav.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
background-color: #080808;
border-color: #337ab7;
}
.filter-nav li {
display: inline-block;
float: none;
}
.filter-nav li a:hover {
background: none !important;
}
.filter-nav.navbar-nav>li>a {
color: #cccccc;
font-family: open sans;
font-size: 18px;
}
.filter-nav.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background: none;
}
.portfolio-projects .col-lg-3.col-sm-6 {
padding: 0;
}
.total-footer {
position: fixed;
bottom: 0;
width: 100%;
z-index: -1;
}

.portfolio-projects{/*max-width:2000px; margin:0 auto;*/}
.seemore p {
display: inline-block;
text-transform: none;
color: #e7663f;
font-size: 24px;
border: 1px solid #e7663f;    border-radius: 0px; margin-top: 5% !important;
text-align: center;
margin: 0 auto;		font-family: 'Josefin slab', sans-serif;    font-weight: normal;    padding: 25px 80px;
}
.seemore .btn-default:hover{    border-color: #FAB4B4;
color: #222;
background-color: #FFFFFF;}
.text-center.btn.btn-default.seemore {
width: 100%;
}
#portfolio-view {
padding: 0;
}
.client-icon img {
margin: -49px auto;
top: -45px;
}
.client-icon {
position: relative;z-index:9;
}

.inner-left-side {
background-color: #fff;
}
.portfolio_inner {background-color: #ffffff;margin-top: -3px !important;top: 0;width: 100%;}
.inner-left-side{background-color:#fff; padding-left: 5%;padding-right: 5%;}
.inner-right-side{background-color:#eef0f3;  padding-top: 79px; padding-bottom: 8%; float: right;}
.inner-left-side p {margin-top: 10px;font-family: open sans;color: #666;line-height: 28px;font-size: 15px;font-weight: 100;
}
.portfolio_inner h3 {
color: #666666;
font-family: "ostrich_sansmedium";
font-size: 50px;
margin-bottom: 15px;
}
.inner-left-side > p{ max-height: 55px;overflow: hidden;}
.modal-dialog.hm-video {width:100% !important;}
body#page-top iframe {width: 100%;	height:100%;background:#fff; position:fixed;}
.hm-video .close:hover {
background-color: #F78260;
/* padding: 0px; 
padding-left: 5px;
padding-right: 5px;*/
}
.hm-video .close {padding-left: 5px;padding-right: 5px;
float: right;
font-size: 40px;
font-weight: 100;
line-height: 1;
color: rgb(255, 255, 255);
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: .9;
position: fixed;
top: 0;
right: 0;
z-index: 999999;
padding: 10px 15px;
}
.modal-dialog.hm-video .modal-content {background: none;box-shadow: none;border: none;}
.inner-right-side.mobile-res {border-top: 5px solid #ffffff;}
.dropdown.open .glyphicon-menu-hamburger::before{content: "\e014";}
.left_side_icons i.fa.fa-credit-card-alt:hover {background-color: #e7663f;}
.visit_site-but .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
box-shadow: none !important;
outline: medium none !important;
outline-offset: 0 !important; color:#fff;
}
.left_side_icons i.fa.fa-credit-card-alt {  border-radius: 50%;
background-color: #d3d3d3;
font-size: 36px;
color: #fff;
cursor: pointer;
border: 1px solid #fff;
padding-left: 20%;
padding-right: 20%;
padding-top: 25%;
padding-bottom: 25%;}
.left_side_icons .col-lg-2 {color: #19272f; width:90px;text-align:center;}
.left_side_icons .col-lg-2:hover {color: #f78260 !important;}
.visit_site-but {padding: 15px 0;text-align: center;text-transform: none;Clear: both;}
.home-tabs span.res {background-image: url(../img/res-icon.png);height: 50px;width: 56px;background-repeat: no-repeat;    display: inline-block;margin: 0 auto;}
.visit_site-but .btn.btn-default {font-size: 19px;font-weight: 100;float: left;text-transform: none;	color:#666;}
.port-lft-page p a {font-size: 16px !important;margin-top: 0;padding-top: 0 !important;vertical-align: top; color:#666;}
.port-lft-page a:hover{text-decoration:none;}
.port-lft-page a i {font-size: 40px;font-weight: 100;vertical-align: middle;margin-top: -5px;}
.port-line-brder {margin: 0 auto;width:100%;}
.port-line-brder hr {border-width: 1px;}
.visit_site-but .btn.btn-default:hover {background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
color: #666666 !important;}
span.port-ecom {background-image: url("../img/port-ecommerce-icon.png");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
span.port-ecom:hover{background-image: url("../img/port-ecommerce-icon-color.jpg");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
span.port-res {background-image: url("../img/port-responsive-icon.png");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
span.port-res:hover{background-image: url("../img/port-responsive-icon-color.png");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
span.port-seo {background-image: url("../img/port-seo-icon.jpg");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
span.port-seo:hover{background-image: url("../img/port-seo-icon-color.jpg");
background-repeat: no-repeat;display: inline-block;height: 95px;margin: 0 auto;width: 96px;}
.port-lft-page .text-right a:focus{text-decoration:none;}
.inner-right-side img{margin: 0 auto;}
.portfolio-filter-view .project-name ul li+li+li+li {display: none;}
.taxonomy-images-the-terms li, .taxonomy-images-the-terms a, .taxonomy-images-the-terms img {pointer-events:none;}
.left_side_icons .col-lg-3 {float: none;display: inline-block;}

@media(min-width:1500px) {
.portfolio-projects ul li {float: left;width: 25%;	}
.portfolio-box img {margin: 0 auto;width: 100%;}
}

@media only screen and (min-width:1001px) and (max-width: 1499px)  {
.portfolio-projects ul li {float: left;}
}
@media only screen and (min-width:850px) and (max-width: 991px)  {
.col-md-6.col-sm-6.sm-bg{float: right;
margin-right: -150px !important;}
}

@media(min-width:1025px) {
	.cs-banner.lings-slider h1{margin-top:100px;}
.case-stus .overlay {height: 100%;margin-left: 0;width: 100%;}
.featured-box img {width: 100%;}
.body-locked{ margin-bottom: 390px;}
.inner-left-side{ padding-top: 130px !important;}
.testimonilas .carousel-inner p img { margin:100xp;}
.hm_pg_cnt h1 {font-size: 65px !important;font-family: open sans;}
}

@media only screen and (min-width:768px) and (max-width: 1024px)  {
	.expands .row.left_side_icons{  width: 70%;}
	.menu-rt{margin-right:0px;}
	.cs-banner{margin-top:105px;}
.banner-content h1{font-size:36px !important;}
.cs-banner.lings-slider h1{margin-top: 70px;}
.testimonial .icomoon-icon-play-2{ top: 16%; left:50%;}
#accordion-ecom .panel-body, .accord-cust .panel-body{font-size:15px;line-height:26px;}
#accordion-ecom *, .accord-cust * span{font-size:16px;}
.ecmrce-accordians h3{font-size:40px;}
.emcre-cnt h3{font-size:40px;}
.ecmmorce-iner h3{font-size:40px;}
.ecmmorce-iner p{font-size:14px;line-height: 25px;}
.mbl-main-navigation .menu-flips {text-align: right;    width: 26% !important;}
.case-stus .overlay {height: 100%;width: 100%; margin-left:0px;}
#play{background-size:80% !important; margin-top: 4%;margin-right: 34px;}
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-left, .row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-right {display: none;}
.test2sub .btn.btn-primary {float:none;}
.testimonilas .carousel-inner p img{margin-bottom:0xp !important;}
.video-links-menu .videos-hover-color{background-color:transparent; left:0px; width:100%; top:0px;}
#video-testimonial-generic .carousel-control.right{  right: -200px !important;}
#video-testimonial-generic .carousel-indicators{display:none;}
.quote{font-size:14px;}
.ind-blog-4 .blog-box { margin-top: 25px;}
.blog-box-inner, .qa-blog-box-inner{font-size:14px;}
.blog-filter a {font-size: 12px !important;margin: 0 3px 10px !important;}
.team_blogs .caption > p{ font-size: 12px;min-height: 80px;}
.team_blogs .caption h4{font-size: 14px;}
.menu-flips .front, .back {right: 40px!important;margin-top: 0px;}
.front, .back {right:75px;}
.tlbg .tbs{  margin: 0 auto 0 10%;}
.tlbg {background: #333333 none repeat scroll 0 0;width: 50%;padding-top: 45px;}
.left-clm .clearfix.col-md-12.txt{display:inline-flex;}
.tbs .nav-tabs > li > a{padding:7px 12px;}
.hm_pg_cnt p span {margin: 15px 7% 0 auto;text-align: center;}
.hm_pg_cnt h1{width: 50%;}
.hm_pg_cnt h1{ font-size: 35px !important;font-family: open sans;}
.tbs ul.nav.nav-tabs li a{font-size: 14px;
margin-left: 10px;}
.fullscreen .modal-dialog {width: 100%;margin: 0px;border-radius: 0px;}
.fullscreen .modal-content{background: #E7663F;  border-radius: 0px; height: 100%;}
.v1 a img {width: 100%;}
.dcw-home-videos a.vt_play2.btn.btn-default.dropdown-toggle{display:block;}
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v img {display: inline-block;margin: 0 auto;width: 100%;}
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v {width: 100%;}
.process-line{top: 438px;}
#video-testimonial-generic .carousel-control.right {right: 0;}
.row.port-lft-page a h3{font-size:12px;}
.tab-content.home-tab-content h3{font-size: 30px; font-weight:bold;}
.tab-content.home-tab-content p{font-size:15px;}
.portfolio-projects ul li{width: auto;}
a.navbar-brand.page-scroll.scrl-main.dsk-logo{padding-left: 31px;}
.inner-left-side{padding-top: 100px !IMPORTANT;}
.left_side_icons .col-lg-2{width:100px;}
#portfolio-dis p{font-size: 14px;}
#portfolio-dis h3{ margin-bottom: 5px;}
.portfolio-box img{width:100%;}
.portfolio-projects ul li {float: left;}
.body-locked{ margin-bottom: 660px;}
.btm-line{margin-bottom:0px;}
.home-tabs .nav-pills > li + li {margin-left: -3px;}
.main-video img {max-height: 100%;/*min-height: 236px;*/}
}

@media(max-width:767px) {
	.expands .row.left_side_icons{width:100% !important;}
	.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-left, .row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-right{display:none;}
	.cs-banner > img{margin-top:98px;}
	#caseStudyCarousel .carousel-caption h1{font-size:40px !important;}
	#caseStudyCarousel .item:first-child p, #caseStudyCarousel .item:first-child .carousel-caption{margin-left:0px !important;}
	#caseStudyCarousel .carousel-caption{position:relative;}
	.main_content1 ul {padding-left:0px;
}
	.banner-content2{position:relative;}
	.close.btn.btn-link{margin-right:0px;}
	.navbar-toggle.collapsed{Display:none;}
	.gpr-bare-bones .vl{padding:6px 20px;}
	.faq-group.row ul{padding-left:15px;}
		.case-stus .overlay {
    height: 100%;
    margin-left: 0;
    width: 100%;
}
#play{margin-top:0px; margin-right:0px;  position: absolute;right:60px; background-size:60% !important;}
.hm_pg_cnt span{margin-left:3px;}
.header-content-inner > .container{padding-left:0px;}
.menu-rt{  margin-top: -47px;}
.hm-pg-flp{display:none;}
.mbl-logo.navbar-brand > img{width:160px;}
.footer-contact{margin-top:0xp;}
.video-links-menu .vt_play3{padding:0px;}
.video-links-menu a.vt_play.btn.btn-default.dropdown-toggle{padding:0px;padding-bottom: 15px;}
.video-links-menu .vt_play2{padding:0px;  padding-bottom: 15px;}
.video-links-menu .videos-hover-color{background-color:transparent;width: 100%; left: 0px;}
.hdings_cmrcr{font-size:40px;}
.pos-rel h3{font-size:40px;}
.hw-wrks h2{font-size:40px;}
.port-banner img{width:100%;}
#portfolio-dis h3{font-size:40px;}
#video-testimonial-generic .carousel-indicators{left:0px; margin-left:0px;}
#video-testimonial-generic .carousel-caption{top:0px; left:0px;}
.work .header-content-inner{ top: 87px;}
.testimonial .icomoon-icon-play-2{left: 40%;}
.quote::before{left:0px !important; padding:0px;}
#video-testimonial-generic  .carousel-control.right{rigt:0px !important;}
#video-testimonial-generic .item img{width:100%;}
.testimonial .carousel-caption{ position: inherit !important;}
#ecmrce-blg-slider .carousel-control.right{top:-140px !important;}
#ecmrce-blg-slider .carousel-control.left{top:-140px !important;}
.ecmrce-accordians h3{font-size:30px;}
.emcre-cnt h3{font-size:40px;}
.port-banner img{min-height: 180px;}
body#page-top .hm-video iframe{height:auto; margin-top:55px;}
.modal-dialog.hm-video{margin:0px;}
#ecmrce-blg-slider{padding: 10px 0 0;}
.ecmmorce-iner h3{font-size:40px;}
.ecmmorce-iner p{font-size:14px;}
.ecmmorce-iner.clearfix{margin-top: 65px;}
.kb h2{ font-size: 30px;}
.full-white-wraper .col-xs-6, .light-gray-wraper .col-xs-6 {width: 100%;}
.menu-rt{margin-right: 10px;}
.blog-filter a {border-radius: 0;margin: 0 3px 10px !important;}
.container.kb-blog img{margin:0 auto;}
.header-content-inner h1{font-size: 25px !important;}
.front, .back{right:80px !important;}
.portfolio-filter-view .navbar-nav .open .dropdown-menu{background-color:none; position: absolute; background:#fff;}
#portfolio-dis .carousel-control{ width: 10%;}
.btn.btn-warning.col-sm-12.cpl-xs-12{width:100%;}
.awrds .clearfix.col-md-12.txt{display:inline-flex;}
.tlbg .tbs .nav-tabs > li > a{font-size: 15px;padding: 5px 4px}
.tbs ul.nav.nav-tabs li a{margin-left:5px;}
.tlbg{margin:-20px;}
.cnt-hdng.sm-bg1{background:#222222 none repeat scroll 0 0;  padding: 10px;margin-top: 77px;}
.navbar-toggle.collapsed.bs-1-menu{display:none;}
.tab-content.home-tab-content {display:none;}
.desktop-tabs{display:none;}
.header-content-inner .container > p{text-align: center;}
.hm_pg_cnt p span{margin-top:0px; margin: 0px; float:inherit;}
.hm_pg_cnt span{font-size: 14px;border: 1px solid #ffffff; padding: 6px 15px;}
.testimonilas .carousel-inner p img{margin-bottom:0px;}
.home-tabs hr{margin:0px;}
.container.f-work blockquote{padding:0px;}
.gpr-bare-bones blockquote{border:0px;}
.revws{padding-left:0px;}
.bg-primary .container-fluid{padding:0px;}
.tab-content.home-tab-content{margin-top:0px;}
.tab-content.home-tab-content h3{font-size: 35px;}
.ft-submit{margin-left: 0px;}
.stay-cnt {margin-left: -15px !important;}
.test2sub .btn.btn-primary{float: inherit;}
section#brand{padding-top: 30px;}
.container.f-work h2{margin-bottom: 10px;font-size: 35px;}
.testimonilas{margin-top: 0px;padding-bottom: 0px;}
section.press-awards .row {margin-left: 0px;margin-right: 0px;}
.body-locked{margin-bottom: 0px;}
.total-footer{position: inherit;}
.portfolio-box-caption .project-name br{Display: none}
.project-category.text-faded h2 a{  font-size: 25px;}
.project-category.text-faded a{  font-size: 12px;}
.dcw-home-videos img{ width: 100%;}
.gpr-bare-bones .carousel-indicators{bottom: 60px !IMPORTANT; margin-left:5px;margin-left: 5px;
    left: 50px;}
a.vt_play.btn.btn-default.dropdown-toggle.see_how_bt{float:none !Important;}
a.vt_play.btn.btn-default.dropdown-toggle.see_how_bt {
float: none;margin: 0 auto;text-align: center;width: 100%;max-width: 60%;margin: 0 auto;padding: 0px;}
.hm_pg_cnt h1 {
font-size: 28px !important;text-align: left;padding-left: 15px;width: 100%;}
.pattern-overlay{padding-bottom: 93.25%;}
.btn.btn-primary.btn-xl.page-scroll {margin-top: 0%;padding: 8px 35px;font-size: 16px;}
.fullscreen .modal-dialog {width: 100%;margin: 0px;border-radius: 0px;}
.fullscreen .modal-content{background: #E7663F;  border-radius: 0px;}
.col-lg-6.col-sm-12.col-xs-12.main-video.dcw-home-videos.v1 a img{width: 100%;}
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v img {display: inline-block;margin: 0 auto;width: 100%;}
.col-lg-6.col-sm-6.col-xs-12.dcw-home-videos.v2v {width: 100%;}
.achieve-box a:hover {color: #f78260;text-decoration: none;}
.achieve-box hr{width:100%;}
.team_blogs .caption h4{font-size:14px;}
span.blue-txt{display:none;}
.inner-right-side{padding-top: 25px;}
.left_side_icons .col-lg-2{width: 100px !important;}
.portfolio_inner h3{font-size: 40px; margin-bottom:5px;}
.inner-left-side{margin-top:60px !important;}
.sidebar{position:static;}
.portfolio-projects ul li{width:auto;}
#portfolio-dis h3{ margin-bottom: 5px;}
#portfolio-dis p{font-size: 14px;}
#portfolio-dis .carousel-control{  bottom: 300px !important;}
.portfolio-box img{width:auto;}
.portfolio-bnr{height: 300px;}
#social-hub .j-stack .text{padding-left:0px;}
section#brand{padding-bottom:20px;}
.achieve-box h3{font-size: 24px;}
.click-video.col-md-5.col-md-5.col-xs-6.text-right{display:none;}
.m-main-menu{margin-top: 0px;padding-left: 0%;}
button.btn.btn-default.btn-lg.menu-rt {font-size: 0px;margin-top: -50px;}
.ft-submit .input-group .form-control{width: 75%;}
.sb-btn{width: 25%;}
.filter-nav.navbar-nav > li > a {font-size: 15px;}
.dropdown-menu.fliter-drp {position: absolute !important;background-color:#fff !important; margin-top: 3px !important;}
.seemore p{ padding: 15px 40px;}
.client-icon img {left: 0;position: inherit;top: 0;}
.portfolio-bnr .header-content{top: 50%;}
.vt_play.btn.btn-default.dropdown-toggle {margin-top: 15px;}
#hm-video {width: 100% !important; height: auto;}
.home-header{height:auto !Important;}
.portfolio-projects ul li {float: left;}
.btm-line{margin-bottom:0px;}
.owl-theme .owl-controls .owl-buttons .owl-next {right: -20px;top: 33%;} 
.owl-theme .owl-controls .owl-buttons .owl-prev {left: -20px;top: 33%;}
header .header-content .header-content-inner p{   margin-bottom: 0;}
.test-sub {width: 100%;float: none;margin-top: 20px;}
.menu.masthead__menu.dropdown-menu.mbl-main-navigation {background-color:#rgba(54, 59, 62, 0.90) !important;
position: static; margin:-8px 0 0;}
.menu.masthead__menu.dropdown-menu{border-radius:0px;}
.menu__list {margin: 0 auto;max-width: 100%;padding: 20px;}
.menu__item {border-bottom: 0 none;float: none;padding: 0;width: 100%;}
.btn.btn-primary.btn-xl.page-scroll.mbl-seehow{ margin-top: 15px;}
.home-tabs .nav-pills > li + li {margin-left: 5px;}
.mbl-rts{text-align:left;}
.footer-contact h2{font-size:28px;}
ul.social-network.social-circle {border-bottom: 3px solid #cccccc;padding-bottom: 13px;}
.row.contact-mb {border-bottom: 3px solid #cccccc;margin-bottom: 0px;}
.navbar-collapse.collapse.in .mbl-main-navigation{display:block}
.dsk-logo{display:none;}
a.navbar-brand.page-scroll.mbl-logo {padding: 0px;}
.mbl-navs {background-color: rgba(23, 21, 28, 0.56);}
}

@media(max-width:400px) {
.header-content-inner.hm_pg_cnt .container {width: 260px;}
}

@media(min-width:768px) {
.footer-contact {margin-top:100xp;}
.quote::before {left:-14px;}
#video-testimonial-generic .carousel-control.right{ right: -240px;}
.mobile-tabs{display:none;}
.controllers{ top: 50%; position: absolute; }
#carousel-example-generic{position:relative;}
#carousel-example-generic .carousel-caption {left: 0;padding-bottom: 30px;position: relative;right: 20%;text-align: left;}

header {background:#fff;padding-bottom: 2px;}
.btm-line {padding-left:0px;padding-bottom: 15px;}
.mc4wp-response p {width: 100%; position: absolute;z-index: 9;top: 72px;}
nav.opacity-inner {background: rgba(0,0,0,0.35);}
.mbl-logo{display:none;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 14px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 21px;}
.navbar-default {border-color: rgba(255,255,255,.3);background-color: transparent;}
.navbar-default .navbar-header .navbar-brand {color: rgba(255,255,255,.7);}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {color: #fff;}
.navbar-default .nav > li>a,.navbar-default .nav>li>a:focus {color: rgba(255,255,255,.7);}
.navbar-default .nav > li>a:hover,.navbar-default .nav>li>a:focus:hover {color: #fff;}
.navbar-default.affix {border-color: rgba(34,34,34,.05);background-color: #19272f;}
.navbar-default.affix .navbar-header .navbar-brand {font-size: 14px;color: #f05f40;}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {color: #eb3812;}
.navbar-default.affix .nav > li>a,
.navbar-default.affix .nav>li>a:focus {color: #222;}
.navbar-default.affix .nav > li>a:hover,
.navbar-default.affix .nav>li>a:focus:hover {color: #f05f40;}
header .header-content {position: absolute;top: 320px;padding: 0 50px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);}
header .header-content .header-content-inner {margin-right: auto;margin-left: auto;max-width: 1000px;}
header .header-content .header-content-inner p {margin-right: auto;margin-left: auto;
max-width: 80%;font-size: 30px;    color: #fff;font-family: 'Josefin slab', sans-serif;}
}
@media(min-width:992px) {
.thank-you .position-cnt h2 {margin-top: 20%;}
.main_content2 .main_data {position: absolute;top: -365px;left: 15%;}
.sm-bg1.sidebar {position: absolute;}
.position-cnt {min-width: 375px;}
.service-box {margin: 20px auto 0;}

}
@media(min-width:1200px) {
.tlbg {background: rgba(0, 0, 0, 0) url("../img/t-bg.jpg") repeat-y scroll left top / 116.3% auto;}
div#vt_modal .modal-dialog.hm-video .modal-body.gray-modal {padding: 0px;}
div#vt_modal .modal-dialog.hm-video {margin: 0px;}
.modal-body.gray-modal .videoWrapper {padding-bottom: 54.6%;position: relative;}
section#portfolio .container-fluid {padding: 0px;}
.press-awards .row {margin: 0px;}
section.press-awards img.img-responsive {width: 100%;}
.col-sm-12.no-pad .col-sm-4 a.vt_play.btn.btn-default.dropdown-toggle {font-size: 24px;margin-left: 15px;
margin-right: 15px;font-family: 'Josefin slab', sans-serif;text-transform: none;font-weight: 300;
border: 1px solid #fff;border-radius: 0px;padding: 5px 40px;background: none !important;color: #fff;}
.row.port-lft-page a h3 {font-size: 15px;font-family: 'open sans';margin: 10px;line-height: 22px;font-weight: 100;}
.row.port-lft-page i.fa.fa-angle-left h3, .row.port-lft-page i.fa.fa-angle-left:before {float: left;color: #666666;}
.row.port-lft-page i.fa.fa-angle-right h3, .row.port-lft-page i.fa.fa-angle-right:before {float: right;color: #666666;}
.row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-left, .row.port-lft-page .col-lg-6.col-sm-6.col-xs-6 > i.fa.fa-angle-right {display: none;}
.visit_site-but .btn.btn-default i.fa.fa-long-arrow-right, .place-holder p span a i.fa.fa-long-arrow-right {
position: relative;left: 0;vertical-align: middle;color:#E7663F;
/* font-size: 8px; */
-webkit-transition: left .2s linear;
-moz-transition: left .2s linear;
-o-transition: left .2s linear;
transition: left .2s linear;}
/*.place-holder p span:hover {
left: 10px;
-webkit-transition: left .2s linear;
-moz-transition: left .2s linear;
-o-transition: left .2s linear;
transition: left .2s linear;
}
*/
.visit_site-but .btn.btn-default:hover i.fa.fa-long-arrow-right, .place-holder p span a:hover i.fa.fa-long-arrow-right{
left: 10px;
-webkit-transition: left .2s linear;
-moz-transition: left .2s linear;
-o-transition: left .2s linear;
transition: left .2s linear;}
.portfolio-filter-view .project-name ul li {margin-left: 5px;float: left !important;}















/* FULL SCREEN MODAL STYLES
-------------------------------------------------- */
.fullscreen {padding: 0px !important;}
.fullscreen .modal-dialog {
margin: 0 0 0 0;
width: 100%;
height: 100%;
min-height: 100%;
padding: 0;
color: #333;
}

.fullscreen .modal-content {
height: 100%;
min-height: 100%;
border-radius: 0;
color: #333;
background:#E7663F;
overflow:auto;
}

.fullscreen .modal-body ul {
padding: 100px 0 0 0;
}

.fullscreen .modal-body li {
padding: 10px 0 10px 0 ;
}

.fullscreen .modal-body a {
color: #333;
font-size: 300%;
}

@media (max-width: 480px){
.fullscreen .modal-body ul {
padding: 30px 0 0 0;
overflow: auto;
}

.fullscreen .modal-body li {
padding: 4px 0 4px 0 ;
}

.fullscreen .modal-body a {
color: #333;
font-size: 200%;
text-transform: uppercase;
font-weight: 700;
}
}


@media screen and (max-width:480px){
.videos-hover-color .flaticon-play-button4{display: none !important;}		
}	

